<html>
<head>
<title>Linguistic Atlas of the Middle and South Atlantic States</title>
<meta content="Eric Rochester" name="generator">
<meta content="Linguistic Atlas of the Middle and South Atlantic States." name="description">
<meta content="dialects, dialectology, lamsas, new york, new jersey, pennsylvania, delaware, maryland, washington, dc, west virginia, virginia, north carolina, south carolina, georgia, florida, linguistics, speech, pronunciation, phonology, atlas" name="keywords">
</head>
<body alink="#800000" bgcolor="#FFFFFF" vlink="#800000" link="#0000C0" text="#000000">
<img border="0" src="img/logo.gif" width="207" height="45"><br>
<img border="0" src="img/maps.gif" width="67" height="33"> 

<p align="center"><font size="+1"><b>Locations of LAMSAS Informants in
Delware, Maryland, and Washington, D.C.</b></font></p>

<p><b>Instructions:</b><br>
You can navigate to the neighboring states by clicking on the state's
label or selecting the state from the <a href="#states">list</a>. To
see information about each informant, click on the text label on the
map.</p>

<p align="center"><img src="img/md.gif" width="550" usemap="#state.map" alt="Delaware, Maryland, &amp; Washington, D.C. Informants" border="1" height="400"></p>

<p><a id="states" name="states">View the informant information in the
state of:</a></p>

<ul>
<li><a href="md.html">Delaware, Maryland, Washington, D.C.</a></li>

<li><a href="fl.html">Florida</a></li>

<li><a href="ga.html">Georgia</a></li>

<li><a href="nj.html">New Jersey</a></li>

<li><a href="ny.html">New York</a></li>

<li><a href="nc.html">North Carolina</a></li>

<li><a href="pa.html">Pennsylvania</a></li>

<li><a href="sc.html">South Carolina</a></li>

<li><a href="va.html">Virginia</a></li>

<li><a href="wv.html">West Virginia</a></li>
</ul>

<table>
<tbody>
<tr>
<td><img src="$to_root/old/img/pixel.gif" width="179" height="1"></td>
<td><img src="$to_root/old/img/pixel.gif" width="178" height="1"></td>
<td><img src="$to_root/old/img/pixel.gif" width="178" height="1"></td>
</tr>

<tr>
<td align="left" class="footer"><font size="-1">July 28,
1998</font></td>
<td align="center" class="footer"><font size="-1">Copyright &#x00a9;
1998</font></td>
<td align="right" class="footer"><a href="mailto:webmaster@us.english.uga.edu"><font size="-1">webmaster@us.english.uga.edu</font></a></td>
</tr>
</tbody>
</table>

<map id="state.map" name="state.map">
<!--/opt/local/httpd/htdocs/lamsas/img/md.gif-->
<area alt="" href="$to_root/old/lamsas/pa.html" coords="195,30,258,67" shape="rect">
<area alt="" href="$to_root/old/lamsas/wv.html" coords="20,195,77,220" shape="rect">
<area alt="" href="$to_root/old/lamsas/va.html" coords="156,275,222,311" shape="rect">
<area alt="" href="$to_root/old/lamsas/nj.html" coords="492,113,532,141" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD1A" coords="399,112,417,125" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD1B" coords="389,88,406,104" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD2A" coords="381,166,400,179" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD2B" coords="410,151,430,163" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD3A" coords="382,199,403,211" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD3B" coords="398,182,416,195" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD4A" coords="410,221,431,234" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD4B" coords="409,199,430,212" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD4C" coords="407,240,426,253" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD5A" coords="377,230,397,244" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD5B" coords="386,214,405,228" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD6A" coords="388,275,410,290" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD6B" coords="395,254,415,268" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD7A" coords="481,276,502,291" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD7B" coords="423,271,442,285" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD7C!" coords="445,268,464,281" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD8A" coords="450,290,467,302" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD8B" coords="475,301,495,316" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD9N" coords="421,297,441,309" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD9A" coords="406,312,428,328" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD9B" coords="433,312,455,326" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD10A" coords="360,106,386,120" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD10B" coords="371,126,396,140" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD11" coords="334,101,355,116" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD12A" coords="306,129,335,143" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD12B" coords="303,113,330,127" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD13A" coords="351,171,375,184" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD13B" coords="357,148,384,157" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD13C" coords="324,168,349,182" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD13D!" coords="317,71,344,84" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD13E!" coords="336,134,360,148" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD13F!" coords="319,52,343,67" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD13G" coords="354,159,379,168" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD14" coords="291,92,310,104" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD15A" coords="288,140,313,156" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD15B" coords="280,160,304,172" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD16" coords="235,141,256,153" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD17A" coords="258,145,285,159" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD17B" coords="254,122,282,135" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD18A" coords="285,188,311,200" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD18B" coords="273,173,299,187" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD19A" coords="310,200,335,214" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD19B" coords="324,240,349,253" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD20A" coords="330,213,354,224" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD20B" coords="318,224,346,238" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD20C!" coords="332,187,362,201" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD21A" coords="349,248,379,263" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD21B" coords="331,262,363,277" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD22N" coords="336,307,367,322" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD22M" coords="362,323,391,335" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD22A" coords="354,292,383,306" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD22B" coords="297,290,328,306" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD22C!" coords="325,276,355,291" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD23A" coords="265,254,296,269" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD23B" coords="267,275,296,289" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD23C" coords="293,256,323,271" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD24" coords="295,232,318,247" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD25" coords="216,122,243,134" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD26A" coords="163,88,195,101" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD26B" coords="197,101,227,117" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD27A" coords="57,121,85,137" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=MD27B" coords="47,142,78,158" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DE1A" coords="431,101,449,116" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DE1B" coords="453,79,476,97" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DE1C!" coords="457,99,477,113" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DE2A" coords="420,117,441,131" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DE2B" coords="423,77,444,93" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DE2C" coords="444,121,464,134" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DE3A" coords="449,183,469,198" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DE3B" coords="435,162,456,175" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DE3C!" coords="460,173,480,185" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DE4" coords="471,202,482,217" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DE5A" coords="473,232,495,247" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DE5B" coords="452,224,469,241" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DE6A" coords="469,254,490,272" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DE6B" coords="496,245,518,261" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DC1A" coords="283,218,297,230">
<area alt="" href="$cgiurl/infprofile.py?project=lamsas&amp;informid=DC1B!" coords="271,207,288,217">
</map>
</body>
</html>
