<pre class="phonetic">
					34.1

					Calls to Sheep /to get them in
							from pasture/


	1.  ?

	2.  ?

	3.  ?

	4.  ?

	5.  -----

	6.  ?

	7.  ?

	8.  -----

	9.  -----

	10. use a dog

	11. -----

	12. ?

	13. -----

	14. -----

	15. -----

	16. -----

	17. -----

	18. -----

	19. -----

	20. ?

	21. -----

	22. -----

	23. -----

	24. -----

	25. -----

	26. -----

	27. -----

	28. -----

	29. -----

	30. -----

	31. -----

	32. -----

	33. -----

	34. -----

	35. -----

	36. -----

	37. -----

	38. ?

	39. -----

	40. ?

	41. ?

	42. -----

	43. -----

	44. -----

	45. -----

	46. -----

	47. -----

	48. -----

	49. -----

	50. we{&#x0269;&#x0153;} &#x0269;&#x031d;&#x0266;&#x0318;r&#x0269;&#x032f;{w}nd &#x02b9;&#x0259;&#x0269;&#x031d;m  /said to a dog/

	51.


</pre>
