<pre class="phonetic">
					31.8

					Tusks


	1.  t sks	Vowel did not come through on the carbon

	2.  t&#x00ca;&#x0361;sks

	3.  t&#x00ca;&#x0361;sks

	4.  t&#x00ca;&#x0361;sks

	5.  t&#x0269;&#x029a;sks

	6.  t&#x00ca;&#x0361;sks

	7.  t&#x00ca;&#x0361;sks

	9.  -----

	10. t&#x00ca;&#x0361;sks

	11. t&#x00ca;&#x0361;sks

	12. t&#x00ca;&#x0361;sks

	13. t&#x0269;&#x0331;sks

	14. t&#x00ca;&#x0361;sks

	15. t&#x00ca;&#x0361;sks

	16. t&#x00ca;&#x0361;sks

	17. t&#x00ca;&#x0361;sks

	18. t&#x00ca;&#x0361;sks

	19. t&#x00ca;&#x0361;sks

	20. t&#x00ca;&#x0361;sks

	21. -----

	22. t&#x00ca;&#x0361;sks

	23. t&#x00ca;&#x0361;sks

	24. t&#x00ca;&#x0361;sk  (pl.

	25. t&#x00ca;&#x0361;sks

	26. t&#x00ca;&#x0361;sk  (pl.)

	27. t&#x00ca;&#x0361;sks

	28. t&#x00ca;&#x0361;sk  (pl.)

	29. t&#x00ca;&#x0361;sks

	30. -----

	31. t&#x00ca;&#x0361;sks   (sg

	32. t&#x00ca;&#x0361;sks

	33. t&#x00ca;&#x0361;sks

	34. t&#x00ca;&#x0361;s{k}s

	35. t&#x00ca;&#x0361;sks

	36. t&#x00ca;&#x0361;sks

	37. -----

	38. t&#x00ca;&#x0361;sks

	39. t&#x00ca;&#x0361;sks

	40. t&#x00ca;&#x0361;sks

	41. t&#x00ca;&#x0361;sks

	42. t&#x00ca;&#x0361;sks

	43. t&#x00ca;&#x0361;sks

	44. t&#x00ca;&#x0361;sks

	45. f&#x02b9;&#x0263;n&#x027a;&#x0302;z	(sic) drc

	46. t&#x00ca;&#x0361;sks

	47. t&#x00ca;&#x0361;sks

	48. t&#x00ca;&#x0361;sks

	49. t&#x00ca;&#x0361;sks

	50. t&#x0269;&#x031d;sk&#x029f;&#x031e;s

	51. t&#x00ca;&#x0361;sks


</pre>
