<pre class="phonetic">
					51.5

					Roots


	1.  ru{w}ts

	2.  r&#x00ca;&#x030a;ts

	3.  ru&#x0299;&#x0254;ts

	4.  r&#x00ca;&#x030a;ts

	5.  ru&#x0299;&#x0254;{&#x00ca;&#x030a;}ts

	6.  -----

	7.  ru&#x0299;&#x0254;{w}ts

	8.  r&#x00ca;&#x030a;ts

	9.  -----

	10. -----

	11. ruts

	12. ruts

	13. ru&#x0299;&#x0254;ts

	14. ru&#x0299;&#x0254;{&#x00ca;&#x030a;}ts

	15. r&#x00ca;&#x030a;ts
	    ruts	either

	16. ruts

	17. ruts

	18. ruts

	19. ruts

	20. ru{w}ts

	21. ru{u}ts

	22. ru&#x0299;&#x0254;ts

	24. ru{u}ts

	25. ruts

	26. -----

	27. ru&#x0299;&#x0254;{u}ts

	28. -----

	29. ru&#x0299;&#x0254;{u}ts

	30. ru&#x0299;&#x0254;ts

	31. r&#x00ca;&#x030a;&#x0266;&#x028f;08&#x029f;&#x026a;ts

	32. ru&#x0299;&#x0254;ts	(used to hear r&#x00ca;&#x030a;ts)

	33. r&#x00ca;&#x030a;ts

	34. r&#x00ca;&#x030a;ts

	35. r&#x00ca;&#x030a;ts

	36. r&#x00ca;&#x030a;ts

	37. r&#x00ca;&#x030a;ts

	38. r&#x00ca;&#x030a;ts

	39. ru&#x0299;&#x0254;ts

	40. r&#x00ca;&#x030a;ts

	41. ru&#x0299;&#x0254;ts

	42. r&#x00ca;&#x030a;ts

	43. ru&#x0266;&#x0082;&#x0299;&#x0254;ts

	44. r&#x00ca;&#x030a;ts

	45. r&#x00ca;&#x030a;ts

	46. r&#x00ca;&#x030a;ts

	47. ru{&#x0269;&#x0153;}ts

	48. ru&#x0299;&#x0254;ts

	49. r&#x00ca;&#x030a;ts

	50. ru&#x0299;&#x0254;ts

	51. r&#x00ca;&#x030a;ts


</pre>
