<P><B>Director:</B><BR>
William Kretzschmar, Jr.<BR>
Linguistic Atlas Project<BR>
University of Georgia Special Collections<BR>
Department of English<BR>
University of Georgia<BR>
Athens, Georgia 30602</P>
<P><B>Status of field work:</B><BR>
Complete.</P>

<!-- vim: set filetype=html: -->
