<p><b>Density Estimate Map: attic  (page 9, question 7)</b></p>

<p>
The target response for page 9, question 7 is  'attic'. The interviewer asked the informants: Room at the top of the house just under the roof. The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Attic</td><td>758</td></tr>
<tr><td>Garret</td><td>626</td></tr>
<tr><td>Loft</td><td>225</td></tr>
<tr><td>Upstairs</td><td>43</td></tr> 
</table>

<center><img src="attic_9_7.jpg"></center>

<!-- vim: set filetype=html: -->
