<p><b>Density Estimate Map: backlog  (page 8, question 5)</b></p>

<p>
The target response for page 8, question 5 is 'backlog'. The interviewer asked the informants: The big round piece of wood with the bark on it that you burn in the fireplace. The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Backlog</td><td>824</td></tr>
<tr><td>Log</td><td>289</td></tr>
<tr><td>Back stick</td><td>105</td></tr>
<tr><td>Chunk</td><td>80</td></tr>
<tr><td>Logs</td><td>52</td></tr>
</table>

<center><img src="backlog_8_5.jpg"></center>

<!-- vim: set filetype=html: -->
