<p><b>Density Estimate Map: calming  (page 7, question 3)</b></p>

<p>
The target response for page 7, question 3 is  'letting up'. The interviewer asked the informants: The wind has been strong and is getting weaker and weaker, you say it's doing what? The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Calming down</td><td>191</td></tr>
<tr><td>Laying</td><td>187</td></tr>
<tr><td>Dying down</td><td>133</td></tr>
<tr><td>Falling</td><td>111</td></tr>
<tr><td>Ceasing</td><td>90</td></tr>
<tr><td>a-laying</td><td>54</td></tr>
<tr><td>dying out</td><td>48</td></tr>
<tr><td>lulling</td><td>46</td></tr>
<tr><td>letting up</td><td>36</td></tr>
</table>

<center><img src="calming_7_3.jpg"></center>

<!-- vim: set filetype=html: -->
