<p><b>Density Estimate Map: kindling  (page 8, question 6)</b></p>

<p>
The target response for page 8, question 6 is 'lightwood'. The interviewer asked the informants: What would you call the kind of wood you use to start a fire? The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Lightwood</td><td>325</td></tr>
<tr><td>Lighterd</td><td>202</td></tr>
<tr><td>Kindling</td><td>183</td></tr>
<tr><td>Pine</td><td>78</td></tr>
<tr><td>Pitch pine</td><td>52</td></tr>
<tr><td>Rich pine</td><td>55</td></tr>
</table>

<center><img src="kindling_8_6.jpg"></center>

<!-- vim: set filetype=html: -->
