<p><b>Density Estimate Map: quarter till  (page 4, question 5)</b></p>

<p>
The target response for page 4, question 5 is 'quarter of eleven'. The interviewer asked the informants "If it's 10:45, what time do you say it is?"  The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Quarter to eleven</td><td>401</td></tr>
<tr><td>Quarter till eleven</td><td>348</td></tr>
<tr><td>Quarter of eleven</td><td>329</td></tr>
</table>

<center><img src="quarter_till_4_5.jpg"></center>

<!-- vim: set filetype=html: -->
