<p><b>Density Estimate Map: sundown  (page 3, question 4)</b></p>

<p>
The target response for page 3, question4 is 'sunset'. The interviewers asked the informants to fill in the blank: If he worked until the sun went out of sight, he worked until ____. The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Sundown</td><td>802</td></tr>
<tr><td>Sunset</td><td>370</td></tr>
<tr><td>Dark</td><td>36</td></tr>
</table>

<center><img src="sundown_3_4.jpg"></center>

<!-- vim: set filetype=html: -->
