<p><b>About the Linguistic Atlas Projects</b></p>

<p>The Linguistic Atlas Projects are a collection of studies performed for the
last 80 years around the country by various individuals. They have interviewed
informants, listening for specific target items. In some cases, they have tape
recorded their interviews, in others, they have made transcriptions while
conducting the interview.</p>

<p>Most of the projects' data as not in digital form yet, so they are not
on-line, but other projects' data have been digitized, to varying degrees of
completion. This data is available on the Web.</p>

