<p><b>About the Databases</b></p>

<p>The databases were originally kept in text, CSV files. However, the web site
uses that same data kept in <a href="http://www.mysql.com/">MySQL</a>
databases. Here is some information about the structures in the databases.</p>

<ul>

<li><a href="$$baseurl$$/information/tables.html">Tables</a>: What tables are
in the databases and what do they contain.</li>

<li><a href="$$baseurl$$/information/fields.html">Fields</a>: What fields are
in what tables, what information do they contain, and what do the codes
mean.</li>

</ul>

<!-- vim: set filetype=html: -->
