<p><b><font size="+1">Introduction</font></b></p>

<p>Welcome to the Linguistic Atlas Projects' web site. We hope you find this
site useful for discovering how English is actually spoken in the United
States.</p>

<p><b>Note</b>: An icon with a question mark in a circle on the upper-right of
a page indicates help for that page. You can access that help by clicking on
the icon.</p>

<p>To get started, pick a project that covers the area you're interested in.
Most projects are defined by the geographical area they cover, but a few are
based upon groups of people (usually still within a geographic region). In each
project, you can get information about the project and, if the data has been
digitized, browse the data.</p>

<p><b><a name="browsing">Browsing</a></b></p>

<p>When you start browsing through the data, you will initially only see a list
of informants in the project; there won't be any words included.  Each page
only has twenty-five rows from the data. You can move back and forth through
the data using "Prev" and "Next" links at the top and bottom of the table and
the numbered links between those two.</p>

<p>While browsing the data, you can click on a column heading to get
information about that field, such as what it is measuring, possible values,
and a break down of the values in the table you are looking at. After each
column name, there is a minus sign; clicking on this removes that column from
the view. You can also click on a value in one of the columns to filter the
data based upon that value. Each value is "clickable" only the first time it
appears in a column. For example, if you want to only look at the women in the
data you are looking at, you can find the first woman listed, go to the "Sex"
column, and click on the "F" there. A new table will be displayed that shows
the same data, but without the male informants.</p>

<p>At the top and bottom of each page of data, there are more options.</p>

<ul>

<li><p><b>Advanced Search</b>: This allows you to reset the data, and perform
advanced searches using boolean operators (<code>and</code> and
<code>or</code>) and equality expressions (<code>=</code>,
<code>&lt;&gt;</code>, <code>&lt</code>, etc.). This is also where you can
perform some common, preselected search options, such as hiding null
responses.</p></li>

<li><p><b>Change View</b>: Allows you to select one of three preselected sets
of fields to view (you can remove fields from these on the main browse page);
to select the number of rows per page; and to show or hide the map.</p></li>

<li><p><b>View Notes</b>: If a linguistic item has been selected, clicking this
views any notes about the item.</p></li>

<li><p><b>Map</b>: This views the informants and communities included in the
current browse view (on all pages), plotted on a map. This is the same map that
is viewed by selecting "Show Map" on the "Change View" page.</p></li>

<li><p><b>CSV</b>: Downloads all the data included on all pages of the current
view using a comma-separated values format. This file can be opened up with
Excel, Access, or a number of other programs.</p></li>

<li><p><b>Linguistic data for this data set</b>: If no linguistic item has been
selected (either here or on the "Advanced Search" page), you can select one
here.</p></li>

</ul>

<p>Using this interface, you can explore the data easily and quickly
to get to the information you want. If you want to do more
sophisticated manipulations of the data, you can always download
either the individual views or the entire database (where available),
and analyze it using software like Microsoft Excel or Access.</p>

