<p><b>Locations of African-American and Gullah Informants in South
Carolina</b></p>

<p><b>Instructions:</b><br>You can navigate to the neighboring states by
clicking on the state's label or selecting the state from the <a
href="#states">list</a>. To see information about each informant, click on the
text label on the map. (The Caucasian informants from LAMSAS have been left on
the map, but are gray.)</p>

<p align="center">
<img src="sc.gif" alt="South Carolina Informants" height="525"
	width="700" usemap="#state.map" border="1">
</p>

<p><a name="states">View the informant information in the state of:</a></p>

<ul>
      <li><a href="md.html">Maryland</a></li>
      <li><a href="ga.html">Georgia</a></li>
      <li><a href="gullah.html">Gullah</a></li>
      <li><a href="nc.html">North Carolina</a></li>
      <li><a href="sc.html">South Carolina</a></li>
      <li><a href="va.html">Virginia</a></li>
    </ul>

<map name="state.map">
<!--/opt/local/httpd/htdocs/aae/img/sc.gif-->
<area href="$$baseurl$$/afam/nc.html" alt="" coords="520,57,581,93">
<area href="$$baseurl$$/afam/ga.html" alt="" coords="49,294,115,328">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=SC6N" alt="" coords="458,296,478,308">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=SC7N" alt="" coords="506,366,526,380">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=SC11N" alt="" coords="442,446,466,460">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=SC11M!" alt="" coords="383,374,410,388">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=SC16N" alt="" coords="218,335,245,348">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=SC18N" alt="" coords="345,418,369,432">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=SC19N" alt="" coords="304,445,330,459">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=SC22N" alt="" coords="309,171,335,183">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=SC24N" alt="" coords="371,223,396,235">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=SC38N" alt="" coords="200,177,227,188">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=SC42N" alt="" coords="110,96,137,109">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=SC42M" alt="" coords="122,123,150,136">
</map>

<!-- vim: set filetype=html: -->
