<p><b>Locations of African-American and Gullah Informants in Virginia</b></p>

<p><b>Instructions:</b><br>You can navigate to the neighboring states by
clicking on the state's label or selecting the state from the <a
href="#states">list</a>. To see information about each informant, click on the
text label on the map.</p>

<p align="center">
<img src="va.gif" alt="Virginia Informants" height="500"
	width="1000" usemap="#state.map" border="1">
</p>

<p><a name="states">View the informant information in the state
of:</a></p>

<ul>
      <li><a href="md.html">Maryland</a></li>
      <li><a href="ga.html">Georgia</a></li>
      <li><a href="gullah.html">Gullah</a></li>
      <li><a href="nc.html">North Carolina</a></li>
      <li><a href="sc.html">South Carolina</a></li>
      <li><a href="va.html">Virginia</a></li>
    </ul>

<map name="state.map">
<!--/opt/local/httpd/htdocs/aae/img/va.gif-->
<area href="$$baseurl$$/afam/md.html" alt="" coords="730,28,795,63">
<area href="$$baseurl$$/afam/nc.html" alt="" coords="320,457,362,484">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=VA4N" alt="" coords="684,118,701,137">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=VA12N" alt="" coords="794,234,820,247">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=VA15N" alt="" coords="787,271,812,284">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=VA21N" alt="" coords="787,365,815,378">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=VA43N" alt="" coords="632,315,657,328">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=VA46N" alt="" coords="499,378,528,391">
<area href="browse.html?clear=1&op=EQ&left=Informants.informid&right=VA59N" alt="" coords="569,231,595,245">
</map>

<!-- vim: set filetype=html: -->
