<p><b>The LAMSAS Scrap Book</b></p>

<p>This page contains interesting artifacts from the LAMSAS project. So far, we
only have images of a couple of things:</p>

<ul>
<li><a href="fieldrec.jpg">Field Record Page</a> for page 47, informant
  VA55</li>
<li><a href="listms.jpg">List Manuscript Page</a> number 563 ("he was drowned",
  page 96, question 1)</li>
</ul>

