<pre class="phonetic">
				1.1 

				One

				Two


	1.  w&#652;n
	    t{&#618;}u&#183;  

	2.  w&#652;n
	    tu&#183;

	3.  w&#652;n
	    tu&#183;

	4.  w&#652;n
 	    tu&#183;

	5.  w&#652;n
	    tu&#183;

	6.  w&#652;{&#601;}n /&#601;/ 
	    tu&#183;{w}

	7.  w&#652;&#709;n
	    t{&#618;}u&#183;

	8.  w&#652;n
	    tu&#183;{w}

	9.  w&#652;&#709;n
	    tu&#183;

	10. w&#652;n
	    tu&#183;

	11. w&#652;n
	    t{&#618;}u&#183;w 

	12. w&#652;n
	    tu&#183;

	13. w&#652;n
	    tu&#183;

	14. w&#652;n
	    tu&#183;

	15. w&#652;n
	    tu{u}

	16. w&#652;n
 	    t&#650;{u}

	17. w&#652;n
	    tu{u}

	18. w&#652;n
	    tu{u}

	19. w&#652;n
	    t&#650;&#708;{u} 

	20. w&#652;n
	    tu

	21. w&#652;n
	    t{&#618;}u 

	22. w&#652;n
	    tu:

	23. w&#652;n
	    t{&#618;}u&#183; 

	24. w&#652;n
	    t{&#618;}u&#183;{u}  

	25. w&#652;n
	    tu&#183;

	26. w&#652;n
	    tu{u}

	27. w&#652;n
	    tu&#183;{u} 

	28. w&#652;n
	    tu

	29. w&#652;n
	    tu&#183;{u} 

	30. w&#652;n
	    tu&#183;

	31. w&#652;n
	    t{&#618;}u&#183;{u} 

	32. w&#652;n
	    t{&#618;}u&#183; 

	33. w&#652;n
	    tu&#183;

	34. w&#652;n
	    t{&#618;}u&#183; 

	35. w&#652;n
	    tu&#183;{u}

	36. w&#652;n
	    tu{u} 

	37. w&#652;n
	    tu&#183;

	38. w&#652;&#709;n
	    tu&#183;

	39. w&#652;n
	    tu&#183;

	40. w&#652;&#709;n
	    tu&#183;

	41. w&#652;n
	    tu&#183;

	42. w&#652;n
	    tu&#183;

	43. w&#652;n
	    tu&#183;

	44. w&#652;&#709;n
	    t&#792;u&#706;&#183;

	45. w&#652;&#709;n
	    tu&#183;{u}

	46. w&#652;n
	    t{&#618;}u  

	47. w&#652;n
	    tu&#183;

	48. w&#652;n
	    tu&#183;{u} 

	49. w&#652;n
	    tu&#183;

	50. w&#601;n
	    tuw 

	51. w&#652;n
	    tu&#183;

</pre>
