<pre class="phonetic">
				10.7

				Adobe


	1.  (See 9.8)

	2.  -----

	3.  -----

	4.  ?

	5.  -----

	6.  &#601;&#712;do&#183;bi&#183;

	7.  

	8.  -----

	9.  -----

	10. &#712;do&#183;{&#650;}bi&#183;

	11. -----

	12. &#601;-do&#183;bi&#183;

	13. -----

	14. -----

	15. -----

	16. -----

	17. &#601;&#712;do{&#650;}bi&#737;08&#727;&#716;kle{i}

	18. -----

	19. -----

	20. -----

	21. -----

	22. -----

	23. br&#618;k)

	24. -----

	25. -----

	26. -----

	27. -----

	28. -----

	29. -----

	30. -----

	31. -----

	32. -----
	
	33. ?

	34. -----

	35. -----

	36. -----

	37. -----

	38. -----

	39. &#601;&#712;do&#183;bi&#183;

	40. -----

	41. -----

	42. -----

	43. -----

	44. -----

	45. -----

	46. -----

	47. -----

	48. ?

	49. -----

	50. &#601;d&#596;{w}bi

	51. -----

</pre>
