<pre class="phonetic">
				13.6

				Posts


	1.  f&#603;ns po{w}sts

	2.  po&#183;{&#650;}sts

	3.  po&#183;{w}sts

	4.  f&#603;ns posts

	5.  f&#603;ns po{w}s{t}s

	6.  po&#706;{w}sts

	7.  po&#183;sts

	8.  po&#709;sts

	9.  f&#603;ns po{&#650;}sts

	10. posts

	11. po&#183;sts

	12. po{&#650;}sts

	13. po&#183;  (sic) drc

	14. po&#183;sts

	15. po{u}ss

	16. po{&#650;}ss

	17. posts

	18. pos{t}s	*

	19. po(&#650;&#737;08&#727;}ss

	20. po{&#650;}ss

	21. po{&#650;}sts

	22. po{&#650;}sts

	23. po&#183;{&#650;}sts	(st&#737;08&#812;e&#183;plz)

	24. po&#709;lz   (st&#737;08&#812;e&#183;pl&#737;08&#809;

	25. -----

	26. po&#650;s&#183;

	27. po{&#650;}sts	both po&#183;{&#650;}ss

	28. po&#650;s&#183;  pl.

	29. po&#183;{u}ss 

	30. po{&#650;}sts

	31. -----

	32. po&#709;sts	(sde&#183;plz)

	33. po{&#650;}sts

	34. po{u}sts

	35. po{&#650;}s	st&#737;08&#812;e&#183;plz

	36. sd&#652;mps   sd&#618;ks)	po&#183;ss

	37. pos&#183;s

	38. po:sts

	39. po&#183;s{t}s

	40. pos&#183;s

	41. po&#183;s{t}s

	42. po{&#650;}sts

	43. posts

	44. p&#596;{&#650;}s{t}s

	45. f&#603;ns  po&#183;sts

	46. po{u}s&#183;

	47. po&#183;s:

	48. f&#603;ns pos&#183;s

	49. po&#183;sts

	50. p&#792;&#596;{w}sts              

	51. pos&#183;

 </pre>
