<pre class="phonetic">
					15.8

					Hoops


	1.  hu&#183;ps

	2.  h&#650;ps

	3.  h&#650;ps

	4.  r&#618;mz  or hu:ps

	5.  -----

	6.  h&#650;ps

	7.  h&#650;ps		r&#618;{&#601;}m

	8.  h&#650;ps

	9.  h&#650;ps

	10. h&#650;ps

	11. hups

	12. h&#650;ps

	13. h&#650;ps

	14. h&#650;ps

	15. hups

	16. h&#650;ps

	17. h&#650;ps

	18. h&#650;ps

	19. h&#650;ps

	20. hu{&#650;}ps

	21. hups

	22. hups

	23. hu&#183;{u}ps

	24. hu{u}ps

	25. hups

	26. -----

	27. hu&#183;ps

	28. b&#230;nz   h&#650;ps

	29. hu&#183;{u}ps

	30. sde&#183;{i}vz) hu&#183;ps

	31. r&#618;&#331;z)     h&#650;p  sic

	32. h&#650;ps      h&#650;p (rolling a ~)

	33. hu&#183;ps

	34. b&#230;nz)  h&#650;ps

	35. st&#737;08&#812;r&#618;ps)   hu&#183;ps

	36. -----

	37. h&#650;ps

	38. h&#650;ps

	39. hups

	40. hu&#183;ps

	41. -----

	42. hu&#183;ps

	43. h&#650;ps

	44. ste{&#618;}z (sic) drc    hu&#183;ps

	45. h&#650;ps	       (sic)

	46. h&#650;ps

	47. hu&#183;ps,  b&#230;nz

	48. hu&#183;p

	49. h&#650;ps

	50. huwps

	51. h&#650;ps	
</pre>
