<pre class="phonetic">
					20.2

					Grease /verb/


	1.  gr{&#601;}i{&#618;}s

	2.  gri&#183;{&#618;}s

	3.  gri&#183;{&#601;}s

	4.  gri&#183;s

	5.  gri&#183;s

	6.  gr&#618;{i}s

	7.  gr{&#618;}i&#183;s

	8.  gr{&#618;}i&#183;s

	9.  gr{&#618;}i&#183;s

	10. gri{&#618;}s

	11. gri&#183;s

	12. gri&#737;08&#727;&#183;s

	13. gr{&#618;}i&#183;s

	14. gri&#183;s

	15. gri{i}s

	16. gri{i}s

	17. gri{i}s

	18. gris	*

	19. gris

	20. -----

	21. -----

	22. gri&#183;s

	23. gri&#183;is

	24. gri&#183;s&#601;t

	25. gri&#183;s

	26. gri{i}s	(for &#712;sk&#618;d&#716;ro{&#650;}dz they used to use
					 &#712;sk&#618;d&#716;&#596;{&#601;}l which were usually
					 &#712;d&#594;gf&#618;&#643;&#716;&#596;{&#601;}l

	27. gri{i}s

	28. gri{i}s

	29. gri{i}si&#737;08&#727;

	30. gri&#183;s

	31. lu&#183;br&#601;k&#601;nt)  gri&#183;{&#618;}s

	32. gri&#183;s

	33. gr&#618;&#183;{i}s

	34. gri&#183;s&#183;

	35. &#596;el gri&#183;{i}s

	36. &#712;lu{&#618;&#183;}br&#601;&#716;ke&#183;t&#737;08&#812;&#601;t)  (&#596;{&#618;}l
		gri{i}s  (leftover oil and fat)

	37. gri&#183;s

	38. gri&#183;s

	39. gri&#183;s

	40. gri&#183;s

	41. gr{&#618;}i&#183;s

	42. gr{&#618;}i&#183;s

	43. gr{&#618;}i&#183;s

	44. gr&#618;i&#183;s

	45. gri&#183;s

	46. gri&#183;s

	47. (l&#593;&#602;d) gri&#183;s

	48. gr{&#618;}is

	49. gr{&#618;}is

	50. gris

	51. gri&#183;s


</pre>
