<pre class="phonetic">
					25.7

					Ravine


	1.  r&#601;vijn

	2.  -----

	3.  g&#594;&#602;d&#658;
	    &#712;k&#230;nj&#601;n

	4.  g&#652;lt&#643;
	    g&#596;&#602;d&#658;

	5.  &#712;w&#594;&#643;&#716;&#593;{o}t

	6.  dr&#594;&#183;

	7.  r&#601;&#712;v{&#618;}i&#183;n

	8.  &#712;ku&#183;{&#650;}li&#183;

	9.  -----

	10. &#712;g&#652;li&#183;
	    sg. dr&#594;&#708;&#183;

	11. g&#652;&#619;t&#643;

	12. r&#601;&#712;vi&#183;n

	13. r&#601;&#712;vi&#183;n

	14. -----

	15. r&#601;&#712;vi{i}n

	16. r&#601;vi{i}n	not in mountains, shallow, no stream

	17. k&#652;t		formed by erosion
	    r&#601;&#712;vin	small, less abrupt canyon
	    
	18. r&#601;&#712;vi{i}n	wooded, shallow, smaller

	19. r&#601;&#712;vi{i}n	steep but overgown slopes, no stream

	20. r&#601;vi{i}n	/sm&#593;l&#602;/

	21. v&#230;li&#183;

	22. r&#601;&#712;vi&#183;n

	23. dr&#596;&#183;{&#601;}
	    r&#601;vi&#183;n	(has stream)

	24. r&#601;vi&#183;n 	not as rugged as a canyon--water--grassy

	25. r&#601;vi&#183;n = very narrow bottom; sometimes water

	26. -----

	27. -----

	28. h&#593;&#183;lo{&#650;}  &#602; &#601;&#712;ro{&#618;}j&#601;  (but not here)

	29. r&#601;&#712;vi&#183;{i}n -- small canyon

	30. r&#601;vi&#183;n -- real deep and narrow

	31. r&#601;vi&#183;n

	32. r&#601;vi&#183;n

	33. g&#652;lt&#643;

	34. -----

	35. -----

	36. -----

	37. -----

	38. &#712;k&#230;nj&#601;n

	39. r&#601;&#712;v{&#618;}i&#183;n

	40. r&#601;&#712;vi&#183;n

	41. g&#652;lt&#643;

	42. r&#601;&#712;vi&#183;n

	43. r&#601;&#712;vi&#183;n

	44. r&#601;&#712;v{i}i&#183;n

	45. r&#601;vi&#183;n  (sg.)

	46. r&#601;vi&#183;n  sg. -- but she doesn't mean this

	47. r&#601;vi&#183;n (sg)

	48. dr&#594;&#707;&#183;  "narrow place"

	49. r&#601;&#712;vin

	50. dip k&#792;&#230;n&#618;&#737;08&#771;&#601;&#708;n   sg. r&#618;&#712;vin

	51. sg. g&#652;&#709;lt&#643;

</pre>
