<pre class="phonetic">
					31.5

					hogs


	1.  p&#618;&#183;gz
	    h&#594;gz	/"older"/

	2.  h&#593;&#707;&#183;g

	3.  h&#593;&#707;gz
	    &#643;o&#183;{&#650;}ts	/young/

	4.  h&#593;gz

	5.  h&#596;&#183;{&#650;}gz

	6.  p&#618;gz

	7.  p&#618;gz	/h&#593;gz  "old"/

	8.  p&#618;gz
	    h&#594;gz

	9.  -----

	10. h&#594;{o}gz

	11. p&#618;gz
	    h&#594;gz

	12. h&#593;&#707;gz

	13. h&#594;{o}gz

	14. h&#594;{o}gz

	15. h&#594;&#183;g

	16. p&#618;gz  h&#596;&#709;&#183;g    same

	17. h&#594;&#815;&#183;gz	the market term, larger
	    p&#618;gz	smaller

	18. p&#618;gz
	    h&#594;&#815;&#183;gz	"an Eastern word"

	19. p&#618;gz  h&#594;&#815;&#708;&#183;gz   same

	20. p&#618;gz

	21. -----

	22. h&#593;&#707;gz

	23. p&#618;g		(old and young)

	24. p&#618;gz

	25. -----

	26. w&#593;{&#618;}ld) h&#594;gz	( M & F.  o & y) 
	    p&#618;&#708;g

	27. h&#593;gz

	28. h&#593;gz (old) young said s&#652;kl&#618;&#331; p&#618;gz  > wi&#183;{i}n&#602;z
            sho&#709;ts  (sic) drc  >b&#230;&#602;o{&#650;} p&#618;g

	29. h&#594;gz
	    young h&#594;g &#618;z &#601; p&#618;g  (sg.)

	30. p&#618;&#708;gz	(old and young; m & f)

	31. p&#618;gz	(male and female, old and young)

	32. h&#594;gz  p&#618;gz  (interchangeable)

	33. h&#593;gz

	34. p&#618;&#708;gz

	35. p&#618;&#708;gz

	36. p&#618;gz &#602; h&#594;gz	(hogs are bigger)

	37. p&#618;gs	"couldn't say "sow"

	38. h&#594;gz

	39. p&#618;gz  or  h&#594;gz

	40. h&#593;&#183;gz

	41. h&#593;gz

	42. h&#594;gz
	    p&#618;gz	"younger"           

	43. p&#618;gz

	44. p&#618;gz

	45. h&#594;&#707;gz	(awfullt big)

	46. p&#618;&#707;gz

	47. h&#594;&#708;gz

	48. h&#593;&#707;gz	"all"

	49. h&#596;&#709;{&#650;}gz

	50. s&#593;&#706;{w} (female)
	    b&#596;&#602;	   (male)

	51. p&#618;gz</pre>
