<pre class="phonetic">
					32.4

					Moo /during feeding time/


	1.  m&#601;u&#737;08&#727;{w}

	2.  mu&#183;{w}
	    sg. lo&#183;w&#618;&#331;

	3.  mu&#183;{w}

	4.  lo&#183;{&#650;}

	5.  mu&#183;{w}

	6.  mu&#183;{w}

	7.  mu&#183;{w}

	8.  mu&#706;&#183;{w}

	9.  -----

	10. mu&#183;{w}

	11. m{&#618;}u&#706;&#183;

	12. mu&#183;

	13. mu&#183;{w}

	14. mu&#183;{w}

	15. m&#618;&#737;08&#727;u
	    mu{u}

	16. b&#594;&#183;&#619;	unhappy
	    b&#603;&#619;&#602;	unhappy
	    mu{u}	happy

	17. mu{u}

	18. mu&#183;{u}

	19. mu&#183;{u}
	    lo&#183;{u}  sg.

	20. mu&#183;{w}

	21. -----

	22. mu:
	    sg. lo&#183;{w}

	23. mu&#183;{&#650;}

	24. mu:{&#650;}z

	25. &#712;b&#603;l&#602;

	26. -----

	27. mu&#183;{u}m

	28. mu&#183;{u}

	29. mu:{u}

	30. mu:{u}

	31. mu:{u}

	32. mu:{u}

	33. mu:{u}

	34. mu{u}z

	35. mu&#183;{u}z

	36. -----

	37. mu&#183;

	38. mu&#183;{w}

	39. mu&#183;

	40. mu&#183;

	41. mu&#183;

	42. mu&#183;

	43. mu&#183;{w}
	    hd. lo&#183;{w}

	44. mu&#183;{w}

	45. mu&#183;{&#650;}

	46. mu&#183;{u}z   (b&#650;l b&#603;l&#602;z)

	47. mu&#183;z

	48. mu&#183;

	49. mu&#183;
	    sg. b&#603;l&#602;

	50. mu&#183;			(&#643;ip bl&#230;t) !
	    lo{w}	"friendly"

	51. -----	</pre>
