<pre class="phonetic">
					33.3

					Calls to Cows /to get them 
						       from pasture/


	1.  &#712;k&#596;&#183; &#716;b&#594;&#183;s  ~   ~   ~

	2.  ?

	3.  k&#652;m b&#594;&#183;s  ~   ~

	4.  so&#183;{&#650;} b&#594;si
	    k&#652;m b&#594;si&#183;

	5.  so&#183; --
	    su&#183; ki
	    k&#652;m b&#594;&#708;&#183;s

	6.  ?

	7.  &#712;ko &#716;b&#593;s   ~   ~

	8.  k&#596; b&#594;&#183;s

	9.  -----

	10. ?

	11. &#712;s&#650; &#716;ka{o}    Send the dog after them

	12. {4}k&#652;m {3} b&#593;si&#183;

	13. &#712;k&#652;m &#716;b&#594;s

	14. {4}ko&#183; {2}b&#593;&#183;s

	15. &#716;k&#652;m &#712;b&#596;s   ~

	16. &#716;k&#652; &#712;b&#596;s  ~   ~   ~ short vowels  higher to lower pitch

	17. -----

	18. -----  * just drive them in, or use a dog
 	
	19. ko:{u} b&#596;s   + 3  higher to lower pitch

	20. &#712;k&#652;m &#716;k&#593;&#183;wi&#183;  4 2 3

	21. &#716;k&#652;m &#712;b&#593;&#183;s  ~   ~   ~  /level pitch/

	22. &#712;k&#652;m &#716;b&#594;s
	    (sg. &#712;ho&#183; &#716;b&#594;s /close up/)

	23. su&#183; b&#593;s (?)

	24. &#712;ko{&#650;} &#716;b&#593;s  ~ 
	    (h&#618;&#602; b&#593;s)

	25. &#712;k&#601; b&#593;s  &#712;k&#601; b&#593;s  higher to lower pitch

	26. {h}wui:{i} [low to high] falsetto, near whistle.
			Brings in cattle, sheep, horses.
			Son-in-law uses same

	27. &#712;k&#652;m &#716;b&#593;s   ~   high to low

	28. &#712;ko{w} &#716;b&#593;s  ~	high to low

	29. hw&#618;sl  (used to say [so b&#593;s] high to low

	30. -----

	31. ko:{u} b&#593;s

	32. -----

	33. &#712;k&#652;m &#716;b&#593;s  ~   ~

	34. -----

	35. -----

	36. -----

	37. ko b&#593;s  ko b&#593;s

	38. &#712;k&#652;m &#716;b&#594;si&#183;

	39. hd. &#712;ko&#183; &#716;b&#593;si&#183;

	40. ?  "send the dogs"

	41. ko b&#593;&#707;si&#183;
	    hd. su&#183;k

	42. k&#652;m &#712;b&#593;si&#183;
	    &#712;ko&#183; &#716;b&#593;si&#183;
	    sg. su&#183;k b&#593;si&#183;

	43. ?

	44. -----

	45. -----

	46. by name	hd. ko&#183; b&#594;s

	47. &#712;ko&#183; &#716;b&#593;s

	48. -----

	49. -----

	50. &#716;k&#601; &#716;b&#596;s  ~   ~  high to low

	51. -----  

</pre>
