<pre class="phonetic">
&#174;TS8,16,24,32,40,48j					50.7

					Wasps


	1.  w&#593;&#183;sps

	2.  w&#593;&#183;sps

	3.  w&#593;&#707;&#183;sps

	4.  w&#593;&#183;sps
	    ? &#712;m&#652;d &#716;d&#593;b&#602;z

	5.  w&#594;sps
	    sg. d&#593;b&#602;

	6.  -----

	7.  w&#593;sps

	8.  w&#593;sps

	9.  -----

	10. -----

	11. w&#594;&#707;sps
	    m&#652;d d&#593;b&#602;z

	12. w&#594;sps

	13. &#712;m&#652;d &#716;d&#593;b&#602;z

	14. w&#594;&#707;&#183;sps

	15. w&#593;sps   dark, large, sting

	16. w&#593;&#707;sps  very large, black, sting, nest in wood

	17. w&#594;&#815;&#737;08&#814;sps	dark, sting

	18. w&#593;&#707;sps	black, very large, w-waisted, sting, 
			nest in ground

	19. w&#593;&#707;sps	sting, wasp waist, large, black & yellow
			nest in walls

	20. w&#593;&#707;sp	(in the mud)

	21. &#712;m&#652;d &#716;d&#593;b&#602;z

	22. w&#593;sps

	23. w&#593;&#707;sps

	24. w&#596;sp  (sg.)

	25. w&#593;sp	s&#652;m&#660;n&#737;08&#809; l&#593;&#618;{i}k &#601; j&#603;l&#601; d&#658;&#230;k&#737;08&#812;&#618;t

	26. -----

	27. w&#596;sp	large, black, mud horse

	28. -----

	29. w&#594;sps	wasp-waisted bee!  paper house

	30. w&#596;sp	doesn't know difference between
			wasp and hornet

	31. h&#596;&#602;n&#601;ts
	    w&#594;sps) sg.

	32. w&#596;sps	(long, thin

	33. w&#593;&#707;sps

	34. w&#596;sp  (sg.)
	    &#712;m&#652;d &#716;d&#596;b&#602;

	35. -----

	36. -----

	37. w&#593;sps

	38. w&#593;&#183;sps

	39. w&#593;sps

	40. w&#593;&#183;sps

	41. w&#593;sps

	42. w&#593;&#707;sps

	43. w&#593;sps	yellow, black  papery nest

	44. w&#593;sps

	45. bi&#183;{i}
	    &#712;h&#596;&#602;n&#601;t
	    w&#596;sp

	46. j&#603;lo d&#658;&#230;k&#618;&#737;08&#727;ts
	    w&#594;sp

	47. w&#594;{&#618;}s: (sic) drc  (plural)
	    w&#594;sp    (singular)

	48. w&#593;&#707;sps

	49. &#712;m&#652;d-&#716;d&#594;b&#602;

	50. w&#593;sp

	51. -----

</pre>
