<pre class="phonetic">
					51.5

					Roots


	1.  ru{w}ts

	2.  r&#650;ts

	3.  ru&#183;ts

	4.  r&#650;ts

	5.  ru&#183;{&#650;}ts

	6.  -----

	7.  ru&#183;{w}ts

	8.  r&#650;ts

	9.  -----

	10. -----

	11. ruts

	12. ruts

	13. ru&#183;ts

	14. ru&#183;{&#650;}ts

	15. r&#650;ts
	    ruts	either

	16. ruts

	17. ruts

	18. ruts

	19. ruts

	20. ru{w}ts

	21. ru{u}ts

	22. ru&#183;ts

	24. ru{u}ts

	25. ruts

	26. -----

	27. ru&#183;{u}ts

	28. -----

	29. ru&#183;{u}ts

	30. ru&#183;ts

	31. r&#650;&#737;08&#817;ts

	32. ru&#183;ts	(used to hear r&#650;ts)

	33. r&#650;ts

	34. r&#650;ts

	35. r&#650;ts

	36. r&#650;ts

	37. r&#650;ts

	38. r&#650;ts

	39. ru&#183;ts

	40. r&#650;ts

	41. ru&#183;ts

	42. r&#650;ts

	43. ru&#706;&#183;ts

	44. r&#650;ts

	45. r&#650;ts

	46. r&#650;ts

	47. ru{&#618;}ts

	48. ru&#183;ts

	49. r&#650;ts

	50. ru&#183;ts

	51. r&#650;ts

</pre>
