<pre class="phonetic">
					55.5

					Jackleg Preacher


	1.  lej prijt&#643;&#602;

	2.  ?  sg. le&#183;{&#618;} pri&#183;t&#643;&#602;

	3.  ?

	4.  ?

	5.  -----

	6.  -----

	7.  ?  p&#593;&#602;t t&#593;{e}m
	    le&#709;&#183;i pri&#183;t&#643;&#602;

	8.  &#601;&#712;pr&#603;&#707;nt&#737;08&#812;&#601;s pri&#183;t&#643;&#602;

	9.  -----

	10. -----

	11. &#601;&#712;s&#618;st&#601;nt p&#230;st&#602;

	12. -----

	13. -----

	14. -----

	15. -----

	16. -----

	17. -----

	18. -----

	19. -----

	20. -----

	21. s&#652;&#712;pl&#593;{e}  /preacher/

	22. v&#593;l&#601;nt&#618;&#602; pri&#183;t&#643;&#602;

	23. -----

	24. -----

	25. -----

	26. -----

	27. -----

	28. -----

	29. -----

	30. -----

	31. -----

	32. &#593;{&#618;}t&#618;n&#602;&#601;nt

	33. le&#183;{&#618;} pri&#183;t&#643;&#602;

	34. -----

	35. -----

	36. -----

	37. -----

	38. -----

	39. ?

	40. -- sg. le{&#618;} pri&#183;t&#643;&#602;

	41. le{&#618;} pri&#183;t&#643;&#602;

	42. -----

	43. -----

	44. -----

	45. -----

	46. -- i&#712;v&#230;nd&#658;&#601;l&#618;&#737;08&#727;s&#183;

	47. -----

	48. -----

	49. -----

	50. -----

	51. -----

</pre>
