<pre class="phonetic">
					68.8

					Ghosts


	1.  go&#183;s(t)s

	2.  go&#183;sts

	3.  go&#183;sts
	    spu&#183;ks

	4.  go&#183;s&#183;s

	5.  go&#183;{&#650;}sts

	6.  -----

	7.  go&#183;sts
	    sbu&#183;ks
	    sp&#618;&#602;&#601;ts
	    h&#230;nts

	8.  go&#709;s{t}s
	    spu&#183;ks

	9.  -----

	10. -----

	11. go&#183;s{s}

	12. go&#183;sts
	    spuks

	13. go&#183;sts

	14. go&#183;sts

	15. gos{t}s

	16. go{u&#737;08&#727;}s{t}s

	17. gos{t}s
	    spuks	laughing

	18. gos{t}s	laughing
	    spuks

	19. goss
	    spuks	sug.

	20. ho&#183;{&#650;}ss

	21. go{&#650;}sts

	22. spu:ks
	    go&#183;sts

	23. go&#183;{&#650;}ss
	
	24. -----

	25. go&#183;{&#650;}st
	    go&#183;{&#650;}sts

	26. -----

	27. go&#183;{&#650;}s&#183;

	28. -----

	29. go&#183;{&#650;}ss

	30. go&#183;{&#650;}sts

	31. go&#183;{u}s{t}s

	32. go&#183;{u}s{t}s

	33. go&#183;{&#650;}sts

	34. &#601;v &#240;&#601; d&#603;{&#601;}d)  go{u}s{z}s

	35. go&#183;{u}s{t}s

	36. gous{t}s

	37. go&#183;s&#183;s

	38. go&#183;sts
	    spu&#183;ks

	39. sbu&#183;ks

	40. go&#183;sts
	    sg. h&#593;&#183;nts

	41. go&#183;sts
	    spu&#183;ks

	42. go{&#650;}sts
	    spu&#183;ks

	43. go&#183;sts

	44. go&#183;s{t}s

	45. go{&#650;}sts

	46. go&#183;{u}s:

	47. go&#183;s:

	48. go&#183;s{t}s

	49. go{&#650;}sts	

	50. g&#596;bl&#618;nz
	    l&#603;p&#602;k&#593;nz

	51.  sg. ho&#183;li go&#183;st

</pre>
