<pre class="phonetic">
					72.3

					Kneeled


	1.  n&#603;lt

	2.  ni&#183;{&#601;}&#619;d

	3.  n&#603;lt

	4.  ni&#183;{&#618;}ld

	5.  n&#603;lt

	6.  -----

	7.  n{&#618;}i&#183;ld

	8.  n&#603;lt d&#593;&#706;{o}n	/on his prayer bones/

	9.  -----

	10. -----

	11. ni&#183;ld

	12. n&#603;lt

	13. n&#603;l&#660; d&#593;{o}n

	14. n&#603;lt

	15. n&#603;&#619;t

	16. n&#603;&#619;t

	17. n&#603;&#619;t

	18. n&#603;&#619;t

	19. ni{&#601;}&#619;d
	    n&#603;&#619;t	o.f.

	20. ni&#183;&#601;l
	    ni&#183;&#601;ld

	21. ni&#183;&#601;ld

	22. n&#603;lt

	23. n&#603;lt

	24. ni&#183;&#601;l

	25. -----

	26. -----

	27. ni&#183;&#601;ld

	28. -----

	29. n&#603;lt

	30. n&#603;lt

	31. n&#603;lt

	32. ni&#183;ld
	    n&#603;lt

	33. n&#603;lt

	34. ni&#183;l&#737;08&#809;d d&#593;{o}n

	35. ni&#183;lz
	    have ni&#183;ld	(pr. perf.)
	    n&#603;lt	(simple past)

	36. n&#603;lt

	37. n&#603;lt

	38. n&#603;lt

	39. ni&#183;ld
	    cv. n&#603;lt

	40. n&#603;lt

	41. n&#603;lt

	42. n&#603;lt

	43. n&#603;lt

	44. n{&#618;}i&#183;ld

	45. n&#603;lt

	46. n&#603;lt

	47. n&#603;lt

	48. n&#603;lt

	49. n&#603;lt

	50. -----

	51. ni&#183;ld

</pre>
