<p><b>African-American and Gullah</b></p>

<p>This is the page for the African-American and Gullah project. The
African-American informants are from the <a
href="$to_root/lamsas">LAMSAS</a> project, and the Gullah informants
are from a separate survey, conducted by Lorenzo Turner. All of the
data for these informants is available here.</p>

<p>To be browsing and exploring the data, select <a
href="$to_root/afam/browse?clear=1">Browse</a> from the menu at left.
Or you can click on a state on the map below to see a map of that state with
the communities in it.</p>

<p align="center"><img src="$to_root/afam/afam.png" alt="AFAM/Gullah
States" border="0" usemap="#map"></p>

<map name="map">
	<area shape="poly" coords="35,24,71,18,69,24,73,33,78,34,73,48,73,42,65,25,63,30,68,41,59,38,60,32,56,30,50,25,46,25,43,26,38,31" href="md" alt="" >
	<area shape="poly" coords="8,65,19,55,32,55,38,40,41,41,47,28,60,32,59,37,66,41,70,49,74,55" href="va" alt="" >
	<area shape="poly" coords="-1,84,15,72,24,66,25,64,76,55,81,68,71,78,65,80,62,88,57,90,44,82,36,82,30,79,13,83" href="nc" alt="" >
	<area shape="poly" coords="12,89,16,83,32,77,37,82,45,82,57,91,52,98,38,113,29,101,18,93" href="sc" alt="" >
	<area shape="poly" coords="0,85,15,85,13,89,32,105,38,118,36,129,31,129,29,135,24,120,15,107,5,96" href="ga" alt="" >
	<area shape="poly" coords="58,109,82,109,81,114,68,126,64,143,57,142" href="gullah" alt="" >
</map>

