<p><b>Locations of African-American and Gullah Informants in North
Carolina</b></p>

<p><b>Instructions:</b><br />You can navigate to the neighboring states by
clicking on the state's label or selecting the state from the <a
href="#states">list</a>. To see information about each informant, click on the
text label on the map. (The Caucasian informants from LAMSAS have been left on
the map, but are gray.)</p>

<p align="center">
<img src="nc.gif" alt="North Carolina Informants" height="500"
	width="950" usemap="#state.map" border="1">
</p>

<p><a name=img/"states">View the informant information in the state
of:</a></p>

<ul>
      <li><a href="md">Maryland</a></li>
      <li><a href="ga">Georgia</a></li>
      <li><a href="gullah">Gullah</a></li>
      <li><a href="nc">North Carolina</a></li>
      <li><a href="sc">South Carolina</a></li>
      <li><a href="va">Virginia</a></li>
    </ul>

<map name="state.map">
<!--/opt/local/httpd/htdocs/aae/img/nc.gif-->
<area href="$to_root/afam/va" alt="" shape="rect" coords="539,32,604,69">
<area href="$to_root/afam/ga" alt="" shape="rect" coords="47,393,116,427">
<area href="$to_root/afam/sc" alt="" shape="rect" coords="346,397,408,429">
<area href="browse?clear=1&op=EQ&left=Informants.informid&right=NC8N" alt="" shape="rect" coords="731,177,751,189">
<area href="browse?clear=1&op=EQ&left=Informants.informid&right=NC14N" alt="" shape="rect" coords="796,319,820,334">
<area href="browse?clear=1&op=EQ&left=Informants.informid&right=NC24N" alt="" shape="rect" coords="585,444,615,459">
<area href="browse?clear=1&op=EQ&left=Informants.informid&right=NC25N" alt="" shape="rect" coords="638,314,667,330">
<area href="browse?clear=1&op=EQ&left=Informants.informid&right=NC36N" alt="" shape="rect" coords="523,309,550,323">
<area href="browse?clear=1&op=EQ&left=Informants.informid&right=NC38N" alt="" shape="rect" coords="617,157,646,173">
<area href="browse?clear=1&op=EQ&left=Informants.informid&right=NC52N" alt="" shape="rect" coords="452,298,481,313">
</map>

<!-- vim: set filetype=html: -->
