<html>
  <head>
    <title> $title </title>
    <link type="text/css" rel="stylesheet"
          href="$to_root/atlas.css" />
  </head>
  <body text="black" bgcolor="white">
    <table border="0" width="80%"><tr><td>
