<p><b>LAPNW Maps</b></p>

<p>This is the page contains an index of the maps in the LAPNW, listed by
"<i>item</i> [<i>page</i>.<i>item</i>]." For information about the informants,
work sheets, or target items, see the <a href="../db/">Database</a> page.</p>

<p>Here are the indices of each type of page:</p>

<ul>
  <li><a href="56.6">a Rustic [56.6]</a></li>
  <li><a href="53.5">Grandmother [53.5]</a></li>
  <li><a href="28.3">he was coming) Towards (me [28.3]</a></li>
  <li><a href="57.3">Just a Minute [57.3]</a></li>
  <li><a href="50.5">Lightning Bug [50.5]</a></li>
  <li><a href="50.1">Minnows [50.1]</a></li>
  <li><a href="56.5">Negro /derogatory term/ [56.5]</a></li>
  <li><a href="56.4">Negro /neutral terms/ [56.4]</a></li>
  <li><a href="58.6">Palm [58.6]</a></li>
  <li><a href="55.7">Paper Route [55.7]</a></li>
  <li><a href="56.1">Postman [56.1]</a></li>
  <li><a href="51.4">Spiderweb /outdoors/ [51.4]</a></li>
  <li><a href="52.8">/What do you call your father/ [52.8]</a></li>
</ul>

