<p><b><font size="+1">Fonts</font></b></p>

<p><b><a name="unicode">Unicode Fonts</a></b></p>

<p><a href="http://www.unicode.org/">Unicode</a> is a group of ways to
represent special characters on a computer. The Lingusitic Atlas uses Unicode
to represent the phonetic characters in the International Phonetic Alphabet
(IPA). To view information using Unicode, you need several things, most of
which you probably already have, so I won't mention them. The one thing you may
need is a Unicode font that defines the IPA characters.</p>

<p>The Linguistic Atlas web site expects you to have <i>one</i> of these fonts
installed:</p>

<ul>

  <li><b>Arial Unicode MS</b>: This comes with recent versions of Microsoft
  Windows and Office, although you'll need to specifically install it. (Look
  for a "Universal Font" option.)</li>

  <li><b>Thryomanes</b>: This font is developed by Herman Miller just for
  displaying phonetic data and is available for free from <a
  href="http://www.io.com/~hmiller/lang/">his web site</a>.</li>

</ul>

<p>To install these fonts, see <a href="#installing">Installing Fonts</a>.<p>

<p>You can get more information about these and other Unicode fonts for Windows
and other platforms from the <a
href="http://www.alanwood.net/unicode/fonts.html">Unicode Fonts for Windows</a>
web site.</p>

<p><b><a name="lamcour">The LAMCOUR Font</a></b></p>

<p>In the past (pre-Unicode) the Linguistic Atlas developed a special phonetic
font for viewing and printing the contents of the databases. This is a standard
True Type font that is installed just like any other True Type font (see <a
href="#installing">Installing Fonts</a>).</p>

<p>This font is still available. Download the file <a
href="lamcour.ttf">lamcour.ttf</a> by right-clicking on it and selecting "Save
Target As".</a></p>

<p><b><a name="installing">Installing Fonts</a></b></p>

<ol>

  <li><p>Download the font by right-clicking on the link to it and selecting
  "Save Target As". Make a note of the folder you save this file in. (Also,
  sometimes fonts are distributed as a ZIP file. If the one you're downloading
  is, you'll need a utility like <a href="http://www.winzip.com/">WinZIP</a> or
  <a href="http://www.7-zip.org/">7-Zip</a> to extract the True Type file,
  which will have a <code>TTF</code> extension.)</p></li>

  <li><p>Click on the Start Button.</p></li>

  <li><p>Select "Settings" and "Control Panel."</p></li>

  <li><p>Double-click "Fonts."</p></li>

  <li><p>Select "File" and "Install New Font."</p></li>

  <li><p>In the boxes at the bottom of the dialog box that pops up, navigate to
  where you saved the font in the first step. When you find it, "LAMSAS Courier
  (True Type)" should appear in the top box.</p></li>

  <li><p>Click "Select All" and "OK."</p></li>

</ol>
