<html>
<head>
<title>Linguistic Atlas Projects -- Contact Information</title>
<meta content="Eric Rochester" name="generator">
<meta content="The Linguistic Atlas Projects. A collection of projects that quantitatively describe American speech patterns." name="description">
<meta content="dialects, dialectology, lane, lamsas, lancs, lags, laum, lao, lapw, lapnw, larms, linguistics, speech, pronunciation, phonology, atlas" name="keywords">
<style type="text/css">

A { text-decoration: none;
    color: #5672AC; }
A:visited { color: #82CACC; }
A:link { color: #5672AC; }
A:hover { color: #0E5EFF; }

BODY { background-color: white;
       color: black; }

.menu { font-family: sans-serif;
        font-size: 10pt;
        font-weight: bold;
        line-height: 200%; }

.submenu { font-family: sans-serif;
           font-size: 8pt;
           line-height: 150%; }

.here { font-family: sans-serif;
        font-size: 10pt;
        font-weight: bold;
        line-height: 200%;
        color: #82CACC; }

</style>
</head>
<body>
<img border="0" src="img/atlaslogo.gif" width="517" height="54"> 

<table>
<tbody>
<tr>
<td><img src="img/pixel.gif" width="132" height="1"></td>
<td><img src="img/pixel.gif" width="18" height="1"></td>
<td><img src="img/pixel.gif" width="372" height="1"></td>
</tr>

<tr>
<td width="132" valign="top"><a href="index.html" class="menu">Home</a><br>
 <a href="information.html" class="menu">Information</a><br>
 <a href="index.html" class="menu">Projects</a><br>
 <a href="survey.html" class="menu">Survey</a><br>
 <a href="utilities.html" class="menu">Utilities</a><br>
 <a href="links.html" class="menu">Links</a><br>
 <a href="$$baseold$$/help/" class="menu">Help</a> </td>
<td width="18"></td>
<td width="372" valign="top"><img border="0" src="img/infologo.gif" alt="" width="127" height="28"> 

<p>For information concerning the Linguistic Atlas Projects, please
contact:</p>

<blockquote>Dr. William Kretzschmar<br>
Linguistics Program<br>
Park Hall<br>
Baldwin Street<br>
The University of Georgia<br>
Athens, GA 30602-6205<br>
USA</blockquote>

<blockquote>Phone: 706-542-2246<br>
FAX: 706-542-2897<br>
E-mail: <a href="mailto:billk@hyde.park.uga.edu">billk@hyde.park.uga.edu</a></blockquote>

<p>For information or comments about the Linguistic Atlas Projects
website, please contact: <a href="mailto:webmaster@us.english.uga.edu">webmaster@us.english.uga.edu</a></p>
</td>
</tr>
</tbody>
</table>

<table>
<tbody>
<tr>
<td><img src="img/pixel.gif" width="179" height="1"></td>
<td><img src="img/pixel.gif" width="178" height="1"></td>
<td><img src="img/pixel.gif" width="178" height="1"></td>
</tr>

<tr>
<td align="left" class="footer"><font size="-1">July 28,
1998</font></td>
<td align="center" class="footer"><font size="-1">Copyright &#x00a9;
1998</font></td>
<td align="right" class="footer"><a href="mailto:webmaster@us.english.uga.edu"><font size="-1">webmaster@us.english.uga.edu</font></a></td>
</tr>
</tbody>
</table>
</body>
</html>