<html>
<head>
<title>Linguistic Atlas of the North Central States</title>
<meta content="Eric Rochester" name="generator">
<meta content="Linguistic Atlas of the North Central States." name="description">
<meta content="dialects, dialectology, lancs, illinois, indiana, kentucky, michigan, ohio, wisconsin, linguistics, speech, pronunciation, phonology, atlas" name="keywords">
</head>
<body alink="#0E5EFF" bgcolor="#FFFFFF" vlink="#82CACC" link="#5672AC" text="#000000">
<img border="0" src="img/logo.gif" usemap="#topnav.map" width="171" height="45"> 

<table>
<tbody>
<tr>
<td><img src="$$baseold$$/img/pixel.gif" width="132" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="18" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="372" height="1"></td>
</tr>

<tr>
<td width="132" valign="top"><a href="$$baseold$$/index.html"><img border="0" src="$$baseold$$/img/homemenuoff.gif" alt="Home Page" width="125" height="30"></a><br>
</td>
<td width="18"></td>
<td width="372"><strong>Director:</strong><br>
Originally the late Albert H. Marckwardt, now under the direction of
William A. Kretzschmar, Jr.<br>
<br>
 

<p><strong>Status of field work:</strong><br>
Complete.</p>

<p><strong>Areas Covered:</strong><br>
The states of Wisconsin, Michigan, Illinois, Indiana, Ohio, and
Kentucky, as well as the southern Ontario.</p>

<p><strong>Nature of recordings:</strong><br>
The interviewing instrument was a modified version of the worksheet
used in the Linguistic Atlas projects. The data collected from the
interviews dates from 1933 through 1978 and includes 564 field reports
with tapes of 107 interviews.</p>

<p><strong>Archives:</strong><br>
The original field books and the list manuscripts are housed with the
Linguistic Atlas Project, University of Georgia, Department of English,
University of Georgia, Athens, Georgia 30602 under the supervision of
William A. Kretzschmar, Jr. Microfilm copies are available from the
Photoduplication Services, Joseph Regenstein Library, University of
Chicago. 1100 East 57<sup>th</sup> St., Chicago, Illinois 60637.
Contact the director at billk@atlas.uga.edu.</p>

<p>&#x00a0;<strong>Selected bibliography:</strong></p>

<ul>
<li><a id="pederson1965" name="pederson1965">Pederson, Lee A. 1965.</a>
"The Pronunciation of English in Metropolitan Chicago." <em>PADS</em>
44.</li>

<li><a id="shuy1962" name="shuy1962">Shuy, Roger W. 1962.</a> "The
Northern-Midland Dialect Boundary in Illinois." <em>PADS</em> 38.</li>

<li><a id="wolfram1969" name="wolfram1969">Wolfram, W. 1969.</a> <em>A
Sociolinguistic Description of Detroit Negro Speech.</em> Washington,
D.C.: Center for Applied Linguistics.</li>

<li><a id="wood1971" name="wood1971">Wood, Gordon. 1971.</a>
<em>Vocabulary Change.</em> Carbondale and Edwardsville: Southern
Illinois University Press.</li>

<li>Also, see the <a href="$$baseold$$/links.html">Links Page</a>. . . .</li>
</ul>
</td>
</tr>
</tbody>
</table>

<table>
<tbody>
<tr>
<td><img src="$$baseold$$/img/pixel.gif" width="179" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="178" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="178" height="1"></td>
</tr>

<tr>
<td align="left" class="footer"><font size="-1">July 28,
1998</font></td>
<td align="center" class="footer"><font size="-1">Copyright &#x00a9;
1998</font></td>
<td align="right" class="footer"><a href="mailto:webmaster@us.english.uga.edu"><font size="-1">webmaster@us.english.uga.edu</font></a></td>
</tr>
</tbody>
</table>

<map id="topnav.map" name="topnav.map">
<area alt="Previous" href="$$baseold$$/index.html" coords="498,8,516,24">
<!--      <area coords="516,8,534,24" href="information.html" alt="Next">-->
</map>
</body>
</html>