<html>
<head>
<title>Linguistic Atlas Projects -- Help</title>
<meta content="Eric Rochester" name="generator">
<meta content="The Linguistic Atlas Projects. A collection of projects that quantitatively describe American speech patterns." name="description">
<meta content="dialects, dialectology, lane, lamsas, lancs, lags, laum, lao, lapw, lapnw, larms, linguistics, speech, pronunciation, phonology, atlas" name="keywords">
</head>
<body alink="#0E5EFF" bgcolor="#FFFFFF" vlink="#82CACC" link="#5672AC" text="#000000">
<img border="0" src="$$baseold$$/img/atlaslogo.gif" width="517" height="54"> 

<table>
<tbody>
<tr>
<td><img src="$$baseold$$/img/pixel.gif" width="132" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="18" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="372" height="1"></td>
</tr>

<tr>
<td width="132" valign="top"><a href="$$baseold$$/index.html"><img border="0" src="$$baseold$$/img/homemenuoff.gif" alt="Home Page" width="125" height="30"></a><br>
 <a href="$$baseold$$/information.html"><img border="0" src="$$baseold$$/img/infomenuoff.gif" alt="Information" width="125" height="30"></a><br>
 <a href="$$baseold$$/index.html"><img border="0" src="$$baseold$$/img/projmenuoff.gif" alt="Projects" width="125" height="30"></a><br>
 <a href="$$baseold$$/survey.html"><img border="0" src="$$baseold$$/img/survmenuoff.gif" alt="Survey" width="125" height="30"></a><br>
 <a href="$$baseold$$/utilities.html"><img border="0" src="$$baseold$$/img/utilmenuoff.gif" alt="Utilities" width="125" height="30"></a><br>
 <a href="$$baseold$$/links.html"><img border="0" src="$$baseold$$/img/linkmenuoff.gif" alt="Links" width="125" height="30"></a> </td>
<td width="18"></td>
<td width="372" valign="top"><img border="0" src="$$baseold$$/img/helplogo.gif" alt="" width="57" height="33"> 

<ul>
<li><a href="navigating.html">Navigating This Site</a></li>

<li><a href="faq.html">FAQ</a></li>

<li><a href="phonetics.html">Seeing the Phonetic Fields</a></li>
</ul>
</td>
</tr>
</tbody>
</table>

<table>
<tbody>
<tr>
<td><img src="$$baseold$$/img/pixel.gif" width="179" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="178" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="178" height="1"></td>
</tr>

<tr>
<td align="left" class="footer"><font size="-1">July 28,
1998</font></td>
<td align="center" class="footer"><font size="-1">Copyright &#x00a9;
1998</font></td>
<td align="right" class="footer"><a href="mailto:webmaster@us.english.uga.edu"><font size="-1">webmaster@us.english.uga.edu</font></a></td>
</tr>
</tbody>
</table>
</body>
</html>