<p><b>Utilities</b></p>

<p>Currently, this just contains information about using fonts with the
phonetic data:</p>

<ul>

<li><a href="$$baseurl$$/utils/fonts.html">Fonts</a>: This page contains <a
href="http://www.unicode.org/">Unicode</a> fonts and about the older LAMSAS
Courier font.</li>

</ul>

<!-- vim: set filetype=html: -->
