<p><b>Density Estimate Map: afternoon  (page 2, question 4)</b></p>

<p>
The target response for page 2, question 4 is 'afternoon'. The interviewers asked the informants: What do you call the part of the day before supper? What do you call the part of the day after you stop saying Good Morning? The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Afternoon</td><td>830</td></tr>
<tr><td>Evening</td><td>706</td></tr>
<tr><td>Good evening</td><td>66</td></tr>
<tr><td>Good afternoon</td><td>40</td></tr>
</table>

<center><img src="afternoon_2_4.jpg"></center>

<!-- vim: set filetype=html: -->
