<p><b>Density Estimate Map: bureau  (page 9, question 2)</b></p>

<p>
The target response for page 9, question 2 is 'chest of drawers'. The interviewer asked the informants: The piece of furniture in your bedroom that has drawers in it and that you put clothes in. Did you ever hear of an old-fashioned piece with any other names? The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Bureau</td><td>1036</td></tr>
<tr><td>Dresser</td><td>343</td></tr>
<tr><td>Chest of drawers</td><td>223</td></tr>
<tr><td>Bureaus</td><td>67</td></tr>
</table>

<center><img src="bureau_9_2.jpg"></center>

<!-- vim: set filetype=html: -->
