<p><b>Density Estimate Map: clothes closet  (page 9, question 5)</b></p>

<p>
The target response for page 9, question 5 is 'clothes closet'. The interviewer asked the informants: A little room off the bedroom to hang up your clothes in? The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Closet</td><td>730</td></tr>
<tr><td>Clothes closet</td><td>242</td></tr>
<tr><td>Clothespress</td><td>208</td></tr>
<tr><td>Closets</td><td>103</td></tr>  
</table>

<center><img src="clothes_closet_9_5.jpg"></center>

<!-- vim: set filetype=html: -->
