<p><b>Density Estimate Map: half past  (page 4, question 4)</b></p>

<p>
The target response for p 4, question 4 is 'half past seven'.  The fieldworker asked the informants to fill in the following blank: "midway between seven o'clock and eight o'clock you'd say it's _____".  The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Half past seven</td><td>950</td></tr>
<tr><td>Half after seven</td><td>125</td></tr>
<tr><td>Seven thirty</td><td>104</td></tr>
</table>

<center><img src="half_past_4_4.jpg"></center>

<!-- vim: set filetype=html: -->
