<p><b>Density Estimate Map: Sunday before last  (page 3, question 6)</b></p>

<p>
The target response for page 3, question 6 is 'Sunday a week'. The interviewer asked the informants: If somebody came on Sunday, the last Sunday, if he came a week earlier than last Sunday, you'd say he cam here ____. The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Sunday before last</td><td>488</td></tr>
<tr><td>Sunday week</td><td>143</td></tr>
<tr><td>Sunday a week ago</td><td>137</td></tr>
<tr><td>Sunday a week</td><td>87</td></tr>
<tr><td>A week ago Sunday</td><td>53</td></tr>
</table>

<center><img src="Sunday_before_last_3_6.jpg"></center>

<!-- vim: set filetype=html: -->
