<html>
<head>
<title>Linguistic Atlas Projects -- Information</title>
<meta content="Eric Rochester" name="generator">
<meta content="The Linguistic Atlas Projects. A collection of projects that quantitatively describe American speech patterns." name="description">
<meta content="dialects, dialectology, lane, lamsas, lancs, lags, laum, lao, lapw, lapnw, larms, linguistics, speech, pronunciation, phonology, atlas" name="keywords">
<style type="text/css">

A { text-decoration: none;
    color: #5672AC; }
A:visited { color: #82CACC; }
A:link { color: #5672AC; }
A:hover { color: #0E5EFF; }

BODY { background-color: white;
       color: black; }

.menu { font-family: sans-serif;
        font-size: 10pt;
        font-weight: bold;
        line-height: 200%; }

.submenu { font-family: sans-serif;
           font-size: 8pt;
           line-height: 150%; }

.here { font-family: sans-serif;
        font-size: 10pt;
        font-weight: bold;
        line-height: 200%;
        color: #82CACC; }

</style>
</head>
<body>
<img border="0" src="img/atlaslogo.gif" width="517" height="54"> 

<table>
<tbody>
<tr>
<td><img src="img/pixel.gif" width="132" height="1"></td>
<td><img src="img/pixel.gif" width="18" height="1"></td>
<td><img src="img/pixel.gif" width="372" height="1"></td>
</tr>

<tr>
<td width="132" valign="top"><a href="index.html" class="menu">Home</a><br>
 <span class="here">Information</span><br>
 <a href="index.html" class="menu">Projects</a><br>
 <a href="survey.html" class="menu">Survey</a><br>
 <a href="utilities.html" class="menu">Utilities</a><br>
 <a href="links.html" class="menu">Links</a><br>
 <a href="help/" class="menu">Help</a><br>
 </td>
<td width="18"></td>
<td width="372"><img border="0" src="img/infologo.gif" alt="" width="127" height="28"> 

<p><a href="contacting.html"><font size="+1"><b>Contact
Information</b></font></a></p>

<p><font size="+1"><b>The Linguistic Atlas Projects</b></font></p>

<ul>
<li><a href="lags/">Linguistic Atlas of the Gulf States</a></li>

<li><a href="lamsas/information.html">Linguistic Atlas of the Middle
and South Atlantic States</a></li>

<li><a href="lane/">Linguistic Atlas of the Northeast</a></li>

<li><a href="lancs/">Linguistic Atlas of the North Central
States</a></li>

<li><a href="lao/">Linguistic Atlas of Oklahoma</a></li>

<li><a href="lapnw/">Linguistic Atlas of the Pacific Northwest</a></li>

<li><a href="lapw/">Linguistic Atlas of the Pacific West</a></li>

<li><a href="larms/">Linguistic Atlas of the Rocky Mountain
States</a></li>

<li><a href="laum/">Linguistic Atlas of the Upper Midwest</a></li>
</ul>

<p><font size="+1"><b>The Databases</b></font></p>

<ul>
<li><a href="fields.html">Explanation of the fields</a></li>
</ul>

<p><a href="links.html"><font size="+1"><b>For More
Information</b></font></a></p>

<ul>
<li><a href="links.html#histories">Histories and General Studies of
English</a>:

<ul>
<li><a href="links.html#gen-hist">General Historical Works</a></li>

<li><a href="links.html#periods">Works about English at Different
Periods</a></li>

<li><a href="links.html#grammar">English Grammar, Word Formation, and
Pronunciation</a></li>

<li><a href="links.html#global">Varieties of English around the
World</a></li>
</ul>
</li>

<li><a href="links.html#american">American English</a>:

<ul>
<li><a href="links.html#am-histories">Histories and General
Studies</a></li>

<li><a href="links.html#am-dialects">American English Dialects</a></li>

<li><a href="links.html#am-atlas">American Linguistic Atlas
Studies</a></li>

<li><a href="links.html#am-dictionaries">Dictionaries specializing in
American English</a></li>
</ul>
</li>

<li><a href="links.html#other">Other Useful Studies</a>:

<ul>
<li><a href="links.html#biblio">Bibliographies</a></li>

<li><a href="links.html#general">General Linguistics Works</a></li>

<li><a href="links.html#dialectology">Dialectology</a></li>

<li><a href="links.html#socio">Sociolinguistics</a></li>
</ul>
</li>

<li><a href="links.html#journals">Journals</a></li>

<li><a href="links.html#web">Web Sites</a></li>
</ul>
</td>
</tr>
</tbody>
</table>

<table>
<tbody>
<tr>
<td><img src="img/pixel.gif" width="179" height="1"></td>
<td><img src="img/pixel.gif" width="178" height="1"></td>
<td><img src="img/pixel.gif" width="178" height="1"></td>
</tr>

<tr>
<td align="left" class="footer"><font size="-1">July 28,
1998</font></td>
<td align="center" class="footer"><font size="-1">Copyright &#x00a9;
1998</font></td>
<td align="right" class="footer"><a href="mailto:webmaster@us.english.uga.edu"><font size="-1">webmaster@us.english.uga.edu</font></a></td>
</tr>
</tbody>
</table>
</body>
</html>