<html>
<head>
<title>Linguistic Atlas Projects -- Links</title>
<meta content="Eric Rochester" name="generator">
<meta content="The Linguistic Atlas Projects. A collection of projects that quantitatively describe American speech patterns." name="description">
<meta content="dialects, dialectology, lane, lamsas, lancs, lags, laum, lao, lapw, lapnw, larms, linguistics, speech, pronunciation, phonology, atlas" name="keywords">
<style type="text/css">

A { text-decoration: none;
    color: #5672AC; }
A:visited { color: #82CACC; }
A:link { color: #5672AC; }
A:hover { color: #0E5EFF; }

BODY { background-color: white;
       color: black; }

.menu { font-family: sans-serif;
        font-size: 10pt;
        font-weight: bold;
        line-height: 200%; }

.submenu { font-family: sans-serif;
           font-size: 8pt;
           line-height: 150%; }

.here { font-family: sans-serif;
        font-size: 10pt;
        font-weight: bold;
        line-height: 200%;
        color: #82CACC; }

.heading { color: black;
           font-weight: bold; }

</style>
</head>
<body>
<img border="0" src="img/atlaslogo.gif" width="517" height="54"> 

<table>
<tbody>
<tr>
<td><img src="img/pixel.gif" width="132" height="1"></td>
<td><img src="img/pixel.gif" width="18" height="1"></td>
<td><img src="img/pixel.gif" width="372" height="1"></td>
</tr>

<tr>
<td width="132" valign="top"><a href="index.html" class="menu">Home</a><br>
 <a href="information.html" class="menu">Information</a><br>
 <a href="index.html" class="menu">Projects</a><br>
 <a href="survey.html" class="menu">Survey</a><br>
 <a href="utilities.html" class="menu">Utilities</a><br>
 <span class="here">Links</span><br>
 <a href="help/" class="menu">Help</a><br>
</td>
<td width="18"></td>
<td width="372"><img border="0" src="img/linklogo.gif" alt="" width="63" height="28"> 

<p align="CENTER"><font size="+2"><strong><em>American English and
Dialectology, Select Bibliography</em></strong> (rev. 3/99)</font></p>

<p><u>General works for the non-specialist audience</u></p>

<p>American English is a fascinating subject that, as with many things,
can be appreciated at many levels. For those who are not interested in
college-level academic studies, a widely available resource is the
article on American English in the Microsoft Encarta computer
encyclopedia (Encarta 99 and following). Two books from the 1950s,
Marckwardt's <em>American English</em> and Pyles' <em>Words and Ways of
American English</em>, remain very readable for a general audience,
although they do not contain information about recent change in
American English. Another classic work for the general audience is
Mencken's <em>The American Language</em>, which is best appreciated in
its one-volume abridged edition (1963). Two dictionaries that treat
American English specifically are Mathews' <em>Dictionary of
Americanisms</em> (1951) and Cassidy's <em>Dictionary of American
Regional English</em> (now complete through the third volume). A
readable short volume which treats the importance of American dialects
in primary and secondary education is Wolfram and Christian's
<em>Dialects and Education</em> (1989). Among periodicals, <em>English
Today</em> is readable by a general audience, as are most articles in
<em>American Speech</em>. The latter is published by the American
Dialect Society, to which many non-academics belong as well as the
usual crowd of professors, students, lexicographers, and others
centrally interested in language studies.</p>

<p>Adventurous souls may wish to graduate from books for the general
audience to the more academic treatments below. Some of these volumes
are pretty technical, but many others will be quite accessible for
those who have spent a little time becoming familiar with the subject
by reading one or more of the titles mentioned above.</p>

<p align="CENTER"><a class="heading" id="histories" name="histories"><font size="+1">1. Histories and General Studies of
English</font></a></p>

<p><a class="heading" id="gen-hist" name="gen-hist">1.1 General
Historical Works</a></p>

<p>Baugh, Cable. <em>A History of the English Language</em>. 3rd ed.
NJ: Prentice-Hall, 1978.</p>

<p>Pyles, Algeo. <em>The Origins and Development of the English
Language</em>. 4th ed. NY: HBJ, 1992.</p>

<p>G&#x00f6;rlach. <em>The Linguistic History of English.</em> London:
Macmillan, 1997<em>.</em></p>

<p>vrr. <em>The Cambridge History of the English Language</em>.
Cambridge: CambridgeUP, 1992-.</p>

<p>Serjeantson. <em>A History of Foreign Words in English</em>. London:
Tr&#x00fc;bner, 1935.</p>

<p>Nielsen. <em>The Germanic Languages: Origins and Early Dialectal
Interrelations</em>. Tuscaloosa: UAlabamaPr, 1989.</p>

<p>Lass. <em>Approaches to English Historical Linguistics</em>. New
York: Holt, Rinehart, Winston, 1969.</p>

<p>Visser. <em>An Historical Syntax of the English Language</em>.
Leiden: Brill, 1963-73.</p>

<p><a class="heading" id="periods" name="periods">1.2 Works about
English at Different Periods</a></p>

<blockquote><i>[The history of the English language is conventionally
divided into Old English (500AD-1100), Middle English (1100-1500),
Early Modern English (1500-1700), and Modern English
(1700-).]</i></blockquote>

<p>Moore, Knott. <em>The Elements of Old English</em>. Ann Arbor: Wahr,
1955.</p>

<p>Mitchell, Robinson. <em>A Guide to Old English</em>. Toronto:
UTorontoPr, 1982.</p>

<p>Campbell. <em>Old English Grammar</em>. Oxford: OUP, 1959.</p>

<p>Mitchell. <em>Old English Syntax</em>. Oxford: OUP, 1985.</p>

<p>Moore, Marckwardt. <em>Historical Outline of English Sounds and
Inflections</em>. Ann Arbor: Wahr, 1951.</p>

<p>Moss&#x00e9;, tr. Walker. <em>Handbook of Middle English</em>.
Baltimore: Johns HopkinsUPr, 1952.</p>

<p>Peters. <em>Chaucer's Language</em>. <em>Journal of Eng. Ling. Occ.
Mon.</em> 1 (1980).</p>

<p>Mustanoja. <em>Middle English Syntax</em>. Helsinki: S. Neophil.,
1960.</p>

<p>McIntosh, Samuels, et al. <em>Linguistic Atlas of Late Mediaeval
English</em>. Aberdeen: AberdeenUPr, 1986.</p>

<p>Barber. <em>Early Modern English</em>. London: Deutsch, 1976.</p>

<p>G&#x00f6;rlach. <em>Introduction to Early Modern English</em>.
Cambridge: CUP, 1991.</p>

<p>Ellis. <em>On Early English Pronunciation</em>. London:
Tr&#x00fc;bner, 1869-89.</p>

<p>Dobson. <em>English Pronunciation, 1500-1700.</em> Oxford: OUP,
1968.</p>

<p>K&#x00f6;keritz. <em>Shakespeare's Pronunciation</em>. New Haven:
YaleUPr, 1953.</p>

<p>Peters. Shakespeare's Speech, <em>Journal of English
Linguistics</em> 23 (1995), 245-55.</p>

<p>Peters. Early Modern English Consonants, <em>Journal of English
Linguistics</em> 24 (1996), 45-51.</p>

<p><a class="heading" id="grammar" name="grammar">1.3 English Grammar,
Word Formation, and Pronunciation</a></p>

<p>Jesperson. <em>A Modern English Grammar</em>. Heidelberg: Winter,
1909-49.</p>

<p>Quirk et al. <em>A Comprehensive Grammar of Contemporary
English</em>. London: Longman, 1986.</p>

<p>Marchand. <em>The Categories and Types of Present-Day English Word
Formation</em>. 2nd ed. Munich: Beck, 1969.</p>

<p>Adams. <em>An Introduction to Modern English Word-Formation</em>.
Oxford: Blackwell, 1973.</p>

<p>Wells. <em>Accents of English</em>. Cambridge: CUP, 1982.</p>

<p>Gimson. <em>An Introduction to the Pronunciation of English</em>.
3rd ed. London: Arnold, 1980.</p>

<p>Upton, Kretzschmar, and Konopka. <em>Oxford Concise Dictionary of
Pronunciation</em>. Oxford: OUP, forthcoming.</p>

<p><a class="heading" id="global" name="global">1.4 Varieties of
English around the World</a></p>

<p>Orton et al. <em>Survey of English Dialects</em>. Leeds: Arnold,
1962-71.</p>

<p>Orton and Wright. <em>A Word Geography of England</em>. London:
Seminar, 1974.</p>

<p>Clarke. <em>Focus on Canada</em>. Philadelphia: John Benjamins,
1993. [see also other volumes in the <em>Focus on</em> . . . series
from John Benjamins, gen. ed. Edgar Schneider]</p>

<p>Avis et al. <em>Dictionary of Canadianisms</em>. Toronto: Gage,
1967.</p>

<p>Schneider. <em>Englishes Around the World</em>, I &amp; II.
Amsterdam: Benjamins, 1997.</p>

<p>Bailey and Goerlach, eds. <em>English as a World Language</em>. Ann
Arbor: UMichPr, 1982</p>

<p align="CENTER"><a class="heading" id="american" name="american"><font size="+1"><u>2. American
English</u></font></a></p>

<p><a class="heading" id="am-histories" name="am-histories">2.1
Histories and General Studies</a></p>

<p>Marckwardt. <em>American English</em>. NY: OxfordUPr, 1958.</p>

<p>Pyles. <em>Words and Ways of American English</em>. NY: Random
House,1952.</p>

<p>Francis. <em>The Structure of American English</em>. NY: Ronald,
1958.</p>

<p>Mencken, ed. McDavid. <em>The American Language</em>. NY: Knopf,
1963.</p>

<p>Wolfram and Schilling-Estes. <em>American English.</em> Oxford:
Blackwell, 1998.</p>

<p>Schneider. <em>Focus on the USA</em>. Philadelphia: John Benjamins,
1996.</p>

<p>Kurath. <em>A Phonology and Prosody of Modern English</em>. Ann
Arbor: UMichiganPr, 1964.</p>

<p>Bronstein. <em>The Pronunciation of American English</em>. NJ:
Prentice-Hall, 1960.</p>

<p>Mathews. <em>The Beginnings of American English: Essays and
Comments</em>. Chicago:UChicagoPr, 1931.</p>

<p>Fries. <em>American English Grammar</em>. NY: Appleton-Century,
1940.</p>

<p>Francis and Kucera. <em>Frequency Analysis of English Usage</em>.
Boston: Houghton-Mifflin, 1982.</p>

<p><a class="heading" id="am-dialects" name="am-dialects">2.2 American
English Dialects</a></p>

<p>Kurath. <em>A Word Geography of the Eastern United States</em>. Ann
Arbor: UMichiganPr, 1949.</p>

<p>Kurath, McDavid. <em>The Pronunciation of English in the Atlantic
States</em>. Ann Arbor: UMichiganPr, 1961 (rpt. UAlabamaPr, 1982).</p>

<p>Atwood. <em>A Survey of Verb Forms in the Eastern United
States.</em> Ann Arbor: UMichiganPr, 1953.</p>

<p>Reed. <em>Dialects of American English</em>. rev. ed. Amherst:
UMassachusettsPr, 1977.</p>

<p>Wolfram. <em>Dialects and American English</em>. NJ: Prentice-Hall,
1991.</p>

<p>Carver. <em>American Regional Dialects: A Word Geography</em>. Ann
Arbor: UMichiganPr, 1987.</p>

<p>McDavid, ed. Kretzschmar. <em>Dialects in Culture</em>. AL:
UAlabamaPr, 1979.</p>

<p>McDavid, ed. Dil. <em>Varieties of American English</em>. Stanford:
StanfordUPr, 1980.</p>

<p>Glowka, Lance. <em>Language Variation in North American English:
Research and Teaching</em>. NY: MLA, 1993.</p>

<p>Frazer. <em>Heartland English: Variation and Transition in the
American Midwest</em>. Tuscaloosa: UalabamaPr, 1993.</p>

<p>Bernstein, Nunnally, Sabino. <em>Language Variety in the South
Revisited</em>. Tuscaloosa: UAlabamaPr, 1997.</p>

<p>McDavid, Blair. <em>The Mirth of a Nation</em>. Minneapolis:
UMinnesotaPr, 1983. [dialect humor]</p>

<p>Ives. <em>A Theory of Literary Dialect</em>. Tulane Studies in
English 2 (1950), 137--82.</p>

<p>Maurer, ed. Futrell and Wordell. <em>Language of the
Underworld</em>. Lexington: UKentuckyPr, 1981.</p>

<p>Schneider. <em>American Earlier Black English</em>. Tuscaloosa:
UAlabamaPr, 1989.</p>

<p>Mufwene, Rickford, Bailey, Baugh. <em>African American English:
Structure, History, and Use.</em> London: Routledge, 1998.</p>

<p><a class="heading" id="am-atlas" name="am-atlas">2.3 American
Linguistic Atlas Studies</a></p>

<p>Kurath et al. <em>Linguistic Atlas of New England</em>. Providence:
ACLS, 1939-43. [LANE]</p>

<p>Kurath et al. <em>Handbook of the Linguistic Geography of New
England</em>. 2nd ed. NY: AMS, 1973.</p>

<p>Allen. <em>Linguistic Atlas of the Upper Midwest</em>. Minneapolis:
UMinnesotaPr, 1973-76. [LAUM]</p>

<p>Kretzschmar et al. <em>Handbook of the Linguistic Atlas of the
Middle and South Atlantic States</em>. Chicago: UChicagoPr, 1994.
[LAMSAS]</p>

<p>Pederson et al. <em>Linguistic Atlas of the Gulf States</em>. 7
vols. Athens: UGeorgiaPr, 1986--92.</p>

<p>Pederson et al. <em>Linguistic Atlas of the Gulf States: Concordance
to the Basic Materials</em>. Ann Arbor: Univ. Microfilms Int.,
1986.</p>

<p>Pederson et al. <em>A Manual for Dialect Research in the Southern
States</em>. 2nd ed. Tuscaloosa: UAlabamaPr, 1974.</p>

<p>Preston. <em>American Dialect Research</em>. Philadelphia: John
Benjamins, 1993.</p>

<p><a class="heading" id="am-dictionaries" name="am-dictionaries">2.4
Dictionaries specializing in American English</a></p>

<p>Craigie, Hulbert. <em>Dictionary of American English</em>. Chicago:
UChicagoPr, 1936-44. [DAE]</p>

<p>Mathews. <em>Dictionary of Americanisms</em>. Chicago: UChicagoPr,
1951.</p>

<p>Cassidy et al. <em>Dictionary of American Regional English</em>.
Cambridge: Belknap/HarvardUP, 1985-. [DARE]</p>

<p>Wentworth, Flexner. <em>Dictionary of American Slang</em>. NY:
Crowell, 1975.</p>

<p>Lighter. <em>Historical Dictionary of American Slang</em>. NY:
Random House, 1994-.</p>

<p align="CENTER"><a class="heading" id="other" name="other"><font size="+1">3. Other Useful Studies</font></a></p>

<p><a class="heading" id="biblio" name="biblio">3.1
Bibliographies</a></p>

<p>Kennedy. <em>Bibliography of Writing on the English Language from
the Beginning of Printing to the End of 1922.</em> Cambridge, New
Haven: HarvardUPr, YaleUPr, 1927.</p>

<p>McDavid. <em>"American English: A Bibliographic Essay." American
Studies International</em> 17.2 (1979)</p>

<p>G&#x00f6;rlach et al. <em>A Bibliography of Writings on Varieties of
English 1965-83.</em> Amsterdam: John Benjamins, 1984.</p>

<p>McMillan, Montgomery. <em>Annotated Bibliography of Southern
American English</em>. Tuscaloosa: UAlabamaPr, 1989.</p>

<p><a class="heading" id="general" name="general">3.2 General
Linguistics Works</a></p>

<p>de Saussure, trans. Harris. <em>Course in General Linguistics.</em>
LaSalle, IL: Open Court, 1983.</p>

<p>Bloomfield. <em>Language</em>. NY: Holt, 1933.</p>

<p>Robins. <em>General Linguistics: An Introductory Survey</em>. 4th
ed. London: Longman, 1988.</p>

<p>Gelb. <em>A Study of Writing</em>. Chicago: UChicagoPR, 1963.
[scripts]</p>

<p><a class="heading" id="dialectology" name="dialectology">3.3
Dialectology</a></p>

<p>Kurath. <em>Studies in Area Linguistics</em>. Bloomington:
IndianaUPr, 1972.</p>

<p>Davis. <em>English Dialectology: An Introduction</em>. Tuscaloosa:
UAlabamaPR, 1983.</p>

<p>Francis. <em>Dialectology: An Introduction</em>. London: Longman,
1983.</p>

<p>Chambers, Trudgill. <em>Dialectology.</em> Cambridge: CUP, 1980.</p>

<p>Allen, Linn. <em>Dialect and Language Variation</em>. Orlando:
Academic, 1986.</p>

<p>Kretzschmar et al. <em>Computer Methods in Dialectology. JEngL</em>
22.1 (1989[1990]).</p>

<p>Davis. <em>Statistics in Dialectology.</em> Tuscaloosa: UAlabamaPr,
1990.</p>

<p>Preston. <em>Perceptual Dialectology</em>. Dordrecht: Foris,
1989.</p>

<p><a class="heading" id="socio" name="socio">3.4
Sociolinguistics</a></p>

<p>Labov. <em>Sociolinguistic Patterns</em> and <em>Language in the
Inner City.</em> Philadelphia: UPennsylvaniaPr, 1972.</p>

<p>Labov. <em>Principles of Linguistic Change</em>. Oxford: Blackwell,
1994.</p>

<p>Milroy, L. <em>Language and Social Networks.</em> 2nd ed. Oxford:
Blackwell, 1987.</p>

<p>Wolfram, Fasold. <em>The Study of Social Dialects in American
English</em>. NJ: Prentice-Hall, 1974.</p>

<p>Fasold. <em>The Sociolinguistics of Society</em>. Oxford: Blackwell,
1984.</p>

<p>Fasold. <em>The Sociolinguistics of Language</em>. Oxford:
Blackwell, 1990.</p>

<p>Wardhaugh. <em>An Introduction to Sociolinguistics</em>. 2nd ed.
Oxford: Blackwell, 1992.</p>

<p>Chambers. <em>Sociolinguistic Theory</em>. Oxford: Blackwell,
1995.</p>

<p>Milroy, J. <em>Linguistic Variation and Change</em>. Oxford:
Blackwell, 1992.</p>

<p>Nevalainen and Raumolin-Brunberg. <em>Sociolinguistics and Language
History</em>. Amsterdam: Rodopi, 1996.</p>

<p>Romaine. <em>Socio-historical Linguistics</em>. Cambridge: CUP,
1982.</p>

<p>Romaine. <em>Sociolinguistic Variation in Speech Communities</em>.
London: Arnold, 1982.</p>

<p>Wolfram, Christian. <em>Dialects and Education</em>. NJ:
Prentice-Hall, 1989.</p>

<p>Milroy, Milroy. <em>Authority in Language.</em> 2<sup>nd</sup> ed.
London: Routledge, 1992.</p>

<p>Lippi-Green. <em>English with an Accent: Language, Ideology, and
Discrimination in the United States.</em> London: Routledge.</p>

<p align="center"><a class="heading" id="journals" name="journals"><font size="+1"><b>Journals</b></font></a></p>

<p><em>American Speech , Journal of English Linguistics , Pubs. of the
American Dialect Society , Language Variation and Change, Language in
Society, English World-Wide, English Today.</em></p>

<p align="center"><a class="heading" id="web" name="web"><font size="+1"><b>Web sites</b></font></a></p>

<p><a href="http://us.english.uga.edu">http://us.english.uga.edu</a>,
<a href="http://www.ling.upenn.edu/phono_atlas/home.html">http://www.ling.upenn.edu/phono_atlas/home.html</a></p>
</td>
</tr>
</tbody>
</table>

<table>
<tbody>
<tr>
<td><img src="img/pixel.gif" width="179" height="1"></td>
<td><img src="img/pixel.gif" width="178" height="1"></td>
<td><img src="img/pixel.gif" width="178" height="1"></td>
</tr>

<tr>
<td align="left" class="footer"><font size="-1">July 28,
1998</font></td>
<td align="center" class="footer"><font size="-1">Copyright &#x00a9;
1998</font></td>
<td align="right" class="footer"><a href="mailto:webmaster@us.english.uga.edu"><font size="-1">webmaster@us.english.uga.edu</font></a></td>
</tr>
</tbody>
</table>
</body>
</html>