<p><b>Density Estimate Map: feet  (page 7, question 7)</b></p>

<p>
The target response for page 7, question 7 is 'feet'. The interviewer asked the informants: Speaking of rooms and their height, you say this room is about nine ____. The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Feet</td><td>574</td></tr>
<tr><td>Feet high</td><td>350</td></tr>
<tr><td>Foot</td><td>190</td></tr>
<tr><td>Foot high</td><td>151</td></tr>
</table>

<center><img src="feet_7_7.jpg"></center>

<!-- vim: set filetype=html: -->
