<p><b>Density Estimate Map: fine  (page 5, question 3)</b></p>

<p>
The target response for page 5, question 3 is  'nice day'. The interviewer asked the informants: On a day when the sun is shining and there are o clouds in the sky, what kind of day do you say that is? If you like the weather out, you'd say, "It's a ____ day". The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Nice day</td><td>331</td></tr>
<tr><td>Fine day</td><td>291</td></tr>
<tr><td>Pretty day</td><td>257</td></tr>
<tr><td>Pretty</td><td>194</td></tr>
<tr><td>Pleasant day</td><td>90</td></tr>
<tr><td>Beautiful day</td><td>69</td></tr>
<tr><td>Lovely day</td><td>46</td></tr>
</table>

<center><img src="fine_5_3.jpg"></center>

<!-- vim: set filetype=html: -->
