<p><b>Density Estimate Maps</b></p>

<p>Density estimate maps provide an easy way to visualize the data. Here are a
list of density estimate maps we have created in the past:</p>

<ul>
<li><a href="a_week_ago_Sunday_3_6.html">a week ago Sunday </a> (page 3, question 6)</li>
<li><a href="a_week_from_Sunday_3_7.html">a week from Sunday </a> (page 3, question 7)</li>
<li><a href="afternoon_2_4.html">afternoon </a> (page 2, question 4)</li>
<li><a href="andirons_8_3.html">andirons </a> (page 8, question 3)</li>
<li><a href="attic_9_7.html">attic </a> (page 9, question 7)</li>
<li><a href="back_stick_8_5.html">back stick </a> (page 8, question 5)</li>
<li><a href="backlog_8_5.html">backlog </a> (page 8, question 5)</li>
<li><a href="bench_9_1.html">bench </a> (page 9, question 1)</li>
<li><a href="black_frost_7_4.html">black frost </a> (page 7, question 4)</li>
<li><a href="blew_6_3.html">blew </a> (page 6, question 3)</li>
<li><a href="blind_s__9_4.html">blind(s) </a> (page 9, question 4)</li>
<li><a href="blowed_6_3.html">blowed </a> (page 6, question 3)</li>
<li><a href="bottom_29_3.html">bottom 2</a> (page 9, question 3)</li>
<li><a href="break_ing__5_4.html">break(ing) </a> (page 5, question 4)</li>
<li><a href="breezing_7_2.html">breezing </a> (page 7, question 2)</li>
<li><a href="bunk_29_2.html">bunk 2</a> (page 9, question 2)</li>
<li><a href="bureau_9_2.html">bureau </a> (page 9, question 2)</li>
<li><a href="calming_7_3.html">calming </a> (page 7, question 3)</li>
<li><a href="ceasing_7_3.html">ceasing </a> (page 7, question 3)</li>
<li><a href="changing_5_5.html">changing </a> (page 5, question 5)</li>
<li><a href="chest_of_drawers_9_2.html">chest of drawers </a> (page 9, question 2)</li>
<li><a href="chifforobe_9_6.html">chifforobe </a> (page 9, question 6)</li>
<li><a href="chunk_8_5.html">chunk </a> (page 8, question 5)</li>
<li><a href="clear_ing__5_4.html">clear(ing) </a> (page 5, question 4)</li>
<li><a href="closet_9_5.html">closet </a> (page 9, question 5)</li>
<li><a href="clothes_closet_9_5.html">clothes closet </a> (page 9, question 5)</li>
<li><a href="clothespress_9_5.html">clothespress </a> (page 9, question 5)</li>
<li><a href="cloudburst_6_1.html">cloudburst </a> (page 6, question 1)</li>
<li><a href="clouding_5_5.html">clouding </a> (page 5, question 5)</li>
<li><a href="come_up_3_3.html">come up </a> (page 3, question 3)</li>
<li><a href="cook_room_9_8.html">cook room </a> (page 9, question 8)</li>
<li><a href="couch_9_1.html">couch </a> (page 9, question 1)</li>
<li><a href="daylight_3_2.html">daylight </a> (page 3, question 2)</li>
<li><a href="dog_irons_8_3.html">dog irons </a> (page 8, question 3)</li>
<li><a href="downpour_6_1.html">downpour </a> (page 6, question 1)</li>
<li><a href="dresser_9_2.html">dresser </a> (page 9, question 2)</li>
<li><a href="drizzle__drizzling__6_7.html">drizzle (drizzling) </a> (page 6, question 7)</li>
<li><a href="drought_7_1.html">drought </a> (page 7, question 1)</li>
<li><a href="drouth_7_1.html">drouth </a> (page 7, question 1)</li>
<li><a href="dry_spell_7_1.html">dry spell </a> (page 7, question 1)</li>
<li><a href="dying_7_3.html">dying </a> (page 7, question 3)</li>
<li><a href="electric_al__storm_6_2.html">electric(al) storm </a> (page 6, question 2)</li>
<li><a href="evening_2_4.html">evening </a> (page 2, question 4)</li>
<li><a href="evening_2_6.html">evening </a> (page 2, question 6)</li>
<li><a href="fair_ing__5_4.html">fair(ing) </a> (page 5, question 4)</li>
<li><a href="falling_7_3.html">falling </a> (page 7, question 3)</li>
<li><a href="feet_7_7.html">feet </a> (page 7, question 7)</li>
<li><a href="fine_5_3.html">fine </a> (page 5, question 3)</li>
<li><a href="fireboard_8_4.html">fireboard </a> (page 8, question 4)</li>
<li><a href="firedogs_8_3.html">firedogs </a> (page 8, question 3)</li>
<li><a href="flat_29_3.html">flat 2</a> (page 9, question 3)</li>
<li><a href="flood_6_1.html">flood </a> (page 6, question 1)</li>
<li><a href="foot_7_7.html">foot </a> (page 7, question 7)</li>
<li><a href="freeze_7_4.html">freeze </a> (page 7, question 4)</li>
<li><a href="front_room_7_6.html">front room </a> (page 7, question 6)</li>
<li><a href="frost_7_4.html">frost </a> (page 7, question 4)</li>
<li><a href="garret_9_7.html">garret </a> (page 9, question 7)</li>
<li><a href="getting_____7_2.html">getting ___ </a> (page 7, question 2)</li>
<li><a href="going_down_7_3.html">going down </a> (page 7, question 3)</li>
<li><a href="gully_washer_6_1.html">gully washer </a> (page 6, question 1)</li>
<li><a href="half_after_4_4.html">half after </a> (page 4, question 4)</li>
<li><a href="half_past_4_4.html">half past </a> (page 4, question 4)</li>
<li><a href="handirons_8_3.html">handirons </a> (page 8, question 3)</li>
<li><a href="killing_frost_7_4.html">killing frost </a> (page 7, question 4)</li>
<li><a href="kindling_8_6.html">kindling </a> (page 8, question 6)</li>
<li><a href="laying_7_3.html">laying </a> (page 7, question 3)</li>
<li><a href="light__inclusive__8_6.html">light (inclusive) </a> (page 8, question 6)</li>
<li><a href="lighterd_8_6.html">lighterd </a> (page 8, question 6)</li>
<li><a href="lightwood_8_6.html">lightwood </a> (page 8, question 6)</li>
<li><a href="living_room_7_6.html">living room </a> (page 7, question 6)</li>
<li><a href="loft_9_7.html">loft </a> (page 9, question 7)</li>
<li><a href="lounge_9_1.html">lounge </a> (page 9, question 1)</li>
<li><a href="low_ground_29_3.html">low ground 2</a> (page 9, question 3)</li>
<li><a href="lowland_29_3.html">lowland 2</a> (page 9, question 3)</li>
<li><a href="mantel__1__8_4.html">mantel (1) </a> (page 8, question 4)</li>
<li><a href="mantel_8_4.html">mantel </a> (page 8, question 4)</li>
<li><a href="mantelboard_8_4.html">mantelboard </a> (page 8, question 4)</li>
<li><a href="mantelpiece_8_4.html">mantelpiece </a> (page 8, question 4)</li>
<li><a href="mantelshelf_8_4.html">mantelshelf </a> (page 8, question 4)</li>
<li><a href="nice_5_3.html">nice </a> (page 5, question 3)</li>
<li><a href="night_2_6.html">night </a> (page 2, question 6)</li>
<li><a href="pallet_29_2.html">pallet 2</a> (page 9, question 2)</li>
<li><a href="parlor_7_6.html">parlor </a> (page 7, question 6)</li>
<li><a href="pitch_pine_8_6.html">pitch pine </a> (page 8, question 6)</li>
<li><a href="pleasant_5_3.html">pleasant </a> (page 5, question 3)</li>
<li><a href="pourdown_6_1.html">pourdown </a> (page 6, question 1)</li>
<li><a href="pretty_5_3.html">pretty </a> (page 5, question 3)</li>
<li><a href="quarter_of_4_5.html">quarter of </a> (page 4, question 5)</li>
<li><a href="quarter_till_4_5.html">quarter till </a> (page 4, question 5)</li>
<li><a href="quarter_to_4_5.html">quarter to </a> (page 4, question 5)</li>
<li><a href="raising_7_2.html">raising </a> (page 7, question 2)</li>
<li><a href="rich_pine_8_6.html">rich pine </a> (page 8, question 6)</li>
<li><a href="rising_7_2.html">rising </a> (page 7, question 2)</li>
<li><a href="riz_3_3.html">riz </a> (page 3, question 3)</li>
<li><a href="rose_3_3.html">rose </a> (page 3, question 3)</li>
<li><a href="settee_9_1.html">settee </a> (page 9, question 1)</li>
<li><a href="setting_room_7_6.html">setting room </a> (page 7, question 6)</li>
<li><a href="shade_s__9_4.html">shade(s) </a> (page 9, question 4)</li>
<li><a href="shelf_8_4.html">shelf </a> (page 8, question 4)</li>
<li><a href="shower_6_7.html">shower </a> (page 6, question 7)</li>
<li><a href="sitting_room_7_6.html">sitting room </a> (page 7, question 6)</li>
<li><a href="sofa_9_1.html">sofa </a> (page 9, question 1)</li>
<li><a href="sprinkle__sprinkling__6_7.html">sprinkle (sprinkling) </a> (page 6, question 7)</li>
<li><a href="Sunday_a_week_3_6.html">Sunday a week </a> (page 3, question 6)</li>
<li><a href="Sunday_a_week_3_7.html">Sunday a week </a> (page 3, question 7)</li>
<li><a href="Sunday_a_week_ago_3_6.html">Sunday a week ago </a> (page 3, question 6)</li>
<li><a href="Sunday_after_next_3_7.html">Sunday after next </a> (page 3, question 7)</li>
<li><a href="Sunday_before_last_3_6.html">Sunday before last </a> (page 3, question 6)</li>
<li><a href="Sunday_week_3_6.html">Sunday week </a> (page 3, question 6)</li>
<li><a href="Sunday_week_3_7.html">Sunday week </a> (page 3, question 7)</li>
<li><a href="sundown_3_4.html">sundown </a> (page 3, question 4)</li>
<li><a href="sunrise_3_2.html">sunrise </a> (page 3, question 2)</li>
<li><a href="sunset_3_4.html">sunset </a> (page 3, question 4)</li>
<li><a href="sunup_3_2.html">sunup </a> (page 3, question 2)</li>
<li><a href="threatening_5_5.html">threatening </a> (page 5, question 5)</li>
<li><a href="three_year_old_5_1.html">three year old </a> (page 5, question 1)</li>
<li><a href="three_years_old_5_1.html">three years old </a> (page 5, question 1)</li>
<li><a href="thundercloud_6_2.html">thundercloud </a> (page 6, question 2)</li>
<li><a href="thundergust_6_2.html">thundergust </a> (page 6, question 2)</li>
<li><a href="thundershower_6_2.html">thundershower </a> (page 6, question 2)</li>
<li><a href="thundersquall_6_2.html">thundersquall </a> (page 6, question 2)</li>
<li><a href="thunderstorm_6_2.html">thunderstorm </a> (page 6, question 2)</li>
<li><a href="wardrobe_9_6.html">wardrobe </a> (page 9, question 6)</li>
<li><a href="white_frost_7_4.html">white frost </a> (page 7, question 4)</li>
<li><a href="____ing__off_5_4.html">___(ing) off </a> (page 5, question 4)</li>
<li><a href="____ing__up_5_4.html">___(ing) up </a> (page 5, question 4)</li>

</ul>
<!-- vim: set filetype=html: -->
