<p><b>Density Estimate Map: shower  (page 6, question 7)</b></p>

<p>
The target response for page 6, question 7 is  'steady drizzle'. The interviewer asked the informants: If it's raining, but not raining very hard, just a few fine drops coming down, you'd say it's ____.
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Steady drizzle</td><td>796</td></tr>
<tr><td>Shower</td><td>223</td></tr>
<tr><td>Drizzle</td><td>201</td></tr>
<tr><td>Sprinkle</td><td>153</td></tr>
<tr><td>Drizzling</td><td>72</td></tr>
</table>

<center><img src="shower_6_7.jpg"></center>

<!-- vim: set filetype=html: -->
