<p><b>Density Estimate Map: sitting room  (page 7, question 6)</b></p>

<p>
The target response for page 7, question 6 is 'sitting room'. The interviewer asked the informants: What do you call the room used for special occasions? The place in the house where you have chairs for people to talk who come to call. The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Parlor</td><td>614</td></tr>
<tr><td>Living room</td><td>613</td></tr>
<tr><td>Sitting room</td><td>454</td></tr>
<tr><td>Setting room</td><td>291</td></tr>
<tr><td>Front room</td><td>161</td></tr>                                   
</table>

<center><img src="sitting_room_7_6.jpg"></center>

<!-- vim: set filetype=html: -->
