<p><b>Density Estimate Map: Sunday week  (page 3, question 7)</b></p>

<p>
The target response for page 3, question 7 is 'Sunday a week' (?). The interviewer asked the informants: He's going to leave next Sunday; a week beyond Sunday would be what? The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Sunday week</td><td>542</td></tr>
<tr><td>Sunday after next</td><td>287</td></tr>
<tr><td>Sunday a week</td><td>170</td></tr>
<tr><td>A week from Sunday</td><td>58</td></tr>
</table>

<center><img src="Sunday_week_3_7.jpg"></center>

<!-- vim: set filetype=html: -->
