<p><b>Director:</b><br>
Originally the late William R. Van Riper now under the direction of
Bruce Southard, English Department, East Carolina University,
Greenville, NC 27858.</p>

<p><b>Status of field work:</b><br>
Complete (tapes) 1959-63; transcription completed 1980-84.</p>

<p><b>Areas covered:</b><br>
The state of Oklahoma.</p>

<p><b>Subjects:</b><br>
Fifty-seven Oklahoma male and female informants of Types I, II, and
III were tape recorded between 1960 and 1962.</p>

<p><b>Nature of recordings:</b><br>
The interviewing instrument is in the Linguistic Atlas format.
Transcriptions were made by Raven I. McDavid, Jr. The eight-hundred
item interviews follow the Atlas format developed by Kurath and
revised by Marckwardt with some innovations to reflect Oklahoma
speech.</p>

<p><b>Archives:</b><br>
Original materials are housed at the Department of English, East
Carolina University with the Director, and at the Linguistic Atlas
Project, University of Georgia, Department of English, University
of Georgia, Athens, Georgia 30602 under the supervision of William
A. Kretzschmar, Jr.</p>

<p><b>Selected Bibliography:</b></p>

<ul> <li>See the <a href="$$baseurl$$/information/links.html">Links
Page</a>. . . .</li> </ul>

