<p><b>Project Information</b></p>

<ul>
<li><a href="$$baseurl$$/afam/info.html">African-American/Gullah</a></li>
<li><a href="$$baseurl$$/lags/index.html">Linguistic Atlas of the Gulf States</a></li>
<li><a href="$$baseurl$$/lamsas/info.html">Linguistic Atlas of the Middle and South
Atlantic States</a></li>
<li><a href="$$baseurl$$/lancs/index.html">Linguistic Atlas of the North Central States</a></li>
<li><a href="$$baseurl$$/lane/index.html">Linguistic Atlas of the North East</a></li>
<li><a href="$$baseurl$$/lao/index.html">Linguistic Atlas of Oklahoma</a></li>
<li><a href="$$baseurl$$/lapnw/index.html">Linguistic Atlas of the Pacific North West</a></li>
<li><a href="$$baseurl$$/lapw/index.html">Linguistic Atlas of the Pacific West</a></li>
<li><a href="$$baseurl$$/larms/index.html">Linguistic Atlas of the Rocky Mountain States</a></li>
<li><a href="$$baseurl$$/laum/index.html">Linguistic Atlas of the Upper Midwest</a></li>
</ul>

<!-- vim: set filetype=html: -->
