<p><b>Density Estimate Map: blowed  (page 6, question 3)</b></p>

<p>
The target response for page 6, question 3 is principal parts of 'blow'. The interviewer asked the informants: If you have a very hard wind, you'd say, "Yesterday the wind____." The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Blew hard</td><td>317</td></tr>
<tr><td>Blowed and blowed</td><td>240</td></tr>
<tr><td>Blew</td><td>140</td></tr>
<tr><td>Blew and blew</td><td>92</td></tr>
<tr><td>Blowed</td><td>91</td></tr>
<tr><td>Blowed hard</td><td>91</td></tr>
</table>

<center><img src="blowed_6_3.jpg"></center>

<!-- vim: set filetype=html: -->
