<p><b>Density Estimate Map: daylight  (page 3, question 2)</b></p>

<p>
The target response for page 3, question 4 is 'sunrise'. The interviewers asked the informants to fill in the blanks: If a man has to get up and start working just as the sun comes into sight, he says he had to start ____. Speaking of the sun, you say we started to work before ____. The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Sunup</td><td>600</td></tr>
<tr><td>Sunrise</td><td>570</td></tr>
<tr><td>Daylight</td><td>60</td></tr>
</table>

<center><img src="daylight_3_2.jpg"></center>

<!-- vim: set filetype=html: -->
