<p><b>Density Estimate Map: firedogs  (page 8, question 3)</b></p>

<p>
The target response for page8, question 3 is 'andirons'. The interviewer asked the informants: In the fireplace the things that you lay the wood across? The responses of the informants are as follows:
</p>

<table border="1" width="50%">
<tr><th>Response</th><th>Informants</th></tr>
<tr><td>Andirons</td><td>537</td></tr>
<tr><td>Firedogs</td><td>342</td></tr>
<tr><td>Dog irons</td><td>254</td></tr>
<tr><td>Handirons</td><td>115</td></tr>
<tr><td>Dogs</td><td>70</td></tr>
<tr><td>Fireirons</td><td>66</td></tr>
</table>

<center><img src="firedogs_8_3.jpg"></center>

<!-- vim: set filetype=html: -->
