<p><b>Welcome!</b></p>

<p>Welcome to the website of the Linguistic Atlas Projects. This is a
group of projects with one thing in common: studying dialects of
English as it is spoken in the United States.  More of the projects
used surveys, where researchers interviewed participants, sometimes
for hours, sometimes for days.</p>

<p>The projects are arranged geographically, and some projects overlap (for
example, both <a href="$$baseurl$$/lamsas/">LAMSAS</a> and the <a
href="$$baseurl$$/afam/">African-American/Gullah</a> projects cover parts
of South Carolina and Georgia). Here is a map of the Unites States, with the
projects colored in and descriptions of the projects to the sides:</p>

<p align="center"> <img height="275" width="525" alt="Projects Map"
src="$$baseurl$$/usmap.png" usemap="#usmap" border="0"> </p>

<p>If this is your first time to this site, you may want to check out the <a
href="$$baseurl$$/information/intro.html">introduction</a>, which provides
some information about the site and its organization. Also, there is a page
which provides <a href="$$baseurl$$/information/about.html">more
information about the site</a>, one which provides an overview of <a
href="$$baseurl$$/information/ling.html">linguistics</a> (the study
of language) and some of the concepts you'll need to know to best use the
information on this site.</p>

<p>If you're ready to jump straight to the data, the projects are
listed to the left of each page. Once you're in a project, you'll
have the opportunity to get more information about the project or to
browse the data.</p>

<p>Have fun as you explore this site and the many varieties of English
spoken in the United States!</p>

<map name="usmap">
      <area href="$$baseurl$$/lapw" alt="LAPW" coords="32,129,86,158">
      <area href="$$baseurl$$/lapnw" alt="LAPNW" coords="25,25,105,55">
      <area href="$$baseurl$$/larms" alt="LARMS" coords="112,1,197,26">
      <area href="$$baseurl$$/laum" alt="LAUM" coords="202,1,286,42">
      <area href="$$baseurl$$/lancs" alt="LANCS" coords="294,1,390,38">
      <area href="$$baseurl$$/lane" alt="LANE" coords="405,12,508,54">
      <area href="$$baseurl$$/lamsas" alt="LAMSAS" coords="392,103,510,158">
      <area href="$$baseurl$$/afam" alt="AFAM" coords="370,183,513,225">
      <area href="$$baseurl$$/lags" alt="LAGS" coords="262,233,369,272">
      <area href="$$baseurl$$/lao" alt="LAO" coords="146,194,180,222">
    </map>

