<p><b>To Do's</b></p>

<ul>
<li>Migrate to CGI <ul>
	<li>Modify atlas.web (this will be combined with the previous step,
	but it should be reviewed again after):<ul>
		<li>atlas.web.query (no caching)</li> 
	</ul></li> 
</ul></li>

<li>Web site<ul>
	<li>$$baseurl$$/information/fields.py?field=informid&amp;project=LAMSAS

	<p>Without arguments, fields.py gives general information and links to
	the fields. With the field argument, it gives specific information
	about that field. With the project argument, it gives a break-down of
	that field for that project, if applicable.</p> </li>

	<li>Query descriptions.</li>

	<li>Predefined views.

	<p>Each view selects a groups of fields to show. E.g., all, basic,
	minimal, &amp;c.</p> </li>

	<li>Simplified phonetics.

	<p>This will require changes in atlas.db, database tables, and the
	browse page and form.</p> </li>

	<li>Headwords page and form.</li>

	<li>Database information.</li>

	<li>Images &amp; image maps.</li>

	<li>AFAM &amp; other projects.</li>
</li></ul>

<li>COM interface.

<p>Implemented in the module atlas.com, this will provide a COM interface to an
ODBC database. It may itself use ADO to access the database.</p></li>

<li>Testing.

<p>A test script and __doc__ strings to implement doctest-style
testing.</p></li>

<li>Credits.</li>
<li>PostScript and LaTeX fonts.</li>
<li>Lisa's generic headnotes, &amp;c.</li>
<li>Merge Lisa's a_* AFAM files.</li>
<li>Lock in look and feel.</li>
<li>More projects.</li>
<li>Update database distributions.</li>
<li>Update atlas and fcsv distributions.</li>
</ul>

<p>If you can think of anything to add to this, feel free to <a
href="mailto:erochest@uga.edu">e-mail me</a>.</p>

