<html>
<head>
<title>Linguistic Atlas Projects -- Fields</title>
<meta content="Eric Rochester" name="generator">
<meta content="The Linguistic Atlas Projects. A collection of projects that quantitatively describe American speech patterns." name="description">
<meta content="dialects, dialectology, lane, lamsas, lancs, lags, laum, lao, lapw, lapnw, larms, linguistics, speech, pronunciation, phonology, atlas" name="keywords">
<style type="text/css">

A { text-decoration: none;
    color: #5672AC; }
A:visited { color: #82CACC; }
A:link { color: #5672AC; }
A:hover { color: #0E5EFF; }

BODY { background-color: white;
       color: black; }

.menu { font-family: sans-serif;
        font-size: 10pt;
        font-weight: bold;
        line-height: 200%; }

.submenu { font-family: sans-serif;
           font-size: 8pt;
           line-height: 150%; }

.here { font-family: sans-serif;
        font-size: 10pt;
        font-weight: bold;
        line-height: 200%;
        color: #82CACC; }

.heading { color: black;
           font-weight: bold; }
</style>
</head>
<body>
<img border="0" src="img/atlaslogo.gif" width="517" height="54"> 

<table>
<tbody>
<tr>
<td><img src="img/pixel.gif" width="132" height="1"></td>
<td><img src="img/pixel.gif" width="18" height="1"></td>
<td><img src="img/pixel.gif" width="372" height="1"></td>
</tr>

<tr>
<td width="132" valign="top"><a href="index.html" class="menu">Home</a><br>
 <a href="information.html" class="menu">Information</a><br>
 <a href="index.html" class="menu">Projects</a><br>
 <a href="survey.html" class="menu">Survey</a><br>
 <a href="utilities.html" class="menu">Utilities</a><br>
 <a href="links.html" class="menu">Links</a><br>
 <a href="$$baseold$$/help/" class="menu">Help</a> </td>
<td width="18"></td>
<td width="372"><img border="0" src="img/infologo.gif" alt="" width="127" height="28"> 

<p><b>Fields:</b><br>
 The Linguistic Atlas Projects use two different database formats: one
for the informant databases and one for the linguistic databases.
However, some of the fields are shared between them. Below is a list of
the fields that are shared and those that are used by only one type of
database, with links to explanations of those fields, further down the
page.</p>

<p><i><b>Note:</b> Although the fields are generally standard across
all the projects, the figures given below are for the <a href="$$baseold$$/lamsas">LAMSAS</a> project only.</i></p>

<ul>
<li><b>Shared fields</b>:

<ul>
<li><a href="#serial">Serial Number</a></li>

<li><a href="#informid">Informant ID Number</a></li>

<li><a href="#oldnumbe">Old Informant Number</a></li>
</ul>
</li>

<li><b>Fields in the Informant Databases</b>:

<ul>
<li><a href="#commno">Community Number</a></li>

<li><a href="#aux">Auxiliary Informants</a></li>

<li><a href="#fw">Field Worker</a></li>

<li><a href="#ws">Work Sheet</a></li>

<li><a href="#year">Year Interviewed</a></li>

<li><a href="#inftype">Informant Type</a></li>

<li><a href="#gen">Generation</a></li>

<li><a href="#cult">Cultivation</a></li>

<li><a href="#sex">Sex</a></li>

<li><a href="#age">Age (when interviewed)</a></li>

<li><a href="#educ">Education</a></li>

<li><a href="#occup">Occupation</a></li>

<li><a href="#race">Race</a></li>

<li><a href="#commtype">Locality Type</a></li>

<li><a href="#comm">Community Name</a></li>

<li><a href="#state">State</a></li>
</ul>
</li>

<li><b>Fields in the Linguistic Databases</b>:

<ul>
<li><a href="#item">Standard Orthography</a></li>

<li><a href="#gramflag">Grammatical Category</a></li>

<li><a href="#doubtflg">Doubt</a></li>

<li><a href="#comtext">Comment Text</a></li>

<li><a href="#comnt">Comment Codes</a></li>

<li><a href="#phnitem">Pronunciation</a></li>
</ul>
</li>
</ul>

<hr>
<p><font size="+1"><b>Shared Fields:</b></font></p>

<p><a name="serial" id="serial" class="heading"><b>Serial Number
(serial)</b></a><br>
 This column contains a unique real number, from 1 to 1162, to identify
each informant. These numbers were assigned according to the order of
informants in the previous LAMSAS numbering system, as adjusted for
reclassified auxiliary informants. Thus, serial numbers proceed by
state beginning with New York in the north and ending with Florida in
the south; within each state serial numbers follow the ordering of the
old community numbers, which do not have any precise relation to
location within the state.</p>

<p><a name="informid" id="informid" class="heading"><b>Informant ID
Number (informid)</b></a><br>
This column identifies informants as marked in many previous LAMSAS
publications, including McDavid and O'Cain 1980 and McDavid et al.
1982-86. Each code is composed of a two-letter state abbreviation, a
community number, and finally a letter for each informant if more than
one had been interviewed in the community. For instance, NY1 identifies
an informant from community 1 in New York State, and there is no
following letter code because only one informant was interviewed in
that community; NY2A, NY2B, and NY2C identify the three informants from
community 2 in New York State. The order of the A, B, and other
informants in any community was established in order of the type
classification (I. below), with A the least sophisticated informant, B
more sophisticated, and so on. This ordering is no longer strictly
valid because of the reclassification and renumbering of some auxiliary
informants. Separate from these letter codes are the N and M letter
codes used to identify the first and second African-American informants
from a community. Exclamation points identify cultivated informants</p>

<p><a name="oldnumbe" id="oldnumbe" class="heading"><b>Old Informant
Number (oldnumbe)</b></a><br>
This column records the original informant identifiers assigned by
Kurath and the field workers. They were superseded by informant id
codes because they did not uniquely identify informants, and because
somewhat different ordering systems had been used in different states.
These identifiers are presented here because they are often of use for
work with documents and publications prepared very early in the history
of LAMSAS. Numbers with an asterisk designate some of the informants
formerly classified as auxiliary informants.</p>

<hr>
<p><font size="+1"><b>Fields in the Informant Databases:</b></font></p>

<p><a name="commno" id="commno" class="heading"><b>Community Number
(commno)</b></a><br>
 This column contains an integer which uniquely identifies each of the
483 communities represented by at least one informant. The numbers are
organized by state (i.e. numbers in the 100s refer to New York State,
in the 200s to New Jersey, and so on), and by the old community numbers
within each state (e.g. 101 is the same as NY1, 102 as NY2, and so on).
The serial number and community number identifiers were assigned in
order to facilitate computer processing of data, since the older
numbering systems had proven difficult to manage under the normal
sorting routines employed by computers.</p>

<blockquote>
<table border="1">
<tbody>
<tr>
<th>Serial Number</th>
<th>Community Number</th>
<th>State</th>
</tr>

<tr>
<td>1-182</td>
<td>101-164</td>
<td>New York</td>
</tr>

<tr>
<td>183-229</td>
<td>201-221</td>
<td>New Jersey</td>
</tr>

<tr>
<td>230-387</td>
<td>301-367</td>
<td>Pennsylvania</td>
</tr>

<tr>
<td>388-498</td>
<td>401-454</td>
<td>West Virginia</td>
</tr>

<tr>
<td>499-512</td>
<td>501-506</td>
<td>Delaware</td>
</tr>

<tr>
<td>513-574</td>
<td>551-577</td>
<td>Maryland</td>
</tr>

<tr>
<td>575-576</td>
<td>599</td>
<td>Dist. of Columbia</td>
</tr>

<tr>
<td>577-730</td>
<td>601-675</td>
<td>Virginia</td>
</tr>

<tr>
<td>731-887</td>
<td>701-775</td>
<td>North Carolina</td>
</tr>

<tr>
<td>888-1043</td>
<td>801-844</td>
<td>South Carolina</td>
</tr>

<tr>
<td>1044-1153</td>
<td>901-944</td>
<td>Georgia</td>
</tr>

<tr>
<td>1154-1162</td>
<td>951-955</td>
<td>Florida</td>
</tr>
</tbody>
</table>
</blockquote>

<p><a name="aux" id="aux" class="heading"><b>Auxiliary Informants
(aux)</b></a><br>
 This column indicates by Y or N whether or not responses from any
auxiliary informants appear alongside those of the primary
informant.</p>

<p><a name="fw" id="fw" class="heading"><b>Field Worker
(fw)</b></a><br>
This column indicates which field worker conducted the interview. The
breakdown below summarizes how many interviews each field worker
conducted. McDavid transcribed interviews from tape for all other field
workers except Lowman and Bloch.</p>

<blockquote>
<table border="1">
<tbody>
<tr>
<th>Code</th>
<th>Name</th>
<th>Number</th>
</tr>

<tr>
<td>L</td>
<td>Guy Lowman</td>
<td>826</td>
</tr>

<tr>
<td>M</td>
<td>Raven McDavid</td>
<td>278</td>
</tr>

<tr>
<td>P</td>
<td>Lee Pederson</td>
<td>19</td>
</tr>

<tr>
<td>S</td>
<td>Student</td>
<td>19</td>
</tr>

<tr>
<td>Rr</td>
<td>Grace Reuter</td>
<td>7</td>
</tr>

<tr>
<td>U</td>
<td>Gerald Udell</td>
<td>5</td>
</tr>

<tr>
<td>Rt</td>
<td>Barbara Rutledge</td>
<td>4</td>
</tr>

<tr>
<td>O</td>
<td>Raymond O'Cain</td>
<td>3</td>
</tr>

<tr>
<td>B</td>
<td>Bernard Bloch</td>
<td>1</td>
</tr>
</tbody>
</table>
</blockquote>

<p><a name="ws" id="ws" class="heading"><b>Work Sheet
(ws)</b></a><br>
 This column records which questionnaire was used to conduct the
interview. The following summary indicates how many interviews were
conducted with each questionnaire.</p>

<blockquote>
<table border="1">
<tbody>
<tr>
<th>Code</th>
<th>Work Sheets</th>
<th>Number</th>
</tr>

<tr>
<td>S</td>
<td>South Atlantic</td>
<td>565</td>
</tr>

<tr>
<td>M</td>
<td>Middle Atlantic</td>
<td>465</td>
</tr>

<tr>
<td>P</td>
<td>Preliminary South Atlantic</td>
<td>70</td>
</tr>

<tr>
<td>C</td>
<td>Combined</td>
<td>57</td>
</tr>

<tr>
<td>E</td>
<td>New England</td>
<td>5</td>
</tr>
</tbody>
</table>
</blockquote>

<p><a name="year" id="year" class="heading"><b>Year Interviewed
(year)</b></a><br>
 This column indicates the year in which each interview took place. The
following list records the number of interviews that took place each
year.</p>

<blockquote>
<table border="1">
<tbody>
<tr>
<th>Year</th>
<th>Number</th>
<th>Year</th>
<th>Number</th>
</tr>

<tr>
<td>1933</td>
<td>9</td>
<td>1948</td>
<td>40</td>
</tr>

<tr>
<td>1934</td>
<td>65</td>
<td>1949</td>
<td>58</td>
</tr>

<tr>
<td>1935</td>
<td>77</td>
<td>1964</td>
<td>1</td>
</tr>

<tr>
<td>1936</td>
<td>125</td>
<td>1965</td>
<td>12</td>
</tr>

<tr>
<td>1937</td>
<td>80</td>
<td>1966</td>
<td>1</td>
</tr>

<tr>
<td>1939</td>
<td>179</td>
<td>1967</td>
<td>3</td>
</tr>

<tr>
<td>1940</td>
<td>169</td>
<td>1968</td>
<td>13</td>
</tr>

<tr>
<td>1941</td>
<td>135</td>
<td>1970</td>
<td>6</td>
</tr>

<tr>
<td>1945</td>
<td>1</td>
<td>1971</td>
<td>5</td>
</tr>

<tr>
<td>1946</td>
<td>70</td>
<td>1972</td>
<td>15</td>
</tr>

<tr>
<td>1947</td>
<td>96</td>
<td>1974</td>
<td>2</td>
</tr>
</tbody>
</table>
</blockquote>

<p><a name="inftype" id="inftype" class="heading"><b>Informant Type
(inftype)</b></a><br>
This column indicates the type classification assigned by the field
worker, a subjective measure which was associated by Kurath and his
field workers with formal education, private reading, and participation
in social activites.</p>

<dl>
<dt>Type I:</dt>

<dd>Folk speakers, local usage subject to a minimum of education and
other outside influence.</dd>

<dt>Type II:</dt>

<dd>Common speakers, local usage subject to a moderate amount of
education (generally high school), private reading, and other external
contacts.</dd>

<dt>Type III:</dt>

<dd>Cultivated speakers, representing wide reading and elevated local
cultural traditions, generally but not always with higher
education.</dd>
</dl>

<p>This classification was an important constituent in the planning of
the survey and selection of particular informants. A count of
informants belonging to each type is presented below; three informants
(formerly auxiliary informants) cannot be classified by type.</p>

<blockquote>
<table>
<tbody>
<tr>
<th>Type I</th>
<td>582</td>
</tr>

<tr>
<th>Type II</th>
<td>439</td>
</tr>

<tr>
<th>Type III</th>
<td>138</td>
</tr>
</tbody>
</table>
</blockquote>

<p><a name="gen" id="gen" class="heading"><b>Generation
(gen)</b></a><br>
This column shows another judgment by the field worker. Kurath and the
field workers considered that formal education and self-education
through reading and association with others were more significant for
the character of informants' speech than mere age, and thus this
generational A/B distinction was regarded as a sub-classification of
type (I.). Two former auxiliary informants have no indication of
generation.</p>

<dl>
<dt>A.</dt>

<dd>Aged and/or regarded by the field worker as old-fashioned. 696
informants.</dd>

<dt>B.</dt>

<dd>Middle-aged or younger and/or regarded by the field worker as more
modern. 463 informants.</dd>
</dl>

<p><a name="cult" id="cult" class="heading"><b>Cultivate
(cult)</b></a><br>
Field workers' judgments of cultivation were supposed to identify those
whose speech reflected superior education and elevated social standing
in their communities. In all 150 informants were judged to be
cultivated. The judgment was not identical with type classication:
fourteen informants of Type II were thought to be cultivated, and two
Type III informants were not so considered. Three former auxiliary
informants are not classified by cultivation.</p>

<p><a name="sex" id="sex" class="heading"><b>Sex (sex)</b></a><br>
This column encodes a binary, purely biological classification, 802
male informants, 360 female informants. Culturally based measures of
gender are not available in informant sketches.</p>

<p><a name="age" id="age" class="heading"><b>Age (when interviewed)
(age)</b></a><br>
The number of informants at any particular age is summarized below.</p>

<blockquote>
<table border="1">
<tbody>
<tr>
<th>Age</th>
<th>Number</th>
<th>Age</th>
<th>Number</th>
<th>Age</th>
<th>Number</th>
</tr>

<tr>
<td>16</td>
<td>1</td>
<td>50</td>
<td>23</td>
<td>73</td>
<td>33</td>
</tr>

<tr>
<td>18</td>
<td>1</td>
<td>51</td>
<td>21</td>
<td>74</td>
<td>31</td>
</tr>

<tr>
<td>19</td>
<td>1</td>
<td>52</td>
<td>24</td>
<td>75</td>
<td>49</td>
</tr>

<tr>
<td>24</td>
<td>2</td>
<td>53</td>
<td>18</td>
<td>76</td>
<td>33</td>
</tr>

<tr>
<td>26</td>
<td>1</td>
<td>54</td>
<td>21</td>
<td>77</td>
<td>38</td>
</tr>

<tr>
<td>30</td>
<td>1</td>
<td>55</td>
<td>24</td>
<td>78</td>
<td>25</td>
</tr>

<tr>
<td>33</td>
<td>1</td>
<td>56</td>
<td>10</td>
<td>79</td>
<td>26</td>
</tr>

<tr>
<td>34</td>
<td>2</td>
<td>57</td>
<td>16</td>
<td>80</td>
<td>47</td>
</tr>

<tr>
<td>35</td>
<td>3</td>
<td>58</td>
<td>19</td>
<td>81</td>
<td>18</td>
</tr>

<tr>
<td>36</td>
<td>9</td>
<td>59</td>
<td>13</td>
<td>82</td>
<td>26</td>
</tr>

<tr>
<td>37</td>
<td>8</td>
<td>60</td>
<td>18</td>
<td>83</td>
<td>20</td>
</tr>

<tr>
<td>38</td>
<td>8</td>
<td>61</td>
<td>16</td>
<td>84</td>
<td>19</td>
</tr>

<tr>
<td>39</td>
<td>12</td>
<td>62</td>
<td>20</td>
<td>85</td>
<td>25</td>
</tr>

<tr>
<td>40</td>
<td>13</td>
<td>63</td>
<td>14</td>
<td>86</td>
<td>12</td>
</tr>

<tr>
<td>41</td>
<td>12</td>
<td>64</td>
<td>10</td>
<td>87</td>
<td>17</td>
</tr>

<tr>
<td>42</td>
<td>16</td>
<td>65</td>
<td>20</td>
<td>88</td>
<td>5</td>
</tr>

<tr>
<td>43</td>
<td>16</td>
<td>66</td>
<td>22</td>
<td>89</td>
<td>7</td>
</tr>

<tr>
<td>44</td>
<td>19</td>
<td>67</td>
<td>24</td>
<td>90</td>
<td>4</td>
</tr>

<tr>
<td>45</td>
<td>22</td>
<td>68</td>
<td>28</td>
<td>91</td>
<td>2</td>
</tr>

<tr>
<td>46</td>
<td>13</td>
<td>69</td>
<td>17</td>
<td>92</td>
<td>3</td>
</tr>

<tr>
<td>47</td>
<td>16</td>
<td>70</td>
<td>55</td>
<td>94</td>
<td>3</td>
</tr>

<tr>
<td>48</td>
<td>21</td>
<td>71</td>
<td>24</td>
<td>95</td>
<td>2</td>
</tr>

<tr>
<td>49</td>
<td>21</td>
<td>72</td>
<td>33</td>
<td>100</td>
<td>2</td>
</tr>
</tbody>
</table>
</blockquote>

<p>Information is missing regarding the age of six informants.</p>

<p><a name="educ" id="educ" class="heading"><b>Education
(educ)</b></a><br>
This column encodes seven levels of education attained by informants.
The number at each level is summarized below.</p>

<blockquote>
<table border="1">
<tbody>
<tr>
<th>Code</th>
<th>Description</th>
<th>Number</th>
</tr>

<tr>
<td>0</td>
<td>None/Illiterate.</td>
<td>90</td>
</tr>

<tr>
<td>1</td>
<td>Some grade school: 1-4 years.</td>
<td>177</td>
</tr>

<tr>
<td>2</td>
<td>Grade school: 5-8 years.</td>
<td>217</td>
</tr>

<tr>
<td>3</td>
<td>Some high school: 9-11 years.</td>
<td>249</td>
</tr>

<tr>
<td>4</td>
<td>High school: 12 years.</td>
<td>212</td>
</tr>

<tr>
<td>5</td>
<td>Some college (also trade schools)</td>
<td>95</td>
</tr>

<tr>
<td>6</td>
<td>College graduate.</td>
<td>65</td>
</tr>
</tbody>
</table>
</blockquote>

<p>These categories were not defined at the time of the interviews but
were created post-hoc from information about years of schooling found
in the informant biographies; the assignments are thus subject to
doubt. Most of the informants would have finished school before 1915
and before free, public, compulsory education was widespread. School
systems were far from standardized, and statements such as "graduated
from Jones Academy are impossible to classify exactly. Grade levels may
have been non~existent in some schools and students may have attended
irregularly owing to agricultural or other responsibilities: someone
who was "educated through age 18 may conceivably not even have finished
grammar school. In the absence of further information, those who
attended past the age of 13 (or for 5-8 years) are considered
elementary school graduates, and those who attended past the age of 17
(or for 12 years) are considered high-school graduates. Some informants
were not formally educated but learned at home. Those who did not go to
school but somehow learned to read and write (including ex-slaves
denied a formal education) were assigned to level 1. Some informants
who were taught at home had parents who were themselves schoolteachers
and were assigned to level 2 or 3. Some cultivated women who had
governesses as children and later tutors in various subjects were
assigned to level 4. Fifty-six informants could not be classified
because of missing information.</p>

<p><a name="occup" id="occup" class="heading"><b>Occupation
(occup)</b></a><br>
Informants were assigned an occupational code according to the
classifications given by the U.S. Census for 1940. One census category,
Retired, was omitted from LAMSAS classifications and the code for the
informant's previous occupation was substituted. Student was not listed
as an occupation in the census.</p>

<blockquote>
<table border="1">
<tbody>
<tr>
<th>Code</th>
<th>Description</th>
<th>Number</th>
</tr>

<tr>
<td>P</td>
<td>Professional and Technical</td>
<td>47</td>
</tr>

<tr>
<td>F</td>
<td>Farmers</td>
<td>568</td>
</tr>

<tr>
<td>M</td>
<td>Managers, Officials, Proprietors</td>
<td>96</td>
</tr>

<tr>
<td>R</td>
<td>Clerical and Sales</td>
<td>29</td>
</tr>

<tr>
<td>C</td>
<td>Craftsmen and Foremen</td>
<td>30</td>
</tr>

<tr>
<td>O</td>
<td>Operatives</td>
<td>19</td>
</tr>

<tr>
<td>H</td>
<td>Private Household Workers</td>
<td>13</td>
</tr>

<tr>
<td>S</td>
<td>Service Workers</td>
<td>17</td>
</tr>

<tr>
<td>W</td>
<td>Farm Laborers</td>
<td>13</td>
</tr>

<tr>
<td>K</td>
<td>Keeping House</td>
<td>278</td>
</tr>

<tr>
<td>L</td>
<td>Non-Farm Laborers</td>
<td>27</td>
</tr>

<tr>
<td>U</td>
<td>Seeking Work</td>
<td>1</td>
</tr>

<tr>
<td>G</td>
<td>Student</td>
<td>2</td>
</tr>
</tbody>
</table>
</blockquote>

<p>Many of the informants were listed in the biographies as having more
than one occupation. In these cases, and in the absence of clues for
which occupation they considered their primary work, only the code for
the first job listed was entered. For example, informants described as
a farmer and newspaper editor and as a farmer and sawmill worker are
both entered as "Farmer. It is usually impossible to determine whether
the job listed first was arbitrary or was the occupation with which
informants most closely identified themselves. Female informants were
more often identified by their marital status than their occupation.
The designation housewife, sometimes housekeeper, seems to collapse the
two, meaning both that the informant was a homemaker and that she was
married. Widow and single homemaker, given as comparable occupations,
provide evidence for this interpretation. The marital status of male
informants is rarely noted. There was insufficient information to
identify the occupation of 22 informants.</p>

<p><a name="race" id="race" class="heading"><b>Race
(race)</b></a><br>
This column encodes a binary distinction between Caucasian and
African-American informants. It should be noted that racial designation
in LAMSAS is social, not genetic, since people of mixed ancestry may
well have been described as "Negro by field workers. The 41
African-American informants on the LAMSAS roster are now integrated in
the serial listings by community, though they remain segregated at the
end of the informant listings for each community; they were originally
thought of as additions to the overall survey plan.</p>

<p><a name="commtype" id="commtype" class="heading"><b>Locality Type
(commtype)</b></a><br>
Informants have been grouped according to the criteria of the 1940 US
Census for relative population of their localities:</p>

<blockquote>
<table border="1">
<tbody>
<tr>
<th>Code</th>
<th>Description</th>
<th>Number</th>
</tr>

<tr>
<td>U</td>
<td>Urban</td>
<td>277</td>
</tr>

<tr>
<td>R</td>
<td>Rural</td>
<td>884</td>
</tr>
</tbody>
</table>
</blockquote>

<p>The Urban designation refers to localities with populations greater
than 2500. Census categories for Rural Farming and Rural Non-Farming
communities have been collapsed into a single Rural category; there is
too little evidence in the LAMSAS informant biographies to make
reliable farming/non-farming distinctions. LAMSAS communities are
typically counties; judgments of locality type were based on specific
residence within the LAMSAS community. Missing information prevented
classification of one informant.</p>

<p><a name="comm" id="comm" class="heading"><b>Community Name
(comm)</b></a><br>
This column identifies the community by its given, human-readable
name.</p>

<p><a name="state" id="state" class="heading"><b>State
(state)</b></a><br>
This column identifies the state the community is in.</p>

<hr>
<p><font size="+1"><b>Fields in the Linguistic
Databases:</b></font></p>

<p><a name="item" id="item" class="heading"><b>Standard Orthography
(item)</b></a><br>
</p>

<p><a name="gramflag" id="gramflag" class="heading"><b>Grammatical
Category (gramflag)</b></a><br>
</p>

<p><a name="doubtflg" id="doubtflg" class="heading"><b>Doubt
(doubtflg)</b></a><br>
</p>

<p><a name="comtext" id="comtext" class="heading"><b>Comment Text
(comtext)</b></a><br>
</p>

<p><a name="comnt" id="comnt" class="heading"><b>Comment Codes
(comnt)</b></a><br>
</p>

<p><a name="phnitem" id="phnitem" class="heading"><b>Pronunication
(phnitem)</b></a><br>
</p>
</td>
</tr>
</tbody>
</table>

<table>
<tbody>
<tr>
<td><img src="img/pixel.gif" width="179" height="1"></td>
<td><img src="img/pixel.gif" width="178" height="1"></td>
<td><img src="img/pixel.gif" width="178" height="1"></td>
</tr>

<tr>
<td align="left" class="footer"><font size="-1">July 28,
1998</font></td>
<td align="center" class="footer"><font size="-1">Copyright &#x00a9;
1998</font></td>
<td align="right" class="footer"><a href="mailto:webmaster@us.english.uga.edu"><font size="-1">webmaster@us.english.uga.edu</font></a></td>
</tr>
</tbody>
</table>
</body>
</html>