<html>
<head>
<title>Linguistic Atlas Projects</title>
<meta content="Eric Rochester" name="generator">
<meta content="The Linguistic Atlas Projects. A collection of projects that quantitatively describe American speech patterns." name="description">
<script type="text/javascript" language="JavaScript">
<!--
// this script was heavily influenced by the FAQs on www.irt.org
var flag = false;

function imageLoad() {
  if (document.images) {
    infomenuon = new Image(); infomenuon.src = "img/infomenuon.gif";
    projmenuon = new Image(); projmenuon.src = "img/projmenuon.gif";
    lanemenuon = new Image(); lanemenuon.src = "img/lanemenuon.gif";
    lamsmenuon = new Image(); lamsmenuon.src = "img/lamsmenuon.gif";
    lancmenuon = new Image(); lancmenuon.src = "img/lancmenuon.gif";
    lagsmenuon = new Image(); lagsmenuon.src = "img/lagsmenuon.gif";
    laummenuon = new Image(); laummenuon.src = "img/laummenuon.gif";
    laomenuon = new Image(); laomenuon.src = "img/laomenuon.gif";
    lapwmenuon = new Image(); lapwmenuon.src = "img/lapwmenuon.gif";
    lapnmenuon = new Image(); lapnmenuon.src = "img/lapnmenuon.gif";
    larmmenuon = new Image(); larmmenuon.src = "img/larmmenuon.gif";
    survmenuon = new Image(); survmenuon.src = "img/survmenuon.gif";
    utilmenuon = new Image(); utilmenuon.src = "img/utilmenuon.gif";
    linkmenuon = new Image(); linkmenuon.src = "img/linkmenuon.gif";
    helpmenuon = new Image(); helpmenuon.src = "img/helpmenuon.gif";

    return (flag = true);
  }
}

if (document.images) {
  infomenuoff = new Image(); infomenuoff.src = "img/infomenuoff.gif";
  projmenuoff = new Image(); projmenuoff.src = "img/projmenuoff.gif";
  lanemenuoff = new Image(); lanemenuoff.src = "img/lanemenuoff.gif";
  lamsmenuoff = new Image(); lamsmenuoff.src = "img/lamsmenuoff.gif";
  lancmenuoff = new Image(); lancmenuoff.src = "img/lancmenuoff.gif";
  lagsmenuoff = new Image(); lagsmenuoff.src = "img/lagsmenuoff.gif";
  laummenuoff = new Image(); laummenuoff.src = "img/laummenuoff.gif";
  laomenuoff = new Image(); laomenuoff.src = "img/laomenuoff.gif";
  lapwmenuoff = new Image(); lapwmenuoff.src = "img/lapwmenuoff.gif";
  lapnmenuoff = new Image(); lapnmenuoff.src = "img/lapnmenuoff.gif";
  larmmenuoff = new Image(); larmmenuoff.src = "img/larmmenuoff.gif";
  survmenuoff = new Image(); survmenuoff.src = "img/survmenuoff.gif";
  utilmenuoff = new Image(); utilmenuoff.src = "img/utilmenuoff.gif";
  linkmenuoff = new Image(); linkmenuoff.src = "img/linkmenuoff.gif";
  helpmenuoff = new Image(); helpmenuoff.src = "img/helpmenuoff.gif";
}

function rollIn(imgName, txt) {
  if (document.images && (flag == true)) {
    document[imgName].src = eval(imgName + "on.src");
  }
  window.status = txt;
}

function rollOut(imgName) {
  if (document.images) {
    document[imgName].src = eval(imgName + "off.src");
  }
  window.status = "";
}

//-->
</script>
</head>
<body onload="imageLoad()" link="#5672AC" bgcolor="#FFFFFF" alink="#0E5EFF" text="#000000" vlink="#82CACC">
<img border="0" src="img/logo1.gif" width="517" height="54"> 

<table>
<tbody>
<tr>
<td><img src="img/pixel.gif" width="132" height="1"></td>
<td><img src="img/pixel.gif" width="18" height="1"></td>
<td><img src="img/pixel.gif" width="372" height="1"></td>
</tr>

<tr>
<td><a href="index.html"><img src="img/projmenuoff.gif" onmouseover="rollIn('projmenu','Projects');return true;" onmouseout="rollOut('projmenu');return true;" width="125" alt="Projects" border="0" name="projmenu" height="30"></a><br>
 <a href="lags/"><img src="img/lagsmenuoff.gif" onmouseover="rollIn('lagsmenu','Alabama, Arkansas, Florida, Georgia, Louisiana, Mississippi, Texas');return true;" onmouseout="rollOut('lagsmenu');return true;" width="125" alt="LAGS" border="0" name="lagsmenu" height="24"></a><br>
 <a href="lamsas/"><img src="img/lamsmenuoff.gif" onmouseover="rollIn('lamsmenu','Florida, Georgia, New Jersey, New York, North Carolina, Pennsylvania, South Carolina, Virigina, Washington, D.C., West Virginia');return true;" onmouseout="rollOut('lamsmenu');return true;" width="125" alt="LAMSAS" border="0" name="lamsmenu" height="24"></a><br>
 <a href="lane/"><img src="img/lanemenuoff.gif" onmouseover="rollIn('lanemenu','Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, Vermont');return true;" onmouseout="rollOut('lanemenu');return true;" width="125" alt="LANE" border="0" name="lanemenu" height="24"></a><br>
 <a href="lancs/"><img src="img/lancmenuoff.gif" onmouseover="rollIn('lancmenu','Illinois, Indiana, Kentucky, Michigan, Ohio, Wisconsin');return true;" onmouseout="rollOut('lancmenu');return true;" width="125" alt="LANCS" border="0" name="lancmenu" height="24"></a><br>
 <a href="lao/"><img src="img/laomenuoff.gif" onmouseover="rollIn('laomenu','Oklahoma');return true;" onmouseout="rollOut('laomenu');return true;" width="125" alt="LAO" border="0" name="laomenu" height="24">
</a><br>
 <a href="lapnw/"><img src="img/lapnmenuoff.gif" onmouseover="rollIn('lapnmenu','Idaho, Washington');return true;" onmouseout="rollOut('lapnmenu');return true;" width="125" alt="LAPNW" border="0" name="lapnmenu" height="24">
</a><br>
 <a href="lapw/"><img src="img/lapwmenuoff.gif" onmouseover="rollIn('lapwmenu','California, Nevada');return true;" onmouseout="rollOut('lapwmenu');return true;" width="125" alt="LAPW" border="0" name="lapwmenu" height="24"><br>
 <a href="larms/"><img src="img/larmmenuoff.gif" onmouseover="rollIn('larmmenu','Colorado, Utah, Wyoming');return true;" onmouseout="rollOut('larmmenu');return true;" width="125" alt="LARMS" border="0" name="larmmenu" height="24">
</a><br>
 <a href="laum/"><img src="img/laummenuoff.gif" onmouseover="rollIn('laummenu','Iowa, Minnesota, Nebraska, North Dakota, South Dakota');return true;" onmouseout="rollOut('laummenu');return true;" width="125" alt="LAUM" border="0" name="laummenu" height="24"></a><br>
 <a href="information.html"><img src="img/infomenuoff.gif" onmouseover="rollIn('infomenu','Information');return true;" onmouseout="rollOut('infomenu');return true;" width="125" alt="Information" border="0" name="infomenu" height="30"></a><br>
 <a href="survey.html"><img src="img/survmenuoff.gif" onmouseover="rollIn('survmenu','Survey');return true;" onmouseout="rollOut('survmenu');return true;" width="125" alt="Survey" border="0" name="survmenu" height="30"></a><br>
 <a href="utilities.html"><img src="img/utilmenuoff.gif" onmouseover="rollIn('utilmenu','Utilities');return true;" onmouseout="rollOut('utilmenu');return true;" width="125" alt="Utilities" border="0" name="utilmenu" height="30"></a><br>
 <a href="links.html"><img src="img/linkmenuoff.gif" onmouseover="rollIn('linkmenu','Links');return true;" onmouseout="rollOut('linkmenu');return true;" width="125" alt="Links" border="0" name="linkmenu" height="30"></a><br>
 <a href="help/"><img src="img/helpmenuoff.gif" onmouseover="rollIn('helpmenu','Help');return true;" onmouseout="rollOut('helpmenu');return true;" width="125" alt="Help" border="0" name="helpmenu" height="30"></a></a></td>
<td></td>
<td><img border="0" src="img/usmap.gif" usemap="#us.map" width="336" height="288"></td>
</tr>
</tbody>
</table>

<table>
<tbody>
<tr>
<td><img src="img/pixel.gif" width="179" height="1"></td>
<td><img src="img/pixel.gif" width="178" height="1"></td>
<td><img src="img/pixel.gif" width="178" height="1"></td>
</tr>

<tr>
<td align="left" class="footer"><font size="-1">July 28,
1998</font></td>
<td align="center" class="footer"><font size="-1">Copyright &#x00a9;
1998</font></td>
<td align="right" class="footer"><a href="mailto:webmaster@us.english.uga.edu"><font size="-1">webmaster@us.english.uga.edu</font></a></td>
</tr>
</tbody>
</table>

<map id="us.map" name="us.map">
<area shape="POLY" href="lapnw/" coords="43,35,49,37,53,38,59,40,64,42,69,43,74,44,72,49,73,54,76,59,78,64,76,70,80,71,82,79,83,81,92,81,92,86,91,91,90,96,89,99,82,98,78,97,74,96,70,95,66,95,62,94,58,93,58,89,59,85,60,81,61,77,62,73,65,69,66,65,62,63,58,63,54,61,50,61,47,62,42,61,38,60,34,59,33,55,30,51,29,47,30,43,31,37,35,40,40,42,40,38,43,35" onmouseover="rollIn('lapnmenu','Idaho, Washington');return true;" onmouseout="rollOut('lapnmenu');return true;" alt="">
<area shape="POLY" href="lapw/" coords="74,97,69,97,64,96,60,95,56,94,52,92,48,91,44,91,39,90,35,89,31,88,26,86,20,85,18,88,14,96,16,98,16,103,15,108,17,113,19,118,19,123,22,124,20,129,23,138,24,145,29,146,33,151,38,154,41,159,42,164,47,165,52,166,57,166,57,162,60,158,62,154,60,150,61,147,61,141,65,141,74,97" onmouseover="rollIn('lapwmenu','California, Nevada');return true;" onmouseout="rollOut('lapwmenu');return true;">
<area shape="POLY" href="larms/" coords="130,83,130,88,129,93,129,98,129,103,128,108,128,113,133,113,138,113,140,118,139,123,138,128,138,133,137,138,137,143,133,143,129,143,125,143,121,142,117,142,113,141,109,141,105,141,101,141,97,140,93,140,89,139,85,138,81,138,77,137,73,136,66,135,66,132,67,128,68,124,69,120,70,116,70,112,71,108,72,104,73,100,74,97,79,97,85,99,90,100,91,95,91,91,92,87,93,83,94,77,99,78,104,78,109,79,114,79,119,80,124,81,129,82,130,83" onmouseover="rollIn('larmmenu','Colorado, Utah, Wyoming');return true;" onmouseout="rollOut('larmmenu');return true;">
<area shape="POLY" href="laum/" coords="134,53,139,53,144,53,149,53,154,53,159,54,164,54,169,54,177,54,179,51,181,56,186,57,191,58,196,60,201,60,206,60,202,62,198,65,194,69,193,74,190,79,190,84,191,87,195,88,199,93,200,98,202,103,206,107,201,111,200,116,196,117,192,117,188,117,184,117,180,117,176,118,177,122,168,122,164,122,160,122,156,121,152,121,148,121,144,120,140,120,139,113,135,113,128,112,128,108,129,104,129,100,129,96,129,92,130,88,130,84,131,80,131,76,131,72,131,68,133,64,133,60,133,56,134,53" onmouseover="rollIn('laummenu','Iowa, Minnesota, Nebraska, North Dakota, South Dakota');return true;" onmouseout="rollOut('laummenu');return true;">
<area shape="POLY" href="lao/" coords="133,143,138,144,143,144,148,144,153,144,158,144,163,144,168,144,173,145,178,145,181,146,181,150,181,155,182,160,182,165,182,170,178,169,174,167,170,169,166,168,162,168,158,167,154,165,150,163,149,159,149,155,149,151,149,149,145,148,141,147,137,147,132,146,133,143" onmouseover="rollIn('laomenu','Oklahoma');return true;" onmouseout="rollOut('laomenu');return true;">
<area shape="POLY" href="lags/" coords="182,149,187,149,192,149,197,148,203,148,208,148,213,148,219,147,224,146,229,145,234,145,239,144,244,143,249,143,254,142,259,142,255,145,251,147,247,151,244,156,245,161,246,166,249,171,253,176,257,181,259,186,262,191,267,195,272,197,275,202,277,207,279,212,281,217,281,222,280,225,277,227,273,224,269,221,267,217,264,213,262,209,261,205,261,201,258,197,254,194,250,192,247,196,243,197,242,195,238,193,234,192,230,192,226,193,222,193,218,193,216,198,213,203,209,203,205,203,201,201,197,200,193,200,189,199,185,199,181,202,177,206,173,208,169,210,165,214,164,219,164,224,165,229,160,228,156,226,152,224,149,220,149,216,145,213,143,209,142,205,139,201,136,198,142,197,147,194,150,190,152,186,155,182,157,178,159,174,160,170,165,168,170,169,175,169,180,169,183,171,183,166,183,161,183,157,182,149" onmouseover="rollIn('lagsmenu','Alabama, Arkansas, Florida, Georgia, Louisiana, Mississippi, Texas');return true;" onmouseout="rollOut('lagsmenu');return true;">
<area shape="POLY" href="lancs/" coords="193,71,198,70,203,71,208,74,213,75,218,79,219,84,219,89,218,94,218,99,219,104,224,108,226,104,228,100,227,96,225,92,225,88,225,84,227,80,232,76,237,76,241,81,243,86,246,91,247,96,244,101,246,106,251,106,255,102,259,101,260,105,260,110,260,115,258,120,254,123,252,128,254,133,254,138,250,140,246,142,242,143,238,143,234,143,230,144,226,144,222,145,218,146,214,147,212,143,211,139,207,136,206,132,203,128,201,124,199,120,201,116,202,112,205,108,205,104,201,101,200,97,199,93,195,90,191,87,190,83,190,79,193,76,193,71" onmouseover="rollIn('lancmenu','Illinois, Indiana, Kentucky, Michigan, Ohio, Wisconsin');return true;" onmouseout="rollOut('lancmenu');return true;">
<area shape="POLY" href="lamsas/" coords="260,100,264,96,267,92,265,88,270,87,275,86,280,84,279,80,280,76,283,72,288,71,293,69,293,74,295,79,296,84,297,89,297,94,298,99,303,99,299,102,298,107,297,112,295,117,294,122,294,127,292,132,294,137,296,142,295,147,294,148,290,151,286,153,285,158,281,159,277,162,276,167,272,170,269,175,266,180,266,185,268,190,271,195,267,195,263,194,261,190,259,186,258,182,255,178,253,174,249,172,247,168,246,164,245,160,245,156,245,152,250,150,255,147,258,143,254,141,250,142,253,138,256,134,252,132,252,128,254,124,257,120,260,116,261,112,261,108,259,104,259,100,260,100" onmouseover="rollIn('lamsmenu','Florida, Georgia, New Jersey, New York, North Carolina, Pennsylvania, South Carolina, Virigina, Washington, D.C., West Virginia');return true;" onmouseout="rollOut('lamsmenu');return true;">
<area shape="POLY" href="lane/" coords="309,46,314,46,318,51,320,56,323,61,322,66,318,69,314,73,311,78,311,83,316,87,317,92,313,93,309,92,305,96,301,98,297,95,297,91,297,87,297,83,295,79,294,75,293,71,298,68,303,65,306,61,307,57,306,53,309,46" onmouseover="rollIn('lanemenu','Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, Vermont');return true;" onmouseout="rollOut('lanemenu');return true;">
<area shape="poly" href="aae/" coords="292,285,286,273,277,264,276,250,289,238,282,237,286,230,295,229,301,216,297,211,318,206,327,217,324,228,329,240,317,248,316,252,310,255,309,259,302,266" alt="">
</map>
</body>
</html>