<pre class="phonetic">
				11.1

				Tint


	1.  pe{&#618;}nt

	2.  t&#618;nt

	3.  d&#603;k&#596;&#602;e&#183;t

	4.  pe{&#618;}&#183;nt

	5.  t&#618;nt

	6.  pe&#183;{&#618;}nt	"oil-base"
	    t&#618;nt	"water-base"

	7.  &#712;k&#230;ls&#601;m&#593;{e}n

	8.  pe&#183;{&#618;}nt

	9.  pe&#709;{i}n&#660;

	10. pe&#183;{&#618;}n&#660;    sg. t&#618;nt

	11. pe{i}{&#618;}nt
	            &#712;k&#603;mto&#183;n               

	12. pe&#183;{i}nt

	13. &#712;d&#603;k&#602;&#716;e&#183;t

	14. k&#230;ls&#601;&#712;m&#593;en

	15. pe&#737;08&#771;{i&#737;08&#771;}nt, t&#618;&#737;08&#771;{n}t    waterbase paint}

	16. pe&#737;08&#771;{i&#737;08&#727;&#737;08&#771;}nt
	              t&#618;&#737;08&#771;{n}t

	17. pe&#737;08&#771;{i&#737;08&#771;}t

	18. t&#618;&#737;08&#771;{n}t  * if pastel colors
	    pe{i}nt   *

	19. t&#618;nt              light colors with waterbase paint
	    &#712;k&#230;&#619;s&#601;)m&#593;{i&#737;08&#727;}n                      

	20. pe{&#618;}nt

	21. -----

	22. t&#618;nt

	23. pe&#183;{i}nt   (in or out)

	24. -----

	25. -----

	26. -----

	27. pe{&#618;}nt   (inside or out)

	28. -----

	29. -----

	30. pe&#183;nt

	31. pe&#183;{i}nt  (in or out, light or dark)

	32. pe&#183;nt  (in or out
	    t&#618;nt   (of a light color)

	33. pe&#183;nt

	34. -----

	35. ripe&#183;{i}nt   (in or out)

	36. pe{i}n{t}&#601;t  out               

	37. -----

	38. pe{&#618;}n&#660;

	39. pe{&#618;}nt

	40. pe&#618;nt

	41. pe&#618;nt

	42. pe{&#618;}nt

	43. -----

	44. pe&#618;n&#660;

	45. peint    (never tint)

	46. pent

	47. pe{&#618;}int                    

	48. pe&#737;08&#771;{&#618;&#737;08&#771;}n&#660;

	49. pe{&#618;}n{&#660;}t

	50. pe{&#618;}nt

	51. pe&#183;n{&#660;}

</pre>
