<pre class="phonetic">
					18.1

					Jag /partial load/


	1.  &#712;h&#230;f&#716;lo&#650;d

	2.  ?

	3.  d&#658;&#230;g

	4.  d&#658;&#230;g

	5.  d&#658;&#230;{&#618;}g

	6.  sg. d&#658;&#230;&#183;g	has "heard it"

	7.  ? d&#230;{&#601;}b

	8.  sg. d&#658;&#230;{&#618;}g

	9.  j&#230;{e}g   (sic) drc

	10. d&#658;&#230;&#183;g

	11. d&#658;&#230;g

	12. ?

	13. d&#658;&#230;g

	14. sg. d&#658;&#230;&#183;g

	15. &#716;h&#230;d &#601; &#716;sm&#596;&#619; &#712;d&#658;&#230;g &#716;&#593;n

	16. d&#658;&#230;g	just with hay  o.f.

	17. -----

	18. d&#658;&#230;&#183;g  * hd

	19. -----

	20. -----

	21. -----

	22. -----

	23. -----

	24. -----

	25. h&#230;f

	26. -----

	27. h&#230;f &#601; lo{&#650;}d

	28. h&#230;f &#601; lo{&#650;}d      (j&#230;g (sic) drc = load & liquor)

	29. d&#658;&#230;{i}g  (a Wisconsin word? She wonders)

	30. r&#618;k?)

	31. d&#658;&#230;g

	32. d&#658;&#230;g  (small load)  (hay)

	33. d&#658;&#230;g

	34. h&#230;f &#601; lo&#709;&#183;d

	35. -----

	36. l&#593;it lo&#183;d

	37. sg. d&#658;&#230;{&#618;}g

	38. d&#658;&#230;g &#601;v w&#650;d

	39. -----?

	40. ?

	41. -----

	42. d&#658;&#230;{&#603;}g

	43. -----

	44. (r&#618;k)

	45. -----

	46. h&#230;f f&#650;l  j&#230;g (sic) drc  hd. sg.

	47. d&#658;&#230;g  sg., hd.

	48. -----

	49. d&#658;&#230;g

	50. j&#230;g (sic) drc) &#601;v he{&#618;}    /small load/

	51. -----		</pre>
