<pre class="phonetic">
					24.8

					Creek


	1.  kri{&#618;}k

	2.  kr&#618;k

	3.  kr&#618;k

	4.  br&#650;k  
	    kri&#183;k

	5.  kri&#183;k
	    sdr{i&#183;}m
	    br&#650;k

	6.  kri&#709;&#183;{i}k

	7.  br&#650;k
 	    fr&#603;&#643;&#601;&#708;t
			/sm&#593;l/  "small"

	8.  kr{&#618;}i&#183;k

	9.  -----

	10. kr&#618;k

	11. br&#650;k

	12. kri&#183;k

	13. kr&#618;k

	14. kr&#618;k

	15. kr&#618;k 
	    br&#230;&#737;08&#771;{n}t&#643;

	16. kr&#618;ks	corr.: krik   usual word
	    stri{i}m
	    br&#230;&#737;08&#771;{n}t&#643;  sug. only of a large stream

	17. krik	nearly always
	    r&#618;vj{&#650;&#737;08&#727;}l&#601;t  rarely

	18. kr&#618;k	natural pron.
	    krik	recently since a visitor corrected her

	19. kr&#618;k
	    krik	corr.  (has been corrected in recent years)
	    br&#650;k

	20. krik

	21. -----

	22. kri&#183;k

	23. br&#650;k (very small)
	    kr&#618;&#709;k (bigger)
	    r&#618;v&#602;  (still bigger)

	24. br&#650;k  (father said)

	25. kr&#618;k

	26. kri{i}k

	27. kr&#618;k

	28. krik (in all context)

	29. kr&#618;k

	30. kri&#183;k  (borrowed this in college, used to say kr&#618;k)

	31. kr&#618;k

	32. kri&#183;k

	33. kri&#183;k
	    br&#650;{&#601;}k

	34. kr&#618;k

	35. br&#650;k
	    kri&#183;{i}k

	36. kri&#183;k

	37. kr&#618;k

	38. kri&#183;k

	39. br&#650;k
	    kri&#183;k

	40. kr&#618;k

	41. kri&#183;k

	42. kri&#183;k

	43. kri&#183;k

	44. sdr{&#618;}i&#183;m(z)
	    kr&#618;k

	45. br&#650;k
	    r&#618;vj&#601;l&#618;&#737;08&#727;t
	    j&#618;&#737;08&#727;st &#601; stri&#737;08&#727;m	(sic) drc
	    ("I wouldn't be above saying kr&#618;k.!")

	46. br&#650;k
	    kr&#618;k

	47. kri&#183;k

	48. kri&#183;k

	49. kr&#618;k

	50. br&#650;k = krik
	    r&#618;&#708;&#601;l (tiny)

	51. -----
</pre>
