<pre class="phonetic">
					29.5

					Dogie


	1.  ?

	2.  ?

	3.  ?

	4.  m&#230;vr&#618;k
	    do{&#650;}gi&#183;

	5.  do&#183;{&#650;}gi&#183;

	6.  sg. &#712;do&#183;{w}gi&#183;

	7.  sg. &#712;m&#230;vr&#618;k

	8.  do&#183;gi&#183;
	    m&#230;vr&#618;k	"unbranded calf"

	9.  -----

	10. ?

	11. sg. do&#183;{&#650;}gi

	12. ?

	13. -----

	14. -----

	15. -----

	16. -----

	17. do{u}gi&#737;08&#727;	hd on T.V. only

	18. -----

	19. -----

	20. -----

	21. -----

	22. hrd. &#712;m&#230;vr&#618;k

	23. -----

	24. -----

	25. -----

	26. -----

	27. -----

	28. &#712;m&#230;vr&#618;k	(not usual here)

	29. do{&#650;}gi&#737;08&#727; 	(not common around here)

	30. d&#596;gi&#183;	never used.  Learned only

	31. &#596;&#602;f&#618;&#737;08&#727;n

	32. -----

	33. &#712;d&#593;gi&#183;

	34. -----

	35. -----

	36. -----

	37. -----

	38. -----

	39. &#712;do&#183;gi&#183;

	40. m&#230;vr&#618;k
	    sg. &#712;do&#183;gi

	41. ?

	42. -----

	43. -----

	44. -----

	45. -----

	46. -----

	47. -----

	48. ?

	49. -----

	50. do&#709;gi

	51. -----	

</pre>
