<pre class="phonetic">
					30.4

				   (to) Rear

	
	1.  b&#652;k

	2.  sg. r&#618;&#602;

	3.  b&#652;k

	4.  b&#652;k
	    sg. p&#618;t&#643;

	5.  -----

	6.  b&#652;&#183;k

	7.  -----

	8.  b&#652;k

	9.  -----

	10. b&#652;k

	11. b&#652;k

	12. b&#652;k

	13. b&#652;k

	14. b&#652;k

	15. r&#603;&#602;
	    b&#652;k
	    p&#618;t&#643;

	16. b&#652;k		all 4 feet stiff
	    r&#230;&#708;&#602;	on hind legs only

	17. b&#652;k		all 4 feet off ground
	    r&#618;&#708;&#602;	on hind legs

	18. b&#652;k		4 feet
	    &#716;r&#603;&#602; &#712;&#652;p	hind feet

	19. b&#652;k		on front legs
	    r&#603;&#602;		on hind legs

	20. b&#652;k

	21. b&#652;k &#712;f&#596;r&#602;d (sic) drc  &#602; b&#652;k &#712;b&#230;kw&#602;dz
				   /same as p&#618;t&#643;/

	22. r&#618;&#602;
	    sg. b&#652;k

	23. b&#652;ks
	    pr&#230;ns&#618;&#737;08&#727;z

	24. b&#652;k		stiff-- jump up and down
	    r&#603;&#602;z &#652;p	up on hind legs

	25. b&#652;k

	26. b&#652;k		(on front legs)
	    r&#603;&#602;		(on hind legs)

	27. b&#652;k ?

	28. r&#618;&#602;		on hind or front legs
	    p&#618;t&#643;	on all four legs

	29. b&#652;k&#618;&#331;
	    r&#603;&#602;&#618;&#331;	on hind legs
	    k&#618;k&#618;n 	on front legs   (sic) drc

	30. b&#652;k ju&#183; &#596;f	("comes up in the middle.")

	31. b&#652;k		(all four feet raised)
	    r&#618;&#602;		(up on hind legs)

	32. &#952;ro&#183;{u}z
	    r&#603;&#602;z	("Is that correct?") (on hind legs)

	33. r&#603;&#602;
	    b&#652;k

	34. &#952;ro{&#650;}z &#618;m
	    b&#652;ks
	    p&#618;t&#643;&#618;&#331;  > going forward

	35. &#952;ro&#183;{w}
	    r&#618;&#708;&#602;&#618;&#331;	(on hind legs)
	    b&#652;kt	(all four legs)

	36. b&#652;k&#618;n	(on hind legs)

	37. -----

	38. b&#652;k
	    sg. r&#618;&#602;

	39. b&#652;k

	40. r&#618;&#602;
	    b&#652;k&#618;&#331; &#618;z &#712;d&#618;f&#602;nt

	41. b&#652;k

	42. b&#652;k

	43. b&#652;&#709;k
	    r&#230;&#602; sic          &#712;s&#652;n&#716;f&#618;&#643;

	44. b&#652;&#709;k

	45. b&#652;kt  &#596;&#602; r&#618;&#602;d   (same)

	46. (&#952;ro&#183;{u})

	47. b&#652;k

	48. b&#652;k
	    sg. r&#618;&#602;

	49. r&#618;&#602;		front legs up
	    b&#652;k		back legs up

	50. b&#601;k		(contorted)
	    p&#618;t&#643;	(back feet up)

	51. b&#652;k   [!]	

</pre>
