<pre class="phonetic">
					31.2

					R&#230;m


	1.  r&#230;&#183;{&#601;}m

	2.  r&#230;{&#601;}m

	3.  r&#230;{&#601;}m

	4.  b&#652;k &#643;i&#183;p

	5.  r&#230;m

	6.  r&#230;&#183;m

	7.  r&#230;m

	8.  r&#230;m

	9.  -----

	10. b&#652;k

	11. b&#652;k

	12. r&#230;{e}{&#601;}m

	13. b&#652;k

	14. r&#230;&#183;m

	15. r&#230;{&#601;}m

	16. r&#230;&#183;m

	17. r&#230;&#183;m	Might be embarrassing for women -- never had
			occasion to talk to women about it

	18. r&#230;&#183;m	Used to be taboo
	    &#712;b&#652;k&#716;&#643;ip	More polite

	19. r&#230;&#183;m	No taboo

	20. r&#230;&#183;{&#601;}m

	21. r&#230;m
	    me&#183;l &#643;i&#183;p

	22. r&#230;m

	23. r&#230;m

	24. r&#230;m

	25. r&#230;m		(women too)

	26. b&#652;k		(no "ram"

	27. r&#230;m 	(women used this term)

	28. r&#230;m

	29. b&#652;k

	30. r&#230;{&#618;}m

	31. r&#230;m		(wasn't used very often)

	32. r&#230;:m

	33. r&#230;{&#601;}m

	34. r&#230;m

	35. r&#230;mz

	36. -----

	37. -----	"never said it"

	38. b&#652;k

	39. r&#230;&#183;m

	40. r&#230;&#183;m

	41. r&#230;{&#618;}{&#601;}m

	42. r&#230;{&#603;}m

	43. b&#652;k

	44. ?

	45. r&#230;m

	46. r&#230;m

	47. r&#230;&#708;m

	48. ? sg. r&#230;{&#603;&#737;08&#771;}m

	49. b&#652;k

	50. r&#230;&#708;{&#601;}m	hd. /buck sheep/

	51. b&#652;k

</pre>
