<pre class="phonetic">
					31.8

					Tusks


	1.  t sks	Vowel did not come through on the carbon

	2.  t&#652;sks

	3.  t&#652;sks

	4.  t&#652;sks

	5.  t&#611;sks

	6.  t&#652;sks

	7.  t&#652;sks

	9.  -----

	10. t&#652;sks

	11. t&#652;sks

	12. t&#652;sks

	13. t&#596;sks

	14. t&#652;sks

	15. t&#652;sks

	16. t&#652;sks

	17. t&#652;sks	

	18. t&#652;sks

	19. t&#652;sks

	20. t&#652;sks

	21. -----

	22. t&#652;sks

	23. t&#652;sks

	24. t&#652;sk  (pl.

	25. t&#652;sks

	26. t&#652;sk  (pl.)

	27. t&#652;sks

	28. t&#652;sk  (pl.)

	29. t&#652;sks

	30. -----

	31. t&#652;sks   (sg

	32. t&#652;sks

	33. t&#652;sks

	34. t&#652;s{k}s

	35. t&#652;sks

	36. t&#652;sks

	37. -----

	38. t&#652;sks

	39. t&#652;sks

	40. t&#652;sks

	41. t&#652;sks

	42. t&#652;sks

	43. t&#652;sks

	44. t&#652;sks

	45. f&#230;n&#331;z	(sic) drc

	46. t&#652;sks

	47. t&#652;sks

	48. t&#652;sks

	49. t&#652;sks

	50. t&#601;sk&#792;s

	51. t&#652;sks

</pre>
