<pre class="phonetic">
					33.5

					Calls to Horses /to get them in
							from pasture/


	1.  ?

	2.  ?

	3.  k&#652;m b&#594;&#708;&#183;{e}

	4.  (whistle)

	5.  ?

	6.  -----

	7.  (whistle)

	8.  "call by names"

	9.  -----

	10. -----

	11. -----

	12. -----

	13. /by name/

	14. ko &#183; &#183;  ko &#183; &#183;

	15. whistle and call by name

	16. whistle  also rattle bucket of grain

	17. call by name

	18. ----- 	* never call

	19. k&#652;m n&#618;g  level stress  or whistle  high voice

	20. ?

	21. /by name/  &#712;k&#652;m &#716;bl&#230;ki

	22. ----	hrd  name called

	23. -----

	24. -----

	25. hw&#618;sl&#737;08&#809;

	26. -----

	27. hw&#618;sl&#737;08&#809;  by name

	28. by name --  hw&#618;sl&#737;08&#809;

	29. -----

	30. -----

	31. by name -- k&#652;m n&#603;li&#737;08&#727;  k&#652;m b&#618;l

	32. by name  &#712;pi&#183;{i}t  &#712;m&#596;&#183;d

	33. (whistle repeated--modulated to the flat of note)

	34. -----

	35. -----

	36. -----

	37. -----

	38. (by name)

	39. (whistle)

	40. "whistle"

	41. ?

	42. (whistle)

	43. -----

	44. -----

	45. -----

	46. hw&#618;&#737;08&#727;sl&#737;08&#809;d

	47. -----

	48. -----

	49. -----

	50. call its name  whistle

	51. -----

</pre>
