<pre class="phonetic">
					36.8

			      when are) You-all (coming again


	1.  juw

	2.  ju&#183;{w}

	3.  ju{w}

	4.  ju&#183;

	5.  j&#601;

	6.  ju&#183;{w}

	7.  ju&#183;{w}

	8.  ju&#183;{w}

	9.  -----

	10. (no you-all)

	11. ju&#183;

	12. ju&#183;

	13. ju&#183;{w}

	14. -----

	15. when are j&#601; &#716;k&#652;m&#618;&#331; &#601;&#712;g&#603;n

	16. j&#650;&#737;08&#727;  "I'm not an Alabama boy!"

	17. ju&#737;08&#727;  I've heard southerners saying &#712;ju&#716;w&#596;&#619; and
	          j&#594;&#815;&#183;&#619; but that isn't honored around here
	
	18. j&#650;&#737;08&#727;  coming back  "Don't they say you-all in the South

	19. j&#650;&#737;08&#727;  Nobody says &#712;j&#650;&#716;&#593;&#707;&#619; here except some with &#712;j&#650;&#737;08&#727;z

	20. ju&#183;w

	21. -----

	22. ju:

	23. -----

	24. -----

	25. (ho{&#650;}m me&#183;{i}d hw&#593;it br&#603;d )sg.))

	26. -----

	27. -----

	28. -----

	29. -----

	30. -----

	31. -----

	32. -----

	33. ju&#183;{w}

	34. -----

	35. Says &#716;ju&#183;&#712;&#594;l --  first used "it jokingly" 
            and it just stuck"&#737;00

	36. Would say &#716;w&#618;l &#716;ju&#183;&#712;&#596;l &#716;k&#652;m &#712;b&#230;k?

	37. -----

	38. ju&#183;

	39. ju&#183;

	40. -----

	41. ju&#183;{w}

	42. -----

	43. -----

	44. -----

	45. ju&#183;  (never you all!)

	46. -----

	47. never uses

	48. never uses

	49. ?

	50. -----

	51. sg. "You-all" not used"

</pre>
