<pre class="phonetic">
					37.3

					Who-all's (children were there?)


	1.  -----

	2.  -----

	3.     

	4.  hu&#183;

	5.  -----

	6.  -----

	7.  -----

	8.  -----

	9.  -----

	10. -----

	11. -----

	12. -----

	14. -----

	15. -----

	16. Didn't ask

	17. -----

	18. Didn't ask

	19. Didn't ask

	20. hu&#183;z

	21. -----

	22. -----

	23. -----

	24. -----

	25. -----

	26. -----

	27. -----

	28. -----

	29. -----

	30. -----

	31. -----

	32. -----

	33. -----
	
	34. -----

	35. myself say this

	36. "I'd say hu&#183;z &#594;l d&#603;&#602; . . ."

	37. -----

	38. -----

	39. -----

	40. -----

	41. hu&#183;z

	42. hu&#183;s  (sic) drc  t&#643;&#618;l&#183;&#601;n

	43. -----

	44. -----

	45. -----

	46. -----

	47. -----

	48. -----

	49. -----

	50. -----

	51. hu{u}&#594;lz

</pre>
