<pre class="phonetic">
					38.7

					Yeast Cake


	1.  ke&#618;k

	2.  ji&#183;st

	3.  ji&#183;st ke&#709;&#183;k

	4.  ji&#183;st

	5.  ji&#183;st

	6.  j{&#618;}i&#183;st

	7.  ji&#183;st

	8.  ji&#183;st

	9.  -----

	10. ji&#183;st

	11. ji&#183;st

	12. &#601;v ji&#183;st

	13. ji&#183;st

	14. ji&#183;st

	15. jist

	16. jist

	17. jist

	18. jist

	19. jist

	20. &#601; ji&#183;st

	21. ji&#183;st

	22. ji&#183;st

	23. ji&#183;st

	24. ji&#183;st

	25. ji&#183;{i}st

	26. -----

	27. ji&#183;{i}st

	28. ji{i}s

	29. ji&#183;st

	30. ji&#183;st

	31. ji&#183;st

	32. ji&#183;st

	33. ji&#183;st

	34. jist

	35. ji&#183;{i}st

	36. ji&#183;st

	37. ji&#183;st

	38. &#601;v j{&#618;}i&#183;st

	39. &#601;v ji&#183;st

	40. ji&#183;st

	41. ji&#183;st

	42. j{&#618;}i&#183;st

	43. ji&#183;st

	44. j{&#618;}i&#183;st

	45. ji&#183;st	to make bread r&#593;&#618;z !!

	46. ji&#183;st

	47. jist

	48. ji&#183;st

	49. ji&#183;st

	50. jist

	51. ji&#183;st

</pre>
