<pre class="phonetic">
					45.4

					Walnut Shell /green outer cover/


	1.  h&#652;sk    w&#593;ln&#601;t

	2.  &#643;&#603;{&#601;}l

	3.  h&#652;l

	4.  b&#602;

	5.  h&#652;{&#601;}sk

	6.  -----

	7.  h&#652;{&#601;}l	cv. b&#602;

	8.  h&#611;&#619;

	9.  -----

	10. -----

	11. h&#652;l

	12. ?

	13. &#712;w&#594;ln&#652;t h&#652;sk

	14. h&#652;sk

	15. unfamiliar

	16. &#643;&#652;ks  sug. hd.

	17. &#712; ~ &#716;h&#652;sk

	18. &#712; ~ &#716;h&#652;sk	*

	19. b&#602;		sug. unfam.

	20. -----

	21. &#643;&#603;l

	22. ?

	23. &#643;&#603;l	(h&#652;sk?)

	24. h&#652;sk

	25. -----

	26. -----

	27. h&#652;sk

	28. -----

	29. -----

	30. h&#652;sk

	31. -----

	32. -----

	33. -----

	34. b&#602;

	35. -----

	36. w&#596;ln&#652;t ---?

	37. ~ h&#652;sk

	38. ?

	39. h&#652;&#707;l

	40. &#712;b&#602;

	41. ~ h&#652;l

	42. ~ h&#652;l

	43. ~ h&#652;sk

	44. -----

	45. h&#652;sk

	46. -----

	47. -----

	48. ?

	49. ----- ?

	50. h&#601;l	/outside/

	51. -----

</pre>
