<pre class="phonetic">
					45.7

					Praline


	1.  -----

	2.  pre&#183;linz

	3.  &#712;pre&#183;l&#618;nz (sic) drc	? fw's question mark

	4.  &#716;pi&#183;k&#230;&#708;n &#712;kr&#652;n&#643;

	5.  ?

	6.  -----

	7.  -----

	8.  &#712;pre&#183;l&#601;n

	9.  -----

	10. -----

	11. -----

	12. ?

	13. -----

	14. -----

	15. -----

	16. -----

	17. -----

	18. -----

	19. -----

	20. -----

	21. -----

	22. &#712;pre&#183;li&#183;n

	23. &#712;t&#643;&#603;s&#716;n&#652;ts

	24. -----

	25. -----

	26. -----

	27. -----

	28. -----

	29. -----

	30. -----

	31. -----

	32. -----

	33. ?

	34. -----

	35. n&#618;g&#602;to&#183;{&#650;}z

	36. -----

	37. -----

	38. ?

	39. pre{i}li&#183;nz

	40. &#712;pre{i}&#716;li&#183;nz

	41. -----

	42. pr&#594;li&#183;nz

	43. -----

	44. -----

	45. &#712;pi&#183;k&#593;n

	46. -----

	47. -----

	48. -----

	49. -----

	50. -----

	51. -----


</pre>
