<pre class="phonetic">
					47.1

					husks /an ear of corn/


	1.  h&#652;sks

	2.  &#643;&#650;ks (sic) drc

	3.  h&#652;sk  to &#643;&#652;k k&#594;&#602;n

	4.  h&#652;sks

	5.  h&#611;sks

	6.  -----

	7.  h&#652;sks

	8.  h&#652;sks

	9.  -----

	10. -----

	11. &#643;&#652;ks

	12. h&#652;sks

	13. h&#652;sks

	14. h&#652;sks

	15. &#643;&#652;k

	16. h&#652;sk	1 to each ear

	17. h&#652;sk	singular--1 to each ear
	    h&#652;sks

	18. h&#652;sks

	19. h&#652;sks

	20. h&#593;&#708;lz  cv.
	    h&#652;sks

	21. h&#652;sk

	22. h&#652;sks

	23. h&#652;sks

	24. h&#652;sk

	25. h&#652;sk

	26. -----

	27. h&#652;sks (of corn)

	28. -----

	29. h&#652;sks

	30. h&#652;sks

	31. h&#652;sks

	32. h&#652;sks

	33. h&#652;sks

	34. h&#652;sks

	35. ("I never say either one.")

	36. h&#652;sks

	37. h&#652;sks

	38. h&#652;sks

	39. h&#652;sk

	40. h&#652;sks

	41. h&#652;sks

	42. &#643;&#652;ks

	43. h&#652;sks

	44. h&#652;sks

	45. h&#652;sks

	46. h&#652;sk -- h&#652;sks sg.

	47. h&#652;sks
	    hd. of &#643;&#652;k&#618;&#331; k&#596;&#602;n

	48. h&#652;sks

	49. h&#652;sks

	50. h&#601;sk

	51. h&#652;sks

</pre>
