<pre class="phonetic">
					58.7

					Fists


	1.  f&#618;sts

	2.  f&#618;st

	3.  f&#618;sts

	4.  f&#618;sts

	5.  fists	(sic) drc

	6.  -----

	7.  f&#618;sts

	8.  f&#618;s{t}s

	9.  -----

	10. -----

	11. f&#618;sts

	12. f&#618;sts

	13. f&#618;sts

	14. f&#618;sts

	15. f&#618;ss
	    &#712;n&#652;k&#601;&#619;z

	16. f&#618;s{t}s

	17. f&#618;sts

	18. f&#618;ss
	
	19. f&#618;ss

	20. f&#618;ss

	21. f&#618;sts

	22. f&#618;sts

	23. f&#618;st
	    f&#618;sts

	24. f&#618;sts

	25. f&#618;s{t}s

	26. -----

	27. f&#618;sts

	28. -----

	29. f&#618;sts

	30. n&#652;k&#601;lz)
	    f&#618;s{t}s

	31. f&#618;sts

	32. f&#618;sts

	33. f&#618;sts

	34. f&#618;sts

	35. f&#618;s{t}s

	36. f&#618;sts

	37. f&#618;sts

	38. f&#618;sts

	39. f&#618;sts

	40. f&#618;sts

	41. f&#618;sts

	42. f&#618;sts

	43. f&#618;sts

	44. f&#618;sts

	45. f&#618;st

	46. f&#618;st
	    f&#618;s:

	47. f&#618;s:

	48. f&#618;sts

	49. f&#618;s&#183;s

	50. -----

	51. f&#618;s{t}s

</pre>
