<pre class="phonetic">
					72.6

				     I) Dreamed


	1.  drijmd

	2.  dri&#183;md

	3.  dri&#183;md

	4.  dr&#603;m(p)t

	5.  dri&#183;md

	6.  -----

	7.  dr{&#618;}i&#183;md

	8.  dr&#603;{&#601;}mp

	9.  -----

	10. -----

	11. dri&#183;md

	12. dr{&#618;}i&#183;md

	13. dr&#603;mt

	14. dr&#603;mt

	15. dri&#183;m{b}d

	16. drimbd
	    dr&#603;mpt	unsure which

	17. drim{b}d
	    dr&#603;mpt	either

	18. drim{b}d

	19. &#712;drim{b}d

	20. dr&#603;mp
	    later dr&#603;mpt

	21. dri&#183;md

	22. dr&#603;mt

	23. dr&#603;mt

	24. dri&#183;{&#618;}md

	25. -----

	26. -----

	27. dr&#603;m{p}t

	28. -----

	29. dri&#183;{&#618;}md
	    (never dreamt)

	30. dri&#183;{i}m&#618;&#331;)
	    dr&#603;mt

	31. dri&#183;{i}md

	32. dri&#183;md

	33. dri{&#618;}md

	34. dri{i}m&#618;&#331;
	    dr&#603;mt

	35. h&#230;d &#601; dri{i}m)
	    dr&#603;mt

	36. dri&#183;{i}md

	37. dr&#603;mpt

	38. dri&#183;md

	39. drimd
	    cv. dr&#603;mt

	40. dri&#183;md
	    cv. dr&#603;mt

	41. dr{&#618;}i&#183;md

	42. dr&#603;mp

	43. dr{&#618;}i&#183;md

	44. dr{&#618;}i&#183;md

	45. dri&#183;md
	    dr&#603;mpt

	46. dr&#603;mp -- I guess

	47. drimd

	48. dr&#603;mt

	49. dr&#603;m(p)t

	50. -----

	51. dre{&#618;}md
	 	
</pre>
