<pre class="phonetic">
				9.5

				Covered Walk


	1.  &#712;bri{&#618;}z&#716;we{&#618;}         

	2.  bri&#183;zwe&#183;{&#618;}

	3.  bri&#183;zwe&#183;{&#618;}

	4.  &#593;&#602;b&#602;   w&#593;&#707;k

	5.  sg bri&#183;zwe{&#618;}

	6.  &#712;br&#601;iz&#716;w&#601;i     (sic) drc          

	7.  bri&#183;z we&#183;{i}       /l&#593;&#183;&#331;/ "long

	8.  *  &#712;br{&#618;}iz&#716;w&#603;i

	9.  br{&#618;}izwe&#709;&#183;{&#618;}

	10. ?

	11. &#593;&#602;b&#602;  sg. &#712;br{&#618;}iz&#716;we&#183;{&#618;}

	12. br{&#618;}izwe&#183;{&#618;}

	13. -----

	14. -----

	15. -----

	16. -----

	17. &#716;k&#652;v&#602;d&#712;we{i}

	18. &#712;bri&#183;z&#716;we{i}    modern word

	19. &#712;briz&#716;we{i}     in modern architecture--between house 
			                              and garage

	20. -----

	21. -----

	22. -----
	
	23. -----

	24. -----

	25. -----

	26. -----

	27. -----

	28. -----

	29. bri&#183;z we&#183;{i}

	30. bri&#183;{i}z we&#183;{i}

	31. -----

	32. -----

	33. br&#618;&#183;{i}z we&#183;{&#618;}

	34. -----

	35. -----

	36. -----

	37. -----

	38. &#712;&#593;&#602;b&#602;

	39. &#712;br{&#618;}i&#183;z&#716;we&#618;

	40. &#712;bri&#183;z&#716;we{&#618;}

	41. &#712;br{i}&#183;z&#716;we{&#618;}

	42. &#712;br{&#618;}iz&#716;we{&#618;}

	43. -----

	44. [p&#596;&#602;t]   "car-port"

	45. brizwe{i}  (heard)

	46. bri{i}z we

	47. -----

	48. &#712;br{&#618;}&#618;&#183;z&#716;we{i}     (sic) drc        

	49. -----

	50. brizwe{&#618;}

	51. &#712;briz&#716;we&#183;{&#618;}

</pre>
