<p><b>Help</b></p>

<p>This is the help system for the Linguistic Atlas site. Pages that have help,
tips, or other useful information will have a question mark icon in the title
at the top. Click on that question mark to bring up a page like this one.</p>

<p>Close this page by clicking on the "close" link below.</p>

