<p><b><font size="+1">Change View</font></b></p>

<p>This contains options to change the way the Browse page displays the
data.</p>

<p><b>Views</b></p>

<p>This allows you to select one of three preselected sets of fields to include
in the views. After selecting one of these, you can remove fields by clicking
the minus sign after the field name on the Browse page.</p>

<p><b>Number of rows per page</b></p>

<p>This selects the number of rows to show on each page.</p>

<p><b>Show Map</b></p>

<p>This turns the map on and off on the Browse page.</p>

<!-- vim: set filetype=html: -->
