<strong>Director:</strong><br>
Originally the late Albert H. Marckwardt, now under the direction
of William A. Kretzschmar, Jr.<br>
<br>

<p><strong>Status of field work:</strong><br>
Complete.</p>

<p><strong>Areas Covered:</strong><br>
The states of Wisconsin, Michigan, Illinois, Indiana, Ohio, and
Kentucky, as well as the southern Ontario.</p>

<p><strong>Nature of recordings:</strong><br>
The interviewing instrument was a modified version of the worksheet
used in the Linguistic Atlas projects. The data collected from the
interviews dates from 1933 through 1978 and includes 564 field
reports with tapes of 107 interviews.</p>

<p><strong>Archives:</strong><br>
The original field books and the list manuscripts are housed with
the Linguistic Atlas Project, University of Georgia, Department of
English, University of Georgia, Athens, Georgia 30602 under the
supervision of William A. Kretzschmar, Jr. Microfilm copies are
available from the Photoduplication Services, Joseph Regenstein
Library, University of Chicago. 1100 East 57<sup>th</sup> St.,
Chicago, Illinois 60637. Contact the director at
billk@atlas.uga.edu.</p>

<p><strong>Selected bibliography:</strong></p>

<ul>
<li><a name="pederson1965">Pederson, Lee A. 1965.</a> "The
Pronunciation of English in Metropolitan Chicago." <em>PADS</em>
44.</li>

<li><a name="shuy1962">Shuy, Roger W. 1962.</a> "The
Northern-Midland Dialect Boundary in Illinois." <em>PADS</em>
38.</li>

<li><a name="wolfram1969">Wolfram, W. 1969.</a> <em>A
Sociolinguistic Description of Detroit Negro Speech.</em>
Washington, D.C.: Center for Applied Linguistics.</li>

<li><a name="wood1971">Wood, Gordon. 1971.</a> <em>Vocabulary
Change.</em> Carbondale and Edwardsville: Southern Illinois
University Press.</li>

<li>Also, see the <a href="$$baseurl$$/information/links.html">Links
Page</a>. . . .</li> </ul>

