<html>
<head>
<title>African-American Speakers</title>
<meta content="Eric Rochester" name="generator">
<meta content="Linguistic Atlas of the Middle and South Atlantic States." name="description">
<meta content="dialects, dialectology, aave, linguistics, speech, pronunciation, phonology, atlas" name="keywords">
</head>
<body alink="#800000" bgcolor="#FFFFFF" vlink="#800000" link="#0000C0" text="#000000">
<img src="img/logo.gif" border="0"><br>
<img border="0" src="img/maps.gif" width="67" height="33"> 

<p align="center"><font size="+1"><b>Locations of African-American and
Gullah Informants in Maryland.</b></font></p>

<p><b>Instructions:</b><br>
You can navigate to the neighboring states by clicking on the state's
label or selecting the state from the <a href="#states">list</a>. To
see information about each informant, click on the text label on the
map. (The Caucasian informants from LAMSAS have been left on the map,
but are gray.)</p>

<p align="center"><img src="img/md.gif" width="550" usemap="#state.map" alt="Maryland Informants" border="1" height="400"></p>

<p><a id="states" name="states">View the informant information in the
state of:</a></p>

<ul>
<li><a href="md.html">Maryland</a></li>

<li><a href="ga.html">Georgia</a></li>

<li><a href="gullah.html">Gullah</a></li>

<li><a href="nc.html">North Carolina</a></li>

<li><a href="sc.html">South Carolina</a></li>

<li><a href="va.html">Virginia</a></li>
</ul>

<table>
<tbody>
<tr>
<td><img src="$to_root/old/img/pixel.gif" width="179" height="1"></td>
<td><img src="$to_root/old/img/pixel.gif" width="178" height="1"></td>
<td><img src="$to_root/old/img/pixel.gif" width="178" height="1"></td>
</tr>

<tr>
<td align="left" class="footer"><font size="-1">September 30,
1999</font></td>
<td align="center" class="footer"><font size="-1">Copyright &#x00a9;
1999</font></td>
<td align="right" class="footer"><a href="mailto:webmaster@us.english.uga.edu"><font size="-1">webmaster@us.english.uga.edu</font></a></td>
</tr>
</tbody>
</table>

<map id="state.map" name="state.map">
<!--/opt/local/httpd/htdocs/aae/img/md.gif-->
<area alt="" href="$to_root/old/afam/va.html" coords="156,275,222,311" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=afam&amp;informid=MD9N" coords="421,297,441,309" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=afam&amp;informid=MD22N" coords="336,307,367,322" shape="rect">
<area alt="" href="$cgiurl/infprofile.py?project=afam&amp;informid=MD22M" coords="362,323,391,335" shape="rect">
</map>
</body>
</html>
