<pre>
LINGUISTIC ATLAS OF THE PACIFIC COAST
Preliminary Form of Worksheets
Filed Interviewing
May, 1952
Selected and Adapted by
David W. Reed and David DeCamp
University of California
from
Raven I McDavid and Virginia McDavid,
(Hans Kurath, ed.)
and from
David W. Reed and David DeCamp
                           
                           
1.  Parts of Phrases set off by parentheses need not be recorded.
2.  Directions to the fieldworkers are given between slanting          strokes.   i.e. /      /.
3.  Terms  following an asterisk are known regional and social         variants.  They are suggestive, not exhaustive.  New words         and pronunciation will be encountered constantly.
4.  Underlined forms are included primarily for pronunciation.         If not given naturally in the contexts indicated, they should      be elicited if possible in other contexts.
5.  Items marked   x  are especially tentative pending suggested       revisions.
                              1
1	  one
       two
2	  three
       four
3      five
       six
4      seven
       eight
5      nine
       ten
6      eleven
       twelve
7      thirteen
       fourteen
8      
       twenty
       twenty
seven
                             2
1      thirty
       forty
2      seventy
       hundred
       thousand  
3      the fifth man
       the sixth man
4      two men
5      M, N /letters of the alphabet/
6      all at once      *to once
7      twice as good
8      January
       February
       April
                              3
1      Tuesday
       Wednesday
2      Thursday
       Saturday                   *Sabbath
3      good 
         /until what time?/
4      afternoon          /the part of the day before supper;
                           when does it begin and end?/  *evening
5      We start to work before)  sunrise  /referring to the time                                             of day/   *sun
6      The sun)  rose  (at six /when did the sun rise?/  *riz,                                                              come up
7      We work until)  sunset  /referring to the time of day/
                                                   *sun
down
                             4
1      
2      a gold)  watch
3      half past seven          *half after seven, seven
thirty
4      quarter to eleven     *of, till, ten forty
five
5      
6      
7      the weather is)  clearing up  *clearing, fairing up                                                fairing off
8      heavy rain   /of short duration/  *cloudburst, down
pour,                                              squall
                              5
1      thunder storm       *thunder shower, electrical storm
2      
3      
4      
   /short or long?/   *drouth
5  x   the wind)  blew  (hard     *blowed
6      the wind is)  letting up    *dying down, easing up, going                                                               down 
7      chinook   /warm wind in winter; moist or dry?  get                            direction/  *thaw
8      we had a)    
  /light or severe?/    *a freeze
                             6
1      the lake)  froze over  (last night   *friz, skimmed over
2      skim ice  /first thin coating of ice/  *shale ice, scum,                                                   anchor ice
3      living room  /where guests are entertained/  *parlor,                                                            sitting room
4      
5      
6      andirons   *dog irons, fire irons, fire dogs, handirons
7      mantel     *mantelpiece,  mantel shelf, clock shelf, fire                                                               board
8      back 
   /in fireplace/    *back
stick, chunk
                             7
1      kindling       *lightwood
2      
3      
4      sofa  /describe/   *couch, chesterfield, lounge
5      
6      window shades     *roller shades,  blinds, curtains /on                                                             rollers
7      chest of drawers   /describe/  *bureau,  dresser,                                                           chiffonier
8      clothes closet     /built in/   *clothes press, wardrobe
                             8
1      wardrobe  /movable/   *clothes press, armoire,  wardroom
2  x   junk   /old worthless furniture and implements/     
                                      *rubbish, plunder
3      attic    *garret, sky parlor, cockloft
4      store room   *junk room
5      she cleans up    (every morning    *tidies, redds, cleans                                                              house
6      the 
  is behind  (the door   *in back of, tohind, 
                                           hindside
7      who does the )  laundry    *washing and ironing
8      basement  /describe/    *cellar
                             9
1      
  the door    *close
2      porch    /at front door; describe/  *stoop, veranda,                                                    gallery, piazza
3      porch   /at back door;  describe/   *stoop, veranda,
                                            gallery, piazza
4      patio      *court,  yard
5      covered walk      *arcade,  breezeway, gallery
6      clapboards   /on side of house/    *weatherboards
7  x   shakes  /boards split or riven as a substitute for                                                               shingles/ 
8   x  adobes  /earth blocks used in building;  mixed with straw/ 
                                                   *terrones
                             10
1      I drove in  (a nail    *druv, driv
2      I have driven  (many a nail     *druv, drove
3      
4      gutters  /built in or suspended?/  *eaves troughs,                                                      spouting, canals
5      shed   ?separate; for wood, tools, etc./  *tool house, 
                                                   woodshed
6      shed   /built on;  for tools, wood, etc./  *lean
                                                   woodshed
7     adobe  /sun
dried clay for building/   *dobe
8      beams  /roof supports/  *vigas, joists, rafters
                            11
1      They will)  tint  (the walls /interior only?/  *paint
2      out
house  /separate structure; usual and jocular words
                                                      *privy
3      I 
 it  (lots of time  /unstressed 
4     I haven't done it   /stressed and unstressed/   *hain't,
                                                       ain't
5     He doesn't care.   *don't
6     I have been thinking      (about it
7     
      
8      yard   /area surrounding a house in town/    *garden, lot
                            12
1      
   /what is it used for?  include compounds/
2      corn crib  /building for storing corn/   *corn house, corn                                                      barn, crib
3      
   /building or part of a building for storing                         grain/
4     hayloft   /upper part of barn;  describe or make sketch/ 
                                      *mow, scaffold
5      haystack    /observe shape and size;  out of door or in                         barn?/  *rick, mow, Dutch cap
6      haycock   /in the field/  *cock, shock, tumble, heap, pile
7      cow
barn   /shelter for cows; describe/  *barn, stable,                                                      cow pen 
8      pig pen    /shelter and enclosure for hogs and pigs;                           describe/  *sty, hog
run, hog boist, hog
crawl
                            13
1     
2      barnyard  /where stock is kept or fed;  enclosed or open?/                    *corral, cow lot, stable, horse lot
3      farm  /small country place where crops are grown/ *ranch
4      picket fence   /describe/  *paling fence, slat fence
5      barbed wire fence     *barb, bob
6      
7  x   stone wall  /of loose stones/    *rock fence, rock wall
8      
     *delft(
ware)
       
                            14
1     bucket  /wooden vessel;  shape and use/  *pail
2      pail  /large open tin vessel for water, milk/  *bucket
3      lunch pail   /small tin container for carrying lunch/  
                                         *dinner bucket
4      garbage pail  /describe/  *garbage can, swill bucket, ort                                                               pail
5      frying pan  /flat or round bottom?  iron or sheet metal?                        legs?/  *frier, skillet, spider, creeper
6      
   /heavy iron vessel with large opening; shape/
                *pot, cauldron
7      
    *flower(s) pot
8      I must)  
  the dishes
                             15
1      she)  rinses  (the dishes
2      dish rag   /for washing dishes/  *dish cloth
3      dish towel  /for wiping dishes/   *tea towel, dry
rag,                                                              cup towel
4      wash cloth  /for face/    *wash rag,  face cloth
5      
  *Turkish towel,  terry towel
6      
   /for flour, meal/    *gum
7      
8      
                            16
1      faucet   /on water pipe at kitchen sink/  *tap, spigot,                                                              cock
2      spigot  /on barrel/    *faucet, tap, cock
3      faucet  /on water pipe in yard/  *hydrant, spigot, tap
4      
  /for driving horses/
5      
  /made of paper; size?/  *bag, sack, poke
6      sack   /made of cloth/   *bag, poke
7      burlap bag    *gunny sack, crocus sack, guano sack, coffee                                                              sack
8	  tin can
                             17
1      
2      
3      cork   /made of cork/   *stopper
4      stopper  /made of glass/    *stopple, cork
5      shafts   /of a buggy/   *shavs, thills, fills, drafts
6      whiffletree   /on a one
horse rig/  *whippletree,
                                            singletree,
                                            swingletree
7      doubletree  /on a two
horse rig/   *evener, spreader,
                                           double singletree
8      he was )  hauling  (wood in his wagon  *drawing, carting,
                                               teaming
                             18
1      jag   /partial load on a wagon/
2      harrow  /describe/  *drag
3      stone boat  /for transporting stones from fields/
                                          *drag, mud boat
4      saw
horse  /for holding boards for sawing/ *sawbuck,                                                            trestle
5      saw
buck  /for holding firewood for sawing/  *saw
horse,
                                                      wood
buck
6      
   /the noun/
7      
  /for sharpening razor/
8      seesaw  *teeter
totter, teetering board, tilt(s), dandle
                             19
1      slingshot  /boy's weapon made of forked stick with rubber                      strips/  *beanie, bean
shooter, catapult
2      mouth organ  /blown/  *harmonica, mouth harp,  French harp
3      Jew's harp  /held between the teeth and picked/  
                     *juice harp, harp, French harp, mouth harp
4      coal scuttle  *coal hod
5      
  *trucks
6      whetstone  /portable, for sharpening scythe/  *whetrock,                                                          rifle
7      grindstone   /revolves/
8  x   flat iron  /non
electric/  *sad iron, smoothing iron, flat
                             20
1      a)  brand new car   *automobile
2      
)  the car
3      
4      
5      kerosene   *coal oil, lamp oil, carbon oil
6      nut   /on bolt/   *tap
7      inner)  
    
8      they are going to 
 the boat
                             21
1  x   I am going  (today  /Is the auxiliary verb omitted?/
        We . . .
         they . . . 
2      I am not  (going to    *ain't
        he . . . 
         they . . . 
3      Am I going  (to get some?  /record intonation/
        they . . .?
4     here are your clothes!  /mother to child, etc./  *here's
5   x  I have)  brought  (your coat   *brung, fetched
6      I'm right)  am I not?   *airn't  /record intonation/
7      no, it wasn't me   *wan't I
8      
                             22
1      
2      
3      
4      
5      trousers  *pants, breeches, slacks,  jeans
6      his coat) fitted  (me    *fit
7      
8      head scarf  /tied under chin/   *kerchief, fascinator,                                               babushka
                            23
1      the pockets)   
2      they)  knitted  (sweaters    *knit
3      the collar)  shrank   *shrunk, drawed up
4   x  it has shrunk   *shrunken
5      purse  /describe/   *pocketbook, handbag, bag
6      billfold     *wallet,  pocketbook
7   x  
8      an old)  umbrella  *bumbershoot
                           24
1      rubbers  /describe/  *overshoes, galoshes, gumshoes
2      bed
spread   *coverlet, counterpane, spread
3      pillow case     *pillow slip, pillow bier, pillow cover
4      quilt  /tied or quilted?  washable?/  *comfort(er), puff,                                                  tie
5      pallet  /bed on floor/  *shakedown, lodge
6      it goes ) clear (across   *clean, plum, jam
7      swamp  /inland/  *marsh, bog, slough, gall, cienoge,                                  meadow
8      creek  /small fresh water stream; arrange by size/  
               *stream, brook, rill, kill, run, branch, fork,                      coulee, rivulet, gutter
                             25
1      creek  /salt water; natural or man
made for ships?/ 
               *inlet, cove, canal
2      flat  /on mountain?  on plains?  fertile or barren?/ 
              *mesa, prairie
3      badlands  /unfit for cultivation/  *alkalai flats,                                                      malpais, waste land
4      prairie  /flat grassy country/  *plains, flats, llano
5      park  /enclosed high altitude basin?  any enclosed grassy place?/  *vally hole, basin
6      canyon  /deeply cut valley or gully; only between hills?                    narrow? steep sides?  with stream?/
                *gorge, gulch
7      ravine  /deep narrow valley of small stream/  *draw, glen,                                gulch, gully, canton, hollow, wash
8      gulch  /in hillside?, with stream? size? steep or sloping                  banks?/  **box canyon, draw, arroyo
                            26
1      gully  /size?/  *wash
2      arroyo  /depresson with usually dry watercourse; size?                      steep or sloping banks?/   *draw, coulee, seep,                    wash
3     irrigation ditch  *canal, water ditch, acequia, sakey ditch
4      
5      notch  /between mountains/  *gap, pass, clove
6      we go for a swim to the)  beach   *coast, ocean, seashore,                                            seaside, shore
7      wharf  /where boats stop and freight is unloaded/ *pier,                                                              dock
8      seawall  /wall extending into the ocean/  *breakwater,                                                        jetty, sandbar
                             27
1      
 road  *concrete, hard road
2      black
top  /bituminous/  *tarvia, tarvy road, oiled
road
                                                      pavement
3   x  back road  *by
way, neighborhood road, country road,  
                   dirt road, lane
4      chuck hole  /in road/  *pot hole, chug hole, hole
5      the road was)  slippery   *slick
6      parking strip  /grass strip between sidewalk and street/
                      *  parking, parkway, grass strip, berm, 
                         tree lawn, boulevard
7      he threw a stone (at the dog  *rock, dornick, doney,                                              hoonie;
                                      flung, throwed, chucked,
                                      chunked, pitched
8      he isn't)  at home  *to home
                             28
1      
2      
3      he was coming)  
  (me  *toward
4      we named the child)  for him   *after, at, from
5      
6      mongrel    *cur, cur dog, scrub, fiste, hound dog
7      /call to summon dog/  /record intonation/
8      he was) bitten  (by the dog   *bit, dogbit
                             29
1      
2      
  /special words used by farmers?  by women?  in                      presence of women?
              *animal, beast, male, top
cow, critter, toro,
               seed
3      
  /terms for female?  for male?/ *heifer(calf), bull
                                                 calf
4      Daisy is going)  to calve  *have a calf, find a calf,                                          freshen, spring
5      dogie  /motherless calf/  *maverick
6      
7      stallion  /special words used by farmers?  by women? in                       presence of women?/
                  *stud, stable horse, top
horse, seed horse
8      bronco  /unbroken horse/  *bronc, mustang
                             30
1      pinto  /mottled Indian pony; any color combination?  black                 and white only?/  *paint
2      I have never) ridden (a horse    *rode
3      he fell)  off  (the horse  /prep. not adv./  *off of,                                                            off'n
4     to)  rear  /of a horse trying to throw the rider; get                          distinction/  *buck, pitch
5      to)  shy  /of a horse/  *spook, start
6      hoofs   *hooves
7      
8      horseshoes   /game played with horseshoes/  *quoits,                                                    quates, plates, pitch
                             31
1      burro  /small donkey/  donkey, jackass
2      ram  /special words used by farmers?  by women?  in                      presence of women?/  *bucksheep, buck, male sheep
3      
4      
5      
  /male and female?  old and young?/
6      
  /special words used by farmers?  by women? in                       presence of women?/  *boar
hog, male hog, hog,                                           seed
hog, breeding hog
7      
8      
    *tushes
                             32
1      
       
2      castrate  /horses, bull
calves, boars, cats/  *alter,                              change, trim, cut, dress, mark,  work on
3      bawl  /of a calf being weaned/  *blare, cry, blat, blate,                                           bellow
4      moo   /during feeding time/    *low
5      bawl  /of cow when calf is taken away/  *cry, blare,                                                        bellow, moo
6      whinny  /of a horse during feeding time/  *nicker,                                                            whicker, laugh
7      a setting
hen   *hatching
hen,  cluck, clook, brooder
8      
   /describe/  *hen house, hennery
                             33
1      wish bone  *lucky
bone, pulley bone, breastbone
2      chore time   *feeding time,  time to feed
3      /calls to cow to get them from the pasture/  *come boss,            sook(ie),  co bossie, co co
/Note: In calls to animals, mark stress and intonation, and note repetition./
4      /calls to cows to get them to stand still during milking/
  *saw boss, so, histe, saw madam
5      /calls to horses to get them from pasture/ *co
jack, kope,                                                     whistling
6      calls to horses to urge them on  /*get up, gee up, come                                               up, clucking
7      /calls to horses to stop them/  *whoa,  back up
8      /calls to pigs when feeding them/  *suwee, kong, poke,                                                 chook, pig pig
                             34
1      /calls to sheep to get them from the pasture/  *co
sheep,                                                         co
nan(nie)
2      /calls to chickens when feeding them/  *chickie, chick,                                                    kip kip
3   x  reins  /for driving or plowing, not riding/  *lines
4      
5   x  cinch  /band that holds saddle on/  *girth
6      the near horse  /horse on the left/  *nigh horse, lead                                                   horse, wheel horse           
7      nose bag  /bag attached to horse's head to feed him/                          *feed bag, morral
8      lariat  /rope with loop; rawhide or hemp? only for                        roping?/  *lasso, reata, roping rope, rawhide rope
                             35
1      it looks) good  *well
2      a little ways (over   *way, piece
3      a long ways  (to go  *way
4      two miles is)  the farthest  (he could go  *furthest, all                                                      the farther
5      not a one  *ne'er a one, nary a one
6      /record double negations/
7      we raised a big)  
8      second cutting  /of clover, grass/   *rowen, aftermath,                                                  lattermath
                             36
1      a sheaf (of wheat  * a bind, a bundle
2      forty)  bushels  (of wheat  *bushel
3     pick  /to harvest grapes/ *cut
4      pick  /to harvest walnuts/  *cut
5      oats are 
   *is
6      his isn't as tall)  as I am   *as I,  as I be,  as me
7      it's)  yours   *yourn
              ours
              theirs
              his
              hers
8      when are)   you
all  (coming again?  /is 'you
all' ever used as sing.?/   *youse, you'ns, 'mongst
you                                         /record intonation/
                             37
1      you
all's  /genitive/
2      who
all  (was there?  /record intonation/
3      who
all's  (children were there?  /record intonation/
4     what
all (did he say?  /record intonation/
5      white bread  /white, in loaves/  *light bread, bread,                                                wheat bread
6      corn bread  /in large cakes/  *johnny
cake, corn pone, 
                                      pone
bread
7      /other kinds of bread and cakes made of corn meal;                 describe preparation/  *spoon bread, awenday, ash cake,                                    hoe cake, hush puppies 
8      home
made bread and) bakery bread  *store bread, town                                bread, boughten bread, baker's bread
                             38
1      sweet roll  /describe/  *snail, coffee roll, sugar roll,                                    breakfast roll
2      doughnut  /made with baking powder/  *cake doughnut, fried                                               cake, cruller
3      doughnut  /made with yeast/  *raised doughnut, fried                                             cake, cruller
4      pancakes  /of wheat/  *wheat cakes, griddle cakes,                                        flapjacks, hot cakes
5      recipe   *receipt
6      two pounds  (of flour  *pound
7      a cake) of yeast  *east, emtins, cunnell
8      liquid yeast  /home
made; grows in jar?/  *sourdough,                                                         spook yeast
                             39
1      boiled 
2      yolk    *yelk,  yellow
3      the yolk is)  
  /name of color/
4      salt pork   *side meat, sow belly, fatback, white meat,                          white bacon
5      bacon rind  *skin, meat skin
6      a side of bacon  *flitch, sicle, slab, middling
7      chipped beef  *jerked beef, dried beef,  jerky,  salt
                                                              horse
8      
                             40
1      the meat is)  
2      
3      head cheese  /pressed meat loaf made of hog's jowls, etc./
                     *souse, wurst, scrapple, pannhoss, jowl                             meat, head meat
4      liverwurst  *liver sausage, braunschweiger, liver pudding,                      liverel
5      scrapple  /made of corn mean, meat juice and scraps/                          *cripple, pannhoss, ponhass, ponihoss
6      thick sour milk  *curdled milk, clabber, bonny
clabber,                              lobbered milk
7      the milk is)  blinky  /just turning sour/  *turned,                                                        tainted, blue
john
8      cottage cheese  *pot cheese, Dutch cheese, smearcase,                 clabber cheese, sour milk cheese, curds, curd cheese
                             41
1      apple)  cobbler  /baked in a deep dish; describe                                     preparation/  *fanily pie, deep apple                               pie, apple pan dowdy, apple Jonathan
2      sauce  /sweet liquid served with pudding/  *dip, dope,                                                   dressing, gravy
3      frosting  /sweet coating of a cake/  *icing
4      
5      
    /note stress/
6      a snack  /food eaten between regular meals/  *bite, lunch,                                                       piece
7      I'm going)  to get supper   *make, fix
8      we ate  (at six o'clock    /when did you eat/?
                             42
1  x   how often)  have you eaten  (today?  /record intonation/
                                *et, eat, ate 
2      I'm going to)  make some 
  *cook, boil, draw
3      
  (the coffee
4      a 
5      I drank)  a lot of it
6      How much)  have you drunk?  /record intonation/
                                    * drank, drunken
7      soft drink    *soda pop, pop, tonic, dope
8      I sat down   *set, sot
                             43
1      warmed over  /of food/  *warmed up, het over, heated up
2      
   *chaw, champ, chomp
3      vegetable 
   *kitchen garden, garden, truck garden,
                           family garden
4      hominy grits  /ground/   *grits, hominy, samp
5      
maple 
6      sugar is sold)  in 
  *loose
7      
  /strained or unstrained/
8      
a(n) apple
                             44
1      those boys  *them boys, them there boys
2      it's)  over there   *over yonder, back there, back yonder
3      what's that?  /when failing to hear someone's utterance/
                      *  how's that? how? what? huh?
                           /record intonation/
4      whom  (do you want?  /record intonation/  *who
5      pit  /of a cherry/  *stone, seed
6      pit  /of a peach/   *stone, seed
7      cling
stone peach  *cling peach, press peach, plum
peach
8      free
stone peach  *clear
seed peach, soft peach
                             45
1      
2      peanuts   *ground peas, goobers, pinders, ground nuts
3      
 shell  /hard inner cover/  *hull
4      walnut  hull  /green outer cover/  *shuck, shell, burr
5      peanut shell  *shuck, hull
6      
7      
  /flat sheet of pecan candy/  *pecan patties,
                                              pipitorias
8      
  *peach seeds, peach stone seeds
                             46
1      
2      
3      green 
   *spring onions, scallions, rareripes,
                       shallots
4      to)  shell peas  *hull, schuck
5      butter beans  /large, flat; not in pods/  *lima beans, 
                      sivvy beans
6      lima beans   /smaller, green; not in pods/  *butter beans, 
                     sivvy beans
7      string beans   *snap beans, green beans, wax beans
8      pinto beans   *Mexican brown beans, frijoles
                             47
1      husks  /on ear of corn/  *shucks
2      sweet corn  /served on the cob/  *green corn, sugar corn,
                    roasting ears
3      
  /top of the corn stock/  *spindle, top
gallant
4      
5      muskmelon   *mushmelon. cantaloupe
6      toadstool  /not edible/  *frogstool, frog bench, 
                                 frog table, mushroom
7      he couldn't)  
8      she was)  singing and laughing  /enter other examples in                     
 or with the prefix 
/ *a
singin, a
laughin
                             48
1      I 
  /stressed/
2      he hadn't ought to  /negative of ought to/  *oughtn't to
3      I)  
  do it
4      I)  might could  (do it  /future/  *might be able to
5      woodpecker  /get kinds/   *peckerwood
6      skunk    *polecat, woods pussy
7  x   chipmunk  *ground squirrel,  gopher, pocket pin, grinnie
8      varmints  /define/
                            49
1      shrimp  *prawn  /size? where from?  different from                                  shrimp?/ 
2      
3      
4      crawfish  /describe;  used for western lobster?/  
                  *crayfish, crawdad
5      toad  *toadfrog, hop
toad, dry
land
frog, wart frog,                      gray frog
6   x  horned toad  /small flat lizard with horns on head and                           back/  *horned frog 
7      earthworm  *angleworm, mudworm, fishworm, bait, baitworm,
                   rainworm
8      night crawler  /large earthworm/  *night walker, john                                                 jumper, wiggler
                             50
1      minnows  /for bait/  *shiner, minnies
2      terrapin  /on land/  *land turtle, tarpin, cooter, gopher
3      rattlesnake  /get varieties/  * moss auger, massauga,
                                       diamond back,
                                       prairie rattler,                                                   sidewinder
4      
  /in clothes/  millers
       
5      lightning bug  *firefly, fire bug, June bug
6      dragon fly  *snake doctor, snake feeder, darning needle,                       spindle, sewing bug, sewing needle,                                mosquito hawk, ear sewer
7      wasps  /get size, shape, color, nest, sting/  *dirt                        daubers, masons wans, wans
bees, mud wasps
8      hornets  /describe/
                             51
1      yellow
jackets  /wasps or hornets? nest in ground only?/
                        *shacket, yellow
tails
2      chigger  /small insect burrowing in human flesh/ *red
bug,                   jigger
3      spiderweb  /indoors/  *cobweb, dustweb, spider nest
4      spiderweb  /outdoors/  *spider nest, dew web, cobweb
5      
6      sugar maple  *hard maple, rock maple, sugar tree
7   x  maple grove   *sugar bush, sap bush, sugar orchard
8      sycamore  /describe/   *button wood, button ball, plane                                    tree  
                             52
1      
2  x   
3      
4      some berries are)  
   *poison
5      I must ask)  my husband  *my man,  the mister
6      I must ask)  my wife  *my woman, the wife, the Mrs.,                                      my old lady
7      
  *widow
woman
8      /what do you call your father?/  usual term and terms of            affection/  *pop, dad, daddy, pappy, paw, pa, popper
                             53
1      /what do you call your mother?  usual term and terms of             affection/  *mama, mom, mommer, maw, ma, mammy, mother
2      
  /immediate family/  *folks, people, home
folks
3      her relatives  /others related by blood/  *folks, kin,                                                        people
4      grandfather  /usual term and terms of affection/                                 *grandpa, gramps
5      grandmother  /usual term and terms of affection/                                 *grandma, granny
6      
7      baby carriage  *baby buggy, baby cab, baby coach
8      midwife  *granny, granny woman, godmother
                             54
1      the boy)  resembles  (his father /in looks? disposition?/                                *looks like, takes after, favors,                                features, is the spitten(sic) image of
2      she has)  raised  (three children  *reared, brought up, 
                                           fetched up
3   x  you've) grown  (big  *growed
4      bastard  /illegitimate child/  *woods colt, catch
colt, 
                                       volunteer, come
chance,
                                       base
born, bush child
                                       Sunday baby
5      
6      
7      
8   x  
                             55
1      
2      
3      
       
4      
5   x  jackleg preacher  /untrained, part
time/  *yard
6      
  *scholar, pupil
7   x  the boy has a)  
8      
                             56
1      postman   *mailman, mail carrier
2      cowboy  /only riders?  any ranch hand?/  *cowpoke, waddy
                                                 bronco buster     
3      hand  /on a farm or ranch/  *cowhand, cowboy, waddy,
                                    hired man
4      
  /neutral terms/  *colored man, darky
5      Negro  /derogatory terms/
6      a rustic  /derogatory terms and neutral terms/  *hillbilly, hick, farmer, hayseed, backwoodsman, yahoo, cracker
7      out in the sticks  *out in the badlands, out in the                                                          toolies
8      migratory worker   /neutral and derogatory terms/                                      *drifter, boomer, floater
                             57
1      Mexican   /neutral and derogatory terms/  *wetback,                                                 greaser, Spanish
American
2      I)  almost fell down  *like to fall, like to've fallen                                                               down
3      
4   x  how 
  (is it to . . . /
  followed by a vowel; record                                   intonation
5      look here  /exclamation; serious or jesting/?  *look
                                                             here
6      how 
  (do you go to town?  /record intonation/
7      
 you or I (will have to do it  *you or either me,
                                             me or you one
8      
 you nor I (can do anything about it
                             58
1      
2      the)  
3      
4      
       
5      
6      
  (of the hand  *pan
7      
8      
                             59
1      
   *hunkers, hunkies
2      
  *stout, husky, robust
3      stingy   *tight, chinchy, chintzy
4      he has the)  
  (of an ox
5      she's) quite lively  /of young people/  *active, spry,                                                      peppy
6      she's) quite lively  /of old people/  *active, pert, spry
7      I'm afraid   *scared, scary, afeared
8      She)  didn't use to  (be afraid /negative of used to/
                                        *usen't to
                             60
1      
2      don't be so)  obstinate  *stubborn, set, sot, pig
headed
                     ornery, contrary, muleheaded
3      he got awfully)  angry  *mad, het
up, ashy, ugly, mean
4      
5      tired  /normal and strong terms/  *exhausted, fagged out,
                 all in, beat out, perished, pooped,                                tuckered(out), bushed
6      lazy   *unambitious,  no
account, onery, ornery
7      goose pimples   * goose bumps,  goose flesh, duck bumps
8      she) got sick  *took sick, was taken sick
                              61
1      he) caught a cold   *caught cold, took cold
2      I'm)  
3      he has a)   
4   x  haven't you)  taken  (your medicine yet?  *took, tuck 
                             /record intonation/
5      I)  took  (it this morning  *taken, takened, tuck
6      
   *hard of hearing, deaf of hearing
7      he sweated  (hard   *sweat
8      
   /noun/
                               62
1      I don't know what)  he died of   *died with
2      cemetery   *graveyard, burying ground, churchyard, 
                   potter's field
3      casket   *coffin, pinto
4      they are in)  
5   x  
6      
7      
8      vomit  /neutral and polite terms/   *be ill
                               63
1      throw up  /crude and jocular terms/   *puke, skin a goat,                                                 purge
2      He is sick)  to his stomach   *at, in, on, of
3      I shall be)  disappointed if he doesn't come  *I will be
4      we shall be)   glad to see you   *we will
5      he is  (courting her  *going with, walking out with, 
                              sparking, sitting up to,
                              keeping company with
6      she turned him down  *broke off with him, gave him the                                   sack, gave him the mitten, threw
                             him over, jilted him, kicked him out
7      married   *hitched,  spliced
8      chivaree    /noisy, burlesque serenade after wedding;                           describe/  *seranade, belling, dish
panning,
                    skimmelton, callathump
                              64
1      a 
  *ball, hoe
down, shindig, frolic, frolick
2      he)   skipped class   *cut class, played hookey, belted,
                              hooked Jack,  cooked Jack
3      
   *learning,  book
learning
4      grammar school   *primary school,  grade school
5      first grade    *first class,  primary, first reader
6      
7      
8      
                               65
1      
2      
3      theater   *opera house   (not underlined [sic])
4      railway station   *railroad station,  depot
5      town square    *public square,  common, green, park,                               place, plaza
6      kitty
cornered  /of walking across intersection or lot/
                        *bias
ways, cater
cornered, catty
wampus,                           zig
7      on the)  street car  *trolley car, trolley, tram car,
                             surface car
8      I)  want to get off  (at the next corner   *want off
                                66
1      
2      
3      
       
4      
       
5      
       
6      
       
7      
       
8      
       
                              67
1      
          *Washington State
       
2      
       
3      
       
4      
       
   /Oregon/
5      
   *L.A.
       
    *San Berdoo
6      
    (Desert
       
    /California/
       
7      
     *Frisco
       
           /California/
       
            /California/
8      
  (Street  /in San Fransisco;  in other areas                  
 (Street               substitute appropriate local          
 (Street            place names/
                              68
1      I like him)  because  (he's . . .   *cuz, 'count of
2      
3      they 
 the church
4      
5      
  /as pronounced in church/
6      my 
!    /an oath/
7      
  /also veiled and jocular terms/  *bad man, bugger                              man, old Harry, Old Scratch, old Nick
8      ghosts   *spooks, spirits, haunts, fraids, poky spots,                       boogers
                             69
1      a 
 house
2      it's)  rather ( cold   *sort of, kind of, middling
3      I'd 
 ( not go
4     certainly!  /strong affirmation/  *surely, sure, you bet,                       of course
5      yeah  /habitual form of 'yes'/  *uh
huh, m
                                    /record intonation/
6      /do you habitually say 'yes, sir' and 'yes, ma'am' or               simply 'yes'?  Record intonation and stress, both normal           and emphatic
7      no  /habitual forms of negation; note intonation/  *uh
8      how are you?  /to an intimate friend;  note intonation/
                              70
1      how do you do?  /to a stranger;  note intonation/
2      come again! /to a visitor/  *hurry back
3      
 Christmas  *Christmas gift!
4      Happy 
5      it) 
  (too much
6      the bill is)  
7      
8      dime store  /store where all kinds of cheap goods are                          sold;  town or country?/
                   *racket store, general store, Noah's ark,
                    Woolworth's
                             71
1      coast lying down  *coast belly
bunt,  belly
bust,  belly
                             gut,take a belly
flopper
2      somersault  *somerset
3      I swam across  *swum
4      he dived in   *dove, div
5      he was drowned   *drownded
6      marbles   *migs, mibs, miggles, mibbies, agates, peewees,                     threaders
7      starting line  /in marbles/  *taw, taw line, lag line,                                           shooting line
8      the baby)  creeps  (on the floor  *crawl
                             72\
1      he) climbed up  *clum, clomb, clim
2      I have often)  climbed up  * clum, clomb, clim
3      she) kneeled  (down   *knelt
4      I'm going to ) lie down   *lay down
5      he)  lay in bed  (all day  *laid abed
6      I)  dreamed  (all night   *dreamt, dromp
7      I woke up  (early  *wakened, waked up, roused, got awake
8      
  (the floor
                             73
1      may I)  take you home?  /on foot or in a vehicle?/                                          *see you, carry you
                               /record intonation/
2   x  
3     
4      I lugged  (the suitcase down to the station  *packed,                                           toted, hiked, sacked, carried
5      go bring  (me a knife  *fetch, run and get, find
6      
  (the ball
7      who)  caught  (it?   *ketched, kotch  /record intonation/
8      I'll wait)  for you  *on you
                              74
1      in good) humor  *in a glee, feeling frisky, feeling good
      
2      who)  taught  (you that?  /record intonation/ 
                                  *teached, learned
3      we)  intend  (to go soon  *mean, are projecting, aim,                            figure on, are letting on, are studying on,                        are fixing, plan
4      pick  
   *pull, gather, pluck;  pretties
5      that's the one you )  gave (me  *give
6      he)  began  (to talk  *begun, commenced
7      he)  ran  (ashore   *run
8      he)  came  (over to see me  *come
                             75
                             
1      he)  saw  (me go in   *seen, see
2      the road was all)  torn up  *tore up
3      
!   /of a bracelet, piece of clothing, etc.;  
                     stressed 
4      he)  did it ( last night   *done
5      
6      
7      it's)  
 a (good one
8      
</pre>
