<html>
<head>
<title>African-American Speakers -- Search</title>
<meta content="Eric Rochester" name="generator">
<meta content="Linguistic Atlas of the Middle and South Atlantic States." name="description">
<meta content="dialects, dialectology, aave, linguistics, speech, pronunciation, phonology, atlas" name="keywords">
</head>
<body alink="#0E5EFF" bgcolor="#FFFFFF" vlink="#82CACC" link="#5672AC" text="#000000">
<img src="img/logo.gif" border="0"> 

<table>
<tbody>
<tr>
<td><img src="$to_root/old/img/pixel.gif" width="132" height="1"></td>
<td><img src="$to_root/old/img/pixel.gif" width="18" height="1"></td>
<td><img src="$to_root/old/img/pixel.gif" width="372" height="1"></td>
</tr>

<tr>
<td width="132" valign="top"><a href="$to_root/old/index.html"><img border="0" src="$to_root/old/img/homemenuoff.gif" alt="Home Page" width="125" height="30"></a><br>
 <a href="index.html"><img border="0" src="img/afammenuoff.gif" alt="Gullah" width="125" height="30"></a><br>
 <a href="information.html"><img border="0" src="$to_root/old/img/infomenuoff.gif" alt="Information" width="125" height="30"></a><br>
 <a href="browse.html"><img border="0" src="$to_root/old/img/browsemenuoff.gif" alt="Browse" width="125" height="30"></a><br>
 <img border="0" src="$to_root/old/img/searchmenuoff.gif" alt="Search" width="125" height="30"><br>
 <a href="maps.html"><img border="0" src="$to_root/old/img/mapsmenuoff.gif" alt="Maps" width="125" height="30"></a> </td>
<td width="18"></td>
<td width="372"><img border="0" src="img/search.gif" width="84" height="28"> 

<form action="$cgiurl/infsearch.py" method="get">
<p>Select only the values for the item(s) you wish to search for, and
leave the rest with the value "All."</p>

<p><a href="$to_root/old/fields.html#state">State:</a> <select name="state">
<option value="all">All</option>
<option value="ga">Georgia</option>
<option value="md">Maryland</option>
<option value="nc">North Carolina</option>
<option value="sc">South Carolina</option>
<option value="va">Virginia</option>
</select></p>

<p><a href="$to_root/old/fields.html#ws">Work Sheet:</a> <select name="ws">
<option value="all">All</option>
<option value="s">South Atlantic</option>
<option value="m">Middle Atlantic</option>
<option value="p">Preliminary South Atlantic</option>
<option value="c">Combined</option>
<option value="e">New England</option>
</select></p>

<p><a href="$to_root/old/fields.html#year">Year:</a> <select name="year">
<option value="all">All</option>
<option value="1933">1933</option>
<option value="1934">1934</option>
<option value="1935">1935</option>
<option value="1936">1936</option>
<option value="1937">1937</option>
<option value="1939">1939</option>
<option value="1940">1940</option>
<option value="1941">1941</option>
<option value="1945">1945</option>
<option value="1946">1946</option>
<option value="1947">1947</option>
<option value="1948">1948</option>
<option value="1949">1949</option>
<option value="1964">1964</option>
<option value="1965">1965</option>
<option value="1966">1966</option>
<option value="1967">1967</option>
<option value="1968">1968</option>
<option value="1970">1970</option>
<option value="1971">1971</option>
<option value="1972">1972</option>
<option value="1974">1974</option>
</select></p>

<p><a href="$to_root/old/fields.html#inftype">Type:</a> <select name="inftype">
<option value="all">All</option>
<option value="i">Folk</option>
<option value="ii">Common</option>
<option value="iii">Cultivated</option>
</select></p>

<p><a href="$to_root/old/fields.html#gen">Generation:</a> <select name="gen">
<option value="all">All</option>
<option value="a">Old-fashioned</option>
<option value="b">Modern</option>
</select></p>

<p><a href="$to_root/old/fields.html#cult">Cultivation:</a> <select name="cult">
<option value="all">All</option>
<option value="n">Common</option>
<option value="y">Cultivated</option>
</select></p>

<p><a href="$to_root/old/fields.html#sex">Sex:</a> <select name="sex">
<option value="all">All</option>
<option value="f">Female</option>
<option value="m">Male</option>
</select></p>

<p>Lower <a href="$to_root/old/fields.html#age">age</a> limit: <input type="text" name="lowerage" value="0" size="10"></p>

<p>Upper <a href="$to_root/old/fields.html#age">age</a> limit: <input type="text" name="higherage" value="120" size="10"></p>

<p><a href="$to_root/old/fields.html#educ">Education:</a> <select name="educ">
<option value="all">All</option>
<option value="0">None/Illiterate</option>
<option value="1">Some grade school: 1-4 years</option>
<option value="2">Grade school: 5-8 years</option>
<option value="3">Some high school: 9-11 years</option>
<option value="4">High school: 12 years</option>
<option value="5">Some college (also trade schools)</option>
<option value="6">College graduate</option>
</select></p>

<p><a href="$to_root/old/fields.html#occup">Occupation:</a> <select name="occup">
<option value="all">All</option>
<option value="p">Professional and Technical</option>
<option value="f">Farmers</option>
<option value="m">Managers, Officials, Proprietors</option>
<option value="r">Clerical and Sales</option>
<option value="c">Craftsmen and Foremen</option>
<option value="o">Operatives</option>
<option value="h">Private Household Workers</option>
<option value="s">Service Workers</option>
<option value="w">Farm Laborers</option>
<option value="k">Keeping House</option>
<option value="l">Non-Farm Laborers</option>
<option value="u">Seeking Work</option>
<option value="g">Student</option>
</select></p>

<p><a href="$to_root/old/fields.html#race">Race:</a> <select name="race">
<option value="all">All</option>
<option value="b">African-American</option>
<option value="w">Caucasian</option>
</select></p>

<p><a href="$to_root/old/fields.html#commtype">Locality Type:</a> <select name="commtype">
<option value="all">All</option>
<option value="r">Rural</option>
<option value="u">Urban</option>
</select></p>

<p>Display: <select name="display">
<option value="plain">Plain</option>
<option value="fancy">Fancy</option>
</select></p>

<input type="hidden" name="project" value="afam"> 

<p align="right"><input type="submit"> <input type="reset"></p>
</form>
</td>
</tr>
</tbody>
</table>

<table>
<tbody>
<tr>
<td><img src="$to_root/old/img/pixel.gif" width="179" height="1"></td>
<td><img src="$to_root/old/img/pixel.gif" width="178" height="1"></td>
<td><img src="$to_root/old/img/pixel.gif" width="178" height="1"></td>
</tr>

<tr>
<td align="left" class="footer"><font size="-1">September 30,
1999</font></td>
<td align="center" class="footer"><font size="-1">Copyright &#x00a9;
1999</font></td>
<td align="right" class="footer"><a href="mailto:webmaster@us.english.uga.edu"><font size="-1">webmaster@us.english.uga.edu</font></a></td>
</tr>
</tbody>
</table>
</body>
</html>
