<p><b>Director:</b><br>
Hans Kurath</p>

<p><b>Areas covered:</b><br>
The New England states of Massachusetts, New Hampshire,
Connecticut, Vermont, New York (Long Island), Rhode Island, and
Maine. Southern New Brunswick was also included in the study.</p>

<p><b>Subjects:</b><br>
From 1931-33, 416 informants were interviewed in 213 communities in
the New England states.</p>

<p><b>Nature of recordings:</b><br>
The responses to the 750 item questionnaire were recorded in
phonetic transcription without the benefit of electronic recording.
Some supplementary aluminum records made from 1933-39 still exist.
For the methodology see <a href="#kurath1972"><i>Handbook of the
Linguistic Geography of New England</i></a>. For a more detailed
description see <a href="#kurath-etal1972"><i>The Linguistic Atlas
of New England</i></a>.</p>

<p><b>Archives:</b><br>
Original field books and the list manuscripts are housed with the
Linguistic Atlas project, University of Georgia Special
Collections, Department of English, University of Georgia, Athens,
Georgia 30602, under the supervision of William A. Kretzschmar Jr.
(billk@atlas.uga.edu).</p>

<p><b>Selected bibliography:</b></p>

<ul>
<li><a name="carlson1973">Carlson, David. 1973.</a> The Common
Speech of Boston. Dissertation, University of Massachusetts.</li>

<li><a name="frank1949">Frank, Yakira H. 1949.</a> The Speech of
New York City. Dissertation, University of Michigan.</li>

<li><a name="kurath1941">Kurath, Hans. 1941.</a> <i>A Word
Geography of the Eastern United States</i>. Ann Arbor: University
of Michigan Press.</li>

<li><a name="kurath_etal1939_43">Kurath, Hans, et al. 1939-43.</a>
<i>Linguistic Atlas of New England</i>. 6 vol bound as 3.
Providence: Brown University for the American Council of Learned
Societies.</li>

<li><a name="kurath_etal1939">Kurath, Hans, et al. 1939.</a> <i>
Handbook of the Linguistic Geography of New England</i>.
Providence: Brown University for the American Council of Learned
Societies. 1973, 2d ed.</li>

<li><a name="parslow1967">Parslow Robert L. 1967.</a> The
Pronunciation of English in Boston: Vowels and Consonants.
Dissertation, University of Michigan.</li>

<li>Also, see the <a href="$$baseurl$$/information/links.html">Links
Page</a>. . . .</li> </ul>

