<html>
<head>
<title>Linguistic Atlas of the Gulf States</title>
<meta content="Eric Rochester" name="generator">
<meta content="Linguistic Atlas of the Gulf States." name="description">
<meta content="dialects, dialectology, lags, alabama, arkansas, florida, georgia, louisiana, mississippi, tennessee, texas, linguistics, speech, pronunciation, phonology, atlas" name="keywords">
</head>
<body alink="#0E5EFF" bgcolor="#FFFFFF" vlink="#82CACC" link="#5672AC" text="#000000">
<img border="0" src="img/logo.gif" width="138" height="45"> 

<table>
<tbody>
<tr>
<td><img src="$to_root/old/img/pixel.gif" width="132" height="1"></td>
<td><img src="$to_root/old/img/pixel.gif" width="18" height="1"></td>
<td><img src="$to_root/old/img/pixel.gif" width="372" height="1"></td>
</tr>

<tr>
<td width="132" valign="top"><a href="$to_root/old/index.html"><img border="0" src="$to_root/old/img/homemenuoff.gif" alt="Home Page" width="125" height="30"></a><br>
</td>
<td width="18"></td>
<td width="372">
<p><b>Director:</b><br>
Lee Pederson<br>
Department of English<br>
Emory University<br>
Atlanta, Georgia 30322</p>

<p><b>Status of field work:</b><br>
Complete, including tapes and transcriptions (protocols).</p>

<p><b>Areas covered:</b><br>
The states of Florida, Georgia, Tennessee, Alabama, Mississippi,
Louisiana, Arkansas, and Texas.</p>

<p><b>Subjects:</b><br>
1121 informants were recorded from 1968-1983. Nine hundred and fourteen
of these were selected for primary analysis. The informants were
carefully stratified by age, education, sex, and race.</p>

<p><b>Nature of recordings:</b><br>
The interviewing instrument is a worksheet in the Linguistic Atlas
format with revisions made by Pederson to capture specific southern
speech characteristics. The primary speech areas studied in LAGS were
the rural communities. Still, 205 supplemental interviews were
performed in urban areas for research on urban southern speech.</p>

<p><b>Archives:</b><br>
5,300 hours of taped recordings have been transcribed and are available
along with the protocols, from University Microfilms International, 300
N. Zeeb Road, Ann Arbor, MI 48106. Original records are maintained in
the Special Collections Department of the Emory University Library.
Copies of most tapes are also maintained at the University of Georgia
Library. Files and mapping programs are available on this site for IBM,
and compatible microcomputers. For more information see the <a href="#pederson_mcdaniel_adams1986"><i>Linguistic atlas of the gulf
states</i></a>.</p>

<p><b>Selected bibliography:</b></p>

<ul>
<li><a id="atwood1962" name="atwood1962">Atwood, E. Bagby. 1962.</a>
<i>The regional vocabulary of Texas</i>. Austin: University of Texas
Press.</li>

<li><a id="mcdaniel1989" name="mcdaniel1989">McDaniel, Susan L.
1989.</a> Databases of the LAGS automatic atlas. <i>Journal of English
Linguistics</i> 22:63-68.</li>

<li><a id="pederson_mcdaniel_adams1986" name="pederson_mcdaniel_adams1986">Pederson, Lee, Susan L. McDaniel,
and Carol M. Adams, eds. 1986-93.</a> <i>Linguistic atlas of the gulf
states</i>. 7 vols. Athens, Georgia: University of Georgia Press.</li>

<li><a id="pederson_mcdaniel_basset1986" name="pederson_mcdaniel_basset1986">Pederson, Lee, Susan L. McDaniel,
&amp; Marvin W. Basset, eds. 1986.</a> <i>A concordance of the basic
materials of the "Linguistic atlas of the gulf states."</i> Ann Arbor,
Mich.: University Microfilms.</li>

<li><a id="pederson1986" name="pederson1986">Pederson, Lee, ed.
1986.</a> <i>Handbook for the "Linguistic atlas of the gulf
states."</i> Athens, GA: University of Georgia Press.</li>

<li>Also, see the <a href="$to_root/old/links.html">Links Page</a>. . . .</li>
</ul>

<p><b>Downloads</b><br>
You can also download the file LAGS data files and programs to
manipulate them. There are several files you'll need to download, then
a series of optional data archives. Unless otherwise noted, all files
are in zip archives.</p>

<ul>
<li><b><a href="readme.lag">readme.lag</a></b> provides basic
information about the programs and the data files.</li>

<li><b><a href="protocol.txt">protocol.txt</a></b>, written by Michael
Montgomery, provides more detailed information about using the
programs.</li>

<li><b><a href="programs.zip">programs.zip</a></b> has the basic
programs you'll need to access and manipulate the data.</li>

<li>Finally, there are the data files: 

<ul>
<li><a href="abc.zip">abc.zip</a></li>

<li><a href="codelist.zip">codelist.zip</a></li>

<li><a href="grammar.zip">grammar.zip</a></li>

<li><a href="lexicon.zip">lexicon.zip</a></li>
</ul>
</li>
</ul>
</td>
</tr>
</tbody>
</table>
</body>
</html>
