<p>For information concerning the Linguistic Atlas Projects, please
contact:</p>

<p>Dr. William Kretzschmar<br />
Linguistics Program<br />
Park Hall<br />
Baldwin Street<br />
The University of Georgia<br />
Athens, GA 30602-6205<br />
USA<br />
Phone: 706-542-2246<br />
FAX: 706-542-2897<br />
E-mail: <a href="mailto:kretzsch@uga.edu">kretzsch@uga.edu</a></p>
