<p align="center"><font size="+1"><b>Locations of LAMSAS Informants in
New York</b></font></p>

<p><b>Instructions:</b><br />
You can navigate to the neighboring states by clicking on the state's
label or selecting the state from the <a href="#states">list</a>. To
see information about each informant, click on the text label on the
map.</p>

<p align="center"><img src="ny.gif" width="850" usemap="#state.map" alt="New York Informants" border="1" height="600"></p>

<p><a id="states" name="states">View the informant information in the
state of:</a></p>

<ul>
<li><a href="md">Delaware, Maryland, Washington, D.C.</a></li>

<li><a href="ga">Georgia</a></li>

<li><a href="nj">New Jersey</a></li>

<li><a href="ny">New York</a></li>

<li><a href="nc">North Carolina</a></li>

<li><a href="pa">Pennsylvania</a></li>

<li><a href="sc">South Carolina</a></li>

<li><a href="va">Virginia</a></li>

<li><a href="wv">West Virginia</a></li>
</ul>

<map id="state.map" name="state.map">
<!--/opt/local/httpd/htdocs/lamsas/img/ny.gif-->
<area alt="" href="pa" coords="228,480,286,515">
<area alt="" href="nj" coords="512,521,553,546">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY1" coords="744,469,753,492">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY2A" coords="757,493,777,509">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY2B" coords="745,514,764,528">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY2C" coords="731,496,750,509">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY3A" coords="698,521,715,535">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY3B" coords="646,518,664,530">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY3C" coords="686,510,705,522">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY3D" coords="650,497,669,511">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY4A" coords="620,508,638,521">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY4B" coords="629,545,645,560">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY4C" coords="636,529,655,543">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY5A" coords="713,541,731,554">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY5B" coords="690,566,708,579">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY5C" coords="611,535,631,548">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY5D" coords="689,540,707,554">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY5E" coords="690,552,707,565">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY5F" coords="666,553,685,565">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY5G" coords="665,566,684,578">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY5H!" coords="667,541,683,552">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY5I!" coords="614,522,630,535">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY6A" coords="563,542,582,557">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY6B" coords="563,561,582,575">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY7A" coords="443,511,463,526">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY7B" coords="443,458,463,472">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY7C" coords="444,474,464,485">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY7D" coords="446,446,463,459">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY7E" coords="444,526,463,539">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY7F" coords="443,485,462,499">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY7G" coords="470,447,489,459">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY7H" coords="443,497,463,512">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY7I" coords="468,515,487,528">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY7J!" coords="467,499,486,512">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY7K!" coords="467,460,488,473">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY7L!" coords="468,486,486,499">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY7M!" coords="467,475,489,486">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY8" coords="601,508,615,521">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY9A" coords="586,484,614,498">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY9B" coords="605,470,624,483">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY9C" coords="616,456,638,467">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY10A" coords="526,448,554,471">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY10B!" coords="551,437,576,458">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY11" coords="594,443,610,466">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY12A" coords="608,425,632,444">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY12B" coords="614,402,638,424">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY12C!" coords="583,403,607,422">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY13A" coords="567,371,598,384">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY13B!" coords="582,384,616,398">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY14A" coords="529,384,553,406">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY14B" coords="516,408,541,430">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY15A" coords="554,352,579,365">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY15B" coords="550,334,577,348">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY16A" coords="601,361,635,376">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY16B" coords="604,341,638,356">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY17A" coords="642,278,674,298">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY17B" coords="612,314,645,327">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY18A" coords="579,306,605,321">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY18B" coords="590,284,615,298">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY18C!" coords="615,295,640,309">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY19" coords="571,275,586,298">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY20A" coords="539,310,574,325">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY20B" coords="524,288,552,301">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY21" coords="526,272,546,286">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY22" coords="548,252,567,271">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY23A" coords="588,221,612,232">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY23B" coords="596,239,622,253">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY23C" coords="628,241,656,257">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY24A" coords="628,207,656,219">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY24B!" coords="626,222,655,237">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY25A" coords="578,172,604,187">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY25B" coords="596,189,623,204">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY26A" coords="523,200,552,215">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY26B" coords="542,186,571,201">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY26C" coords="554,208,582,222">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY27A" coords="640,151,666,164">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY27B" coords="609,145,638,159">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY27C" coords="623,163,651,179">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY28A" coords="635,53,662,65">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY28B" coords="636,31,664,46">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY28C" coords="616,7,645,21">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY29A" coords="569,24,595,39">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY29B" coords="535,25,563,40">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY29C" coords="562,42,590,57">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY30A" coords="478,74,515,87">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY30B" coords="498,41,524,52">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY30C" coords="532,49,560,61">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY30D" coords="496,52,522,65">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY30E" coords="531,60,558,73">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY31A" coords="389,126,421,138">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY31B" coords="406,109,438,121">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY32A" coords="458,186,493,202">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY32B" coords="434,156,468,169">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY33A" coords="475,170,503,185">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY33B" coords="504,174,531,187">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY33C" coords="494,146,521,169">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY34A" coords="363,214,388,226">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY34B" coords="369,189,395,203">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY34C" coords="394,177,423,198">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY34D!" coords="372,204,399,214">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY35A" coords="372,259,395,270">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY35B" coords="395,263,419,276">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY35C!" coords="392,243,421,256">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY36A" coords="422,274,449,288">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY36B" coords="432,252,461,266">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY37A" coords="443,212,469,232">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY37B" coords="451,235,481,249">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY37C!" coords="483,243,509,257">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY38A" coords="470,272,497,284">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY38B" coords="468,258,495,271">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY38C" coords="512,260,539,271">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY39A" coords="498,306,529,319">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY39B" coords="485,289,512,302">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY40A" coords="496,342,527,357">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY40B" coords="462,353,495,368">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY41" coords="441,302,458,322">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY42A" coords="352,317,377,330">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY42B" coords="391,289,421,308">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY43A" coords="416,343,445,355">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY43B" coords="396,322,423,337">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY43C!" coords="418,368,447,384">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY44A" coords="381,369,411,382">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY44B" coords="374,351,401,365">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY45A" coords="344,362,368,372">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY45B" coords="337,350,363,362">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY45C" coords="305,364,331,377">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY45D!" coords="339,372,365,385">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY46A" coords="264,368,291,381">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY46B" coords="316,316,343,328">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY46C" coords="331,334,356,345">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY47A" coords="363,335,391,348">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY47B" coords="379,308,405,321">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY48A" coords="322,139,350,154">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY48B" coords="322,157,350,172">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY48C" coords="322,119,352,135">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY48D" coords="337,228,365,241">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY49A" coords="339,295,367,307">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY49B" coords="342,281,369,292">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY49C" coords="342,251,369,263">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY49D" coords="345,266,371,279">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY50A" coords="306,217,335,232">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY50B" coords="308,233,335,249">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY51A" coords="280,279,305,292">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY51B" coords="295,266,325,280">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY51C" coords="263,294,290,308">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY51D" coords="264,308,291,323">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY51E!" coords="311,249,340,264">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY52A" coords="293,293,319,307">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY52B" coords="277,179,304,193">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY52C" coords="292,195,319,207">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY53A" coords="280,347,308,361">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY53B!" coords="276,327,306,342">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY54A" coords="254,353,280,365">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY54B" coords="248,328,274,343">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY55A" coords="214,326,240,338">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY55B" coords="211,339,238,352">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY56A" coords="189,303,216,315">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY56B" coords="185,321,212,333">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY57A" coords="232,282,258,296">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY57B" coords="231,297,257,309">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY57C!" coords="245,268,273,278">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY58A" coords="253,110,280,123">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY58B" coords="253,128,282,141">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY58C" coords="206,123,234,137">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY58D!" coords="253,145,280,160">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY58E!" coords="255,91,279,107">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY58F!" coords="206,104,232,118">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY59A" coords="228,254,253,266">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY59B" coords="199,266,231,281">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY60A" coords="200,205,225,227">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY60B!" coords="209,231,236,247">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY61A" coords="161,210,185,222">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY61B" coords="166,223,193,237">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY62A" coords="172,250,198,270">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY62B" coords="154,297,187,309">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY62C" coords="135,270,166,283">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY62D!" coords="167,284,200,296">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY63A" coords="185,347,210,360">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY63B" coords="130,363,158,379">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY63C" coords="154,338,182,353">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY63D!" coords="162,364,191,378">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY64A" coords="103,334,129,347">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY64B" coords="84,346,113,359">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=NY64C!" coords="73,327,100,342">
</map>

