<p align="center"><font size="+1"><b>Locations of LAMSAS Informants in
Pennsylvania</b></font></p>

<p><b>Instructions:</b><br />
You can navigate to the neighboring states by clicking on the state's
label or selecting the state from the <a href="#states">list</a>. To
see information about each informant, click on the text label on the
map.</p>

<p align="center"><img src="pa.gif" width="800" usemap="#state.map" alt="Pennsylvania Informants" border="1" height="550"></p>

<p><a id="states" name="states">View the informant information in the
state of:</a></p>

<ul>
<li><a href="md">Delaware, Maryland, Washington, D.C.</a></li>

<li><a href="fl">Florida</a></li>

<li><a href="ga">Georgia</a></li>

<li><a href="nj">New Jersey</a></li>

<li><a href="ny">New York</a></li>

<li><a href="nc">North Carolina</a></li>

<li><a href="pa">Pennsylvania</a></li>

<li><a href="sc">South Carolina</a></li>

<li><a href="va">Virginia</a></li>

<li><a href="wv">West Virginia</a></li>
</ul>

<map id="state.map" name="state.map">
<!--/opt/local/httpd/htdocs/lamsas/img/pa.gif-->
<area alt="" href="ny" coords="445,26,504,59">
<area alt="" href="nj" coords="718,274,771,308">
<area alt="" href="md" coords="625,498,669,522">
<area alt="" href="md" coords="422,472,485,506">
<area alt="" href="wv" coords="38,463,108,500">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA1A" coords="714,420,732,434">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA1B" coords="714,383,732,399">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA1C" coords="714,402,732,417">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA1D" coords="653,400,669,413">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA1E!" coords="715,437,730,452">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA1F!" coords="666,376,684,391">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA1G!" coords="713,455,732,470">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA1H!" coords="652,383,669,399">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA2A" coords="705,334,724,350">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA2B" coords="672,335,695,350">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA3A" coords="634,361,654,380">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA3B" coords="674,363,693,377">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA3C" coords="652,354,674,368">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA4A" coords="629,420,647,439">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA4B!" coords="653,419,671,438">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA5A" coords="605,370,623,383">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA5B" coords="620,399,639,413">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA5C" coords="605,385,626,399">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA5D" coords="575,400,595,414">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA5E!" coords="590,425,614,437">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA6A" coords="537,316,563,330">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA6B" coords="589,337,609,353">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA6C" coords="574,303,601,318">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA6D!" coords="568,329,587,343">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA7A" coords="553,431,572,443">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA7B" coords="551,413,568,427">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA7C" coords="549,365,567,383">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA7D!" coords="529,376,546,397">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA8A" coords="524,445,543,456">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA8B" coords="526,423,546,437">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA8C" coords="450,425,467,444">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA8D!" coords="479,389,497,409">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA9A" coords="489,336,510,350">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA9B" coords="467,331,488,350">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA9C!" coords="466,350,492,365">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA10" coords="515,333,540,346">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA11A" coords="482,230,505,242">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA11B" coords="472,254,498,271">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA12A" coords="497,207,519,229">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA12B" coords="499,240,530,253">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA13A" coords="522,227,551,239">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA13B" coords="522,212,551,224">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA14A" coords="498,293,523,313">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA14B" coords="532,266,565,283">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA14C" coords="498,272,525,292">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA15A" coords="538,185,563,202">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA15B" coords="554,204,582,219">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA15C!" coords="579,189,605,205">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA16A" coords="630,262,661,275">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA16B" coords="607,247,633,262">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA16C" coords="582,259,607,274">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA17A" coords="613,301,635,319">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA17B" coords="627,288,651,307">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA18A" coords="676,250,710,263">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA18B!" coords="664,282,701,297">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA19A" coords="654,226,684,241">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA19B" coords="648,205,671,223">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA20A" coords="703,200,737,213">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA20B" coords="699,178,725,196">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA21A" coords="633,90,658,110">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA21B" coords="651,135,681,155">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA22A" coords="594,135,622,148">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA22B" coords="595,150,625,162">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA23A" coords="606,113,635,125">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA23B" coords="579,95,607,113">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA24A" coords="540,136,565,150">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA24B" coords="552,156,579,169">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA25A" coords="485,140,514,154">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA25B" coords="486,162,517,177">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA26A" coords="522,85,559,101">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA26B" coords="517,121,551,133">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA27A" coords="410,122,441,136">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA27B" coords="405,97,431,118">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA28A" coords="469,180,493,198">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA28B!" coords="435,189,462,209">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA29A" coords="410,232,434,251">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA29B" coords="384,220,409,239">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA30A" coords="346,77,372,99">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA30B" coords="337,102,371,118">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA31A" coords="286,142,311,160">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA31B" coords="302,159,326,176">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA32A" coords="357,237,381,249">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA32B" coords="302,163,327,177">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA33A" coords="269,336,302,350">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA33B" coords="281,285,314,299">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA34A" coords="346,360,373,374">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA34B" coords="317,349,344,368">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA34C!" coords="306,314,342,328">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA35A" coords="347,321,372,335">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA35B" coords="340,304,367,317">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA35C" coords="369,307,394,319">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA36A" coords="444,213,471,227">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA36B" coords="447,227,473,240">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA37A" coords="415,273,442,287">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA37B" coords="443,286,472,300">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA37C" coords="425,256,453,269">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA38A" coords="386,323,412,337">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA38B" coords="399,296,423,314">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA39A" coords="419,312,444,326">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA39B" coords="421,332,449,346">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA40A" coords="377,373,404,391">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA40B" coords="394,358,421,375">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA41A" coords="420,404,447,421">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA41B" coords="387,427,418,441">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA42A" coords="364,411,393,423">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA42B" coords="351,392,380,406">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA43A" coords="273,428,309,442">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA43B" coords="311,432,344,446">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA44A" coords="260,406,297,417">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA44B" coords="282,391,312,406">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA45A" coords="173,415,207,429">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA45B" coords="207,392,239,404">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA46A" coords="126,411,163,425">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA46B" coords="110,382,144,397">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA47A" coords="40,428,74,444">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA47B" coords="71,408,106,421">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA48A" coords="34,391,71,407">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA48B" coords="37,348,62,368">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA48C" coords="65,364,91,385">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA49A" coords="183,354,208,370">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA49B" coords="149,362,183,376">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA50A" coords="96,360,122,374">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA50B" coords="116,336,145,349">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA50C!" coords="114,349,143,360">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA51A" coords="101,315,128,334">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA51B" coords="62,326,98,341">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA52A" coords="11,265,39,280">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA52B!" coords="50,265,77,278">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA53A" coords="74,242,101,256">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA53B" coords="38,234,69,248">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA54A" coords="109,256,141,269">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA54B" coords="100,273,132,285">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA55A" coords="71,214,105,227">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA55B" coords="43,199,80,212">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA56A" coords="99,151,125,172">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA56B" coords="130,183,155,204">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA57A" coords="157,222,186,240">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA57B" coords="131,233,155,249">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA58A" coords="151,286,176,303">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA58B" coords="147,262,172,282">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA59A" coords="209,237,236,259">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA59B" coords="189,211,212,230">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA60A" coords="185,296,218,308">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA60B" coords="171,310,196,327">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA61A" coords="220,332,253,345">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA61B" coords="222,314,257,328">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA62A" coords="285,232,317,243">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA62B" coords="238,217,263,236">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA63A" coords="281,188,306,206">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA63B" coords="252,170,278,190">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA64A" coords="303,87,329,104">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA64B" coords="263,86,298,99">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA65A" coords="194,95,219,114">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA65B" coords="163,113,197,126">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA66A" coords="59,143,83,161">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA66B" coords="45,125,72,143">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA67A" coords="93,82,120,95">
<area alt="" href="browse?clear=1&op=EQ&left=Informants.informid&right=PA67B" coords="116,69,143,83">
</map>

