<p><b>LAPNW Database Information</b></p>

<p>This is the page contains links to information about the LAPNW
databases.</p>

<ul>

  <li><a href="informants">Informants</a></li>

  <li><a href="worksheets">Work Sheets</a></li>

  <li><a href="morphology">Morphology</a></li>

  <li><a href="questionnaire1_1">Questionnaire 1.1</a></li>

  <li><a href="questionnaire28_1">Questionnaire 28.1</a></li>

  <li><a href="questionnaire50_1">Questionnaire 50.1</a></li>

</ul>

