<p align="center"><font size="+1"><b>Locations of LAMSAS Informants in
Florida</b></font></p>

<p><b>Instructions:</b><br>
You can navigate to the neighboring states by clicking on the state's
label or selecting the state from the <a href="#states">list</a>. To
see information about each informant, click on the text label on the
map.</p>

<p align="center"><img src="fl.gif" width="525" usemap="#state.map" alt="Florida Informants" border="1" height="400"></p>

<p><a id="states" name="states">View the informant information in the
state of:</a></p>

<ul>
<li><a href="md.html">Delaware, Maryland, Washington, D.C.</a></li>

<li><a href="fl.html">Florida</a></li>

<li><a href="ga.html">Georgia</a></li>

<li><a href="nj.html">New Jersey</a></li>

<li><a href="ny.html">New York</a></li>

<li><a href="nc.html">North Carolina</a></li>

<li><a href="pa.html">Pennsylvania</a></li>

<li><a href="sc.html">South Carolina</a></li>

<li><a href="va.html">Virginia</a></li>

<li><a href="wv.html">West Virginia</a></li>
</ul>

<map id="topnav.map" name="topnav.map">
<area alt="Previous" href="" coords="498,8,516,24">
<area alt="Next" href="" coords="516,8,534,24">
</map> <map id="state.map" name="state.map">
<!--/opt/local/httpd/htdocs/lamsas/img/fl.gif-->
<area alt="" href="ga.html" coords="174,20,240,56" shape="rect">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=FL1" coords="362,79,373,97" shape="rect">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=FL2B" coords="364,118,386,134" shape="rect">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=FL2A" coords="364,142,382,157" shape="rect">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=FL2C!" coords="329,126,350,142" shape="rect">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=FL3A" coords="371,188,391,204" shape="rect">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=FL3B!" coords="370,170,390,185" shape="rect">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=FL4" coords="416,268,429,284" shape="rect">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=FL5A" coords="256,210,276,225" shape="rect">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=FL5B" coords="305,213,324,227" shape="rect">
</map>

<!-- vim: set filetype=html: -->
