<p><b>Director:</b><br>
William Kretzschmar, Jr.<br>
Linguistic Atlas Project<br>
University of Georgia Special Collections<br>
Department of English<br>
University of Georgia<br>
Athens, Georgia 30602</p>

<p><b>Status of field work:</b><br>
Complete.</p>

<p><b>Areas Covered:</b><br>
The 1162 records cover the area from the St. Lawrence Valley to the
Northeastern corner of Florida and from the eastern tip of Long
Island to the Ohio border. The Middle Atlantic States include New
York, New Jersey, Pennsylvania, and West Virginia. The South
Atlantic States include Delaware, Maryland, Virginia, North
Carolina, South Carolina, eastern Georgia, and northeastern
Florida.</p>

<p><b>Nature of recordings:</b><br>
The data, which consists of 1162 records, was collected from
1933-1974. Records previous to 1950 were transcribed by the
original fieldworker during the interview. Recordings made after
1950 were transcribed from tape. For the methodology see
Kretzschmar et al. <i>Handbook of the Linguistic Atlas of the
Middle and South Atlantic States</i></p>

<p><b>Archives:</b><br>
The manuscripts are housed with the Linguistic Atlas Project,
University of Georgia Special Collections, Department of English,
University of Georgia, Athens, Georgia 30602. For further details
contact the director at <a href="mailto:kretzsch@uga.edu">
kretzsch@uga.edu</a>.</p>

<p><b>Selected Bibliography:</b></p>

<ul>
<li><a name="atwood1953">Atwood, E. Bagby. 1953.</a> <i>A survey of
verb forms in the Eastern United States</i>. Ann Arbor: University
of Minnesota Press.</li>

<li><a name="kruse1972">Kretzschmar, William A, Jr., Virginia
McDavid, Theodore Lerud, and Ellen Johnson, eds. <i>Handbook of the
Linguistic Atlas of the Middle and South Atlantic States.</i>
Chicago: University of Chicago Press, 1993.</a></li>

<li><a name="kurath1949">Kurath, Hans. 1949.</a> <i>A word
geography of the Eastern United States</i>. Ann Arbor: University
of Michigan Press.</li>

<li><a name="kurath_mcdavid1983">Kurath, Hans, and Raven I.
McDavid, Jr. 1983.</a> Reprint. <i>The pronunciation of English in
the Atlantic States</i>. University of Alabama Press. Original
edition, Ann Arbor, Mich.: University of Michigan Press, 1961.</li>

<li><a name="mcdavid_etal1980">McDavid, Raven I., et al. 1980.</a>
<i>Linguistic atlas of the middle and south Atlantic states</i>.
Chicago: University of Chicago Press. [original publication in
fascicles, publication terminated after first two fascicles]</li>

<li><a name="miller1978">Miller, Michael I. 1978.</a> Inflectional
morphology in Augusta, Georgia: A sociological description. Ph.D.
diss., University of Chicago.</li>

<li><a name="ocain1972">O'Cain, Raymond K. 1972.</a> A social
dialect study of Charleston, South Carolina. Ph.D. diss.,
University of Chicago.</li>

<li><a name="sen1973">Sen, Ann L. F. 1973.</a> The linguistic
geography of eighteenth century New Jersey: Phonology. Ph.D. diss.,
Princeton University.</li>

<li><a name="wood1971">Wood, Gordon. 1971.</a> <i>Vocabulary
change</i>. Carbondale and Edwardsville: Southern Illinois
University Press.</li>

<li><a name="wright1989">Wright, Joseph. 1898-1905.</a> <i>The
English dialect dictionary</i>. 6 vols. Oxford: H. Frowde.</li>

<li>Also, see the <a href="$$baseurl$$/information/links.html">Links
Page</a>. . .  .</li> </ul>

