<p align="center"><font size="+1"><b>Locations of LAMSAS Informants in
New Jersey</b></font></p>

<p><b>Instructions:</b><br>
You can navigate to the neighboring states by clicking on the state's
label or selecting the state from the <a href="#states">list</a>. To
see information about each informant, click on the text label on the
map.</p>

<p align="center"><img src="nj.gif" width="300" usemap="#state.map" alt="New Jersey Informants" border="1" height="500"></p>

<p><a id="states" name="states">View the informant information in the
state of:</a></p>

<ul>
<li><a href="md.html">Delaware, Maryland, Washington, D.C.</a></li>

<li><a href="fl.html">Florida</a></li>

<li><a href="ga.html">Georgia</a></li>

<li><a href="nj.html">New Jersey</a></li>

<li><a href="ny.html">New York</a></li>

<li><a href="nc.html">North Carolina</a></li>

<li><a href="pa.html">Pennsylvania</a></li>

<li><a href="sc.html">South Carolina</a></li>

<li><a href="va.html">Virginia</a></li>

<li><a href="wv.html">West Virginia</a></li>
</ul>

<map id="state.map" name="state.map">
<!--/opt/local/httpd/htdocs/lamsas/img/nj.gif-->
<area alt="" href="ny.html" coords="158,20,218,56">
<area alt="" href="pa.html" coords="12,77,72,111">
<area alt="" href="md.html" coords="15,419,67,445">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ1A" coords="100,405,126,418">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ1B" coords="120,386,138,404">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ2A" coords="64,388,82,404">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ2B" coords="91,381,110,396">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ3A" coords="42,345,61,359">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ3B" coords="30,359,51,373">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ4A" coords="58,298,76,311">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ4B" coords="40,313,60,332">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ5A" coords="79,305,100,320">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ5B" coords="101,315,120,329">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ6A" coords="134,345,155,366">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ6B" coords="131,372,156,386">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ7A" coords="123,292,143,312">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=NJ7B!" coords="99,268,125,283">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ8A" coords="155,303,173,324">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ8B" coords="173,312,189,334">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ9A" coords="166,223,184,236">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ9B" coords="160,238,178,250">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ10A" coords="178,197,203,209">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ10B" coords="175,210,200,222">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ10C" coords="135,233,159,246">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=NJ10D!" coords="145,200,169,216">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ11A" coords="122,208,145,223">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ11B" coords="90,240,117,254">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ11C" coords="103,227,128,241">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ12A" coords="108,185,131,199">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ12B" coords="131,177,156,190">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ13A" coords="82,210,107,225">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ13B" coords="79,197,105,210">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ14A" coords="80,127,105,141">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ14B" coords="84,144,110,158">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ15A" coords="93,104,120,119">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ15B" coords="109,87,135,102">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ16A" coords="138,114,162,127">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ16B" coords="141,127,166,141">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ17A" coords="152,162,175,175">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ17B" coords="174,178,199,191">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ18A" coords="161,143,185,157">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ18B" coords="194,136,219,149">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=NJ18C!" coords="214,150,240,163">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=NJ18D!" coords="135,147,162,161">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ19A" coords="227,163,251,177">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=NJ19B!" coords="227,176,253,192">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ20A" coords="185,100,213,114">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ20B" coords="204,122,230,136">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ21A" coords="133,76,162,91">
<area alt="" href="browse.html?clear=1&op=EQ&left=Informants.informid&right=NJ21B" coords="161,76,189,90">
</map>

<!-- vim: set filetype=html: -->
