<html>
<head>
<title>Linguistic Atlas of the Middle and South Atlantic States</title>
<meta content="Eric Rochester" name="generator">
<meta content="Linguistic Atlas of the Middle and South Atlantic States." name="description">
<meta content="dialects, dialectology, lamsas, new york, new jersey, pennsylvania, delaware, maryland, washington, dc, west virginia, virginia, north carolina, south carolina, georgia, florida, linguistics, speech, pronunciation, phonology, atlas" name="keywords">
</head>
<body alink="#0E5EFF" bgcolor="#FFFFFF" vlink="#82CACC" link="#5672AC" text="#000000">
<img border="0" src="img/logo.gif" width="207" height="45"><br>
<img border="0" src="img/maps.gif" width="67" height="33"> 

<p align="center"><font size="+1"><b>Locations of LAMSAS Informants in
West Virginia</b></font></p>

<p><b>Instructions:</b><br>
You can navigate to the neighboring states by clicking on the state's
label or selecting the state from the <a href="#states">list</a>. To
see information about each informant, click on the text label on the
map.</p>

<p align="center"><img src="img/wv.gif" width="600" usemap="#state.map" alt="West Virginia Informants" border="1" height="550"></p>

<p><a id="states" name="states">View the informant information in the
state of:</a></p>

<ul>
<li><a href="md.html">Delaware, Maryland, Washington, D.C.</a></li>

<li><a href="fl.html">Florida</a></li>

<li><a href="ga.html">Georgia</a></li>

<li><a href="nj.html">New Jersey</a></li>

<li><a href="ny.html">New York</a></li>

<li><a href="nc.html">North Carolina</a></li>

<li><a href="pa.html">Pennsylvania</a></li>

<li><a href="sc.html">South Carolina</a></li>

<li><a href="va.html">Virginia</a></li>

<li><a href="wv.html">West Virginia</a></li>
</ul>

<table>
<tbody>
<tr>
<td><img src="$$baseold$$/img/pixel.gif" width="179" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="178" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="178" height="1"></td>
</tr>

<tr>
<td align="left" class="footer"><font size="-1">July 28,
1998</font></td>
<td align="center" class="footer"><font size="-1">Copyright &#x00a9;
1998</font></td>
<td align="right" class="footer"><a href="mailto:webmaster@us.english.uga.edu"><font size="-1">webmaster@us.english.uga.edu</font></a></td>
</tr>
</tbody>
</table>

<map id="state.map" name="state.map">
<!--/opt/local/httpd/htdocs/lamsas/img/wv.gif-->
<area alt="" href="$$baseold$$/lamsas/pa.html" coords="393,56,453,91">
<area alt="" href="$$baseold$$/lamsas/md.html" coords="366,166,415,191">
<area alt="" href="$$baseold$$/lamsas/va.html" coords="415,395,478,429">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV1!" coords="527,196,540,218">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV2" coords="505,181,515,200">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV3" coords="479,169,492,191">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV4A" coords="441,213,464,227">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV4B" coords="422,200,441,220">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV5" coords="405,201,419,219">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV6A" coords="370,242,388,263">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV6B" coords="389,255,412,269">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV7A" coords="392,277,415,293">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV7B" coords="377,304,403,318">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV8A" coords="361,274,383,288">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV8B" coords="350,299,374,311">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV9A" coords="311,199,336,214">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV9B" coords="334,164,352,184">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV10A" coords="266,148,290,168">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV10B" coords="293,158,317,171">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV10C" coords="296,177,320,189">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV11A" coords="247,172,272,186">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV11b!" coords="267,191,290,203">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV12A" coords="255,222,277,234">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV12B" coords="263,239,289,253">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV13A" coords="291,211,314,223">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV13B" coords="261,204,286,216">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV14A" coords="296,246,320,257">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV14B" coords="298,227,322,240">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV15A" coords="327,223,352,237">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV15B" coords="336,241,360,255">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV16A" coords="326,256,350,273">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV16B" coords="316,276,341,289">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV17A" coords="276,281,300,295">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV17B" coords="243,270,268,284">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV17C" coords="277,255,301,270">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV18A" coords="230,283,253,298">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV18B" coords="238,256,264,269">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV19A" coords="199,312,223,327">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV19B" coords="199,296,224,309">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV20A" coords="212,336,240,352">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV20B" coords="207,359,233,374">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV21A" coords="250,325,279,341">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV21B" coords="238,302,266,317">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV22A" coords="271,351,299,365">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV22B" coords="278,373,305,387">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV23A" coords="203,399,232,413">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV23B" coords="243,383,270,396">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV24A" coords="244,412,271,426">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV24B" coords="242,435,270,450">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV25A" coords="186,443,213,457">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV25B" coords="196,427,223,440">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV26A" coords="153,402,182,415">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV26B" coords="155,423,184,437">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV27A" coords="178,386,206,399">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV27B" coords="171,367,200,380">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV28A" coords="97,400,124,413">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV28B" coords="84,379,111,392">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV29A" coords="183,483,210,495">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV29B" coords="168,463,197,476">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV30A" coords="133,448,159,462">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV30B" coords="124,434,152,446">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV31A" coords="93,461,121,475">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV31B" coords="103,480,131,494">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV32A" coords="14,419,41,432">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV32B" coords="22,434,52,445">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV33A" coords="52,393,79,407">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV33B" coords="55,408,82,421">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV34A" coords="68,343,95,357">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV34B" coords="71,362,96,374">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV35A" coords="19,380,44,392">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV35B" coords="38,365,64,378">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV36A" coords="30,345,56,358">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV36B" coords="29,323,57,337">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV37A" coords="72,294,100,308">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV37B!" coords="38,272,65,286">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV38A" coords="83,327,112,340">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV38B" coords="81,312,110,324">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV39A" coords="98,348,125,362">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV39B" coords="129,363,155,375">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV39C!" coords="135,348,162,362">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV40A" coords="117,309,145,322">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV40B" coords="141,330,167,347">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV41A" coords="168,346,193,361">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV41B" coords="164,318,194,334">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV42A" coords="170,261,195,277">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV42B" coords="162,282,191,296">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV43A" coords="104,259,132,272">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV43B" coords="87,276,114,289">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV44A" coords="129,245,158,257">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV44B" coords="135,264,162,280">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV45A" coords="82,236,109,250">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV45B" coords="114,221,142,236">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV46A" coords="148,191,177,205">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV46B" coords="138,203,168,219">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV47A" coords="164,234,191,245">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV47B" coords="167,215,195,229">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV48A" coords="221,207,247,219">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV48B" coords="205,245,231,258">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV48C" coords="198,233,222,245">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV48D" coords="206,257,232,271">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV49A" coords="170,171,196,184">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV49B" coords="183,192,210,206">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV50A" coords="212,172,238,186">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV50B" coords="217,190,246,204">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV51A" coords="223,130,249,146">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV51B" coords="208,149,235,161">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV52A" coords="245,95,273,108">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV52B" coords="198,89,228,104">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV52C!" coords="194,106,222,122">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV53A" coords="208,74,233,87">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV53B" coords="248,57,276,71">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV53C!" coords="250,72,274,84">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV54A" coords="205,47,233,60">
<area alt="" href="$$basecgi$$/infprofile.py?project=lamsas&amp;informid=WV54B" coords="245,37,270,53">
</map>
</body>
</html>
