<pre>
                            LAPNW
QUESTIONNAIRE  LAPNW  28.1
49.8
28.1
     without milk
without milk  (Vcd)  3, 4, 6
8, 10, 13
19, 22
25, 29,
cv32, 33, 38, 39, 43, 44, 48
without milk  (Vcless) 1, 2, 5, 11, 12, 32, 35, 36, 40
42, 45, 46, 50
28.2
     with milk
with milk  (Vcd)  6, 10, 15
19, 23, 33, 38, 39, 41, 43, 44
with milk  (Vcless)  1
5, 7, 8, 11
14, 22, 24, 29, 35, 36,
40, 42, 45, 46, 50
28.3
     he was coming) towards  (me  *toward
toward me  1, 2, 6, 7, 11, 13, 14, 17, 20, sg25, 27, 29
32, 34, 38
40, 43
46, 49, 50
towards me  3
5, 8, 10, 12, 15, 16, 18, 19, 22, 24, 33, 35,
36, 41, 42, 47, 48, 51
this way  23
28.4
     we named the child) for him  *after, at from
after  1
8, 11, 13
20, 23, 24, 27, 29, 30, 33
36, 38
42, 44
46, 48, 50, 51
for (his father)  11, 17, 18, 22, 31, 32, 43, 45, 47, 49
NR  10
28.5
     dog
dog  1
8, 10
20, 22
24, 27
32, 34
28.6
     mongrel  *cur, cur dog, scrub, fiste, hound dog
mongrel  1
8, 10
15, 16(large), 17
20, 22, 23, 25, 27, 28,
36, 38, 41, 43
46, 48
cur  7, 14, 15, 18, 40, 42
feist  15, 16(small, 18(small), 19, 39
mutt  16(any size), 29
hound  18, 39
NR  23
28.7
     /call to summon dog/  /record intonation/
here (pup)  1
4, 6, 7, 10
14, 17
19, 22
25, 30, 32
34, 36,
46, 48
come here  3, 15, 16, 20, 35
whistle  24, 28
30, 32
come Sport  31, 50, 51
NR  5, 8, 49
28.8
     he was)  bitten  (by the dog  *bit, dogbit
bitten  3
7, 11
13, 15
19, 22
24, 27
29, 31, 35, 36, 38
45, 49, 50, 51
bit  1, 2, 8, 10, 14, 20, 25, 30, 33, 34, 46, 47
29.1
     cow
cow  1
8, 10
17, 18*, 19
27, 29
NR  28
29.2
     bull  /special words used by farmers? by women? in
presence of women?/  *animal, beast, male, top
cow, critter,
toro, seed
bull  1
8, 10
17, 18*, 19
22, 24
35, 38
gentleman cow  13, 18*, 19, 34, 37("The right word is
vulgar!)
male animal  11, 18*
poppa cow 21, 37
critter 12
herd sire 29
sire  29
29.3
     calf  /terms for female? for male?/  *heifer(calf),
bull
calf
calf  1, 2, 4
8, 10
17, 18*, 19, 20, 22
30, 33, 35, 36, 38
bull
calf  sg2, 3, 4, 12
16, 18*, 22, 24
29, 31, 33,  38, 40,
41, 50
heifer
calf  sg2, 3, 13
16, 18*, 22, 24
29, 31, 33, 34, 38,
heifer  11, 12, 20, 21, 23, 31, 35, 37, 41, 42, 44, 50
steer  11, 37
steer calf  24
ox  37
young bull 21
29.4
     Daisy is going) to calve  *have a calf, find a calf,
freshen, spring
to calve  5
8, 10, sg11, 14, 16, 17, 18*, 19, 24, 28, 38, 44,
45, 48, 51
to calf  20, 34
have a calf  2, 11, 15, 21, 22, 25, 27, 39, 40, 43, 46, 47,
freshen  3, sg11, 15, 16, 18*, 28, 29, 33, 41, 42, sg50
come fresh  13, 15
17, 19, 30
be fresh  4, 31
become fresh  28
spring  15, 16
spring a calf  1
drop a calf 19
come in 23
with calf  35
29.5
     dogie  /motherless calf/  *maverick
dogie  4, 5, sg6, 8, sg11, 17(from TV), 29, 30(hd), 33, 39,
sg40, 50
maverick  4, sg7, 8(unbranded), 22(hd), 28, 40
orphan 31
NR  1
3, 10, 12
16, 19
21, 23, 24, 35, 38, 41
49, 51
29.6
     horse
horse  1
8, 10
17, 18*, 19
29.7
     stallion  /special words used by farmers/ by women/ in
presence of women?/  *stud, stable horse, top
horse, seed
horse
stallion  1, sg2, 3
8, 10
17, 18*, 19
23, 25
29, 31
35, 39
42, 45, 46, sg47, 48
stud  4, 5, 13, 14, 16(castrated), 17, 19, 21, 23, 27
29, 42,
stud horse  15, 28, 50
male horse  21
male  18*
NR  38, 44
29.8
     bronco  /unbroken horse/  *bronc, mustang
bronco  sg1, 2, sg3, 6
8, 10
12, 14, 19, 20, 22, 40, 41, 45,
47, 49
bronc  4, 28, 33, 41
wild horse  5, 27, 30, 31, sg35, 36, 38, 39, 47
cayuse  cv3, 8, 17, 20, 48
colt  21, 29
filly  21
outlaw  15
unbroken  50
NR  13, 16, 23, 24, 42
44, 46, 51
30.1
     pinto  /mottled Indian pony;  any color combination?
black and white only?/  *paint
pinto  sg1,  2
8, 10
15, 16(bl&wh), 18*, 19, 20, 22, 25, 32,
33, 36, 38, 40
43, 45, 48, 50
paint  4, 28
30, 39, 40
calico  21, 24, 27
cayuse  18*, 19, 38
spotted cayuse  15
Indian ponies  34, 51
piebald  24
palmello  13
dappled  48
appaloos  49
NR  17, 23, 31, 35, 44, 46, 47
30.2
     I have never) ridden (a horse  *rode
ridden  1, 2, 4
8, 10
17, 18*, 19, 22
25, 27
36, 38
48, 50,
rode  3,  cv15, 20, 21, 34
30.2
     he fell)  off  (the horse  /prep., not adv./  *off of,
off'n
off  1
8, 10
17, 18*, 19
24, 28
30, 32
36, 38
47, 49
off of  25
NR  31, 48
30.4
     to) rear /of a horse trying to throw the rider; get
distinction/  *buck, pitch
buck  1, 3, 4, 6, 8, 10
17, 18*, 19
21, sg22, 23
26, ?27, 29
31, 33
35, 36(hind legs), 38, 39, 41
rear  sg2, 14
17, 18*, 19, 22, 24, 26, 28, 31, 33, 35, sg38,
40, 43, 45, sg48, 49
rear up  20
pitch  sg4, 15, 21, 28, 50
throw  46
NR  5, 7, 32
30.5
     to) shy  /of a horse/  *spook, start
shy  1, sg2, 3
8, 10
15, cv16, 17, 18*, 19
25, 28
31, sg32,
35, 38, 40
44, sg45, sg47, 48, 50
spook  sg42
start  39
bolt  32
NR  46, 49, 51
30.6
     hoofs  *hooves
hoofs  1
6, 8, 10, 11, 13
17, 18*, 19
27, 30
36, 38
42, sg43,
hooves  cr6, 7, 12, 28, 29, 43
30.7
     horseshoes
horseshoes  1, 2, 4, 5, cr6, 7, 8, 10
12, 15
17, 18*, 19
26, 27, 29, 33, 34, 38
45, 47, 48, 51
shoes  3, 6, 13, 14, 21, 24, 25, 28
32, 35, 46, 49, 50
steel shoes  21
30.8
     Horseshoes /game played with horseshoes/  *quoits,
quates, plates, pitch
horseshoes  1
8, 10
12, 14
17, 18*, 19
36, 38
46, 48
quoits  sg2, 14, 15, 25
quates  13
quites  16
31.1
     burro  /small donkey/  *donkey, jackass
burro  sg2, 3, 6, 10
13, 17, 18*, 19
23, 28, 30, 33, 36, 38,
42, 45, 48
jackass  8, 15
17, 19, 28, 34, 38, 46
donkey  1, 4, 5, 7, 8, 14, 44
jack  5, 15, 16, 18*
ass !51
NR  24, 29, 31, 35, 43
31.2
     ram  /special words used by farmers/, by women, in
presence of women?/  *buck sheep, buck, male sheep
ram  1
3, 5
8, 12, 14
17, 18*, 19
25, 27, 28, 30
35, 38, 40
42, 45
48, 50
buck  10, 11, 13, 26, 29, 38, 43, 49, 51
buck sheep  4, 18*, 50(hd)
"Never said it." 37
NR  44
31.3
     ewe
ewe  7, 8, 10
13, 14(/yow/), 15, sg16, 17, 18*, 19
31, 33
43, 45
doe  16
mule  6
NR  1
5, 32, 44
31.4
     wool
wool  1
8, 10
17, 18*, 19
36, 38
31.5
     hogs  /male and female? old and young?/
hogs  1
5, 8, 10, 11(big), 12
17, 18*(Eastern word), 19, 22,
29, 32, 33, 36, 38
42, 45, 47, 49
pigs  1, 6
8, 11, 15
17, 18*, 19, 20, 23, 24, 26, 30
32, 34
37, 39, 42(younger), 43, 44, 46, 48, 51
shoats  3(young)
31.6
     boar /special words used by farmers? by women? in
presence of women?/  *boar
hog, male hog, hog, seed hog,
breeding hog
boar  2, 3, 5, 7, 8, 10
15, 16(taboo around women), 17, 18*,
19, 20, 22, 24
33, 38, 39, 41
43, 45
47, 49
boar
hog  4
boar
pig  15
male pig  18*
pig  37
NR  1, 6, 23, 35, 40, 44
31.7
     bristle
bristles  1
8, 10
17, 18*, 19, 20, 22
36, 38
brustles  cv15
31.8
     tusks  *tushes
tusks  1
8, 10
17, 18*, 19, 20, 22, 23, 25, 27, 29, sg31, 32
36, 38
44, 46, 48
tusk (pl)  24, 26, 28, 47
tushes  14(hd)
fangs
32.1
     trough
     troughs (pl)
trough /f/  1, 2, 4, 6, 8, 10, 12
16, 18*, 19
22, 24
27, 29
36, 38
troughs /fs/  1, 2, 4, 8, 10, 12, 13, 15, 16, 19, 20, 22, 24,
27, 29, 34
36, 39, 44, 45, 47
troth  3, 5, 7, 11, 17, 23
troths (Vcless)  5, 11
troths (Vcd)  3, 7, 17
troughs /vz/ (Vcd)  6, 14, 18*, 21, 25, 30
33, 38, 40
43, 46,
troves (sic)  23
32.2
     castrate /horses, bull
calves, boars, cats,  *alter,
change, trim, cut
castrate  1, 3
5, 8, 11
17, 18*, 19, 21, 22, 25
29, 33, 39
43, 45, 46, 49, 50(casterate)
alter  15, 18*, 25, 32, 38, sg41, 49, 50
geld  6, 7, 29
cut  13, 16, 20, 42, 49
trim  sg11, sg15
neuter  35, 45
operate on  34
spaying  45
NR  2, 10, 24, 30, 31, 44, 47, 48
32.3
     bawl /of calf being weaned/  *blare, cry, blat, blate,
bellow
bawl  1, 3
8, 10
17, 18*, 19
22, 24, 25, 28
35, 37
44, 46
beller  4, 15, 16, 19, 27,
blat 18*
NR  2, 45
32.4
     moo  /cow during feeding time/ *low
moo  1, 2, 3, 5
8, 10
17, 18*, 19, 20, 22
24, 27
35, 37
low  sg2, 4, sg19, sg22, 43(hd), 50
32.5
     bawl  /of cow when calf is taken away/  *cry, Blare,
bellow, moo
bawl  1, 4, 5, 8, 10
16, 18*, 20, 22, 24, 28, 30
34, 37, 38,
44, 46, 49
bellow  6, 7, 12, ?17, 29, 39
beller  3, 4, 16, 19, 25, 27
moo  2, 35
NR  45, 47, 48
32.6
     whinny /of horses during feeding time/  *nicker,
whicker, laugh
whinny  2
5, 7, 8, 11
13, 15
17, 20
22, 28, 29, 34, 37, 38,
43, sg46, 50, 51
neigh  1, 6, 10, 16, 17, 18*, 19, 24, 30, 31, 35, 43
48, 50
whinner  18* 19, 25, 27, 32
nicker  13, 14, 33
32.7
     a setting
hen  *hatching
hen, cluck, clook, brooder
setting
hen  1
3, 5
7, 10, 12
22, 24, sg25, 27
30, 32, 33,
43, cr44, 46
sitting hen  35, 44
setter  34
a broody  11, 17(hd), cr21
brood hen  8, 31
brooding hen  4
broody hen 16, 32
nesting hen  44
NR  45
32.8
     chicken coop   /describe/  *hen house, hennery
chicken coop  sg3, 6, 8, sg11, 12
18, 20
22, 27, 28, 31
36, 39, 40, 44, 45(hd), 47, 48
chicken house  2
4, 10, 13, 15
20, 27
32, 35, 41
46, 51
hen house  1, 5, 11, 23, 28, 36
38, 43, 45, 47, 50
hen coop  7, 23
coop  24, 25, 49, 50
pen  21
33.1
     wish bone  *lucky bone, pulley bone, pull bone,
breastbone
wishbone  1
8, 10
25, 27
48, 50, 51
pulley bone  41(hd), 49, 50
33.2
     chore time  *feeding time
chore time  3, 6, 7, 11
15, 18, 21, 24, 28, 30
33, 35, 37,
38, 40
43, sg45(hd), 49
feeding time  1, 4, 5, 8, 20, 23, 27, 30, 39, 47
chores  2, 10, 25, 28
time to do the chores  17, 22, 48, 50
time for chores  19
time to feed  34, 44
milking time  23
milkin time  16
33.3
     /calls to cows to get them from the pasture/  *come
boss, sook(ie), co bossie, co co/ Note: In calls to animals,
mark stress and intonation, and note repetition./
co boss  1, 7, 8, 14, 16, 19, sg22, 24, 25, 28, 31, 37,
46(hd), 47, 50
co bossy  39(hd), 41, 42
come boss  3, 13, 15, 21, 22, 27, 33
come bossie 4, 12, 38, 42
so bossie  4,
soo boss  23
so  5
sookie  5
sookah  11
sook  41(hd)
sook bossie  sg42
come cowie come cowie  20
here boss  24
whistle  29
NR  2, 6, 10, 17, 18*, 30, 40, 43, 44, 49
33.4
     /calls to cows to get them to stand still during
milking/  *saw boss, so, histe, saw madam
so boss  3, 5, 7, 12, 15, 16, 18*, 19, 22, 25, 28, 30, 31,
33, 37, 38, 40, 41
43, 49, 50
so  4, 10, 11, 13, 32
so bossie  17, 39
soo boss  23
so now  14
ho boss  16
hey bossie 44
whoa 8
NR  1, 2, 6, 20, 21, 29, 46
33.5
     /calls to horses to get them from pasture/  *co
jack,
kope, whistling
whistle  4, 7, 12, 15, 16, 19, 25, 27
29, 33, 39, 40, 42, 46,
49, 50
by name  13, 15, 17, 21, 22, 31, 32, 38, 50
come boy  3
ko:  ko:  14
NR  1, 2, 5, 6, 8, 10, 11, 20, 30, 41, 43, 44
33.6
     /calls to horses to urge them on/  *get up, gee up, come
up, clicking
giddup  3, 5, 7, 8, 10, 12
17, 18*, 19
22, 27
31, 34, 37
41, 49, 50
giddy up  1, 2, 25, 42, 44
get up  4, 6
clicks  33, 39
41, 46
NR  11, 43
33.7
     /calls to horses to stop them/  *whoa, back up
whoa  1, 4, 5, 7, 8, 10
17, 18*, 19
22, 25, 27, 18, 30
37, 38, 40, 41, 43, 44, 46, 49, 50
whoa
back  42
whoo  29
hoa  2, 3, 6, 39
33.8
     /calls to pigs when feeding them/  *suwee, kong, poke,
chook, pig pig
pig pig pig 7, 15, 16, 18*, 21, 25
27, 33, 37, 38
a pig
a  3, 49
piggy  4
pigoo pigoo (falsetto)  13
suwee  30, 31, 39, 45(hd), 46, 50
sowee  12, 14, 19
sawee  4
soo  6
soo pig  soo pig  28
come pig  38
whistle  29
NR  1, 2, 5, 8, 10, 11, 17, 20, 22, 32, 40
34.1
     /calls to sheep to get them from pasture/  *co
sheep,
nan(nie)
NR  All informants
34.2
     /calls to chickens when feeding them/  *chickie, chick,
kip kip
chick chick  2
6, 10
17, 18*, 19, 23, 25, 27
31, sg32, 33
46, 49, 50
here chick chick  1, 7, 22
here chick, here chick  24
chickie, chickie  21
NR  8, 20
34.3  x
     reins /for driving or plowing, not riding/  *lines
reins  1, 2, 4
7, 12, 15
17, 19
24, 27
36, 39
42, 44
46, 48,
49, 51
lines  3, 8, 10, 11, 13
17 18*, 19, 21, 25, 28, 29, 33, 37,
39(for a team), cr41, 42, 47
check reins  50
NR  43
34.4
     stirrups
stirrups  1
8, 10
17, 18*, 19
25, 27, 28, 30
34.5
     cinch  /band that holds the saddle on/  *girth
cinch  2
8, 10
16, 18*, 22, 23, 25, 28, 30
33, 38
42, 47, 49,
belly band  17, 27, 28, 34, 45, 47, 48, 50
girth  15, 17, 20, 21
sirsingale(?)  16, 19
latigo  ?28
girdle  37
NR  1, 43, 44, 46
34.6
     the near horse /horse on the left/  *nigh horse, lead
horse, wheel horse
near horse  cr6, 8, 10, 14, 15, 27, 28(right), 32, 33, 42, 49
nigh horse  5, 13, 18*, 125, 28(right), 37
off horse  6, 17, 29, 28(left), 29, 31(left), 32, 33, 42, 49
wheel horse  38, 40, 41, sg42, 50
lead horse  4, 22, 41
gee horse  11
NR  1
3, 7, 12, 16, 19, 21, 30, 34, 39, 43
48, 51
34.7
     nose bag /bag attached to horses's head when you feed
him/  *feed bag, morral
nose bag  3
6, cr7, 8, 10, 12
17, 18*, 19
21, 25, 28
30, 32
34, 38, 41, 44, 47, 49
feed bag  1, 4, 11, 22, 28, 30, 38
40, 42, 45, 48, 50, 51
feed sack  2
oat bag  7
NR  31, 43, 46
34.8
     lariat  /rope with loop; rawhide or hemp? only for
roping?/  *lasso, reata, roping rope, rawhide rope
lasso  1, 2, 4
6, 10, 12, 15
17, 18*, 19, 22, 28, 30, 31, 34,
35, 38
40, 44
48, 50
lariat  3, 7, 8, 11, 15
19, 21, 28, 33, 38, 41, 42, 45, 49,
lass
rope 41
NR  13, 14, 20, 29, 32, 43
35.1
     it looks)  good  *well
good  1
5, 7, 8, 10, 12
23, 30
42, 44
sharp  4
well 6, 11,
beautiful  28
pretty 28
nice  28, 39
pretty good  29
NR  43
35.2
     a little ways (over  *way, piece
a little ways  2
4 10, 15
19, 21, 24, 27
30, sg34, 35, 38,
39, 41, 42, 45
a little way  11, 12, 29, 22
24, 31
33, 36, 37, 40, 43
48, 49
a short ways  6
a piece  7
a little piece,  14
a jump  13
a few steps  23
a short distance  !25, 45
yonder  50
NR  1, 5, 8
35.3
     a long ways  (to go  *way
a long ways  2
8, 10, 15
19, 21, 27
29, 35, 38
a long way  1, 11, 12, 20, 22, 24, 30, 32, 33, 36, 37, 43,
44, 45, 48, 50
quite a ways  46
a long distance  23, 31
a long stretch  14
a long hop  13
35.4
     two miles is) the farthest (he could go  *furthest, all
the farther
farthest  1
4, 7, 10, 12, 18, 22, 28, 33, 37
45, 50, 51
as far as  16, 17, 19, 30, cv31, 34, 35
the limit  23, 25, 27, 29, 32, 36, 48
all the farther  24, sg34, sg36, sg46
the furthest  15
farest  ?5, 13
the most  45
too far  46
NR  6, 8, 11, 14, 20, 21, 47, 49
35.5
     not a one  *ne'er a one, nary a one
not a one  1
3, 5, 6, 12, 13, 17, f18, cv23, 24, 30, 32, 33,
42, 44, 47
none at all  f15, 16
none whatever  19
none  20
not one  22, 48
haven't got a one  sg29
not a cat  34
nary a one  42(hd)
I haven't a one  45
don't have any  46
NR  4, 7, 8, 10, 11, 14, 21, 31, 43, 49, 50
35.6
     /record double negations/
didn't get not a one  12
there wasn't hardly no trees at all  15
they wouldn't eat none of it
he hadn't hardly got his hay down  cv16
it don't make no difference  cv18*
it don't hardly seem right  cv18
don't make no difference to me  49
35.7
     we raised a big)  crop of wheat
crop of wheat  1
7,  10
20, 22, 23, 33, 37
44, 46, 48, 49, 51
bumper crop  23, 31, 32, 50
wheat crop  8, 21
big crop  29, 30
crop 34, 47
good crop 35
35.8
     second cutting /of clover, grass/ *rowen, aftermath,
lattermath
second cutting 3, 4, 6, 8, 10
12, 16, 20(hd), 21
23, 29, 30,
31(hd), 33, 37, 38, 40
43, 46, 49, 50
second crop  1, 5, 13
15, 19, 20, 25, 27, 48, 51
second ?2
second growth 7
second cut  ?23
second harvest  39
NR  17, 18, 32, 44, 47
36.1
     a sheaf (of wheat  *a bind, a bundle
bundle  2
8, 10
13, 15, 18*, 19, 29, 33, 37, 38, 41
44, 46
49, sg51
bundles  sg1, 27
sheaf  11, 14
17, 18*(hd), 19, 22, 34, 40, 50
sheaves  1, 23, 25, 30, 31
shock  20, 29, 39, 51
cock  21
36.2
     forty) bushels (of wheat  *bushel
bushel (pl)  2, 4, 7, 8, 10, 12, 13, 16, 20, 25, 27, 28, 33,
34, 38, 41
43, 46, 50, 51
bushels  1, 3, 5, 6, 11, 14, 15, 17, 18*, 19, 22, 23, 29, 37,
39, 40, 44, 49
NR  30, 31, 47
36.3
     pick /to harvest grapes/ *cut
pick  1, 2, 4, 6, 8, 10
12, cv19, 20, 22, 30, 33, 38
42, 44,
cut  3, 7
gather  5, 45
NR  13
18, 21, 43, 46, 47, 49
36.4
     pick /to harvest walnuts/  *knock, pole, gather
pick  4, 6, 8, 10, 18, 19, 30, 33, 41, 44, 45
gather  1, 2, 5, cr7, 12, 22, 38
40, 42
knock  3, sg4
harvest  2
shake  7 (?)
picking up
NR  13
17, 20, 21, 43, 46, 47, 49
36.5
     oats are thrashed (sic) *is
thrashed  3
5, 7, 8, 10
22, 25, 28, 29, 31
34, 37, 38, 42
threshed  1, 2, 6, 27, 39
41, 45, 46
NR  30
36.6
     he isn't as tall) as I am  *as I, as I be, as me
as I  1
5, 7, 8, 11, 12, cr16, 18
23, 29, 30, 32, 33, sg34,
40, 42
48, 50, 51
me  15
18, 40, sg42
myself 10
NR  6, 13, 14, 41, 49
36.7
     it's) yours  *yourn
           ours
           theirs
           his
           hers
No variants found
36.8
     when are) you
all (coming again?/ is 'you
all' ever used
as sing.?  *youse, you'uns, 'mongst
you/ record intonation
you  1
8, 11
13, 15
20, 22, 33, 38, 39, 41, 45
all  35
NR  10, 14, 21, 23, 42
44, 47
37.1
     you
all's  /genitive/
NR  1
8, 10
14, 20, 23, 41, 42, 44
37.2
     who
all  (was there? /record intonation/
all  3, 12, 20, 23, 30, 31, 35, 38, 40
42, 44, sg45, 51
who  4, 10
NR  1, 2, 5
8, 11, 13, 14
37.3
     who
all's (children were there? /record intonation/
who  4
whose  20, 41, 41
who's
all 36
all's
NR  1
3, 5
8, 10
14, 23, 30, 44
37.4
     what
all (did he say? /record intonation/
what
all  1, 7, 8, 11
13, 23, 31, 31, 35, 36, 38, 40, sg45,
what did he say  15
what  4, 20, 41
NR  2, 3, 4, 5, 10, 14, 42, 44
37.5
     white bread /white, in loaves/  *light bread, bread,
wheat bread
white bread  1, 3
8, 10, 11, 13
23, 25, 30
33, 35, 36, 38
46, 50, 51
bread  16, 29, 34, 37, 43
light bread  2, 48, 50
yeast bread  12
wheat bread  30
37.6
     corn bread /in large cakes/  *johnny
cake, corn pone,
pone
bread
corn bread  1, 3, 4, 6, 8, 10
15, 17
20, 22, 23, 27, 29
Johnny
cake  2, 7, 15, 18, 19, 21, 22, 24, 25, 37, 39(hd),
40, 46
corn pone  5, 16, 17(hd), 50, 51
corn meal bread  23
37.7
     /other kinds of bread and cakes made of corn meal;
describe preparation/  *spoon bread, awenday, ash cake, hoe
cake, hush
puppies
corn bread 1, 7
hush puppies 2, 12
biscuits  4
corn meal mush  11, 27, 31
corn pone 30
corn muffins  30
homemade bread  37
mush  39, 46, 47, 49
spoon bread  40
Johnycake  50
corn meal muffins  51
NR  3, 5, 6, 8, 10, 13
24, 41
45, 48
37.8
     home made bread and) bakery bread  *store bread, town
bread, boughten bread, baker's bread
baker's bread  3, 6, 7, 11, 13, 14, 17
20, 24, 25, 27, 29,
31, 32, 34, 37, 39, 40, 47, 49, 50
bakery bread  2, 4, 5, 8, 10, 15, 16, 19, 21, 39, 35, 36, 41
45, 48
boughten bread  4, 13, 38, 45(We tried not to use it.), 46
home made bread  22, 29, 33, 49
package bread  23
store bread  1, 16, 36
store bought bread  51
38.1
     sweet roll /describe/  *snail, coffee roll, sugar roll,
breakfast roll
sweet rolls  1, 2, 4, sg6, 7, 11, 12, 22, 33, 38
40, 41, 45,
48, 50
coffee cake 6, 11, 15
18, 20, 23, 34, 37, 41
cinnamon roll  5, 24, 27, 29, 30, 35, 36, 46, 47
snails  16
19, 34, 35, 47
butterhorn  10, 14, 18, 19, 31, 44
breakfast roll  15, 50
Danish pastry  17
coffee rolls  18
twisters  21
coffee ring  43
bear claw  44
buns  47
Parker House rolls  51
NR  3, 8, 13, 49
38.2
     doughnut /made with baking powder/  *cake doughnut,
fried cake, cruller
doughnut  1
8, 10
24, 25, 27, 29
34, 36
46, 48, 49, 51
cake doughnuts  cv1, 4, 28, 30, 32, 35, 50
cruller  17(twisted, no hole), 28
sinker  16
fried cake  19
cake doughnut  20
raised doughnut  47
38.3
     doughnut /made with yeast / *raised doughnut, fried
cake, cruller
raised doughnut  2
5, 7, 8, 11, 20, 21, 23, 24, 27, 29
34, 35, 37, sg38, 39
41, 43, 46, 48, 51
doughnut  1, 6, 8, 10, 12, 14, 22, 33, 36, 44, 49
bread doughnut  17
19, 28, 50
cruller  6(hd), 40(twist)
cake doughnut  47, 48
fried cake  7(hd), 15
French doughnut  16
NR  13, 42, 45
38.4
     pancakes /of wheat/  *wheat cakes, griddle cakes,
flapjacks, hot cakes
hotcakes  1
4, 11, 12, 14, 16
21, 23, 25, 27
32, 38, 39, 41,
sg42, 43
47, 49
pancakes  4, 5, 7, 8, 10, 12, 13, 15
17, 19, 22, 24, 28, 31
37, 40, 42, 48
flapjacks  4, 8, 15
19, 21
griddle cakes  7, 14(hd), 16, 39(hd)
buckwheat cakes  4
wheat cakes  19
38.5
     recipe  *receipt
recipe  1
8, 10
13, 16
20, 22, 23, 25, 27
31, 33
47, 49, 50
receipt  14
16, 21, 24, 32, 34, 37(hd)
38.6
     two pounds (of flour  *pound
pounds  1
8, 10
22, 30
33, 35, 36, 38
46, 48
38.7
     a cake) of yeast  *east, emtims, cunnell
yeast  2, 4
8, 10, 11, 13
19, 21
25, 27
37, 40
yeast cake  3
a yeast 20
38.8
     liquid yeast  /home made; grows in jar?/  *sourdough,
spook yeast
sourdough  sg2, 4, sg5, 8, 10, 12, sg14, 15, 25, 28,
33(hd), 39
41, 42, 44, 46, 50(hd)
starter  1
4, sg6, 7, 13, 19, 22, 24, 28, 29, 32, 34, 37, 45,
homemade yeast  18, 31, 37
riser,  15, 17
sponge  11
yeast  20
sour milk yeast ?21
self starter  38
self rising yeast  50
NR  16, 30, 43, 47, 49, 51
39.1
     boiled eggs
boiled eggs  1
8, 10
25, 27
42, 44, 46
eggs  43, 45, 50, 51
39.2
     yolk  *yelk, yellow
yolk  1
8, 10
20, 22
25, 27
30, 32
36, 39
51  (51 ?pron)
yelk  21, 37, 38
39.3
     the yolk is) yellow  /name of color/
8, 10
25, 27
32, 34
47, 49
39.4
     salt pork  *side
meat, sow belly, fastback, white meat,
white bacon
salt pork  4, 5, sg6, 11
13, 16
25, 28
30, 34, 35, 37, 39
sg45, sg46, 47
sow belly  4, 15, 17, sg18*(hd), 19, 20, 50
bacon  8, 10, 14, 27, 36
side pork  45, 48, 51
white bacon  2
salt side  15, 32
side meat 19, 38
fresh side pork  44
NR  1, 3,
39.5
     bacon rind  *skin, meat skin
bacon rind  2
6, 10
12, 22, 23, 30, 35
37, 39
43, 45, 47, 48
rind  8, 14
21, 24, 27, 29, 32, 34, 38, 44, 46, 50, 51
bacon  13, 31
side meat  31
skin  1
NR  7, 28
39.6
     a side of bacon  *flitch, sicle, slab, middling
slab  1, 13, 14, 17
19, 22, 25, 27, 28, 32, 34
37, 40, 42,
44, 45, 50
a side of bacon  2
7, 11, 12, 15
18, 20, 21, 23, 29, 31, 38,
39, 41, 43, sg46, 47, 48, 51
chunk  30
NR  8, 10
39.7
     chipped beef  *jerked beef, dried beef, jerky, salt
horse
chipped beef  2
4, sg8, 11, 12, 14
20, 22, 25, 28, 29, 34
39, 40, 42, 44
dried beef  1, 2, 5, 7, 10, 11, 13, 18, 24, 28, 31, 37, 38,
43, 46, 48, 49
jerked beef  13, 15, 30, 31, 45
jerky  5, 6, 15, 41, 50
jerk beef  16, 19, 21
dry beef  17
39.8
     butcher
butcher  1
8, 10
25, 27
32, 34
40.1
     the meat is spoiled
spoiled  1
5, 7, 8, 10
22, 24, 27, 29
32, 34, 36
49, sg50, 51
rancid  23, 28, 50
rotten  45, 50
decayed  28
rank 23
40.2
     sausage
sausage  1
5, 7, 8, 10
25, 27
32, 34
40.3
     head cheese /pressed meat loaf made of hog's jowls,
 etc./ *souse, wurst, scrapple, pannhouse, jowl meat, head
 meat
head cheese  1
5, 7, 8, 11
19, 20(hd), 21, 22, ?23, 24, 25,
32, 34, 36
38, 40
43, 44(hd), 45
souse  17, sg18(hd)
NR 39
40.4
     liverwurst  *liver sausage, braunschweiger, liver
pudding, liverel
liverwurst  1, 2(hd), 4, 7, 8, 11, 12, 15
20, 25, 29, 30, 31,
34, 36
40, 42, 44
liver sausage  5, 13, 15, 18, 20, 21, 24, 27, 28, 41, 43, 46,
sg50, 51
NR  3, 14, 22, 23, 32
40.5
     scrapple /made of corn meal, meat juice, and scraps/
*cripple, pannhoss, ponhass, ponihoss
scrapple  2(hd), ?3, 7(hd), 11, 12, 17, 18, 21, 23, 24, 28,
29, 31, !32(eaten by Swedish people), 34, 38(hd), 46
panhoss  19(Mid
central unrounded vowel)
NR  1, 4, 5, 8, 13
16, 20, 22, 30, 37, 39
45, 47
49, 51
40.6
     thick sour milk  *curdled milk, clabber, bonny
clapper,
lobbered milk
clabber  cr5, 8, 13, 14, 16(hd), 17
19, 21, 25, 28, 31, 32,
37, 40, 42, 43, 47, 50
clabbered milk  1
3, 7, sg11, 12, 15, 16, 24, 27, 34, 38, 45,
48, 49
curdled milk  1, sg2, 4, 1,, 12, 15, 16, 24, 27, 34, 38, 45,
48, 49
sour milk  1, 4, 29, 30, 46, 51
curds  5, 19, 23
butter milk  35
40.7
     the milk is)  blinky/just turning sour/  *turned,
tainted, blue
john
turning  12, 18, 20, 22, 25, 29, 30, 35, 37
40, 48, 50
turned  19, 24, 29, 31, 34, 41, 46
tainted  7, 11, 13, 44
blinky  32, 42, 47(hd), 50
sour  2, 3, 49
on the turn  14, 45
blink  21
curdle  25
turning sour  28
beginning to dour  43
getting sour  51
just turned 1(jist)
binky  sg5
NR  4, 8, 15
17, 23, 33
40.8
     cottage cheese   *pot cheese, Dutch cheese, smearcase,
clabber cheese, sour milk cheese, curds, curd cheese
cottage cheese  1, ?2, 3
5, 7, 8, 11, 12, sg15, 16
25, 27
Dutch cheese  7, 13
15, 18, 27, 47(hd), 50
smearcase  sg17(hd), sg50
curds  3
41.1
     apple) cobbler /baked in a deep dish; describe
preparation/  *family pie, deep apple pie, apple pan dowdy,
apple Jonathan
cobbler  1, 4, 5, 11, 13, 19
22, sg23, 24, 25, 29, 30, 32,
33, sg34, 35, 37, 39, 42
44, sg46, 47(hd), 49
apple cobbler  3, 8, 12, 16, 28, 41, 42, 48
deep dish apple pie  sg1, 7, 45, 48, 50
deep apple pie  2, 18, 39
apple Betty  17, 18, 29
apple dumpling  14, 19
apple pan dowdy  19, 30
upside down cake  27, 36
apple pudding  ?15
pudding  14
apple dowdy  31
apple bread pudding  34
brown Betty  38
41.2
     sauce  /sweet liquid served with pudding/  *dip, dope,
dressing, gravy
sauce  1
3, sg5, 7, 8, 12, 16, 17, 19, 22, 23, 29, 30
43, 46
48, sg49, 50, 51
syrup  4, 15, 17, 19, 36, 47
dip  3, 34, 38(hd)
pudding sauce  13, 24
hard sauce  44, 45
dressing  2
sweet sauce  11
sweet dressing  14
gruel  !25
frosting  27
white sauce  28
hot sauce  44
NR  18, 20, 21
41.3
     frosting /sweet coating on a cake/  *icing
frosting  1
5, 7, 8, 11
20, 22
25, 27
37, 39
45, 47
49, 51
icing  cr8, sg15, sg16, 17
19, 21, 23/z/(sic), 34, 38, 39,
46, 50
41.4
     chocolate bar
chocolate bar  1
5, 7, 8, 11
20, 22
25, sg27, 29
41.5
     ice cream  /note stress/
ice cream  1
5, 7, 8, 11
25, 27, 29
46, 48
41.6
     a snack  /food eaten between regular meals/  *bite,
lunch, piece
snack  1
5, 7, 8, 11, 16
20, 22, 23, 29
34, 36, 39, 40, 42,
44, 45, 48, 50, 51
lunch  sg3, 8, 15, 18, 21, 25, 27, 38, 43, 49
piece  5, 12, 14, 24, 37, 41
piecing  34, 35, 46, 50, 51
bite  7, 11, 13, 16, 17
nibbling  5
41.7
     I' going) to get supper  *make fix
get supper  1, 7, 11, 14, 15, 17, 18, 24, 25, 27, 29
32, 34,
37, 40
42, 44, 46, 47, 50, 51
make supper  3, 8, 38, 48
fix supper  4, 12
fix dinner  2, 4, 35, 39
start supper  20, 36
prepare  13, 16, 21, 23, 43
cook  19
NR  5, 22, 33, 45, 49
41.8
     we ate (at six o'clock /when did you eat?/
ate  1
4, 8, 11
19, 21, 22, 24, 29
49, 51
eat  ?27, cv37
NR  5, 7, 20, 23, 50
42.1
     how often) have you eaten (today? /record intonation/
*et, eat, ate
have (you) eaten  1
5, 7, 8, 11, 12, 14
20, 22, 23, 29
48, 50, 51
have you ate  13
have you eat  37
NR  21, 24, 49
42.2
     I'm going to) make some coffee  *cook, boil, brew, draw
make  1, 3, 5, 7, 8, 11, 12, 14, 16, 19
22, 24, 27
30, 32
44, 50
brew  sg3, 4, 7, 13, 17
perk some coffee  2, 18
percolate the coffee  15
serve coffee  31
fix the coffee  35
NR  23, 45
42.3
     pour (the coffee
pour  1
5, 7, 8, 11
25, 27, 29
33, 35
42.4
     a glass of water
glass  1
5, 7, 8, 11
25, 29
42.5
     I drank  (a lot of it
drank  1
5, 7, 8, 11
25, 27
34, cv36, 37
drunk  35
42.6
     How much) have you drunk /record intonation/ *drank,
drunken
drunk  1
5, 7, 14
19, 22, 23, 29, 30, 33
36, 38
41, 43
?46, 48
have drank  3, 8, 11
13, 20, 21, 25, 27, 28, 31, 32, 42, 51
did you drink  24
NR  37, 47
42.7
     soft drink  *soda pop, pop, tonic, dope
pop  2
4, 8, 11, 17, 19, 21
24, 2932, 34
40, 42, 43, 45, 46,
48, 50
soda  16, 18, 19, 49
soda pop  5, 7, 12, 14, 20, sg25, 45
sody pop  13
soft drink  sg1, 4, 24, 41, 44, 48
soft drinks  15(always pl), 17
sody drink  3
soda water  15
coke (general  33, 46
coca cola  44
by name  51
42.8
     I sat down  *set, sot
sat  1
4, 8, 11
20, 22, cv23, 24, 25, 29, cv30, cv31, 32
set  21
sit  27(past tense)
NR  5, 7
43.1
     warmed over  /of food/  *warmed up, het over, heated up
warmed over  1, 3, 7, 8, 11, 14, 15, 17
20, 28, 32, 38, 40
42, 44, 45, 50
warmed up  cv1, 4, 5, 12, 15, 19, 22
24, 30, 32, 34
37, 39,
leftovers  13, 21, 23, 29, 33
36, 43, 45, 46, 48, 49
warm  51
warm it up  31
warned(sic) over  16
NR  2, 47
43.2
     chew  *chaw, champ, chomp
chew  1
5, 7, 8, 11
24, 27, 29
chaw tobacco  3
43.3
     vegetable garden  *kitchen garden, garden, truck garden,
family garden
     garden  1, 5, 14, 16
19, 27, 29
32, 35, 36, 38, 40, 41,
49, 51
vegetable garden  2
4, 7, 8, 11, 12, 17, 20, 23, 33, 39, 40
43, 50
truck garden  4(large)
family garden  sg8, sg11
early garden  13
garden patch  15
garden plot  21, 25
kitchen garden  37
43.4
     hominy grits  /ground/ *grits, hominy, samp
hominy  5, 8, 11, 13, 17
19, 22, 30
33, 39
44, 46, 48, 49, 51
hominy grits  5, 8, 11, 13, 17
19, 22, 30
33, 39
44, 46, 48,
49, 51
grits  2, 12
hominy corn  15
NR  14, 16, 21, 23, 37, 38, 45, 47, 50
43.5
     genuine maple syrup
genuine maple syrup  1, 2, 4, 6, 11
15, 18
20, 22
24, 30, 31,
35, 37
43, 45, 46, 48
maple syrup  3, 17, 36, 44
syrup  16, 21, 27, 49
pure maple syrup  8, 51
real maple syrup  29
pure syrup  50
NR  5, 47
43.6
     sugar is sold) in bulk  *loose
bulk  1
5, 7, 8, 11, 12, 14
20, sg21, 22, 24, 29
33, sg34,
46, 48
by the pound  15, 16, 18
broken sack  13
NR 23, 47
43.7
     jelly  /strained or unstrained?/
jelly  1
5, 7, 11
25, 27, 29
46, 48, 49, 51
jam  8
43.8
     give me a(n) apple
give me an apple  1
4, 11
13, f16, 17, 19, 21, 22, 24, 27,
31, 32, 34
44, 46, 48, 51
gimme  5, 7, 8, 14, 15, 18
20, 23, 29, 33, 49
bring  45
hand 45
NR  30, 47
44.1
     those boys  *them boys, them there boys
those boys  1
4, 7, 11
22, cv23, 24, 27, 29, 30, cv31, 32
49, 51
them hunderd(sic) aces  15
the boys over there  46
NR  5, 8
44.2
     it's) over there  *over yonder, back there, back yonder
over there  1
4, 7, 11
15, 17
20, 22, cv23, 24, 29, 30, cv31,
over yonder  8, 21, 50
there  16, 51
yonder  51
NR  5
44.3
     what's that  /when failing to hear someone's utterance/
*how's that, how? what? huh?  /record intonation/
what?  12, 30, 33, 38, 39, 41, 44
what's that  22, 37, 40, 42, 47
huh?  8, 22, 24, 33
mm?  15, 18, 19, 29
pardon  cv16, 30, 32
what did you say  2
what was that  4
how's that  5
what's at  7
pardon me  cv17
I didn't hear you  21
I didn't get you  21
how's at  27
I beg your pardon   43
come again  45
beg your pardon  45
how is that  50
44.4
     whom (do you want? /record intonation/ *who
who  5, 7, 8, 11
22, cv23, 24, 27, 29, cv31, 32, 33, 36
40, 42, 44, 47
whom  1, 2, 4, 35, 39, 43, 45
NR  3, 30, 46, 50
44.5
     pit  /of a cherry/ *stone, seed
pit  1
5, 7, 8, 11, 12, 14
19, 21
25, 27, 29
32, 34
42, 44
46, 48
stone  15, 19, 20, 47, 50
seed  13, 33, 43 45
44.6
     pit  /of a peach/  *stone, seed
stone  1, 3, cr4, 7, sg8, cr13, 14, 15, 17
20, 22, 23, 31,
32, 34, 36
38, 42, 46
48, 50
pit  2, 5, 8, 12, 15, 17, 19, 21, 24, 25, 27, 29, 30, 35, 41,
44, 45, cv48, 49, 50
seed  2
5, 11, 13, 16, 33, 39, 43, 51
44.7
     cling
stone peach  *cling peach, press peach, plum
peach
cling
stone  cv1, 2
5, 7, 8, 11
16, 18
22, 24, 27, 29, 30,
32, 34, 37
39, 41
44, 48
cling peach  17, 23, 25, 31, 33
cling  40, 45, 46
peaches  47
44.8
     free
stone peach  *clear
seed peach, soft peach
free stone  1
5, 7, 8, 11
25, 27, 29
31, sg32, 33, 34, 37,
38, 40
45, 48
free  46
peaches  47
NR  39
45.1
     apricot
apricot  1
5, 7, 8, 11
25, 27, 29
45.2
     peanuts  *ground peas, goobers, pinders, ground nuts
peanuts  1
5, cr7, 8, 11
25, 27, 29
45, 47
goobers  sg5, 7, 17(hd)
45.3
     walnut shell  /hard inner cover/  *hull
walnut shell  1, 2, 4, 5, 7, 8, 11
20, 22, 23, 30, 32, 35,
45, 49
shell  3, 24, 27, 50
husk  21
walnut hull 33
walnuts  47, 48, 51
45.4
     walnut hull  /green outer cover/  *shuck, shell burr
husk  1, 5, 8, 13, 14, 17, 18*, 24, 27, 30, 37, 43, 45
hull  3, 7, 11, 39, 41, 42, 50
shell  2, 21, 23, 37
burr  4, cr7, 19, 34, 40
shucks  sg16(hd)
NR  12, 15, 20, 22, 33, 38, 44, 47, 49
45.5
     peanut shell  *shuck, hull
shell  1
3, 7, 8, 11, 14
19, 2125, 27, 29, 30, 33
35, 37
cr43, 44, 45, 50
husk  34, 43
shuck  13
NR  5, 12, 20, 47, 49
45.6
     pecans
pecans  1
5, 7, 8, 11
24, sg25, 29
43, 45
NR  44
45.7
     praline  /flat sheet of pecan candy/  pecan patties,
pipitorias
praline  2, 3, 6, 22, 39, 40, 42, 45
pecan crunch  4
NR  1, 5, 6, 11
21, 23, 24, 30, 38, 41, 43, 44, 47, 49
45.8
     almonds  *peach seeds, peach
stone seeds
almonds  1
5, 7, 8, 11
25, 27, 29, 30, 32
47, 50, 51
46.1
     the oranges
oranges  1
5, 7, 8, 11
25, 27, 29, 30, 32
46.2
     tomatos
tomatos  1
5, 7, 8, 11
25, 27, 29
46.3
     green onions  *spring onions, scallions, rareripes,
shallots
green onions  1
5, 7, 8, 11
25, sg27, 29
31, sg32, 33
45, 48
onions  47, 49
shallots  45
46.4
     to) shell peas  *hull, shuck
shell  1, 2, 4, 5, 7, 8, 11, 12, cr13, 14
22, 24, 25, 29
45, 50
hull  3, 11, 13, 15, 33, 48, 49
pod peas  23, 44
46.5
     butter beans /large, flat, yellow; not in pods/  *lima
beans, sivvy beans
butter beans  2, 4, 5, 7, 8, 11, 12, 18
20, 23, 29, 31, 38,
43, sg44, 45, 47, 49
horse beans  3
hog beans  15
pig beans  15
broad beans  17
NR 13, 16, 21, 36, 50
46.6
     lima beans /smaller, green; not in pods/  *butter beans,
sivvy beans
lima beans  2, 4, 5, 7, 12, 14
19, 22, 23, sg25, 31, 32, 36
38, 40, 42
45, sg46, 47
small lima beans  41
butter beans  3, 8
fat beans  ?20
NR  13, 21, 24, 29, 30, 33, 39
46.7
     string beans  *snap beans, green beans, wax beans
string beans  cv2, 4, 7, 8, 11
13, 15
17, 19, 22, 27, 29
45, 48, 49, 51
green beans  1, 2, 13
15, 17
19, 24, 30, 40, 45
47, 49, 50
pole beans  5, 20, 23
snap beans  3, sg19
bush beans  23
46.8
     pinto beans  *Mexican brown beans,  frijoles
pinto beans 2, sg3, 4, 5, 7, 8, 12, 22, 33, 40, 42, 45
pintos  1
Mexican beans  11, 19
chili beans  ?30
NR  13
18, 20, 23, 24, 29, 32, 35, 37
39, 41, 43, 44, 46
47.1
     husks  /an ear of corn/  *shucks
husks  1, 3
5, 7, 8, 12
14, 16
19, cr20, 21
25, 27, 29
shucks  11, 15, 42
shooks  2
hulls  20
47.2
     sweet corn  /served on the cob/  *green corn, sugar
corn, roasting ears
corn on the cob  2, 4, 11, 14, 18
20, 22
24, 27, 30
32, 34
41, 43
45, 47(boiled), 48, 49, 51
sweet corn  3, 5, 7, sg11, 12, 15, 17
19, 29, sg41, 51
green corn  16, 17, 19
table corn  19
ear corn
47.3
     tassel  /top of the corn stalk/  *spindle, top
gallant
tassel  2, 4, sg5, 7, 8, 11
19, 21
24, 27, 29, 30, 33, 34,
43, 46, 47, sg48, 49, 51
silk  1, 3, 5, 8, 20, 24, 25, 31, 37, 44, 45, 50
47.4
     pumpkin
pumpkin  1, 3
5, 7, 11, 16
19, 22
24, 29
33, 35
38, 40
45, 46, 48, 50, 51
punkin  2, 8, 12
16, 20, 21, 25, 27, 30, 34, 35, 39, 43, 47
47.5
     muskmelon  *mushmelon, cantaloupe
cantaloupe  2
4,, 8, 14, sg15, 16
20, 22, 23, 25, 27, 29, 30,
35, 37, 39, 40, 42
49, 51
muskmelon  1, 3, 5, 8, 11, 13, 14(hd), 15
19, 20(hd), 21
33, 37, 38, 41, 43, 45
48, 50
mushmelon  7, 14(hd), 23, 27, 36, 49
NR  12
47.6
     toadstool /not edible/  *frogstool, frog bench, frog
table, mushroom
toadstool  2
5, 7, 8, 11
20, 22
25, 27, 29
46, 47(hd), 48
mushroom  1, 3
poisonous mushrooms  21
47.7
     he couldn't) swallow it
swallow it  1
5, 7, 8, 11
25, 27, 29, 30, 32
46, 48
47.8
     she was) singing  and laughing /enter other examples in
n or with the prefix a
/  *a
singin, a
laughin
/n/ is usual in conversation for informants 21, 23, 25, 27,
36, 49
talkin  30
diggin  34
dreamin  47
Informant 15 
 calmin down, goin down (5.6); sittin room
(6.3); kindlin wood (7.1); fryin pan (14.5); apple puddin
(41.1); courtin her (63.5); nothin (75.5)
Informant 16 
 fryin pan (14.5); I'm goin over to . . .
(21.1); milkin time (33.2)
Informant 17 
 courtin her (63.5)
Informant 18 
 we're goin today (21.1); settin hen (32.7);
nothin (75.5)
48.1
     I can't  /stressed/
can't  1
5, 7, 8, 11
15, cv16, 17
24, 27, 29, 30, cv32, 33
36, 38
49, 51
48.2
     he hadn't ought to  /negative of `he ought to'/
*oughtn't to
shouldn't  2, 13, 15
17, 29, 30, cv31, cv32, 35, 41, 43
ought not to  1, 4, 7, 14, 21
24, 27, 44
hadn't ought to do that  5, 8, 11, 12, 18, cv19, 33, 39, 40,
sg49
oughtn't to  34, 42
NR  3, 20, 36, 38
48.3
     I) won't  (do it
won't  1
4, 7, 8, 11
14, cv15, 17, 18, cv19, 21, 22, cv23,
24, 27, 29, 30, cv31, cv32, 36, 38
NR  5, 20, 35
48.4
     I) might could (do it /future/  *might be able to
might be able  4, sg5, 7, 11
14, 19, cv23, 24, cv31, cv32,
35, 36, 38
42, 44, 45, 47, sg48
may be able to  17, f18, 33
might  1, 3
may  1, 43
I used to could  14
perhaps could  f16
might do it 21
could 22
maybe I can do it 29
perhaps I can  46
NR  2, 8, 15, 20, 49
48.5
     woodpecker /get kinds/ *peckerwood
woodpecker  1
5, 7, 8, 11
25, 27, 29
31, 33
45, 47
sapsucker  13
5, 32
yellowhammer  5
redheaded  46
48.6
     skunk  *polecat, woods pussy
skunk  1
5, 7, 8, 11, 13
21, 23
25, 27, 29
36, 38
polecat  3. 5. 12. 15. sg16. 17(hd), 19, 50
wood pussy  sg16, 18
civet cat  18*(hs, 18, 45
civety cat  17
48.7  x
     chipmunk  ground squirrel, gopher,  pocket pin, grinnie
chipmunk  1
5, 7, 8, 11
25, 27, 29, 30, sg31, 32
36, 38
48.8
     varmints  /define/
varmint  2, sg3, 4, 8, 11, 13, 15, sg16, 17
19, 22, 33, 39
42, 49
rodents  23, 31, 32, 45
pests  46
NR  1, 5, 7, 12, 14, 20, 21, 24, 29, 30, 38, 43, 44, 47, 48,
49.1
     shrimp  *prawn /size? where from? different from
shrimp?/
shrimp  1
5, 7, 9, 11
25, 27, 29
prawn  11, 12, 16
19, 39, 40
mollusks  31
shellfish  31
NR  21, 43, 47
49.2
     oysters
oysters  1
5, 7, 8, 11
25, 27, 29
49.3
     salmon
salmon  1
5, 7, 8, 11
25, 27, 29
49.4
     crawfish  /describe; used for western lobster?/
*crayfish, crawdad
crawfish  1
3, 5, 8, 11, 12, 14, 19, 20, 22, 30, 34
36, 39,
45, 46
crawdad  29(hd), 33, sg40, 42, 44, sg49
crayfish  4, 30, 33, 40, 42, 43
crawdaddies  7, 22, 50
NR  13, 15
18, 21, 23
25, 27, 31, 32, 37, 38, 41, 47, 48, 51
49.5
     toad  *toadfrog, hop
toad, dry
land
frog, wart frog,
gray frog
toad  1
5, 7, 8, 11
19, 21
24, 29
36, 38
treetoad  47, 50
sand
toad  43
frogs  21
NR  20, 25, 37, 51
49.6  x
     horned toad  /small flat lizard with horns on head and
back/  *horned frog
horned toad  1
5, 7, 11, 12, 39
42, 50
sand lizard  50
NR  8, 13
21, 23
25, 27, 29
38, 43
49, 51
49.7
     earthworm  *angleworm, mudworm, fishworm, bait,
baitworm, rainworm
angleworms  1
5, 7, 8, 11, 12, cr13, 14
25, 27, 29
earthworm  3, sg8, 17, 19, 21, 38, 43, 50
worms  13, 21, 30
32, 43, 44
fishworms  17, 27, 50
49.8
     night crawler  /large earthworm  *night walker, john
jumper, wiggler
night crawler  2
5, 7, 8, 11
13, 17, 19, 20, sg22, 23, 27,
29, 30, 32
35, 39
44, 46, 47, 49, 50
angleworms  1, 47
NR  14
16, 18, 21, 24, 25, 31, 36
38, 45, 48, 51
                   Informant Directory LAPNW
00001 	Fieldworker 
 none listed
Mrs. L. Jensen
Stanwood, WA
40 yrs. old
00002	Fieldworker 
 none listed
Irene Lottman
Bellingham
45 yrs. old
00003	Fieldworker 
 none listed
Victor Wolfkill
Harper
00004	Fieldworker 
 none listed
Joseph J. Rusek  (College)
Helena, Mont
00005	Fieldworker 
 none listed
Mr. Cecil Rulaford
Age 77
Walla Walla
00006	Fieldworker 
 none listed
Mrs. George Converse  69
177 E. Maple  Walla Walla, Wash
(Educated)
00007	Fieldworker 
 M. Palmer
Elizabeth Boyce 
 25 yrs!
Spokane, Wash.
00008	Fieldworker 
 M. Palmer
Earnest R. Jordan 
John Day, Ore  (Walla Walla, Wash)
                    residing
Elementary school
00009	Fieldworker 
 None listed 
 Reed's penmanship
Mrs. George Drumheller 
2348 Ranier Ave
Walla Walla
(Some college)
00010	Fieldworker 
 M. Palmer
Mrs. Dorsey Nichols 
 (b. l876
    )
Milton, Ore
(405  W. Whitman Dr
  College Place, Wash)
00011	Fieldworker 
 M. Palmer
Estel Weber
Boise, Idaho
00012	Fieldworker M. Palmer
Mrs. T.L. (Helen) Edmark / Malad, Idaho
 2117 So. Kimball
00013	Fieldworker 
 M. Palmer
Ralsa Nelson Steele   (Mr. Steele also)
Sumas, Wash  b. 1886 (Aug 26)
                grammar school
(parents from Iowa)  (mother from England, 12 years old
                            taught school in Iowa
00014	Fieldworker 
 H. Person
Arthur C. Ballard  (Auburn, Wash.)
                     (Slaughter?)
b. Oct. 18, 1876
grade school  1881
1888
U.W.  1895
99 (Latin)
00015	Fieldworker 
 DeCamp
Herman F. Sinders  (84 yrs)
Sequim, WA
00016	Fieldworker 
 none listed
Rex Erskine McInnes (60)
Jamestowne (nr Sequin)
00017	Fieldworker 
 none listed
Chester John Flint  (70)
Port Townsend, WA
00018	Fieldworker 
 none listed
Ruth Imogene Ward  (61)
Dungeness, WA
00019	Fieldworker 
 none listed
Mrs.  Madge H. Nailer
Port Angeles, WA
00020	Fieldworker 
 H. Person
T. R. Reese (75)
b. near Black Diamond (Welsh extraction)
00021	Fieldworker 
 Brengelman
William Markam Berry
b. Vashon, Wash. 88
Father B. Maryland, Mother b. Kansas
Homesteaded Vashon, 1883
00022	Fieldworker 
 Margaret Palmer
Thora Linrud (50)
Ferndale
00023	Fieldworker 
 Fred Brengelman  (discs)
Alvin  D. Petterson
Everett, WA
00024	Fieldworker 
 Fred Brengelman
Antionette E. Stanton
Seattle, WA
00025	Fieldworker 
 F. Brengelman
William Langell  (79)
(Indian)
East Sound
00026	Fiedlworker 
 H. Person
Henry Cayou  (85)
Orcas Island
(half French, half Indian)
00027	Fieldwoker 
 H. Person  Transc.  F.B.
R.T. Johnson  (78)
Sumas, Wa
half
Indian
00028	Fieldworker 
 H. Person ?? handwriting is not clear
Bruce Hall  (75)
Butron, WA
00029	Fieldworker 
 F. Brengelman
Linda Splawn (50)
Lynden
00030	Fieldworker 
 F. Brengelman
Mrs. D.A. McMillan (35)
Sumner, WA
00031	Fieldworker 
 F. Brengelman
Mrs. I. A. Cahail 
 primary stress on second syllable
(72)  Anacortes WA
00032	Fieldworker 
 F. Brengelman
Mrs. Warren Lincoln (70)
Shelton, WA
(father from Maine)
00033	Fieldworker 
 C. Reed
Elmer Bitterston  Age 31 
 M.S. degree
Coeur d'Alene, Ida
00034	Fieldworker 
 F. Brengelman
Mrs. George Middlecoff (nee Tillie Blinker) (75)
Tacoma, WA
00035	Fieldworker 
 F. Brengelman
Mrs. Virginia McIntyre  (35)
Seattle, WA
00036	Fieldworker 
 F. Brengelman
Mrs. Joyce V. Zanghi  (25)
Seattle
00037	Fieldworker 
 H. Person
Dora Althauser  68yrs
Oakville  near Centralia
Mother 
 New Brunswick, Canada
Father 
 Maine       came 1878
00038	Fieldworker 
 D. Kinkade
Minnie Willms (Willins?) Age 67
Bridgeport, Wash
Mother  Norway
Father  Norway
Dec. 26, 1955
00039	Fieldworker 
 C. Reed
Mr. Sterling Taylor  (b. Kellog, Idaho)
Lewiston, Idaho
ca. 55(age)
(Gonzaga University)
00040	Fieldworker 
 M. Palmer
Mrs. Leonard Mall
25 years old
Pocatello, Idaho
00041	Fieldworker 
 M. Palmer
Mrs. Ora Cramer  Age 50
Caldwell, ID
00042	Fieldworker 
 M. Palmer
J.P. Munsey, M.D.  Age 31
2603 Indian Ave
Caldwell, Idaho
00043	Fieldworker 
 M. Palmer
Mr. L. Deane Moody
Waitsburg, Wash
Feb 8, 1955
00044	Fieldworker 
 C R
Mrs. Thomas Reid  (30)
Bremerton, WA
00045	Fieldworker 
 Fred Brengelman
Mrs. John Martin  (32)
Seattle
00046	Fieldworker 
 F. Brengelman
Dorothy Wright  (50)
Bothell, WA
00047	Fieldworker 
 F. Brengelman
Miss Bernice Sayp
Olympia   b. Illinois
Tumwater and Olympia for 77 years
00048	Fieldworker 
 Fred Brengelman
Mrs. John Friel
Pullman Wash.
50 yrs old
8/15/57
00049	Fieldworker 
 Fred Brengelman
Abner Russell
Pullman, Wash
(b. Moscow)
(61)
00050	Fieldworker 
 D. Kinkade
Bessie Gill
Grandview, Washington
grade
school teacher  raised on a farm
00051	Fieldworker 
 F B
Mrs. A.E. Hudson  (67)
Pullman Wash
00052
Miles Whitney  Partial record
00000  No number given
Loren Wilkinson  (20)
Albany, Ore
Different work Sheets
Different Symbols
</pre>
