<pre>
                            LAPNW
QUESTIONNAIRE 
  LAPNW   50.1 
 75.8
50.1
     minnows  /for bait/  *shiner, minnies
minnows  1
5, 11
14, 16
22, 24, 31
33, 37
47, sg48, 49, 50
minnies  7(used to say), 32, 34, 38(hd), sg41, 42(hd)
herring  8, 18, 35
shiners  17, 29
pogies  30
baby fish  36,
minerals  15
NR  23, 25, 27, 51
50.2
     terrapin  /on land/  *land turtle, tarpin, cooter,
gopher
turtle  2
5, 7, 8, 11, 12, 22, 50
terrapin(s)  1, 41, 45
NR  13
21, 23
25, 27, 29
40, 42
44, 46
49, 51
50.3
     rattlesnake /get varieties/ *moss auger, massauga,
diamond back, prairie rattler, sidewinder
rattlesnake  1
5, 7, 8, 11, 12, 14
19, 21, 23, 34, 38
sidewinder  sg11, 12, sg41
pit viper  39
diamondback rattlers  42
NR  13, 20, 23
25, 27, 29
32, 35, 37, 45, 47
50.4
     moths  /in clothes/ *millers
     moth
moth  1
5, 7, 8, 12
22, 24, 27, 29
46, 48
moths(vcl)  2, 11, 12, 17, 20, 25, 27, 30, 45
moth(vcd)  1, 8, ?!11
moths(vcd)  3
5, 13
16, 18, 19, 21
24, 29, 31
44, 46, 48
millers  4, 22, 40, 42, 50
NR  47
50.5
     lightning bug  *firefly, fire bug, June bug
firefly  1, 5, 7, 11, 22, 38, 41, 42, 50
lightnin'bug  2, 33, 39
June bug  4
flying ants  31
glowworm  50
NR  3, 8, 12
21, 23
25, 27, 29, 30, 32, 34
37, 40, 43
49, 51
50.6
     dragon fly  *snake doctor, snake feeder, darning needle,
spindle, sewing bug, sewing needle, mosquito hawk, ear sewer
dragon fly  2
4, 7, 8, 11, 12, 14, sg18, 20, 22, 24, 30, 32,
33, sg38, 44, 46, 48, sg49
darning needle  7, 12, sg15, 16, 17, 19, 29, 34, 35, 39, 40,
44(hd)
devil's darning needle  1, 13, 18, 37, 45(hd)
snake feeder  19, 42, 50
snake doctor  sg5, 32(used to call it), sg41
spindles  13
swamp fly  15
ear needles  25
mosquito hawk  43
NR  21, 23, 27, 31, 47, 51
50.7
     wasps  /get size, shape, color, nest, sting/ *dirt
daubers, masons, wans, wans
bees, mud wasps
wasps  1
5, 7, 8, 11, 12, 14
20, 22
25, 27, 29
34, 37
48, 50
mud daubers  ?4, 11, 13, 21, 49
daubers  sg5
NR  35, 36, 51
50.8
     hornets  /describe/
hornets  1
5, 7, 8, 11
25, 27, 30
46, 48, 49, 51
yellow jackets  47
NR  29, 50
51.1
     yellow
jackets /wasps or hornets? nest in ground only?/
*shacket, yellow
tails
yellow jackets  2
5, 7, 8, 11
22, 24
27, 30
34, 37
44, 46
NR  1, 23, 29, 35, 36, 45, 50, 51
51.2
     chigger /small insect burrowing in human flesh/ *red
bug, jigger
tick  24, 30, 31, 36, 43, 50
chigger  2, 5, 7, 15, 33
wood tick  34
NR  1, 3, 4, 8, 11
14, 16
23, 25, 27, 29, 32, 35, 37
49, 51
51.3
     spiderweb /indoors/ *cobweb, dustweb, spider nest
spiderweb  1, 2, 4, 5, 8, 11
15, 21, 22, 24, 25, 27, 30, 33,
35, 36, 40, 41, 45, 48
cobweb  3, 7, 14
19, 22, 23, 29, 32, 34
36, 38
40, 42, 44,
45(cobweb isn't made by spider), 48(dust
indoors), 51
web  23
25, 31, 34, 35, 37, 46, 47, 49, 50
51.4
     spiderweb /outdoors/ *spider nest, dew web, cobweb
spiderweb  1, 2, 4, 5, 7, 11
17, 19, 22
25, 30, 35
41, 43
48, 51
cobweb  cr1, 3, 8, 14, 15, 22, 25, 27, 29, 31
33, 35, 40, 42,
sg46
web  18, 35, 47, 49, 50
51.5
     roots
roots/uw/  1, 3, 5, 7, 13
24, 27, 29, 30, 32, 39, 41, 43, 48,
roots/u/  2, 4, 8, 11,  12, 15, 25, 31, 32(used to hear),
38, 40, 42, 44
46, 49
51.6
     sugar maple  *hard maple, rock maple, sugar tree
sugar maple  sg1, 2
5, 8, 11, 12, 22, 33, 40, 41, 50
maple  17, 19, 23, 34, 36, 38
hard maple  7, 19
soft maple  15
sugar tree(hd)
vine maple  31
NR  13
15, 18, 20, 21, 24, 27, 29, 32, 35, 37, 39, 42
51.7 x
      maple grove *sugar bush, sap bush, sugar orchard
maple grove  3, 4, 11, 33, 40
grove  2, 38, 50
sugar maple grove  5
NR  1, 7, 8, 12
25, 27, 29
32, 34
37, 39, 41
51.8
     sycamore /describe/ *button wood, button ball, plane
tree
sycamore  1
4, 7, 8, 11, 12, sg20, sg24, 33, 35, 39, 40
NR  5, 13
19, 21
23, 25, 27, 29
32, 34, 36
38, 43
52.1
     sumach
sumach  1
5, 7, 8, 11
14, 20, 22, 24, 28
30, 33
35, 38
NR  15
19,  21, 23, 25, 27, 31, 32, 36, 37, 43
49, 51
52.2
     x strawberries
strawberries  1
5, 7, 8, 11
25, 27, 29
52.3
     raspberries
raspberries  1
5, 7, 8, 11
25, 29
52.4
     some berries are) poisonous  *poison
poisonous  1
5, 7, 8, 11, 12, 15
17, 19, 20, 22
24, 29, 30,
43, 45, 46, 48, 49, 51
poison  13, 14, 18, 21, 25, 27, 31, 32(used to say), 44, 47,
52.5
     I must ask) my husband  *my man, the mister
(my) husband  1
5, 7, 8, 11
19, 22
25, 27, 29
37, 39
the old man  19
the boss  19
better half  21
the mister  33
Mr. ______  43
my old man  49
mister  50
NR  20, 38, 51
52.6
     I must ask) my wife  *my woman, the wife, the Mrs., my
old lady
(my) wife  1
5, 7, 8, 11, 12, 14
19, 21
25, 27, 29
31, 33
the Mrs.  3, 15, 19, 33
my woman  8
the banker  13
(the) old lady  15, 19
my Frau  17
the Mrs.  17
the boss  19
the woman  !32
(my) girl  50
NR  20, 37, 38, 51
52.7
     widow  *widow
woman
widow  1
5, 7, 8, 11
21, 22, 23, 25, 29
36, 38
49, 51
sod widow  25
grass widow  25
NR  27, 37, 50
52.8
     /what do you call your father/ usual terms and terms of
affection/  *pop, dad, daddy, pappy, paw, pa, popper
dad  1, 3, 5, 7, 8, 13, 15
21, 24, 28, 29, 33, 36, 38
40, 43,
47, 49
daddy  1, 2, 7, 12, 25(later), 30, 35, 36, 42, 44
father  2, 13, 21, 25, 27, 51
poppa  3, 11, 15(when young), 17, 18, 19(as a child), 24,
25(while very young), 31, 32, 34, 37, 41, 48
pa  3, 4, 14, 47
papa  22(stress on second syllable)
pop  23, 42
pappy  50
53.1
     /what do you call your mother? usual terms and terms of
affection/  *mama, mom, mommer, maw, ma, mammy, mother
momma  1, 7, 17(when young), 18, 19(as a child), 24, 28, 32,
34, 37, 38, 41, 44, 45, 48
moms  1
mother  2, 11
14, sg15(hd), 17, 19, 21, 25, 29(later), 30,
31, 33, 35, 40, 41, 43
46, 49
mommy  2, 30
ma  3, 7, 15, 42, 47
mom  4, 5, 16, !23, 28
30, 36, 39
maw  5, 8, 20
mama  22(stress on second syllable)
NR  27
53.2
     parents /immediate family/  *folks, people, home
folks
(the) folks  1, 2, 7, 8, 28, 29, 33, 42, 45, 50
parents  2
5, 7, 11
14, 16
25, 27, 30
family  15, 17, 19
NR  51
53.3
     other relatives / others related by blood/  *folks, kin,
people
relatives  1, 3, 4, 7, 8, 11, sg17, 18, 19, 22
24, 27
44, 46
48, 50, 51
kin  2, 3
folks  12, 40, 42
kinfolk  13
relations  14, 15
17, 20, 21, 25, 32(used to say), 49
NR  5, 41
53.4
     grandfather /usual term and terms of affection/
*grandpa, gramps
grandfather  1
3, 11, 13, 21, 22, 31, 38, 41, 42, 49
grampa  1, 30, 33, 35, 38, 46, 47
grandpa  2, 7, 17, 19, 32, 36, 40, 43, 48
gramps  !3(now), 11, 16
grandpaw  4, 5, 28, 34, 37, 39, 44
granddad  8, 18
dad  15
grand  pa  45
NR  12, 14, 20, 23
25, 27, 29
53.5
     grandmother /usual term and terms of affection/
*grandma, granny
grandma  1
3, 7, 12, 15
17, 32, 35, 40
43, 48
grandmaw  4, 5, 8, 29, 34, 36, 37, 39, 44
grandmother  11, 13, 22, 30, 31, 49
gramma  18, 19, 38, 46, 47
gramms  33
grand  ma  45
NR  14, 20, 21, 23
25, 27, 28, 50, 51
53.6
     daughter
daughter  1
5, 7, 8, 11
14, 16
25, 27
31, 33
girl  14
NR  15, 32
53.7
     baby carriage  *baby buggy, baby cab, baby coach
baby buggy  1, 4, 5, 7, 8, 12, 16
19, 21, 23, 28, 29, 35,
42, 44, 46, 48, 51
buggy  2, 13, 15, 16, 30, 32, 34, 36, 45, 47
baby carriage  3, 8, 14, 17, 18, sg19, 20, 22, 24, 32, 33,
34(used to say), 43, 49
carriage  11, 15, 25, 27, 32, 50
perambulator  17, 23, 31, 32(before my time)
cart  23, 31
baby cabs  27
sulky  31
53.8
     midwife  *granny, granny woman, godmother
midwife  1
5, 7, 8, 11
14, 16
25, 27
30, sg31, 32
34, sg35,
midnight wife  15
practical nurse  31
54.1
     the boy) resembles (his father /in looks? disposition?/
*looks like, takes after, favors, features, is the spitten
image of
is the spittin' image (of)  1, 4(ing), 7, 16, 35, 51,
takes after  1, 14, 15(disposition), 16(derogatory traits
only), 17, 18, 19(bad traits), 23(looks and disposition),
36(when he's bad), 39, 40, 42, 47,
looks like  2, 7, 8, 12, 13, 15, sg16, 18
21, 23
25, 30,
38, 43, 46, 47
resembles  3, 11, 16, 23, 27, 32, 33, 42, 48
he's the likeness  5
favors  11, sg16, 17, 19, 22, 31, 32(hd), 41, sg49, 50
chip off the old block  21, 29, 30, 50
the living image  44
is the picture of his father  45
is the image of  46
54.2
     she has) raised (three children  *reared, brought up,
fetched up
reared  1
3, 11, 12, 15, 17
19, 39, 41, 43, 45, 48, 49
brought up  sg1, 14, 24, 46, 47, sg48
raised  3
5, 7, 8, 13, 20, 22, 23, sg25, 27, 29
36, sg37, 38,
40, 42, 44, 45, cv46, 50, 51
NR  16, 21
54.3  x
     you've) grown (big  *growed
grown  1
4, 7, 8, 11
15, 16(less often), 17
20, 22, 23, 27,
36, 38
48, 51
grew up  5
gotten(big)  15, 16
NR  21, 24, 25, 37, 49, 50
54.4
     bastard /illegitimate child/  *woods colt, catch
colt,
volunteer, come
chance, base
born, bush child, Sunday baby
bastard  1, 3
5, 7, 8, 13, 15, 16(taboo), 18(embarrassing
word), 19(taboo), 20, 21, 23(never says), 25, 31, 33, 39,
sg40, 41, 42(not in front of women), 43, 49, 50
base born  sg1
illegitimate (child)  2, 11, 16
18, 27, 28, 30, 38, 44, 45,
47, 51
catch colt  5, 14, 15, 49(hd)
love child  18(hd), 19
out of wedlock  28
NR  12, 22, 24, 29, 32, 34
37, 46, 48
54.5
     nephew
nephew  1
5, 7, 8, 11
25, 27, 29
54.6
     your aunt
(your) aunt  1
5, 7, 8, 11
25, 27, 29
54.7
     guardian
guardian  1
5, 7, 8, 11
19,  22, sg20, 21, 23
25, 27
NR  37, 38,
54.8 x
      partner  /ever used in address?/
partner  1
5, 7, 8, 11
15,  16(cards only), 17, 18(cards),
19(cards), 21
24, 27, 29
34, 34, 35(cards), 36, 39
NR  20, 25, 37, 38,
55.1
     Mary
Mary  1
5, 7, 8, 11
25, 27, 29
37, 39
NR  38,
55.2
     Matthew
Matthew  1
5, 7, 8, 11
25, 27
35, 37, 39
NR  36, 38,
55.3
     Mrs. Cooper
     Mrs. Brown
Mrs. Cooper  1
5, 7, 8, 11
20, 22
25, 27, 29
34, 36, 38
Mrs. Brown  1
5, 7, 8, 11
20, 22
25, 27, 29
43, 46
NR  21, 45
55.4
     General MacArthur
General MacArthur  1
5, 7, 8, 11, 12, 14
25, 27, 29
33, 35,
36, 38
NR  13, 34, 37, 51
55.5 x
     jackleg preacher /untrained, part
time/  *yard ax
lay preacher  1, sg2, 7, 33, sg40, 41
part time  ?7
apprentice preacher  8
assistant pastor  11
supply  21
volunteer preacher  22
itinerant  32
itinerary  45
evangelist  46
NR  3
5, 12
20, 23
25, 27, 29
31, 34
39, 42
44, 47
55.6
     student  *scholar, pupil
student  1
5, 7, 8, 11, 12, 14
19, 21
25, 29(college), 30
pupil 1, 14, sg18, 19, 24, 29(grammar and high school),
31(grade school), 32(younger), 35(grade school), 36
scholar  20, 23, 27, 38, 49
NR  13, 50, 51
55.7
     x the boy has a) paper route
paper route /uw/  1, 2, 17, 22, 28, 29(learned in school),
32, 43(hd), 48, 50, 51
paper route /aw/  3, 5, 7, 11
21, 23, 24, 27, 30, 33, 35
news route /aw/  34
NR  4, 8, 25, 31
55.8
     Secretary
secretary  1
5, 7, 8, 11
24, 27, 29
NR  25
56.1
     postman  *mailman, mail carrier
mailman  1
3, 7, 8, 12, 15, 16, 17(in the country), 18
23, 24, 30, 31, 35
37, 39, 40, 42, 44, 45, 47, 50
postman  4, 11, 14, 17, 19, 22, 23, 36, 38, 41, 44, 48, 51
mail carrier  5, 13, 21, 25, 28, 29, 32, 33, 34, 43, 46, 49
letter carrier  31
NR  27
56.2
     cowboy /only riders? any ranch hand?/  *cowpoke, waddy,
bronco buster
cowboy  1
4, 7, 8, 12, 15(hd on TV), 17, 22, 31, 33, 34, 39,
40, 41, 42, 45, 46, 48, 50, 51
herder  5
cow puncher  5, 21
hired man  11
ranch hand  11, 38
herdsman 16
cowpoke  17(hd on TV)
cowhand  21, 49
NR  13, 14, 18
20, 23
25, 27, 30, 32, 35, 36, 37, 43, 44, 47
56.3
     hand /on a farm or ranch/  *cowhand, cowboy, waddy,
hired man
hand  1, 3, 51
hired help  2
hired hand  3, sg15, 17, 20, 24, 44
hired man  4, 8, 11
15, 27, 31, 33, 38, 40
43, 46, 47, 50
farm hand  5, 7, 16, 18, 19, 32, 34, 39, 45
laborer  21
ranch hand  22, 37, 48, 49
roustabout  23
employee  30, 35
NR  25, 36
56.4
     Negro  /neutral terms/  *colored man, darky
Negro  1
5, 8, 11
13, cr14, 15
20, 22
24, 27, 29
37, 39
45, 46, 48, 49, 51
coon  7
darkie  14, 17, 35, 50
colored  19
colored person  34, 48, 50
colored man  38, 43, 44
nigger  47
nigra  50
NR  21, 25
56.5
     Negro /derogatory terms/
nigger  1
4, 7, 8, 11, 12, 14, 17(hd, wouldn't use), 18(in
speaking of them), 19(insulting), 20, 22(hd), 25, 28, 30(used
by immigrants only), 32
36, 40, 42, 43, 45, 47,
49("not proper"), 50
coon  3, 18, 19(insulting), 44
darkie  15, 24, 41, 45
black nigger  15(seldom used)
black  17
skunk  ?28
shine  39
eight
ball  39
jig  39
black boy  50
you boy  !50
NR  5, 13, 16, 21, 23, 27, 31, 37, 38, 46, 51
56.6
     a rustic / derogatory terms and neutral terms/
*hillbilly, hick, farmer, hayseed, backwoodsman, yahoo,
cracker
hayseed  1, 3, 4, sg5, 7, 8, 12, 14, 18, 19, 37, 41, 42, 45,
47(hd), 48(hd)
hick  2, 8, 12, 16(hd), 18, sg19, 20, 35, 36, 39, 40, 44, 48
hillbilly  3, 5, 7, 16
Okie  8, 11
rustic  11
Arkie  11
backwoodsman  13, 19, 27, 46
rube  14, 23, 45
country hick  17, 21, 24
greenhorn  25
farmer  29
yokel  29, 43
bumpkin  30, 32
country Jake  31, 34
country Ike  34
hick from the sticks  33
yahoo(rhymes with "hey you")  40
Jayhawks  47
heathen  49
NR  15(embarrassment),  22, 38, 51
56.7
     out in the sticks,  *out in the badlands, out in the
toolies
(in the) backwoods  1
(in the) sticks  2
5, 7, 8, 11
14, 17
25, 29
37, 40
45, 47,
48, 50, 51
(in the) woods  15, 18
(in the) wilderness  16
(in the) jungles  27
back of nowhere  29
in the country  34, 46
from the brush  39
toolies  46(hd)
back in the hills  50
NR  38, 49
56.8
     migratory worker /neutral and derogatory terms/
*drifter, boomer, floater
transient  1, 2, 8, 13, 18, 20, 27, 30, 34, 35, sg48, 49, 50
drifter  3, 4, sg14, 22
migratory worker  3, 11, 16, 29, 33
fruit bum  !8
floaters  sg18
tramp  20, 37, 38, 42
Gypsy  23
migrant  24, 36
fruit tramps  29
seasonal workers  31
hobo  34
harvest hand  43
NR  5, 7, 12, 15, 19, 21, 32, 39, 40, 41, 44
47, 51
57.1
     Mexican /neutral and derogatory terms/  *wetback,
greaser, Spanish
American
Mexican  1
4, 7, 15, 16, 18, 19, 21, 23, 29
33, 35, 36,
46, 48
wetback  2, 3, 5, 8, 11, 12, 16
19, 22, 40
greaser  3, sg8, 15, 18(hd), 19, 40, 41
spic  8, 21, 45, 48, 51
gringo  17
peon  sg19
Mexes(pl)  20
Mex  3, 42
NR  13, 14, 34, 47
57.2
     I) almost fell down  *like to fell, like to've fallen
        down
almost fell  1
5, 7, 11, 12, 14, 17, f18, 20, 22, 23, 30
35, 38
42, 44, 46, 47
pert near  1, 8
like to broke my neck  5
nearly fell  15
come near to falling  f16
just about fell down  19
stumbled  27, 34
fell  29, 36, 45
NR  13, 48
57.3
     just a minute
just a minute  1, 7, cv16, 22, 32(/u/), 33, 34(/u/), 35,
38(/u/), 39, 40(/u/), 41(/u/), 42(/u/), 43, 45, 46, 48
jist a minute(barred /i/)  2
5, 8, 14, cv15, 17, 19, 20, 23,
27, 29
31, 44, cv46, 47, 49
jest a minute  11, 12, cv18
NR  13, 36
57.4
     x how far (is it to . . . /far followed by a vowel;
record intonation/
how far  1
5, 8, 11
16, cv17, 18, 19, 22, 23, 27, 29
33, 35,
36, 38
NR  34
57.5
     look here /exclamation; serious or jesting/?  *look
here
hey there  1, 36
look here  2
5, 7, 8, 11, 12, 14, 22, 29, 33, 38
42, 45
looky here  sg8
now look  cv15
(now) see here  16, 17, cv19, 29
look  cv18
hey listen  23
listen  31
hey  35,
NR  13, 30, 32, 34, 44
57.6
     how often (do you go to town?  /record intonation/
how often  1
5, 7, 8, 12, 13, 15
20, 22, 23, 29
36, 38
44, 45, 47, 48, 51
how often /t/  11, 46
how many times  27
NR  14
57.7
     either  you or I (will have to do it  *you or either me,
me or you one
either (you or I)  1
5, 7, 11
17, f18, 19
23, 29, 30, cv31,
cv32, 33
36, 38
42, 44
48, 51
either you or me  8, 16
57.8
     neither  you nor I (can do anything about it
neither (you nor I)  2, 3, 5, 13, 14, 16
21, 23, 24, sg29,
30, cv31, cv32, 34
36, 39
41, 44
48, 51
neither you or I  1, 4, 5, 11, 12, 15, 22, 33, 38, 42
neither you or me  8
neither you nor me  18
58.1
     forehead
forehead(no /h/)  1
3, 7, 8, 13, 14, 18, 22, 24, 26, 32, 35,
38, 39, 43, 51
forehead (/h/)  4, 5, 11, 12, 15
17, 19
21, 23, 25, 29
33, 34, sg36, 37, 40
42, 44
brow  27, 36
58.2
     the) right ear
right ear  1
5, 7, 8, 11
27, 29
36, 38
49, 51
NR  37
58.3
     beard
beard  1
5, 7, 8, 11
20, 22
27, 29
49, 51
whiskers  21, 29, 34
58.4
     tooth
     teeth
tooth  1
5, 7, 8, 11
27, 29, 30, 32
44, 46
49, 51
teeth 1
5, 7, 8, 11
27, 29
49, 51
58.5
     gums
gums(vowel of putt)  1
5, 7, 8, 11
14, 17
24, 27, 29
49, 51
gums(/uw/)  15, 16, 18(hd often), 19(hd), 20(hd), 25, 27, 36
gums(/u/)  34
58.6
     palm  (of the hand  *pan
palm  1
3, 7, 8, 11, 13
16, 19, 21
25, 31
33, 37, 38, 43, 46,
47, 49
palm (with /l/)  4, 5, 12, 17, 18, 20, 27, 29, 30, 34
42, 44, 45, 48, 51
58.7
     fists
fists  1
5, 7, 8, 11
17, 21
25,  27, 29
46, 48, 51
fiss  18
20, 46, 47, 49
knuckles  15, 30
58.8
     joint
joint  1
5, 7, 8, 11
25, 27, 29
49, 51
59.1
     haunches  *hunkers, hunkies
haunches  1
5, 7, 8, 11
13, 15
23, 25, 27, 29, 30, 32
49, 51
hinders  14, 38
heels  24, 35
butt  28
buttocks  28
NR  31, 37
59.2
     strong  *stout, husky, robust
strong  1
5, 7, 8, 11
16, cv17, 18, 19, 21
23, 27
49, sg51
stout  3, 14(rope)
powerful  16, 19
vigorous  18
healthy  18
husky  20, 24, 28, 32(o.f."now means fat")
muscular  21
well built  29
59.3
     stingy  *tight, chinchy. chintzy
stingy  1
4, 7, 8, 11, 12, 14, 17, sg18, 19, 22, 23, 27,
35, 37
39, 41
43, 48, 49, 51
tight  7, 11, 13, 18
20, 23, 24, 28
31, 36, 40, 42, 45, 46
cheap  15, 16, 18, 44
tightwad  15, 16, 21, 25, 34, 47
miserly  16, 17, 44
close fisted  17
penurious  !19
chintzy  35
close  37
NR  5
59.4
     he has the) strength  (of an ox
strength  1
3, 7, 13, 15, 16, cv17, 18, 19, 21, 24, 25, 27,
32, 34
36, 38, 40, 41, 42(/ey/), 43
47, 51
strength (with /i/)  4, 8, 12, 13, 20, 22, 33, 37, 39, 48
strenth  23
NR  5, 11, 49
59.5
     she's) quite lively /of young people/  *active, spry,
peppy
peppy  1, 2, 4, 8, 39, 50
lively  3, 14, 15, 17, 19, sg20, 40, 51
active  5, cr7, 12, 17
19, 21, 33, 38, 40
42, 46, 49
spry  7, 47, 48
frisky  11
quick  13
restless  16
energetic  17
full of life  19
agile  2, 46, 48
good mixer  23, 32
nimble  27
vivacious  29
right on the beam  30
popular  34, 35, 36
social  43
full of pep  44
gregarious  45
NR  24, 31, 37
59.6
     she's) quite lively /of old people/  *active, pert, spry
spry  1, 7, 8, 12
15, 16(woman), 17, 18(women), 19, 21, 22,
24, 27, 29, sg30, 31
33, sg35, sg38, 39, 40, 42(real old),
44, 49
pert  sg8
active  11, 17, 21, 38, 41, 42
rugged  16(man), 18(man)
lively  17, 18, 20, 25, 41
agile  19
flighty  34
young for his age  35, 36
social  43
well preserved  45
peppy  48
nimble  49
NR  2
5, 23, 37, 46, 47
59.7
     I'm afraid  *scared, scary, afeared
afraid  1
5, 7, 14
20, 22
24, 27, 29
31, 34
37, 39, 41
45, 47, 48
scared  1, 7, 8, 11
13, 32, 33, 38, 40, 41, 44, 46
fraid  25, cv34
frightened  30, 45
superstitious  31
NR  49
59.8
     she) didn't used to (be afraid /negative of used to/
*usen't to
didn't used to  1, 3
5, 7, 11, 12, 14, 17, 19, 20, cv23,
sg27, 29, sg30, cv31, cv32, 33, 36, 38
45, sg46, 47(learned
it wasn't "correct")
NR  2, 8, 13, 21, 25, 34, 35, 37, 48, 49
never used to be  16, 18, 22
never was before  f15
used to be  24
used not to ??, 45
60.1
     careless
careless  1
5, 7, 8, 11, 12, sg13, 14
20, 22
24, 30
reckless  13, 27, 29
foolhardy  30
carefree  32
60.2
     don't be so) obstinate  *stubborn, set, sot, pig
headed,
ornery, contrary, mule
headed
stubborn  1
5, 8, 11, 12, 14
18, 21
23, 25, 27, 30, 31,
36, 39, 40, 42
46, 48
set (in his/her ways) 3, 8, 17
19, 24, 29, 40
ornery  7, 8, 15, 22, 38, 50
bull
headed  8, 13, 18
20, 47, 48
headed  11, 17, 19, sg36, 41, 50
contrary  15
positive  16
strong willed 16
fixed  23
adamant  31
obstinate  32, 37
hardheaded  48
60.3
     he got awfully) angry  *mad, het
up, ashy, ugly, mean
angry  1, 2, 7, 16
19, 22
24, 27, 32, 34, 35, 41, 43, 51
mad  1
3, 7, 8, 12
15, 17
22, 25, 29, 30, 32(slang), 33, 34,
40, 42, 44
sore  3
ugly  4
het up  7, !19
mean  8, 11
riled  16
perturbed  16
NR  5, 31
60.4
     keep calm
keep cool  1, 25,
keep calm  sg1, 2, 3, 5, 7, 12
14, 20, 22, 24, 25, 29, 31,
33, 36
38, 43, 44, 47, 49
keep calm(/l/)  4, 8, 11, 15
18, 21, 23, sg27, 30, 34, 35,
42, 46, 48
calm down  32, 45(/l/)
60.5
     tired  /normal and strong terms/  *exhausted, fagged
out, all in, beat out, perished, pooped, tuckered (out),
bushed
fagged (out)  1, 7, 42, 45
pooped  1, 33
tired (out)  2, 8, 12
15, 19, 20, 22
24, 27, 29
38, 43
worn out  3, 18, 22, 25, 31, 40
bushed  4, 16, 17, sg18(hd), 30, 39, 45
all in  5, 7, 8, 12, 19, 20, 33, 39, 41, 42
beat  8, 22, 44
exhausted  11, 14, 17, 27, 32, 34
wore out  13, 15
tuckered out  15, 16, sg18
fatigued  21, 45
weary  24, 43, 47, 50
played out  32(father)
dead on your feet  36
sleepy  45
dog tired  50
beat out  50
60.6
     lazy  *unambitious, no
account, onery, ornery
lazy  1, 2, 4, 5, 7, 8, 11
15, 17
24, 25, 27, 29
35, 37
shiftless  16, 45
good for nothing  17, 19
unambitious  18
no good  18, 19
sluggard  21
loafer  35
no account  41
not worth his salt  50
bum  50
NR  3
60.7
     goose pimples  *goose bumps, goose flesh, duck bumps
goose pimples  1, 2, 5, 8, 11, 13
16, 18
22, 24, 25, 27, 29,
30, 32
34, 35(used to say), 36
40, 42
goose flesh  3, 7, 8, 12, 17, 23, 31, 41, 51
duck bumps  4, 35
goose bumps  29
NR  49
60.8
     she) got sick  *took sick, was taken sick
took sick  2, 7, 8, 11, 13, 15, 17, 19, 27, 33, 38, 49
got sick  3, 4, 8, 12, 20, 22, 23, 29, 30, 32, 34, 35, sg36,
37, 39
42, 44, 45, 51
was taken sick  5, 16, 18, cr19, 46
had a sick spell  14
come sick  21
was ill  24, 46
was sick  29
sick  36
became ill  43
he's gotten sick  46
was taken ill 47("is correct")
NR  1, 31, 48
61.1
     he) caught a cold  *caught cold, took cold
caught a cold  1
4, 7, 8, 12, 17, 22, 29, 30, 33, 35, 36, 38,
39, 45, sg46
caught cold  5, 11, 15
19, 22
25, 40, 42, 43, 44, 48
took cold  14, 34, 49, 50
took a cold  13, 41
got a cold  30, 32
git a cold  21
taken cold  31, 37
caught  47
NR  27, 51
61.2
     I'm)  hoarse
hoarse  1
5, 7, 8, 11
24, 27, 29
husky  51
61.3
     he has a)  cough
cough  1
5, 7, 8, 11
25, 27, 29, 32
coughing  30, 31
hack? hock? (low
central unrounded vowel) 35
61.4
     x  haven't you) taken  (your medicine yet?  *took, tuck
/record intonation/
taken  1
5, 7, 8, 11
20, 22
24, 27, 29
42, 44
61.5
     I) took (it this morning  *taken, takened, tuck
took  1
5, 7, 8, 11
20, 22
24, 29
36, 38
42, 44
49, 51
NR  27, 37, 43, 50
61.6
     deaf   *hard of hearing, deaf of hearing
deaf  1
5, 7, 8, 11
20, 22
25, 27, 29
48, 50, 51
deef  16(hd), 18(a little more so), 49
hard of hearing  34, 50
61.7
     he sweated (hard  *sweat
sweat  1
3, 5, 7, 8, 11
16, 18, 20, 24, 27, 29, 30, 33, 34,
35(Mother frowned on "sweat"), 36
44, 47
sweated  4, 17, 19, 22, 32, 36, 45
perspired  23, 31(prefers this to "sweat"), 32, 35, 46, 51
perspiring  45("if you're saying it nicely")
61.8
     wound /noun/
wound /uw/  1
5, 7, 8, 11
20, 22, 23, 27, 29, 31
33, sg34,
NR  24, 30, 51
62.1
     I don't know what) he died of  *died with
died of  1
5, 8, 11
20, 22, 23, 29
34, 36
47, cr48, 50, 51
died from  cr1, 15, 35, 48
died with  5, 27, 49
he had  24
62.2
     cemetery  *graveyard, burying ground, churchyard,
potter's field
cemetery  2, 3, 5, 7, 8, 11, 14, sg15(hd), 16
20, 22
25, 27,
graveyard  1, 4, 7, 8, 12, 13, 15, 17, 18, 22(hd)
burial ground  15, 17
62.3
     casket  *coffin, pinto
casket  2, 4, 8, 11
13, 15, 16, 18
20, 22, 25, 31
34(nowadays), 35
39, 42, 44, 51
coffin  1, 3, 5, 7, 8, 12, 14, 15(o.f.), 16
18, 19(o.f.), 23,
24, 27, 29, 30, 32(used to say), 34, 40, 42, 44(more common),
box  27, 41, 43
NR  50
62.4
     they are in) mourning
mourning  1
5, 7, 8, 11
20, 22
25, 27, 29
crepe  ?32
62.5
     x don't worry
(don't) worry  1
4, 7, 8, 11
13, 15
19, 22, 23, 30
36, 38
49, sg51
take it easy  5
NR  14, 20, 24, 25, 27, 29, 37, 43, 50
62.6
     diphtheria
diphtheria  /p/  2
5, 8, 11
13, 15
18, cv19, 20, 22
25, 27,
30, 31, 32(used to say), 33
38, 40, 41, 43, 44, 46, 48, 49
diphtheria  /f/ 1, 7, 14, 19, 29, 32, 39, 42, 45, sg47, 51
NR  50
62.7
     jaundice  *yellow jaundice, yellow janders
jaundice  1
5, 7, 8, 11, 14, 16, 17, 20, 22
24, 29, 30, 32,
33, 35, 38
40, 42, 43, 45
50, sg51
yellow jaundice 12, 13, 18, 19, sg25, 27, 36, 41, 44
jaundeez  15
yellow jaundice  /ae/  34
62.8
     vomit /neutral and polite terms/  *be ill
vomit  1
5, 7, 8, 12
20, 22
25, 27
29, 31
36, 39
44, 46
throw up  1, 14, 15, 17, 18, 25, 28
31, 32(used to say), 33,
37, 38, 49, 50
urp  30(for the kids)
nauseated  45
nausea  50(Vcl)
NR  51
63.1
     throw up  /crude and jocular terms/  *puke, skin a goat,
purge
throw up  2, 3, 5, 7, 11, 12, 20, 22, 23, 25, 29, 31, 33, 34,
35(Mother said), 36, 38, 39, 41, 44
46, 48
heave  1, 16, 18, 36, 49
heave Jonah  1, 19
tossed his cookies  4
puke  7, 14, 17, 19, 28, 34(years ago), 40, 42
vomit  8, 45
jone
up?  8
throw up your guts  15
feed the fish  17, 19
barfed  35(learned fro my husband, Navy vet)
threw up my heels  cv47
NR  13, 27, 30, 32, 37, 43, 50, 51
63.2
     he is sick) to his stomach  *at, in, on, of
to  2
5, cr7, 8, 12, 13, 15
17, 25, 27, 33
40, 42
44, 46, 51
at  1, 7, 11, 14, 17, 19, 23, 29, 30, 31("I think they say
sick to my stomach."), 32, cr40, 41, 45, 47("correct"), 48
in  15, 20, 22
63.3
     I shall be (disappointed if he doesn't come  *I will be
will  1, 32(planning), 39, 42
shall  2
4, 7, 14, 22, 32(future), 33, 35(occ), 41, 50
I'll  5, 8, 11, 12, 14
16, cv17, 18
20, cv23, 30, cv31, cv32,
35(usu), 36, 38, 44, cv49
NR  13, 27, 29, 34, 37, 40, 43, 45
48, 51
63.4
     we shall be  (glad to see you  *we will
shall 1
3, 7, 22
will  5, 11, 14, 39, 40
42, 50
we'll  12, 15
17, cv18, 19, 20, cv23, 30, cv31, cv32, 33, 38,
44, cv49
NR  4, 8, 13, 27, 29, 34
37, 43, 45
48, 51
63.5
     he is) courting her  *going with, walking out with,
sparking, sitting up to, keeping company with
courting  1
5, 8, 13
19, 22, 24, sg25, 28, 29, 31, 32, 34, 49
going with  1, 7, 11, 12, 17, 33, 37, 39, 40, 42, 44
sparking  3, sg15(o.f.), 16(hd, o.f.), 17, 19(hd o.f.),
27(used to say)
calling on  8
stepping out with  8, 15, 50
keeping company with her  18, 43
rushing her  18
stepping her out  19
taking her out
goin' steady  20, 48
going steady  29, 30, 35
dating her  36, 38
keep her company  38
keeping company  41
stepping out  46
courting her  47
NR  23, 45, 51
63.6
     she turned him down  *broke off with him, gave him the
sack, gave him the mitten, threw him over, jilted him, kicked
him out
jilted him  1, 14, 16, 17, 29, 34, 42
showed him the door  1
she turned him down  2, 7, 8, 22, 27, 31, 38, 41, 43, 46
gave him the gate  3, 8, 18, 44, 46, 50
broke off 4
give(past tense) him the go bye  5, 15
gave him the mitten  8, 17, 19
broke off with him  11, 40
threw him over  12, 19, 24, 48
she bumped him  13
give(past tense), the slip  15
tossed him over  16
gave him the go bye  18
let him down  18
give(past tense) the grand bounce
broke up with him  20, 30, 33
threw him over her left shoulder  25
turned him down  32
he jilts her  32
dropped him  35
stopped goin' with him  36
laid him down  37
gave him the air  37
broke it off  42
gives him the brush off 45
gives him the door  46
jilts him  47
broke up  49
quit him  51
NR  39
63.7
     married   *hitched, spliced
married  1
4, 7, 8, 11
13, 15
20, 22
25, 27
spliced  5, 14
hitched
63.8
     chivaree  /noisy, burlesque serenade after wedding;
describe/  *serenade, belling, dish
panning, skimmelton,
callathump
chivaree  1
5, 7, 8, 11
20, 22
24, 25(vb), 27(vb), 29
35, 37
50, 51(hd
not used)
serenading  5
big send off  36
belling  50
64.1
     a dance  *ball, hoe
down, shindig, frolic, frolick
dance  1
4, 7, 8, 11
20, 22
25, 27, 29, 30, 33, 34, 36
49, 51
frolic  3, 8, sg11, 40, 41
ball  4, 7, 19(more formal)
hop  5, 50
shindig  8
dancing  31, 32, 35
barn dance  50
64.2
     he) skipped class  *cut class, played hookey, bolted,
cooked Jack
played hookey  1, 3, 5, 12
20, 23
25, 27, 29, 30, 32, 34
41, 43
46, 48, 49, 51
skipped  4, 33, 37, 39, 40, 44(one class)
skipped class  1
3, 8, 42
skipped school  16, 22
ditched class  2
cut class  7, 11, 12
played truant  18, 19
truant  31
NR  47, 50
64.3
     education   *learning, book
learning
education  1
4, 7, 8, 11
17, 22, cv18, 19, 23, 25, 29,
30(/juw/), 31(/juw/), 32(#/juw/), 33, 34, 41, 35(/juw/), 37,
40. 42
44, 45(/juw/), 46
48, 51(/z/)
schooling  36
NR  5, 20, 24, 27, 49, 50
64.4
     grammar school  *primary school, grade school
grammar school  1, 3, 4, 7, 11, 17, 23, 24, 29, sg32, 33, 34,
42, 46, 47, 49
grade school  5, 8, 12, 15
19, 22, 27, 30, 35, 37
41, 44, 50
primary  14, 17, 19(first three grades), 20, 25, 31, 32, 36,
elementary  2, 22, 46, 48, 51
kindergarten  24
school  18(usual term)
NR  13, 45
64.5
     first grade  *first class, primary, first reader
first grade  1
5, 8, 12
20, 22, 24, 25, 29, 30, 32
49, 51
primary  7, 11, 31, 50
first two grades  27
NR  23
64.6
     library
library  1
5, 7, 8, 11, 13
19, 22
24, 29
33, 35
42, 44
49, 51
liberry 12, 20, 25(schwa), 27(schwa), 34(schwa), 43(schwa),
NR  50
64.7
     post office
post office  1
5, 7, 8, 11
20, 22
24, sg25, 27, 29
46, 48,
49, 51
office  47
NR  50
64.8
     hotel
hotel  1
5, 7, 8, 11
20, 22
25, 27, 29, 30(stress of first
syllable), 31
43, 44(stress on first syllable, but on second
syllable of Olympic Hotel), 45
49, 51
NR  50
65.1
     hospital
hospital  1
5, 7, 8, 11
20, 22
24, 27, 29
49, 51
65.2
     nurse
nurse  1
5, 7, 8, 11
20, 22
25, 27, 29
49, 51
65.3
     theater  *opera house
theater  1
5, 7, 8, 11, 13
20, 22
25, 29, 31
37, 40
44("elegant"), 45, 46(stage shows), 48, 49
eyter  12, 27, 30(stress on first syllable, 39(stress of
first syllable)
opera house  25(used to call it)
movie  46
picture shows  47
show house  51
NR  38
65.4
     railway station  *railroad station, depot
depot  1, 2, 4, 5, 8, 11
19, 22
25, 27, 29, 30, 32
35, 37
train depot  36
railroad station  3, 7, 12, 15
19, 36, 48
station  1, 15
railroad office  31
65.5
     town square  *public square, common, green, park, place,
plaza
square  16, 17, 23, 24, 27, 30, 31, 33, 43, 49
town square  2
5, 8, 11, 15, 18, 38, 39, 45, 46, 51
public square  1, 7, sg14, 32, 40, 47
the square  12
park  17, 19, 35, 40, 44
plaza  29
NR  13, 20, 22, 34, 36, 37, 41, 42, 48
65.6
     kitty
cornered  /of walking across intersection or lot/
 *bias
ways, cater
cornered, catty
wampus, zig
kitty corner(ed) 2, 4, 5, 8, 11, 12, 17, 18, 22, 30
33, 35
40, 42, 45, 48
catty corner(ed) 1, 3, 7, 13
19, 24, 25, 34, 44, 47, 50, 51
diagonally  23, 43
diagonal acrosst  27
catty
wampus  29
NR  20, 41, 46, 49
65.7
     on the) street car  *trolley car, trolley, tram car,
surface car
street car  1
4, 7, 8, 11, 12, 16
19, 22, 23, 27, 33, 34, 36,
38, 39, sg40, 41, 42, 44, 46
48, sg51
trolley  14, 34, 44, 45
trolley car  5, 19
cable  49
NR  13, 15, 20, 29, 30, 31, 32, 35, 37, 43
65.8
     I) want to get off (at the next corner  *want off
want to get off  1
5, 7, 8, 11, 12, 14
17, f.18, 22, 32, 33,
35, 39, 40, 41, 44, ?46
I want to get out 19
I want off  12, 31, 32(if in a hurry), 34, 36, 38, 42, 45,
48, 49
wanted off  30
NR  13, 20, 23, 29, 37, 43, 47, 51
66.1
     law and order
law and order  1
5, 7, 8, 11
19, 22
25, 27, 29
48, 51
law  49
NR  20, 51
66.2
     peninsula
peninsula  1, 2, 3(sj), 4, 5(sh), 7, 8, 11
14, 15(ch), 16,
17(ch), 18(ch), 19(ch), 22(sh), 23, 24(sh), 29(sh), 31(sh),
32(sh), 33, 34(sla), 35
46, 47(sh), 48, 49, 51
NR  20 21, 25, 27, 30
66.3
     Asia
     France
Asia  15(sh), 16(3 syllables), 17(sh), 22([zj]), 25(sh),
27(sh), 38(sh), 47(sh)
66.4
     California
     Arizona
66.5
     Colorado
     Utah
Colorado /a/  24
66.6
     Idaho
     Nevada
Nevada (low
central v. in 2nd syllable) 3
Nevada  (/a/) 24
66.7
     Missouri
     Iowa
Missouri /iy/ 1
4, 12, 14, 18
20, 22
25, 27, 29, 30, 32, 35
42, 44
48, 51
Missouri /schwa/ 5, 7, 8, 11, 12, 15
17, 21, 31, 33, 34,
43, 49
Missouri /s/ 2, 20
Ioway(sic)  5, 15, 18
66.8
     Illinois
     Oregon
Illinois /z/  3, 5, 7, 15, 17, 21, 34, 35, 39, 41, 42, cv47,
Oregon /ahn/  5, 29
67.1
     Washington  *Washington State
     Washington, D.C.
Washington (D>C>)  /n/  1, 7, 8, 13, 21, 25, 38, 40
Washingnon(sic) 4
Worshington  29, 30
67.2
     Chicago
     Detroit
Chicago (ch) 18, 37, 44
67.3
     St. Louis
     New Orleans
New Orleans  /iy/ 1, 3
5, 8, 14, 15, 17
23, sg25, 27, 33, 36
38, 40, 44, 47
67.4
     Seattle
     Eugene  /Oregon/
67.5
     Los Angeles  *L.A.
     San Bernadino  *San Berdoo
67.6
     Mojave  (Desert
     Tulare  /California/
     Yosemite
67.7
     San Fransisco  *Frisco
     San Jose   /California/
     Vallejo   /California/
Frisco  13, 16, 20, 25
San Jose (no /h/) 1
3, 7
San Jose /h/ 4, 5, 45
Vallejo (/h/) 3
67.8
     Geary  (Street)      /in San Fransisco; in other areas
     Kearny (Street)      substitute appropriate local place
     Greenwich (Street)                              names/
Kearny (mid
central vowel) 1, 2, 3, 4, etc.
Greenwich (wich) 1, 2, 4, 5, 40
Greenwich  (ich) 3, 5, 8, 45
68.1
     I like him)  because  (he's . . *cuz, 'count of
because  1
2, 7, 8, 11, 12, 13(/s/), 14, f.16, 17
22(/s/), 23, 29, 30, cv31, cv32, 33(/s/), 35, 36, 38, 40
48, 51
cuz e's 15(unstressed), cv23
cuz  34, 39
NR  5, 21, 24, 37, 38, 43
68.2
     Baptist
68.3
     they joined  (the church
joined  1
5, 7, 8, 11
22, 24, 25, 29
33, 33
49, 51
jined  27, 34
68.4
     beautiful
beautiful  1
5, 7, 8, 11
20, 22, 23, 27, 29, 30, 32
grand  20
NR  21, 24, 31
68.5
     God  /as pronounced in church/
Unrounded vowel  1
5, 7, 8, 11
14, 15(low
back), 16
24, 27,
Rounded vowel 25
68.6
     my God!  /an oath/
Unrounded vowel 1
5, 7, 8, 11
15,f17, f18, 19
22, 24, 25,
29(serious), 30, 31, 33
44, 46
Rounded vowel  29(laughing), 37(hd)
NR  !16, 27, 32, 45
68.7
     devil  /also veiled and jocular terms/  *bad man, bugger
man, old Harry, old Scratch, old Nick
devil  1
5, 7, 8, 11
25, 27, 29, 30, 32
Old Nick  2, 8, 11, 19, 29, 38, 41, 42
Satan  11, 19, 20, 23, 31, 37, 44, 45
boogey man  15(to scare children), 17(to frighten children),
18(frightens children), 19(to threaten children)
old Harry 12
Mr. Scratch 18
Dickens  44
Lucifer 45
68.8
     ghosts  *spooks, spirits, haunts, fraids, poky spots,
boogers
ghosts  1
5, 7, 8, 11
23, 25, 27, 29
38, 40
spooks  3, 7, 8, 12, !17, !18, sg19, 22, 38, 39, 41, 42
spirits 7
hants(sic)  7
haunts  sg40
goblins  50
NR  24
69.1
     a haunted  house
haunted (low
central unr) 1
4, 7, 8, 11
17, 33, 35, 37, 39
41, 43, 44, 46, 48
haunted (rounded vowel) 5, 18
20, 22, 23, sg25, 29
32, 34,
36, 38, 42, 45, 47, 49
haunt  24(rounded vowel), 27
69.2
     it's) rather (cold . . . *sort of, kind of, middling
rather 1, 2, 3(vowel uncertain), 7, 11, 14, 17, 29, sg32, 33,
34, 36, 39
rather /a/ 23
kind of  2, 4, 8, 12, 14, cv18, 20, sg30, 35, sg36, 46, sg48,
sort of  8, 14, cv15, cv19, 22, 35
chilly  13
pretty  16, 46
quite  31
very 32
slightly  38, 45
NR  5, 24, 27
69.3
     I'd rather  (not go
rather 2, 4, 5, 7, 8, 11
13, f15, 16
20, 22, 24, 27, 29
35, 36, 38
48, 51
rather (vowel of but) 1, 3, 14
prefer not (to) 16
under protest  23
NR  34
69.4
     certainly!  /strong affirmation/  *surely, sure, you
bet, of course
certainly  1, 3, 8, 17, 22, cv32, 33, 38
42, 45
sure  5, 7, 8, 11, 14, cv15, 16, cv18, 40, 42, 44, 47
surely  2, 4, 12
you bet  12
of course  19, cv32, cv34, 35
yes sir  23
yes  27, 30, 46
oh yes  29
oh gosh yes  cv34
that's sure right  45
NR  13, 20, 31, 36, 43
69.5
     yeah  /habitual forms of 'yes'/  *uh
huh, m
hm /record
intonation/
yeah  1
4, 7, 8, 11, 12, 14, 22, 23, 33, cv34, 39, 40, 42, 44
yes  cv16, cv17, cv18, 23, 27, 29, 35, 38, 41, 43
yah  cv15, cv18, 31, cv35, 45
of course  2
uh hah  7, 33, 40, 41, 50
hm  12, 19, 29
sure  45
NR  13, 20, 30, 32, 36
69.6
     /do you habitually say 'yes, sir' and 'yes, ma'am' or
simply 'yes'?  record intonation and stress, both normal and
emphatic/
yes sir  3, 4, 17(rarely), 18(rarely), 31(rarely), 34, 35,
45(for emphasis
both men and women)
yes ma'am  4, 17(rarely), 20, 31(rarely), 34, 45(flippantly)
no ma'am  3
no sir  18(rarely)
"no"  2, 5, 7, 8, 12, 15, 16, 19, 30, 40, 42, 46
"yes"  23, 38, 39, 43
yes indeed  14
sir  27, 29(for older people)
NR  1, 11, 13, 22, 32, 33, 36, 41, 44, 47
69.7
     no  /habitual forms of negation; note intonation/  *uh
no  2
4, 7, 8, 11
14, cv15, 16
19, 22, 23, 27, 29, 31, 32,
34, 35, 38
45, 47
uh  1, 30, 33
35, 40
42, 44
?mm?mm 18, cv19, 44
NR  5, 20, 36, 46
69.8
     how are you?  /to an intimate friend; note intonation/
how are you  1
5, 7, 11
14,cv16, cv18, 20, 22, 29
36, 39
how+do  5, hi  8, cv18, 46
how are you today  cv15, cv17, 27
hello there  19
hello
howdy do  25
how've you been  38
70.1
     how do you do? /to a stranger; not intonation
how do you do  1
3, 7, 8, 11
14, cv15, 16, 17, cv19, 21
36, 39
41, 43
how+do  5
I'm very pleased to meet you  17(ch)
pleased to meet you  18(ch)
glad to meet you  25
how are you today  38
how are you  42, 49
70.2
     come again! /to a visitor/  *hurry back
come again  1
5, 7, 8, 11
14, 20, 22
25, 27, 29, 31
36, 38
43, 45
49, 51
come back again  15, 30
see ya tomorrow  cv15
good bye  cv16, cv18, cv19
come back again sometime  17
come see us again  21
come back  23
we'll be seeing you
70.3
     Merry Christmas   *Christmas gift!
Merry Christmas  1
5, 7, 8, 11
25, 27, 29
49, 51
70.4
     Happy New Year!
Happy New Year  1
5, 7, 11
25, 27, 29
46, 48, 49, 51
Happy New Year's
70.5
     it) costs (too much
costs  1
5, 7, 8, 11
17, f18, 19, 20, 22, sg29, 33, 37
48, 49, 51
cost  23, 25, 30
32, 34, 35, 46, 47
too dear  24
too expensive  24, 27, 32
cost(s) money 35
NR  21
70.6
     the bill is) due
due  1
5, 7, 8, 11
20, 22
25, 27, 30, 32, 33, 35
40, 42
49, 51
[dju]  29, 41, 45
past due  34
NR  21, 31
70.7
     borrow
borrow  1
5, 7, 8, 11
25, 27, 29
49, 51
70.8
     dime store  /store where all kinds of cheap goods are
sold; town or country?/  *racket store, general store, Noah's
ark, Woolworth's
ten cent store  1, 7, 8, 11, 14, 15(rarely), 24, 30, 31, 38,
39, 40, 46
dime store  2
4, 8, 12, 18, 19, 22, 29, 32, 33, 35, 36, 42,
43, 45
five and ten  5, 17
19, 41
variety store  12, 13, 15
19, 36, 44, 46, 48, 49, 51
Woolsworth (sic) 12
emporium  17
racket store  17, sg19(o.f.), 23, 32, 47(hd)
general store  21
novelty store  23
notions  32
five and ten cent store  34
five 'n dime  35
Woolworths  42
dollar store  !47
NR  20
71.1
     coast lying down  *coast belly
bunt, belly
bust, belly
gut, take a belly
flopper
belly flop  2, 3, 19, 20, 23, 44, 46
coasting  4, 30, 31, 33, 42
belly buster  5, 7, 8, 20, 24, 27(hd), 32, 34, 39, !45, 48,
49, 51
belly flopper  12, 40
belly sliding  15
belly busting  17
take a belly buster  17, 18
belly whopper  29
sledding  35, 36, 45
belly bust  38
sliding  47
NR  1, 11, 13, 14, 16, 21, 22, 41, 43
71.2
     somersault  *somerset
somersault  1
5, 7, 8, 11, 12, 15
17, cr18, 19, 21
24, 29
48, 51
somerset  14, 18, 27, 32(used to say)
flip flop  3, 13, 20, 49
hand spring  23
71.3
     I swam across  *swum
swam  1
5, 7, 11
14, 16, 17, 19
24, 27, 29
36, 38
49, 51
have swum  8
swum  15, 18, 34
71.4
     He dived in  *dove, div
dove  1, 2, 4, 5, 13
20, 23, 27, 30, 32, 35
37, 42, 44, 46,
48, 49, 51
dived  3, 7, 8, 11, 12, 21, 22, cr23, 24, 29, 31, cr32, 33,
34, 38
41, 43, 45, 47, cr48
have dove  13, 37
jumped  30, 31
71.5
     he was drowned  *drownded
drowned  1
5, 7, 11, 12, 14
19, 21
24, 27, 29
33, 35, 36, 38
49, 51
drownded  8, 13, 20, 34
71.6
     marbles  *migs, mibs, miggles, mibbies, agates, peewees,
threaders
marbles  1
5, 11
19, 21
24, 27, 29, 30, 33, 35, 36, 38
48, 49, 51
migs  3, 7, 8, 16, 18, 42, 45(hd)
mibs  3
agates  3, sg5, 15, 16, 18
20, 32, 34, 43, 46, 47
aggies  11, 17, 36
taw  13, 16
20, sg32, 46
dough babe  13, 16, 43
dough babies  sg46, 47, 48
dobie  17
19, 48
pee wees  16, 39(crackies?)
glassies  17, 17, 19, 20, 32, 43, 48
kumps  17
Chinas  18
immies  20
cat's eyes  30
steelies  30, 48
blackies  36
NR  31
71.7
     starting line  /in marbles/  *taw, taw line, lag line,
shooting line
shooting line  2
tow line  3, 8
starting line  2, 4, 11
lag line  sg4, 7, 13, 16, 33, 39, 42, 43
taw line  5, 12, 13, 17, 18, 23, 27, 49
knuckle up line  20
base  38
taw  40
lagging line  46
NR  1, 14, 15, 19, 21, 22, 24, 29
32, 34
36, 41, 44, 45, 47,
48, 51
71.8
     the baby) creeps (on the floor   *crawl
crawls  1
5, 12, 14, 16(later stage than creeps), 18
20, 22
24, 27, 30, 32
36, 38, 40
43, 45, 47
creeps  3, cr5, 7, 8, 11, 13
19, 21, 29, 31, 32, 38, 39, 41,
46, 50, 51
creeped  15
crep(t)  cr15, 16
toddles  34, 47
72.1
     he) climbed up  *clum, clomb, clim
climbed  1
4, 7, 11, 12, 14, 15, 16/b/,17, 18/b/, 19, 21, 22,
24, 27, 29, 31
35, 37
48, 51
clum up 8
clim  13
clum  sg20, 49
shin the tree 23
shins  30,
shinny  32, 45
shinnied  35
climbs  36
NR  5, 33
72.2
     I have often) climbed up  *clum, clomb, clim
climbed  2
4, 7, 12
14, 15/b/, 16/b/, 17, 18/b/, 19, 21, 22,
24, 29
32, 34
37, 39
48, 51
clum  15, 27, 38, 49
clum up  8, 11
NR  1, 5, 20, 23, 33
72.3
     she) kneeled (down  *knelt
knelt  1, 3, 5, 8(on his "prayer bones"), 12
18, 19(o.f.),
22, 23, 29
33, 35(pret), 36
38, cr39, 40
43, 45
kneeled  2, 4, 7, 11, 19
21, 27, 32, 34, 35(p.ppl), 39, 44,
kneel  24
72.4
     I'm going to) lie down  *lay down
lie down  2, 3, 5, 11
14, 18, 19, 21, 22, 24, 30
32, 37
48, 49, 51
lay down  1, 4, 7, 8, 15, 16, 27, 33
36, 47
lie  17, 29, 46
laying down  20
lay  23(see fw's comments)
down  45
72.5
     he) lay in bed (all day  *laid abed
lay  1, 2, 7, 11, 12, 14, 21, 22, 24, 30, 33, 39
45, 48, 51
laid  3, 4, 5, 8, 13, 15
19, 23, 27, 29, 34, 36, 38, 46, 47
been layin'  20
stayed in bed  31
lay down  32
slep  34
has lain  37
lain  45
laid down  49
72.6
     I) dreamed  (all night  *dreamt, dromp
dreamed  1
3, 5, 7, 11, 12, 15, 16/b/, 17
19, 21, 24, 29, 31
33, 36, 38
41, 43
45, 47, 51
dreamt  4, 13, 14, 16, 17, 20, 22, 23, 27, 30, 34, 35, 37,
cr39, cr40, 45(p.ppl.), 48, 49
dreamp  8, 20, 42, 46
72.7
     I woke up (early  *wakened, waked up, roused, got awake
woke up  2, 3, 5, 7, 8, 11
15, 17
19, sg20, 22, 23, 32
42, 44, 46, 47, 51
woke  4, 24, 29
31, 45(past), 48, 49
awoke  16, 19, 27
wakened  1, 32
awakened  32, 43
awakening  35
waked  45(p.ppl.)
NR  21
72.8
     stamp  (the floor
stomp  1, 3
5, 7, 8, 13, !17, 24, 27, 29
31, 32(grandfather's
word), 36, 37, 40, 43, 45, 48, 49, sg51
stamp  2, 11, 12, 14
23, 32
35, 38
44, 46, 47
73.1
     may I) take you home? /on foot or in a vehicle?/  *see
you, carry you  /record intonation/
take you home  2
4, 8, 11, 15
19, sg20, 22, 27, 29, 33
44, sg45, 46
see you home  3, 12
14, 19, 21, 29, 31, 34, sg41
go along with you home  1
walk with you  7
give you a lift  23, 30, 32, 45, 46, 49
give you a ride home  15, 16, 36, 48
escort you home  17
walk you home  18
go with you  31
walk home with you  35, 36
NR  5, 24, 47, 51
73.2
     x pull
pull  1
5, 7, 8, 11
19, sg20, 21, 22, 24, 27, 29
49, 51
draw  23, 32
73.3
     push
push  1
5, 7, 8, 11
19, sg20, 22
24, 27, 29
49, 51
shoved  21
73.4
     I lugged (the suitcase down to the station  *packed,
toted, hiked, sacked, carried
lugged  1, 2
5, 7, 14
18, 22, 33, 41, 42, 44, 45, 47(hd), 48,
carried  1, 2, 8, 12, 13, 15, 16, 18, 19, 21, 23, 29
32, 34
36, 38, 39, 43
packed  3, sg8, 11, sg20, 39, sg46
dragged  22
toted  51
73.5
     go bring (me a knife  *fetch, run and get, find
bring  1, 3, 4, 11, 16, sg20, 22, 23, 30, 33, 41, 47
go (and) get  2, 7, 8, 13
15, 17
19, 32, 35, cr38, 40, 44, 47
fetch  5, 21
go and find  12
get 16, 31, 36, 45, 46
go bring  19, 39, 42, 49, 51
go and fetch  38
NR  24, 27, 29, 34, 43
73.6
     catch (the ball
vowel of bet  1, 3
5, 7, 8, 11
16, 18, 19, 21, 22, 36, 38,
42, 44, 49, 51
vowel of bat   2, cr16, 17, sg20, 23, 24, 27, 29, 30
35, 37,
39, 43, 45
47, 50
73.7
     who) caught (it?  *ketched, kotch /record intonation
caught  1
5, 7, 8, 11
19, sg20, 21
24, 27, 29
47, 49, 51
73.8
     I'll wait) for you  *on you
for  1
5, 7, 8, 11, 12, 14
20, 22
24, 29, 30, 32
45, sg46,
49, 51
on  13
stick around  27
stay around  31
stay with you  45
NR  21, 47
74.1
     in good) humor  *in a glee, feeling frisky, feeling good
humor  /h/  1
4, 8, 13
19, sg20, 22
24, 30, 33, 38
42, sg44,
45, 49, 51
humor  (no /h/)  7, 11, 31, 32, 34, 43, 46, 47
feeling good  12, 35
in a good mood  35
shape  21
good mood  29, 45, 46
humorous /h/ 29
in a good humor  sg36
spirits  44
NR  5
74.2
     who) taught (you that? /record intonation/  *teached,
learned
taught  1
5, 7, 8, 11
19, sg20, 22, 23, 29, 30, 32
36, 38
49, 51
told  23, 31
said  31
74.3
     we) intend (to go soon  *mean, are projecting, aim,
figure on, are letting on, are studying on, are fixing, plan
plan  4, 5, f15, 17, 19, 22, 29, 35, 38
42, 44, 48, 49
planning  1, 2, 23, sg36
intend  3, 11, 14, 17, 29, 33, 38, 39, 45
figured on  7, 8, 12, 14, 40, 42
thinkin' on  8
fixin' to  8
expect to  14
we're gonna  15, 18
we'll go  f16
are going to  30, 46
want to  31
NR  13, 20, 32, 34, 43, 47
74.4
     pick flowers   *pull, gather, pluck; pretties
pick  1
5, 7, 8, 11
19, 30
36, 38
49, 51
cut  22
blossoms  45
74.5
     that's the one you) gave (me  *give
5, 7, 8, 11
14, 16
19, 22, cv23, 30
36, 38
42, 44
49, 51
give  cv15
NR  20, 29
74.6
     he) began (to talk  *begun, commenced
began  1
3, sg4, 7, 8, 11, 12, sg13, 14, 16
19, sg20, 22,
cv23, 29
33, sg34, 35, cr36, 38
42, 44
49, 51
started  4
begun  cv15, 36
74.7
     he) ran (ashore  *run
ran  1
5, 7, 8, 11
14, 16, 17, 19, sg20, 22, cv23, 29
33, 35,
36, 38
42, 44
48, 51
run  cv15, cv18, 49
74.8
     he)  came  (over to see me  *come
came 1
5, 7, 8, 11
14, 16
19, sg20, 22, 23, 29, 30
36, 38
49, 51
come  cv15, cv16
75.1
     he)  saw (me go in  *seen, see
saw  1
5, 7, 8, 11
19, 22, cv23, 29
36, 38
42, 44
49, 51
seen 20
75.2
     the road was all) torn up  *tore up
torn up  1, 2, 4, 7, 11, 14, f16, 17
19, sg20, 22, 29, 30,
34, 38
41, 44, 46, 48, 51
tore up  8, 13, 15, sg36, 49
cut up  1
broken up  15
ripped up  16
rough  29, 47
roughed up  31
being worked on  35
ruts  36
bumpy  36
NR  3, 5, 23
75.3
     put it on!  /of a bracelet, piece of clothing, etc.;
stressed on /
on  1
5, 7, 8, 11
19, sg20, 22, 23, 29
33, 35, 36, 38
49, 51
75.4
     he) did it (last night  *done
did  1
5, 7, 8, 11, 12, 14
19, sg20, 22, 29
33, 35, 36, 38
42, 44
46, cv47, 48, 49, 51
NR  23, 43
75.5
     nothing
nothing  1
5, 7, 8, 11, 12, 14, cv16, 17
19, sg20, sg21, 22,
36, 38
46, 48, 49, 51
nothin'  cv15, cv18, cv47
75.6
     something
something  1
5, 7, 8, 11, 12, 14, cv16, 17
19, sg20, sg21,
22, 29
36, 38
46, 48, 49, 51
some?mm (glottal stop)  cv15, cv23
some?n (glottal stop) cv47
75.7
     it's) such a (good one
such  1
5, 7, 8, 11, 12, 14, 16, f17, 18, 19, sg20, 22, 23,
29, cv31, 32
34, 38, 39(sech?), 40
49, 51
NR  13, 15, 30, 35, 36
75.8
     always
always  1
5, 7, 8, 11, 12, 14, 15, cv16, cv17, cv18, cv19,
sg20, 21
23, 29, 30, 32
36, 38
49, 51
forever  32
ever  31
NR  13
76.1
been  1
5, 7, 8, 11, 12, 22, 23, 30
33, 38
42, 44, 45, 48, 49
been waiting  35
been waiting for just a little while  35
been here  36, cv47
NR  13, 14
76.2
     so high?
so high  1, 7, 8, 12, 22, 33, 40
yay high  40(hd), sg42
knee high to a duck  5, 32
that high  30, 36
knee high  31, 44
knee high to a pup  46
knee high to a grasshopper  32, 35, cv47
since he was a little shaver  32
NR  2
4, 11, 13, 14
</pre>
