<pre class="phonetic">
					33.5

					Calls to Horses /to get them in
							from pasture/


	1.  ?

	2.  ?

	3.  k&#x00ca;&#x0361;m b&#x0269;&#x032a;&#x0266;&#x02d5;&#x0299;&#x0254;{e}

	4.  (whistle)

	5.  ?

	6.  -----

	7.  (whistle)

	8.  "call by names"

	9.  -----

	10. -----

	11. -----

	12. -----

	13. /by name/

	14. ko &#x0299;&#x0254; &#x0299;&#x0254;  ko &#x0299;&#x0254; &#x0299;&#x0254;

	15. whistle and call by name

	16. whistle  also rattle bucket of grain

	17. call by name

	18. ----- 	* never call

	19. k&#x00ca;&#x0361;m n&#x0269;&#x0153;g  level stress  or whistle  high voice

	20. ?

	21. /by name/  &#x0266;&#x0318;k&#x00ca;&#x0361;m &#x0266;&#x0361;bl&#x02b9;&#x0263;ki

	22. ----	hrd  name called

	23. -----

	24. -----

	25. hw&#x0269;&#x0153;sl&#x0266;&#x028f;08&#x029f;&#x026f;

	26. -----

	27. hw&#x0269;&#x0153;sl&#x0266;&#x028f;08&#x029f;&#x026f;  by name

	28. by name --  hw&#x0269;&#x0153;sl&#x0266;&#x028f;08&#x029f;&#x026f;

	29. -----

	30. -----

	31. by name -- k&#x00ca;&#x0361;m n&#x0269;&#x032d;li&#x0266;&#x028f;08&#x0266;&#x032e;  k&#x00ca;&#x0361;m b&#x0269;&#x0153;l

	32. by name  &#x0266;&#x0318;pi&#x0299;&#x0254;{i}t  &#x0266;&#x0318;m&#x0269;&#x0331;&#x0299;&#x0254;d

	33. (whistle repeated--modulated to the flat of note)

	34. -----

	35. -----

	36. -----

	37. -----

	38. (by name)

	39. (whistle)

	40. "whistle"

	41. ?

	42. (whistle)

	43. -----

	44. -----

	45. -----

	46. hw&#x0269;&#x0153;&#x0266;&#x028f;08&#x0266;&#x032e;sl&#x0266;&#x028f;08&#x029f;&#x026f;d

	47. -----

	48. -----

	49. -----

	50. call its name  whistle

	51. -----


</pre>
