<pre class="phonetic">
					37.3

					Who-all's (children were there?)


	1.  -----

	2.  -----

	3.

	4.  hu&#x0299;&#x0254;

	5.  -----

	6.  -----

	7.  -----

	8.  -----

	9.  -----

	10. -----

	11. -----

	12. -----

	14. -----

	15. -----

	16. Didn't ask

	17. -----

	18. Didn't ask

	19. Didn't ask

	20. hu&#x0299;&#x0254;z

	21. -----

	22. -----

	23. -----

	24. -----

	25. -----

	26. -----

	27. -----

	28. -----

	29. -----

	30. -----

	31. -----

	32. -----

	33. -----

	34. -----

	35. myself say this

	36. "I'd say hu&#x0299;&#x0254;z &#x0269;&#x032a;l d&#x0269;&#x032d;&#x0269;&#x031f; . . ."

	37. -----

	38. -----

	39. -----

	40. -----

	41. hu&#x0299;&#x0254;z

	42. hu&#x0299;&#x0254;s  (sic) drc  t&#x00ca;&#x0083;&#x0269;&#x0153;l&#x0299;&#x0254;&#x0269;&#x031d;n

	43. -----

	44. -----

	45. -----

	46. -----

	47. -----

	48. -----

	49. -----

	50. -----

	51. hu{u}&#x0269;&#x032a;lz


</pre>
