<pre class="phonetic">
					51.2

					Chigger


	1.  -----

	2.  t&#x00ca;&#x0083;&#x0269;&#x0153;g&#x0269;&#x031f;	/never seen one/

	3.  ?

	4.  -----

	5.  d&#x00ca;&#x032a;&#x0269;&#x0153;g&#x0269;&#x031f;

	6.  -----

	7.  t&#x00ca;&#x0083;&#x0269;&#x0153;g&#x0269;&#x031f;s	(sic) drc

	8.  -----

	9.  -----

	10. -----

	11. -----

	12. -----

	13. -----

	14. -----

	15. -----

	16. -----

	17. -----

	18. -----

	19. -----

	20. t&#x0269;&#x0153;ks	/&#x02b9;&#x0259;&#x0269;&#x031f;z t&#x0269;&#x0153;ks/

	21. -----

	22. ?

	23. n&#x02b9;&#x0263;ts ? 	"no&#x0299;&#x0254;si-&#x0269;&#x031d;m-z"--Indian name

	24. t&#x0269;&#x0153;ks

	25. -----

	26. -----

	27. -----

	28. -----

	29. -----

	30. t&#x0269;&#x0153;k

	31. t&#x0269;&#x0153;ks

	32. -----

	33. &#x0266;&#x0318;t&#x00ca;&#x0083;&#x0269;&#x0153;g&#x0269;&#x031f;z

	34. w&#x00ca;&#x030a;d t&#x0269;&#x0153;k

	35. -----

	36. -- t&#x0269;&#x0153;ks

	37. -----

	38. ?

	39. ?

	40. -----

	41. -----

	42. -----

	43. (t&#x0269;&#x0153;k)

	44. -----

	46. -----

	46. -----

	47. -----

	48. -----

	49. -----

	50. t&#x029f;&#x031e;&#x0269;&#x0153;k

	51. -----


</pre>
