<html>
<head>
<title>Linguistic Atlas of the Pacific Northwest</title>
<meta content="Eric Rochester" name="generator">
<meta content="Linguistic Atlas of the Pacific Northwest." name="description">
<meta content="dialects, dialectology, lapnw, idaho, oregon, washington, linguistics, speech, pronunciation, phonology, atlas" name="keywords">
</head>
<body alink="#0E5EFF" bgcolor="#FFFFFF" vlink="#82CACC" link="#5672AC" text="#000000">
<img border="0" src="img/logo.gif" usemap="#topnav.map" width="187" height="44"> 

<table>
<tbody>
<tr>
<td><img src="$$baseold$$/img/pixel.gif" width="132" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="18" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="372" height="1"></td>
</tr>

<tr>
<td width="132" valign="top"><a href="$$baseold$$/index.html"><img border="0" src="$$baseold$$/img/homemenuoff.gif" alt="Home Page" width="125" height="30"></a><br>
</td>
<td width="18"></td>
<td width="372"><strong>Director:</strong><br>
Original director was Carroll E. Reed, then David Carlson, Springfield
College, Amherst, MA 01002.<br>
<br>
 

<p><strong>Status of field work:</strong>Complete for Washington,
scattered elsewhere.</p>

<p><strong>Areas covered:</strong><br>
The states of Oregon, Washington, and Idaho.</p>

<p><strong>Nature of recordings:</strong><br>
The data was collected from 1953 to 1963. The interviewing instrument
followed the Linguistic Atlas of New England questionnaire with some
modifications made by David Reed and David Decamp. The materials
formerly included direct phonetic transcription supplemented by
soundscriber discs for fourteen informants and reel to reel tapes for
nineteen informants; in addition, forty-nine records and nearly 300
postal check sheets with vocabulary items were collected and tabulated.
After Reed's death, Carlson rescued some of the field records and has
prepared them for digital access.</p>

<p><strong>Archives:</strong><br>
Remaining original materials are held by the Director at Springfield
College; copies are archived at the Linguistic Atlas Project,
University of Georgia, Department of English, University of Georgia,
Athens, Georgia 30602 under the supervision of William A. Kretzschmar,
Jr. Digital versions of the field records are available on this
site.</p>

<p><strong>Selected Bibliography:</strong><a id="mcdavid1983" name="mcdavid1983"></a></p>

<ul>
<li>See the <a href="$$baseold$$/links.html">Links Page</a>. . . .</li>
</ul>
</td>
</tr>
</tbody>
</table>

<table>
<tbody>
<tr>
<td><img src="$$baseold$$/img/pixel.gif" width="179" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="178" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="178" height="1"></td>
</tr>

<tr>
<td align="left" class="footer"><font size="-1">July 28,
1998</font></td>
<td align="center" class="footer"><font size="-1">Copyright &#x00a9;
1998</font></td>
<td align="right" class="footer"><a href="mailto:webmaster@us.english.uga.edu"><font size="-1">webmaster@us.english.uga.edu</font></a></td>
</tr>
</tbody>
</table>

<map id="topnav.map" name="topnav.map">
<area alt="Previous" href="$$baseold$$/index.html" coords="498,8,516,24">
<!--      <area coords="516,8,534,24" href="information.html" alt="Next">-->
</map>
</body>
</html>