<html>
<head>
<title>African-American Speakers</title>
<meta content="Eric Rochester" name="generator">
<meta content="Linguistic Atlas of the Middle and South Atlantic States." name="description">
<meta content="" atlas="atlas" name="keywords">
</head>
<body alink="#0E5EFF" bgcolor="#FFFFFF" vlink="#82CACC" link="#5672AC" text="#000000">
<img src="img/logo.gif" border="0"><br>
<img border="0" src="img/maps.gif" width="67" height="33"> 

<p align="center"><font size="+1"><b>Locations of Gullah Informants in
South Carolina and Georgia</b></font></p>

<p><b>Instructions:</b><br>
You can navigate to the neighboring states by clicking on the state's
label or selecting the state from the <a href="#states">list</a>. To
see information about each informant, click on the text label on the
map.</p>

<p align="center"><img src="img/gullah.gif" width="500" usemap="#state.map" alt="Gullah Informants" border="1" height="500"></p>

<p><a id="states" name="states">View the informant information in the
state of:</a></p>

<ul>
<li><a href="md.html">Maryland</a></li>

<li><a href="ga.html">Georgia</a></li>

<li><a href="gullah.html">Gullah</a></li>

<li><a href="nc.html">North Carolina</a></li>

<li><a href="sc.html">South Carolina</a></li>

<li><a href="va.html">Virginia</a></li>
</ul>

<table>
<tbody>
<tr>
<td><img src="$$baseold$$/img/pixel.gif" width="179" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="178" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="178" height="1"></td>
</tr>

<tr>
<td align="left" class="footer"><font size="-1">September 30,
1999</font></td>
<td align="center" class="footer"><font size="-1">Copyright &#x00a9;
1999</font></td>
<td align="right" class="footer"><a href="mailto:webmaster@us.english.uga.edu"><font size="-1">webmaster@us.english.uga.edu</font></a></td>
</tr>
</tbody>
</table>

<map id="state.map" name="state.map">
<area shape="rect" href="$$baseold$$/afam/ga.html" coords="46,207,111,249" alt="">
<area shape="rect" href="$$baseold$$/afam/sc.html" coords="174,45,234,84" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC45GA" coords="414,116,451,126" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC45GB" coords="414,127,452,137" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC45GC" coords="412,138,451,148" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC46GA" coords="310,114,349,125" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC46GB" coords="312,127,349,135" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC46GC" coords="312,137,349,148" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC47GA" coords="348,165,385,175" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC47GB" coords="348,176,385,184" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC47GC" coords="348,187,383,196" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC48GA" coords="295,187,333,196" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC48GB" coords="296,197,335,206" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC48GC" coords="295,208,335,217" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=GA45GA" coords="81,357,117,368" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=GA45GB" coords="80,369,117,378" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=GA45GC" coords="81,380,117,389" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=GA47GA" coords="192,390,228,400" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=GA47GB" coords="192,401,230,409" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=GA47GC" coords="192,412,228,422" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=GA48GA" coords="144,450,183,458" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=GA48GB" coords="143,459,181,469" alt="">
<area shape="rect" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=GA48GC" coords="145,471,181,478" alt="">
</map>
</body>
</html>
