<html>
<head>
<title>African-American Speakers</title>
<meta content="Eric Rochester" name="generator">
<meta content="African-American and Gullah" name="description">
<meta content="dialects, dialectology, aave, linguistics, speech, pronunciation, phonology, atlas" name="keywords">
</head>
<body alink="#0E5EFF" bgcolor="#FFFFFF" vlink="#82CACC" link="#5672AC" text="#000000">
<img src="img/logo.gif" border="0"> 

<table>
<tbody>
<tr>
<td><img src="$$baseold$$/img/pixel.gif" width="132" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="18" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="372" height="1"></td>
</tr>

<tr>
<td width="132" valign="top"><a href="$$baseold$$/index.html"><img border="0" src="$$baseold$$/img/homemenuoff.gif" alt="Home Page" width="125" height="30"></a><br>
 <a href="index.html"><img border="0" src="img/afammenuoff.gif" alt="Gullah" width="125" height="30"></a><br>
 <img border="0" src="$$baseold$$/img/infomenuoff.gif" alt="Information" width="125" height="30"><br>
 <a href="browse.html"><img border="0" src="$$baseold$$/img/browsemenuoff.gif" alt="Browse" width="125" height="30"></a><br>
 <a href="search.html"><img border="0" src="$$baseold$$/img/searchmenuoff.gif" alt="Search" width="125" height="30"></a><br>
 <a href="maps.html"><img border="0" src="$$baseold$$/img/mapsmenuoff.gif" alt="Maps" width="125" height="30"></a> </td>
<td width="18"></td>
<td width="372"><img border="0" src="img/info.gif" width="127" height="28"> 

<p><b>Director:</b><br>
William Kretzschmar, Jr.<br>
Linguistic Atlas Project<br>
University of Georgia Special Collections<br>
Department of English<br>
University of Georgia<br>
Athens, Georgia 30602</p>

<p><b>Status of field work:</b><br>
Complete.</p>

<p><b>Areas Covered:</b><br>
</p>

<p><b>Nature of recordings:</b><br>
</p>

<p><b>Archives:</b><br>
</p>

<p><b>Selected Bibliography:</b></p>
</td>
</tr>
</tbody>
</table>

<table>
<tbody>
<tr>
<td><img src="$$baseold$$/img/pixel.gif" width="179" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="178" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="178" height="1"></td>
</tr>

<tr>
<td align="left" class="footer"><font size="-1">September 30,
1999</font></td>
<td align="center" class="footer"><font size="-1">Copyright &#x00a9;
1999</font></td>
<td align="right" class="footer"><a href="mailto:webmaster@us.english.uga.edu"><font size="-1">webmaster@us.english.uga.edu</font></a></td>
</tr>
</tbody>
</table>
</body>
</html>