<html>
<head>
<title>African-American Speakers</title>
<meta content="Eric Rochester" name="generator">
<meta content="Linguistic Atlas of the Middle and South Atlantic States." name="description">
<meta content="" atlas="atlas" name="keywords">
</head>
<body alink="#0E5EFF" bgcolor="#FFFFFF" vlink="#82CACC" link="#5672AC" text="#000000">
<img src="img/logo.gif" border="0"><br>
<img border="0" src="img/maps.gif" width="67" height="33"> 

<p align="center"><font size="+1"><b>Locations of African-American and
Gullah Informants in South Carolina</b></font></p>

<p><b>Instructions:</b><br>
You can navigate to the neighboring states by clicking on the state's
label or selecting the state from the <a href="#states">list</a>. To
see information about each informant, click on the text label on the
map. (The Caucasian informants from LAMSAS have been left on the map,
but are gray.)</p>

<p align="center"><img src="img/sc.gif" width="700" usemap="#state.map" alt="South Carolina Informants" border="1" height="525"></p>

<p><a id="states" name="states">View the informant information in the
state of:</a></p>

<ul>
<li><a href="md.html">Maryland</a></li>

<li><a href="ga.html">Georgia</a></li>

<li><a href="gullah.html">Gullah</a></li>

<li><a href="nc.html">North Carolina</a></li>

<li><a href="sc.html">South Carolina</a></li>

<li><a href="va.html">Virginia</a></li>
</ul>

<table>
<tbody>
<tr>
<td><img src="$$baseold$$/img/pixel.gif" width="179" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="178" height="1"></td>
<td><img src="$$baseold$$/img/pixel.gif" width="178" height="1"></td>
</tr>

<tr>
<td align="left" class="footer"><font size="-1">September 30,
1999</font></td>
<td align="center" class="footer"><font size="-1">Copyright &#x00a9;
1999</font></td>
<td align="right" class="footer"><a href="mailto:webmaster@us.english.uga.edu"><font size="-1">webmaster@us.english.uga.edu</font></a></td>
</tr>
</tbody>
</table>

<map id="state.map" name="state.map">
<!--/opt/local/httpd/htdocs/aae/img/sc.gif-->
<area alt="" href="$$baseold$$/afam/nc.html" coords="520,57,581,93">
<area alt="" href="$$baseold$$/afam/ga.html" coords="49,294,115,328">
<area alt="" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC6N" coords="458,296,478,308">
<area alt="" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC7N" coords="506,366,526,380">
<area alt="" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC11N" coords="442,446,466,460">
<area alt="" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC11M!" coords="383,374,410,388">
<area alt="" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC16N" coords="218,335,245,348">
<area alt="" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC18N" coords="345,418,369,432">
<area alt="" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC19N" coords="304,445,330,459">
<area alt="" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC22N" coords="309,171,335,183">
<area alt="" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC24N" coords="371,223,396,235">
<area alt="" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC38N" coords="200,177,227,188">
<area alt="" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC42N" coords="110,96,137,109">
<area alt="" href="$$basecgi$$/infprofile.py?project=afam&amp;informid=SC42M" coords="122,123,150,136">
</map>
</body>
</html>
